<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/qq574857122/article/details/16361033				</div>
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p><img src="https://img-blog.csdn.net/20140417202946265" alt=""><br></p>
<p>&#24378;&#36830;&#36890;&#23450;&#20041;&#65306;&#22312;<span style="color:#ff0000;">&#26377;&#21521;&#22270;</span>G&lt;V,E&gt;&#20013;&#65292;&#23545;&#20110;&#28857;&#38598;V'<span style="color:rgb(51,51,51);font-family:arial;font-size:13px;line-height:20px;">&#8712;V</span>, &#28857;&#38598;&#20013;&#30340;&#20219;&#24847;&#20004;&#28857;&#37117;&#21487;&#36798;&#65292;&#21017;&#31216;V'&#20026;&#24378;&#36830;&#36890;&#12290;</p>
<p>&#160;</p>
<p><span style="color:#ff0000;">&#23396;&#31435;&#30340;&#19968;&#20010;&#28857;&#20063;&#26159;&#19968;&#20010;&#24378;&#36830;&#36890;&#20998;&#37327; </span></p>
<p>&#160;</p>
<p>&#22312;&#23884;&#22871;&#30340;&#22810;&#20010;&#29615;&#26102; : {&#25152;&#26377;&#29615;&#19978;&#30340;&#28857;}&#20026;&#19968;&#20010;&#24378;&#36830;&#36890;&#20998;&#37327;( &#26368;&#23567;&#29615;&#23601;&#26159;&#27599;&#20010;&#23396;&#31435;&#28857;&#65289;&#27880;&#24847;&#19968;&#23450;&#26159;&#28385;&#36275;&#26465;&#20214;&#30340;<span style="color:#ff0000;">&#26368;&#22823;&#28857;&#38598;</span><span style="color:#000000;">&#12290;</span></p>
<p>&#160;&#21017;&#19978;&#22270;&#20013;&#24378;&#36830;&#36890;&#20998;&#37327;&#26377; {1},{2},{3},{7},{4,5,6}</p>
<p>---------------------------------------------------------------------------<br></p>
<p>tarjan&#30340;&#36807;&#31243;&#23601;&#26159;dfs&#36807;&#31243;</p>
<p>&#23545;&#22270;dfs&#19968;&#19979;&#65292;&#36941;&#21382;&#25152;&#26377;&#26410;&#36941;&#21382;&#36807;&#30340;&#28857; &#65292;&#20250;&#24471;&#21040;&#19968;&#20010;<a href="http://baike.baidu.com/link?url=CkM7EiHiG9MSdQcAKwF4oReg83XHA1pz7BtrS4WWhqBjfhWRvAwCGaqlNIJ_d5ssAS1NgpMIDbwkNx_IPIsYpa" rel="nofollow">&#26377;&#21521;&#26641;</a>&#65292;&#26174;&#28982;&#26377;&#21521;&#26641;&#26159;&#27809;&#26377;&#29615;&#30340;&#12290;&#65288;&#27880;&#24847;&#25628;&#36807;&#30340;&#28857;&#19981;&#20250;&#20877;&#25628;&#65289;</p>
<p>&#21017;<span style="color:#ff0000;">&#33021;&#20135;&#29983;&#29615;&#30340; &#21482;&#26377;&#65288;&#25351;&#21521;&#24050;&#32463;&#36941;&#21382;&#36807;&#30340;&#28857;&#65289;&#30340;&#36793;</span></p>
<p><img src="https://img-blog.csdn.net/20140417204036062" alt="">&#22914;&#24038;&#22270;&#65292;&#21482;&#26377;&#32418;&#33394;&#19982;&#32511;&#33394;&#36793;&#26377;&#21487;&#33021;&#20135;&#29983;&#29615;&#12290;<br></p>
<p>&#23545;&#20110;&#28145;&#25628;&#36807;&#31243;&#65292;&#25105;&#20204;&#38656;&#35201;&#19968;&#20010;&#26632;&#26469;&#20445;&#23384;&#24403;&#21069;&#25152;&#22312;&#36335;&#24452;&#19978;&#30340;&#25152;&#26377;&#28857;&#65288;<span style="color:#ff0000;">&#26632;&#20013;&#25152;&#26377;&#28857;&#19968;&#23450;&#26159;&#26377;&#29238;&#23376;&#20851;&#31995;&#30340;</span>&#65289;</p>
<p>&#20877;&#20180;&#32454;&#35266;&#23519;&#32418;&#36793;&#19982;&#32511;&#36793;&#65292;&#39318;&#20808;&#24471;&#21040;&#32467;&#35770;&#65306;&#32418;&#36793;&#19981;&#20135;&#29983;&#29615;&#65292;&#32511;&#36793;&#20135;&#29983;&#29615;</p>
<p>1&#12289;&#23545;&#20110;&#32418;&#36793;&#65292;&#36830;&#25509;&#30340;&#20004;&#20010;&#28857;3&#12289;7&#27809;&#26377;&#29238;&#23376;&#20851;&#31995;&#65292;&#36825;&#31181;&#36793;&#31216;&#20026;&#27178;&#21449;&#36793;&#12290;</p>
<p>&#27178;&#21449;&#36793;&#19968;&#23450;&#19981;&#20135;&#29983;&#29615;&#12290;</p>
<p>2&#12289;&#23545;&#20110;&#32511;&#36793;&#65292;&#36830;&#25509;&#30340;&#20004;&#20010;&#28857;6&#12289;4&#26159;&#29238;&#23376;&#20851;&#31995;&#65292;&#36825;&#31181;&#36793;&#31216;&#20026;&#21518;&#21521;&#36793;&#12290;</p>
<p>&#29615;&#19968;&#23450;&#30001;&#21518;&#21521;&#36793;&#20135;&#29983;&#12290;</p>
<p>3&#12289;&#22270;&#20013;&#38500;&#20102;&#40657;&#33394;&#30340;&#26641;&#26525;&#36793;&#65292;&#19968;&#23450;&#21482;&#26377;&#27178;&#21449;&#36793;&#21644;&#21518;&#21521;&#36793;&#65288;&#19981;&#23384;&#22312;&#20854;&#20182;&#31181;&#31867;&#30340;&#36793;&#65289;</p>
<p>-------------------------------------------------------------------------<br></p>
<p>&#21017;&#20197;&#19979;&#32771;&#34385;&#23545;&#20110;&#36825;&#20004;&#31181;&#36793;&#30340;&#22788;&#29702;&#21644;&#21028;&#26029;&#65306;</p>
<p>&#39318;&#20808;&#28145;&#25628;&#20250;&#25628;&#21040;&#36825;&#26679;&#30340;&#22270;&#65306;</p>
<p><img src="https://img-blog.csdn.net/20140417203338953" alt="">Stack = {1,2,3},3&#27809;&#26377;&#22810;&#20313;&#30340;&#20854;&#20182;&#36793;&#65292;&#22240;&#27492;3&#36864;&#26632;&#65292;&#25226;3&#20316;&#20026;&#19968;&#20010;&#24378;&#36830;&#36890;&#20998;&#37327;<br></p>
<p>-------------------------------------------------------------------------</p>
<p>&#20877;&#27425;&#28145;&#25628;&#65306;</p>
<p><img src="https://img-blog.csdn.net/20140417203641265" alt="">&#27492;&#26102;&#26632; Stack = {1,2,7}<br></p>
<p>&#21457;&#29616;&#32418;&#36793;&#25351;&#21521;&#20102;<span style="color:#ff0000;">&#24050;&#32463;&#36941;&#21382;&#36807;&#30340;&#28857;3&#160;</span>=&gt; &#26159;&#19978;&#36848;&#30340;2&#31181;&#36793;&#20043;&#19968;</p>
<p>&#32780;3&#19981;&#22312;&#26632;&#20013; =&gt; 3&#28857;&#19982;7&#28857;&#26080;&#29238;&#23376;&#20851;&#31995;</p>
<p>=&gt; &#35813;&#36793;&#20026;&#27178;&#21449;&#36793;</p>
<p>=&gt;&#37319;&#21462;&#26080;&#35270;&#27861;&#12290;</p>
<p>&#32487;&#32780;7&#28857;&#36864;&#26632; &#20135;&#29983;&#36830;&#36890;&#20998;&#37327;{7}</p>
<p>&#32487;&#32780;2&#28857;&#36864;&#26632; &#20135;&#29983;&#36830;&#36890;&#20998;&#37327;{2}</p>
<p>--------------------------------------------------------------------------------------</p>
<p>&#20877;&#27425;&#28145;&#25628;&#65306;</p>
<p><img src="https://img-blog.csdn.net/20140417205508125" alt="">&#27492;&#26102; Stack = {1,4,5,6}<br></p>
<p></p>
<p>&#21457;&#29616;&#32511;&#36793;&#25351;&#21521;&#20102;<span style="color:#ff0000;">&#24050;&#32463;&#36941;&#21382;&#36807;&#30340;&#28857;4&#160;</span>=&gt; &#26159;&#19978;&#36848;&#30340;2&#31181;&#36793;&#20043;&#19968;</p>
<p>&#32780;4&#22312;&#26632;&#20013; =&gt; 4&#28857;&#19982;6&#28857;&#26159;&#29238;&#23376;&#20851;&#31995;</p>
<p>=&gt; &#35813;&#36793;&#20026;&#21518;&#21521;&#36793;</p>
<p>=&gt;4-&gt;6&#30340;&#36335;&#24452;&#19978;&#30340;&#28857;&#37117;&#26159;&#29615;&#12290;</p>
<pre><code class="language-cpp">int num[N], Top = 0;
int u = Stack.top(); 
while(u!=4){ num[Top++] = u; Stack.pop(); u = Stack.top();}
num[Top++] = u;</code></pre>
<p>&#22914;&#27492;&#23601;&#33021;&#25226;Stack&#20013; 4-&gt;6&#36335;&#24452;&#19978;&#30340;&#28857;&#36716;&#31227;&#21040;num&#25968;&#32452;&#37324;</p>
<p>&#26174;&#28982;num&#25968;&#32452;&#20013;&#30340;&#28857;&#26159;&#19968;&#20010;&#36830;&#36890;&#20998;&#37327;&#12290;</p>
<p><br></p>
<p>-------------------------------------------------------------------------</p>
<p>&#23454;&#38469;&#24773;&#20917;&#21487;&#33021;&#26356;&#22797;&#26434;&#65306;</p>
<p><img src="https://img-blog.csdn.net/20140417210343578" alt=""><br></p>
<p>&#20986;&#29616;&#20102;&#22823;&#29615;&#22871;&#23567;&#29615;&#30340;&#24773;&#20917;&#65292;&#26174;&#28982;&#25105;&#20204;&#35748;&#20026;&#26368;&#22823;&#29615;&#26159;&#19968;&#20010;&#24378;&#36830;&#36890;&#20998;&#37327;(&#21363;:{4,5,6,8} &#65289;</p>
<p>&#22240;&#32780;&#25105;&#20204;&#38656;&#35201;&#24378;&#21270;&#19968;&#19979;dfs&#36807;&#31243;&#65306;</p>
<p>&#23450;&#20041;&#65306;</p>
<p>int Time, DFN[N], Low[N];</p>
<p>DFN[i]&#34920;&#31034; &#36941;&#21382;&#21040; i &#28857;&#26102;&#26159;&#31532;&#20960;&#27425;dfs</p>
<p>Low[u] &#34920;&#31034; &#20197;u&#28857;&#20026;&#29238;&#33410;&#28857;&#30340; &#23376;&#26641; &#33021;&#36830;&#25509;&#21040; [&#26632;&#20013;] &#26368;&#19978;&#31471;&#30340;&#28857; &#30340;DFN&#20540;(&#25442;&#21477;&#35805;&#35828;&#65292;&#26159;&#26368;&#23567;&#30340;DFN&#65292;&#22240;&#20026;&#26368;&#19978;&#31471;&#30340;DFN&#26159;&#26368;&#23567;&#30340;&#22043;&#65289;</p>
<p>&#160;</p>
<p>int Stack[N], top; //&#19978;&#36848;&#30340;&#26632;</p>
<p><br></p>
<p>&#20855;&#20307;&#36807;&#31243;&#35814;&#35265;<a href="http://blog.csdn.net/acmmmm/article/details/9963693" rel="nofollow">&#27169;&#29256;</a>&#12290;</p>
<p><br></p>
            </div>
                </div>
	</article>
