<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p><strong><span style="font-size:18px;">&#19968;&#12289;&#20174;Python&#23448;&#26041;&#32593;&#31449;&#65288;<a href="http://python.org/getit/" rel="nofollow">http://python.org/getit/</a>&#65289;&#19979;&#36733;Windows&#30340;&#23433;&#35013;&#21253;</span></strong></p>
<p>&#21253;&#25324;Python3&#30340;x86&#21644;x64&#29256;&#26412;&#65292;&#20197;&#21450;Python2&#30340;x86&#21644;x64&#29256;&#26412;&#12290;</p>
<p><img src="https://img-blog.csdn.net/20140107200343500" alt=""><br></p>
<p><img src="" alt=""><br></p>
<p><strong><span style="font-size:18px;">&#20108;&#12289;&#23433;&#35013;&#20320;&#38656;&#35201;&#30340;&#30456;&#24212;&#29256;&#26412;&#12290;</span></strong></p>
<p>&#19968;&#33324;&#26469;&#35828;64&#20301;&#30340;&#26426;&#22120;&#37319;&#29992;64&#20301;&#30340;Python&#20250;&#26377;&#19968;&#23450;&#30340;&#24615;&#33021;&#25552;&#21319;&#65292;&#21516;&#26102;&#22914;&#26524;&#20320;&#26159;&#26032;&#39033;&#30446;&#30340;&#24320;&#22987;&#65292;&#37319;&#29992;python3&#21543;&#65292;&#34429;&#28982;&#36824;&#26377;&#24456;&#22810;&#24211;&#19981;&#20860;&#23481;python3&#65292;&#20294;&#36825;&#26159;&#21457;&#23637;&#36235;&#21183;&#12290;</p>
<p>&#20294;&#26159;&#38590;&#20813;&#38656;&#35201;&#23433;&#35013;&#22810;&#20010;python&#29256;&#26412;&#65292;&#21807;&#19968;&#27880;&#24847;&#30340;&#19968;&#28857;&#23601;&#26159;&#23433;&#35013;&#21040;&#19981;&#21516;&#30340;&#30446;&#24405;&#19979;&#65292;&#24182;&#19988;&#33258;&#24049;&#25630;&#28165;&#26970;&#12290;&#27604;&#36739;&#22909;&#30340;&#19968;&#31181;&#26041;&#24335;&#26159;&#27604;&#22914;&#23433;&#35013;&#22312;D:\Program Files (x86)\python3&#19979;&#30340;&#26159;x86&#29256;&#26412;&#30340;python3&#65292;&#32780;&#23433;&#35013;&#22312;&#23433;&#35013;&#22312;D:\Program Files\python3&#19979;&#30340;&#26159;64&#20301;&#29256;&#26412;&#30340;python3&#12290;&#65288;&#25105;&#30340;&#31995;&#32479;&#26159;64&#20301;Win7&#65292;&#22914;&#26524;&#26159;32&#20301;&#30340;&#35805;&#24212;&#35813;&#21482;&#33021;&#23433;&#35013;32&#20301;&#30340;python&#65289;&#12290;</p>
<p>&#22312;&#32534;&#35793;Python&#33050;&#26412;&#20026;&#21487;&#25191;&#34892;&#25991;&#20214;&#65292;&#25552;&#39640;&#31243;&#24207;&#21487;&#31227;&#26893;&#24615;&#30340;&#26102;&#20505;&#65292;64&#20301;&#32534;&#35793;&#20986;&#26469;&#30340;&#31243;&#24207;&#21482;&#33021;&#22312;64&#20301;&#26426;&#22120;&#19978;&#36816;&#34892;&#65292;&#22240;&#27492;&#38656;&#35201;&#32534;&#35793;32&#20301;&#30340;&#65292;&#21017;&#38656;&#35201;&#23433;&#35013;32&#20301;&#30340;Python&#12290;</p>
<p><strong><span style="font-size:18px;">&#19977;&#12289;&#19981;&#21516;&#29256;&#26412;python&#20043;&#38388;&#30340;&#20415;&#25463;&#20999;&#25442;&#12290;</span></strong></p>
<p>&#25512;&#33616;&#19968;&#27454;&#32534;&#36753;&#31995;&#32479;&#29615;&#22659;&#21464;&#37327;&#30340;&#36719;&#20214; <strong>Rapid Environment Editor</strong></p>
<p><strong>&#23448;&#26041;&#32593;&#31449;&#65306;<a href="http://www.rapidee.com/en/about" rel="nofollow">http://www.rapidee.com/en/about</a></strong></p>
<p><img src="" alt=""><br></p>
<p>&#25805;&#20316;&#26041;&#27861;&#65306;</p>
<p>&#39318;&#20808;&#22312;&#31995;&#32479;Path&#30446;&#24405;&#19979;&#21152;&#20837;%PY_HOME%&#21644;%PY_HOME%\Scripts</p>
<p><img src="https://img-blog.csdn.net/20140107200515875" alt=""><br></p>
<p><img src="" alt=""><br></p>
<p>&#28982;&#21518;&#23558;&#19981;&#21516;&#29256;&#26412;&#30340;Python&#23433;&#35013;&#30446;&#24405;&#20445;&#23384;&#20026;&#19981;&#21516;&#30340;&#21464;&#37327;</p>
<p>&#26368;&#21518;&#23558;PY_HOME&#21464;&#37327;&#36171;&#20540;&#20026;&#38656;&#35201;&#30340;Python&#30446;&#24405;&#21464;&#37327;&#21363;&#21487;&#65292;&#22914;&#22270;&#25152;&#31034;</p>
<p><img src="https://img-blog.csdn.net/20140107200537593" alt=""><br></p>
<p><img src="" alt=""><br></p>
<p>&#36825;&#26679;&#26469;&#22238;&#20999;&#25442;&#20063;&#24456;&#26041;&#20415;&#65292;&#20462;&#25913;&#20043;&#21518;&#19968;&#23450;&#35201;&#22312;Rapid Environment Editor&#20013;&#35760;&#24471;&#20445;&#23384; &#25165;&#20250;&#29983;&#25928;&#12290;</p>
<p><br></p>
            </div>
                </div>
	</article>
