<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <p><a href="http://blog.chinaunix.net/u3/94142/showart_1900042.html" rel="nofollow">http://blog.chinaunix.net/u3/94142/showart_1900042.html</a></p>
<div id="art">
<div><span style="font-size:x-small;">Unix&#22495;&#21327;&#35758;&#24182;&#19981;&#26159;&#19968;&#20010;&#23454;&#38469;&#30340;&#21327;&#35758;&#26063;&#65292;&#32780;&#26159;&#22312;&#21333;&#20010;&#20027;&#26426;&#19978;&#25191;&#34892;&#23458;&#25143;/&#26381;&#21153;&#22120;&#36890;&#20449;&#30340;&#19968;&#31181;&#26041;&#27861;&#65292;&#23427;&#20854;&#23454;&#26159;IPC(InterProcess Communication)&#20013;&#30340;&#19968;&#31181;&#65292;&#39034;&#20415;&#25552;&#19968;&#19979;&#65292;&#36827;&#31243;&#38388;&#36890;&#20449;&#21487;&#29992;&#22914;&#19979;&#26041;&#24335;&#65306;&#31649;&#36947;&#65288;&#21322;&#21452;&#24037;&#65289;&#65292;FIFOS(&#21629;&#21517;&#31649;&#29702;)&#65292;&#27969;&#31649;&#36947;(&#20840;&#21452;&#24037;)&#65292;&#21629;&#20196;&#27969;&#31649;&#36947;&#65292;&#28040;&#24687;&#38431;&#21015;&#65292;&#20449;&#21495;&#37327;&#65292;&#20849;&#20139;&#23384;&#20648;&#65292;&#22871;&#25509;&#21475;&#65292;&#27969;&#65292;&#21069;&#20960;&#31181;&#36890;&#24120;&#38480;&#20110;&#21516;&#19968;&#21488;&#20027;&#26426;&#30340;&#21508;&#20010;&#36827;&#31243;&#38388;&#36890;&#20449;&#65292;&#21518;&#20004;&#31181;&#21487;&#20197;&#26159;&#19981;&#21516;&#20027;&#26426;&#19978;&#30340;&#21508;&#36827;&#31243;&#38388;&#36890;&#20449;&#12290;</span></div>
<div>&#160;</div>
<div><span style="font-size:x-small;">Unix&#22495;&#25552;&#20379;&#20004;&#31867;&#22871;&#21475;&#65306;&#23383;&#33410;&#27969;&#22871;&#25509;&#21475;&#21644;&#25968;&#25454;&#25253;&#22871;&#25509;&#21475;&#12290;&#20351;&#29992;Unix&#22495;&#22871;&#25509;&#21475;&#30340;&#29702;&#30001;&#26377;&#19977;&#20010;&#65306;</span></div>
<div><span style="font-size:x-small;">1&#65292;&#22312;&#28304;&#33258;Berkeley&#30340;&#23454;&#29616;&#20013;&#65292;Unix&#22495;&#22871;&#25509;&#21475;&#24448;&#24448;&#27604;&#36890;&#20449;&#20004;&#31471;&#20301;&#20110;&#21516;&#19968;&#20010;&#20027;&#26426;&#30340;TCP&#22871;&#25509;&#21475;&#24555;&#20986;&#19968;&#20493;&#12290;</span></div>
<div><span style="font-size:x-small;">2&#65292;Unix&#22495;&#22871;&#25509;&#21475;&#21487;&#29992;&#20110;&#21516;&#19968;&#20010;&#20027;&#26426;&#19978;&#30340;&#19981;&#21516;&#36827;&#31243;&#20043;&#38388;&#20256;&#36882;&#25551;&#36848;&#23383;&#12290;</span></div>
<div><span style="font-size:x-small;">3&#65292;Unix&#22495;&#22871;&#25509;&#21475;&#36739;&#26032;&#30340;&#23454;&#29616;&#25226;&#23458;&#25143;&#30340;&#20973;&#35777;&#65288;&#29992;&#25143;ID&#21644;&#32452;ID&#65289;&#25552;&#20379;&#32473;&#26381;&#21153;&#22120;&#65292;&#20174;&#32780;&#33021;&#22815;&#25552;&#20379;&#39069;&#22806;&#30340;&#23433;&#20840;&#26816;&#26597;&#25514;&#26045;&#12290;</span></div>
<div>&#160;</div>
<div><span style="font-size:x-small;">Unix&#22495;&#22871;&#25509;&#21475;&#23450;&#20041;&#22312;&lt;sys/un.h&gt;&#20013;</span></div>
<div><span style="font-size:x-small;">struct sockaddr_un {</span></div>
<div><span style="font-size:x-small;">sa_family_t sun_family; /*AF_LOCAL*/</span></div>
<div><span style="font-size:x-small;">char sun_path[104];&#160;&#160;&#160;&#160; /*null-terminated pathname*/</span></div>
<div><span style="font-size:x-small;">};</span></div>
<div><span style="font-size:x-small;">&#27880;&#24847;&#23384;&#25918;&#22312;sun_path&#25968;&#32452;&#20013;&#30340;&#36335;&#24452;&#21517;&#24517;&#39035;&#20197;&#31354;&#23383;&#31526;&#32467;&#23614;&#12290;&#23454;&#29616;&#25552;&#20379;&#30340;SUN_LEN&#23439;&#20197;&#19968;&#20010;&#25351;&#21521;sockaddr_un&#32467;&#26500;&#30340;&#25351;&#38024;&#20026;&#21442;&#25968;&#24182;&#36820;&#22238;&#35813;&#32467;&#26500;&#30340;&#38271;&#24230;&#65292;&#20854;&#20013;&#21253;&#25324;&#36335;&#24452;&#21517;&#20013;&#38750;&#31354;&#23383;&#33410;&#25968;&#12290;</span></div>
<div>&#160;</div>
<div><span style="font-size:x-small;">&#25105;&#20204;&#21487;&#20197;&#36890;&#36807;&#22914;&#19979;&#26041;&#24335;&#20182;&#37027;&#19968;&#20010;Unix&#22871;&#25509;&#21475;&#65292;&#24182;&#24448;&#20854;&#19978;bind&#19968;&#20010;&#36335;&#24452;&#21517;&#65306;</span></div>
<div><span style="font-size:x-small;">sockfd = socket( AF_LOCAL, SOCK_STREAM, 0 );</span></div>
<div><span style="font-size:x-small;">unlink(argv[1]);</span></div>
<div><span style="font-size:x-small;">memset( &amp;addr, 0, sizeof(addr) );</span></div>
<div><span style="font-size:x-small;">addr.sun_family = AF_LOCAL;</span></div>
<div><span style="font-size:x-small;">strncpy( addr.sun_path, argv[1], sizeof(addr.sun_path)-1 );</span></div>
<div><span style="font-size:x-small;">bind( sockfd, (struct sockaddr*)&amp;addr, SUN_LEN(&amp;addr) );</span></div>
<div><span style="font-size:x-small;">&#36825;&#37324;&#26159;&#20351;&#29992;&#20989;&#25968;&#30340;&#31532;&#19968;&#20010;&#21442;&#25968;argv[1]&#20316;&#20026;&#36335;&#24452;&#21517;&#65292;&#39318;&#20808;&#35843;&#29992;unlink&#20989;&#25968;&#65292;&#20197;&#38450;&#27490;&#25991;&#20214;&#31995;&#32479;&#20013;&#24050;&#23384;&#22312;&#35813;&#36335;&#24452;&#21517;&#65292;&#22914;&#26524;&#23384;&#22312;&#65292;bind&#23558;&#20250;&#22833;&#25928;&#12290;&#22914;&#26524;&#36825;&#19981;&#23384;&#22312;&#65292;unlink&#23558;&#36820;&#22238;&#19968;&#20010;&#38169;&#35823;&#65292;&#25105;&#20204;&#24573;&#30053;&#36825;&#19968;&#38169;&#35823;&#12290;&#21518;&#38754;strncpy&#20989;&#25968;&#20013;&#65292;&#30001;&#20110;sun_path&#30340;&#26368;&#21518;&#19968;&#20010;&#23383;&#31526;&#24517;&#39035;&#26159;null,&#25152;&#20197;&#22312;&#22797;&#21046;&#30340;&#26102;&#20505;&#65292;&#25105;&#20204;&#20943;1&#65292;&#20197;&#38450;&#27490;&#26368;&#21518;&#19968;&#20301;&#34987;&#26356;&#25913;&#12290;bind&#30340;&#38271;&#24230;&#29992;SUN_LEN&#21462;&#24471;&#12290;</span></div>
<div><span style="font-size:x-small;">&#36825;&#37324;&#36824;&#26377;&#19968;&#28857;&#38656;&#35201;&#27880;&#24847;&#30340;&#26159;POSIX&#35268;&#23450;&#32467;&#26524;&#36335;&#24452;&#30340;&#25991;&#20214;&#35775;&#38382;&#26435;&#38480;&#24212;&#26681;&#25454;unmask&#30340;&#20540;&#20462;&#27491;&#65292;&#20063;&#21363;&#26159;&#23427;&#30340;&#20540;&#20915;&#23450;&#20102;&#21019;&#24314;&#30340;&#22495;&#30340;&#35835;&#20889;&#26435;&#38480;&#12290;</span></div>
<div>&#160;</div>
<div><span style="font-size:x-small;">socketpair&#20989;&#25968;</span></div>
<div><span style="font-size:x-small;">#include &lt;sys/socket.h&gt;</span></div>
<div><span style="font-size:x-small;">intsocketpair( int family, int type, int protocol, int sockfd[2] );</span></div>
<div><span style="font-size:x-small;">&#27492;&#20989;&#25968;&#21482;&#29992;&#20110;Unix&#22495;&#22871;&#25509;&#21475;&#65292;&#23427;&#30340;family&#24517;&#39035;&#26159;AF_LOCAL,protocol&#21442;&#25968;&#24517;&#39035;&#20026;0&#65292;type&#21487;&#20197;&#26159;SOCK_STREAM&#65292;&#27492;&#26102;&#24471;&#21040;&#30340;&#32467;&#26524;&#31216;&#20026;&#27969;&#31649;&#36947;&#65292;&#23427;&#19982;&#35843;&#29992;pipe&#21019;&#24314;&#30340;&#26222;&#36890;&#31649;&#36947;&#31867;&#20284;&#65292;&#24046;&#21035;&#22312;&#20110;&#27969;&#31649;&#36947;&#26159;&#20840;&#21452;&#24037;&#30340;&#65292;&#24403;&#28982;&#20063;&#21487;&#20197;&#26159;SOCK_DGRAM&#12290;</span></div>
<div>&#160;</div>
<div><span style="font-size:x-small;">POSIX&#20851;&#20110;Unix&#22495;&#22871;&#25509;&#21475;&#30340;&#19968;&#20123;&#35201;&#27714;</span></div>
<div><span style="font-size:x-small;">1&#65292;&#30001;bind&#21019;&#24314;&#30340;&#36335;&#24452;&#21517;&#32570;&#30465;&#35775;&#38382;&#26435;&#38480;&#24212;&#20026;0777&#65292;&#24182;&#26681;&#25454;umask&#20540;&#36827;&#34892;&#20462;&#27491;&#12290;</span></div>
<div><span style="font-size:x-small;">2&#65292;&#19982;Unix&#22495;&#22871;&#25509;&#21475;&#20851;&#32852;&#30340;&#36335;&#24452;&#21517;&#24212;&#35813;&#26159;&#19968;&#20010;&#32477;&#23545;&#36335;&#24452;&#21517;&#65292;&#32780;&#19981;&#26159;&#19968;&#20010;&#30456;&#23545;&#36335;&#24452;&#21517;&#12290;</span></div>
<div><span style="font-size:x-small;">3&#65292;&#22312;connect&#35843;&#29992;&#20013;&#25351;&#23450;&#30340;&#36335;&#24452;&#21517;&#24517;&#39035;&#26159;&#19968;&#20010;&#24403;&#21069;&#32465;&#23450;&#22312;&#26576;&#20010;&#25171;&#24320;&#30340;Unix&#22495;&#22871;&#25509;&#21475;&#19978;&#30340;&#36335;&#24452;&#21517;&#12290;&#22914;&#26524;&#23545;&#20110;&#26576;&#20010;Unix&#22495;&#22871;&#25509;&#21475;&#30340;connect&#35843;&#29992;&#21457;&#29616;&#36825;&#20010;&#30417;&#21548;&#22871;&#25509;&#21475;&#30340;&#38431;&#21015;&#24050;&#28385;&#65292;&#35843;&#29992;&#23601;&#31435;&#21363;&#36820;&#22238;&#19968;&#20010;ECONNREFUSED&#38169;&#35823;&#12290;&#36825;&#19968;&#28857;&#19981;&#21516;&#20110;TCP&#65292;&#22914;&#26524;TCP&#30417;&#21548;&#22871;&#25509;&#21475;&#38431;&#21015;&#24050;&#28385;&#65292;TCP&#30417;&#21548;&#31471;&#23601;&#24573;&#30053;&#26032;&#21040;&#36798;&#30340;SYN&#65292;&#32780;TCP&#36830;&#25509;&#21457;&#36865;&#31471;&#23558;&#25968;&#27425;&#21457;&#36865;SYN&#36827;&#34892;&#37325;&#35797;&#12290;</span></div>
<div><span style="font-size:x-small;">4&#65292;&#22312;&#19968;&#20010;&#26410;&#32465;&#23450;&#30340;Unix&#22495;&#22871;&#25509;&#21475;&#19978;&#21457;&#36865;&#25968;&#25454;&#25253;&#19981;&#20250;&#33258;&#21160;&#32473;&#36825;&#20010;&#22871;&#25509;&#21475;&#25414;&#32465;&#19968;&#20010;&#36335;&#24452;&#21517;&#65292;&#36825;&#19968;&#28857;&#19982;UDP&#22871;&#25509;&#21475;&#19981;&#21516;&#12290;&#25152;&#20197;&#22312;&#23458;&#25143;&#31471;&#65292;&#25105;&#20204;&#20063;&#24517;&#39035;&#26174;&#31034;&#22320;bind&#19968;&#20010;&#36335;&#24452;&#21517;&#21040;&#25105;&#20204;&#30340;&#22871;&#25509;&#21475;&#12290;</span></div>
<div>&#160;</div>
<div>&#160;</div>
<div>&#160;</div>
</div>            </div>
                </div>
	</article>
