<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/majian_1987/article/details/47728769				</div>
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p>&#26381;&#21153;&#22120;&#29992;&#30340;&#26159;Springmvc&#65292;&#25509;&#21475;&#20869;&#23481;&#65306;</p>
<p></p><pre><code class="language-java">	@ResponseBody
	@RequestMapping(value="/order",method=RequestMethod.POST)
	public boolean order(HttpServletRequest request,@RequestBody List&lt;Order&gt; orders) throws Exception {
		AdmPost admPost = SessionUtil.getCurrentAdmPost(request);
		if(admPost == null){
			throw new RuntimeException("[OrderController-saveOrUpdate()] &#24403;&#21069;&#30331;&#38470;&#30340;&#29992;&#25143;&#32844;&#21153;&#20449;&#24687;&#19981;&#33021;&#20026;&#31354;&#65281;");
		}
		try {
			this.orderService.saveOrderList(orders,admPost);
			Loggers.log("&#35746;&#21333;&#31649;&#29702;",admPost.getId(),"&#23548;&#20837;",new Date(),"&#23548;&#20837;&#35746;&#21333;&#25104;&#21151;,&#35746;&#21333;&#20449;&#24687;--&gt; " + GsonUtil.toString(orders, new TypeToken&lt;List&lt;Order&gt;&gt;() {}.getType()));
			return true;
		} catch (Exception e) {
			e.printStackTrace();
			Loggers.log("&#35746;&#21333;&#31649;&#29702;",admPost.getId(),"&#23548;&#20837;",new Date(),"&#23548;&#20837;&#35746;&#21333;&#22833;&#36133;,&#35746;&#21333;&#20449;&#24687;--&gt; " + GsonUtil.toString(orders, new TypeToken&lt;List&lt;Order&gt;&gt;() {}.getType()));
			return false;
		}
	}</code></pre><br>
&#36890;&#36807;ajax&#35775;&#38382;&#30340;&#26102;&#20505;&#65292;&#20195;&#30721;&#22914;&#19979;&#65306;
<p></p><pre><code class="language-javascript">                     $.ajax({
				type : "POST",
				contentType : "application/json; charset=utf-8",
				url : ctx + "order/saveOrUpdate",
				dataType : "json",
				anysc : false,
				data : {orders:[{orderId:"11",createTimeOrder:"2015-08-11"}]},  // Post &#26041;&#24335;&#65292;data&#21442;&#25968;&#19981;&#33021;&#20026;&#31354;""&#65292;&#22914;&#26524;&#19981;&#20256;&#21442;&#25968;&#65292;&#20063;&#35201;&#20889;&#25104;"{}"&#65292;&#21542;&#21017;contentType&#23558;&#19981;&#33021;&#38468;&#21152;&#22312;Request Headers&#20013;&#12290;
				success : function(data){
					if (data != undefined &amp;&amp; $.parseJSON(data) == true){
						$.messager.show({
							title:'&#25552;&#31034;&#20449;&#24687;',
							msg:'&#20445;&#23384;&#25104;&#21151;&#65281;',
							timeout:5000,
							showType:'slide'
						});
					}else{
						$.messager.alert('&#25552;&#31034;&#20449;&#24687;','&#20445;&#23384;&#22833;&#36133;!','error');
					}
				},
				error : function(XMLHttpRequest, textStatus, errorThrown) {
					alert(errorThrown + ':' + textStatus); // &#38169;&#35823;&#22788;&#29702;
				}
			});</code></pre><br>
&#36890;&#36807;HttpClient&#26041;&#24335;&#35775;&#38382;&#65292;&#20195;&#30721;&#22914;&#19979;&#65306;
<p><br></p>
<p></p><pre><code class="language-java">package com.ec.spring.test;

import java.io.IOException;
import java.nio.charset.Charset;

import org.apache.commons.logging.Log;
import org.apache.commons.logging.LogFactory;
import org.apache.http.HttpResponse;
import org.apache.http.HttpStatus;
import org.apache.http.client.HttpClient;
import org.apache.http.client.methods.HttpPost;
import org.apache.http.entity.StringEntity;
import org.apache.http.impl.client.DefaultHttpClient;
import org.apache.http.util.EntityUtils;

import com.google.gson.JsonArray;
import com.google.gson.JsonObject;

public class APIHttpClient {

	// &#25509;&#21475;&#22320;&#22336;
	private static String apiURL = "http://192.168.3.67:8080/lkgst_manager/order/order";
	private Log logger = LogFactory.getLog(this.getClass());
	private static final String pattern = "yyyy-MM-dd HH:mm:ss:SSS";
	private HttpClient httpClient = null;
	private HttpPost method = null;
	private long startTime = 0L;
	private long endTime = 0L;
	private int status = 0;

	/**
	 * &#25509;&#21475;&#22320;&#22336;
	 * 
	 * @param url
	 */
	public APIHttpClient(String url) {

		if (url != null) {
			this.apiURL = url;
		}
		if (apiURL != null) {
			httpClient = new DefaultHttpClient();
			method = new HttpPost(apiURL);

		}
	}

	/**
	 * &#35843;&#29992; API
	 * 
	 * @param parameters
	 * @return
	 */
	public String post(String parameters) {
		String body = null;
		logger.info("parameters:" + parameters);

		if (method != null &amp; parameters != null
				&amp;&amp; !"".equals(parameters.trim())) {
			try {

				// &#24314;&#31435;&#19968;&#20010;NameValuePair&#25968;&#32452;&#65292;&#29992;&#20110;&#23384;&#20648;&#27442;&#20256;&#36865;&#30340;&#21442;&#25968;
				method.addHeader("Content-type","application/json; charset=utf-8");
				method.setHeader("Accept", "application/json");
				method.setEntity(new StringEntity(parameters, Charset.forName("UTF-8")));
				startTime = System.currentTimeMillis();

				HttpResponse response = httpClient.execute(method);
				
				endTime = System.currentTimeMillis();
				int statusCode = response.getStatusLine().getStatusCode();
				
				logger.info("statusCode:" + statusCode);
				logger.info("&#35843;&#29992;API &#33457;&#36153;&#26102;&#38388;(&#21333;&#20301;&#65306;&#27627;&#31186;)&#65306;" + (endTime - startTime));
				if (statusCode != HttpStatus.SC_OK) {
					logger.error("Method failed:" + response.getStatusLine());
					status = 1;
				}

				// Read the response body
				body = EntityUtils.toString(response.getEntity());

			} catch (IOException e) {
				// &#32593;&#32476;&#38169;&#35823;
				status = 3;
			} finally {
				logger.info("&#35843;&#29992;&#25509;&#21475;&#29366;&#24577;&#65306;" + status);
			}

		}
		return body;
	}

	public static void main(String[] args) {
		APIHttpClient ac = new APIHttpClient(apiURL);
		JsonArray arry = new JsonArray();
		JsonObject j = new JsonObject();
		j.addProperty("orderId", "&#20013;&#25991;");
		j.addProperty("createTimeOrder", "2015-08-11");
		arry.add(j);
		System.out.println(ac.post(arry.toString()));
	}

	/**
	 * 0.&#25104;&#21151; 1.&#25191;&#34892;&#26041;&#27861;&#22833;&#36133; 2.&#21327;&#35758;&#38169;&#35823; 3.&#32593;&#32476;&#38169;&#35823;
	 * 
	 * @return the status
	 */
	public int getStatus() {
		return status;
	}

	/**
	 * @param status
	 *            the status to set
	 */
	public void setStatus(int status) {
		this.status = status;
	}

	/**
	 * @return the startTime
	 */
	public long getStartTime() {
		return startTime;
	}

	/**
	 * @return the endTime
	 */
	public long getEndTime() {
		return endTime;
	}
}</code></pre><br><br><p><br></p>
            </div>
                </div>
	</article>
