<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p>&#32593;&#22336;<a href="https://www.python.org/downloads/" rel="nofollow">https://www.python.org/downloads/</a></p>
<p></p>
<p>&#36873;&#25321;&#20320;&#21916;&#27426;&#30340;&#29256;&#26412;&#65292;&#28857;&#20987;&#36827;&#20837;&#65292;&#32593;&#39029;&#26368;&#19979;&#26041;&#20986;&#29616;</p>
<p><img src="https://img-blog.csdn.net/20150902174018367?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQv/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center" alt=""><br></p>
<p></p>
<p>&#36873;&#25321;&#30456;&#24212;&#31995;&#32479;&#30340;&#29256;&#26412;&#65292;&#28857;&#20987;&#65292;&#21363;&#21487;&#19979;&#36733;(windows&#29992;&#25143;&#22312;&#26368;&#19979;&#26041;&#20004;&#20010;&#20013;&#36873;&#19968;&#20010;&#65292;&#21363;&#21487;&#19979;&#36733;)</p>
<p><img src="https://img-blog.csdn.net/20150902174034891?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQv/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center" alt=""><br></p>
<p><br></p>
            </div>
                </div>
	</article>
