<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/wuchengzeng/article/details/50037611				</div>
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <h2><a href="http://blog.csdn.net/websites/article/details/50037611http://blog.csdn.net/websites/article/details/50037611" rel="nofollow">jquery/js&#23454;&#29616;&#19968;&#20010;&#32593;&#39029;&#21516;&#26102;&#35843;&#29992;&#22810;&#20010;&#20498;&#35745;&#26102;(&#26368;&#26032;&#30340;)</a></h2>

<p>&#26368;&#36817;&#38656;&#35201;&#32593;&#39029;&#28155;&#21152;&#22810;&#20010;&#20498;&#35745;&#26102;. &#26597;&#38405;&#32593;&#32476;,&#22522;&#26412;&#19978;&#37117;&#26159;&#21315;&#36941;&#19968;&#24459;&#30340;&#19981;&#22909;&#29992;. &#33258;&#24049;&#25353;&#38656;&#20889;&#20102;&#20010;.&#24076;&#26395;&#23545;&#22823;&#23478;&#26377;&#29992;. &#26377;&#29992;&#35831;&#36190;&#19968;&#20010;&#21734;!</p>

<p><img alt="" class="has" src="https://img-blog.csdn.net/20151125152542872?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQv/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/Center"></p>

<p>//js</p>

<pre class="has">
<code class="language-javascript">//js2
var plugJs={
&#160;&#160; &#160;stamp:0,
&#160;&#160; &#160;tid:1,
&#160;&#160; &#160;stampnow:Date.parse(new Date())/1000,//&#32479;&#19968;&#24320;&#22987;&#26102;&#38388;&#25139;
&#160;&#160; &#160;intervalTime:function(){
&#160;&#160; &#160;&#160;&#160; &#160;if(plugJs.stamp &gt; 0){
&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; var day = Math.floor(plugJs.stamp / (60 * 60 * 24));
&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; var hour = Math.floor(plugJs.stamp / (60 * 60)) - (day * 24);
&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; var minute = Math.floor(plugJs.stamp / 60) - (day * 24 * 60) - (hour * 60);
&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; var second = Math.floor(plugJs.stamp) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160; &#160;
&#160;&#160; &#160;&#160;&#160;&#160;&#160;&#160;&#160;&#160; if (day &lt;= 9) day = '0' + day;
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; if (hour &lt;= 9) hour = '0' + hour;
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; if (minute &lt;= 9) minute = '0' + minute;
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; if (second &lt;= 9) second = '0' + second;
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; jQuery('.t_h_'+plugJs.tid).html(hour);
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; jQuery('.t_m_'+plugJs.tid).html(minute);
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; jQuery('.t_s_'+plugJs.tid).html(second);
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; plugJs.stamp--;
&#160;&#160; &#160;&#160;&#160; &#160;&#160;&#160;&#160; setTimeout('if(typeof(plugJs.intervalTime) == "function"){plugJs.intervalTime();}',1000);
&#160;&#160; &#160;&#160;&#160;&#160; }
&#160;&#160; &#160;},
&#160;&#160; &#160;timer:function (stampend,tid){
&#160;&#160; &#160;&#160;&#160; &#160;plugJs.stamp = parseInt(stampend)-parseInt(plugJs.stampnow);//&#21097;&#20313;&#26102;&#38388;&#25139;
&#160;&#160; &#160;&#160;&#160; &#160;setTimeout('if(typeof(plugJs.intervalTime) == "function"){plugJs.intervalTime();}',1000);
&#160;&#160; &#160;}
};
jQuery(document).ready(function(){
&#160;&#160; &#160;var stampend = parseInt(jQuery('.countdown_1').attr('data-time'));//&#28789;&#27963;&#35835;&#21462;&#34920;&#37324;&#30340;&#32467;&#26463;&#26102;&#38388;&#25139;
&#160;&#160; &#160;plugJs.timer(stampend,'1');
});</code></pre>

<p>&#160;</p>

<p><br>
//html &#21407;&#25991;http://blog.csdn.net/websites/article/details/50037611</p>

<p>&#160;</p>

<pre class="has">
<code class="language-html">&lt;div class="time countdown_1" data-time="1449429731"&gt;
    &lt;span class="t_h_1"&gt;00&lt;/span&gt;
    &lt;i class="lay_line"&gt;:&lt;/i&gt;
    &lt;span class="t_m_1"&gt;00&lt;/span&gt;
    &lt;i class="lay_line"&gt;:&lt;/i&gt;
    &lt;span class="t_s_1"&gt;00&lt;/span&gt;
&lt;/div&gt;
&lt;div class="time countdown_2" data-time="1449456731"&gt;
    &lt;span class="t_h_2"&gt;00&lt;/span&gt;
    &lt;i class="lay_line"&gt;:&lt;/i&gt;
    &lt;span class="t_m_2"&gt;00&lt;/span&gt;
    &lt;i class="lay_line"&gt;:&lt;/i&gt;
    &lt;span class="t_s_2"&gt;00&lt;/span&gt;

&lt;/div&gt;</code></pre>

<p>&#160;</p>

<p>&#27880;&#37322;:setTimeout() &#21482;&#25191;&#34892; code &#19968;&#27425;&#12290;&#22914;&#26524;&#35201;&#22810;&#27425;&#35843;&#29992;&#65292;&#35831;&#20351;&#29992; setInterval() &#25110;&#32773;&#35753; code &#33258;&#36523;&#20877;&#27425;&#35843;&#29992; setTimeout()&#12290;</p>

<p>&#160;</p>

<p><img alt="" class="has" src="https://pic3.zhimg.com/bd46270561fdb86b9199979dd842a39c_b.jpg"></p>

<p>&#160;</p>

<p>&#160;</p>

<p>&#160;</p>

<p>&#160;</p>            </div>
                </div>
	</article>
