<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/gefangshuai/article/details/50328451				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<h1 id="&#38382;&#39064;&#22330;&#26223;&#25551;&#36848;">&#38382;&#39064;&#22330;&#26223;&#25551;&#36848;</h1>

<p>&#25972;&#20010;&#39033;&#30446;&#36890;&#36807;Maven&#26500;&#24314;&#65292;&#22823;&#33268;&#32467;&#26500;&#22914;&#19979;&#65306;</p>

<ul>
<li>&#26680;&#24515;Spring&#26694;&#26550;&#19968;&#20010;module <code>spring-boot-base</code></li>
<li>service&#21644;dao&#19968;&#20010;module <code>server-core</code></li>
<li>&#25552;&#20379;&#31995;&#32479;&#21518;&#21488;&#25968;&#25454;&#31649;&#29702;&#19968;&#20010;module <code>server-platform-app</code></li>
<li>&#32473;&#31227;&#21160;&#31471;&#25552;&#20379;rest&#25968;&#25454;&#25509;&#21475;&#19968;&#20010;module <code>server-mobile-api</code></li>
</ul>

<p><img src="http://upload-images.jianshu.io/upload_images/31920-e5e9026d2c854cd9.png?imageMogr2/auto-orient/strip%7CimageView2/2/w/1240" alt="Paste_Image.png" title=""> <br>
&#20854;&#20013;<code>server-platform-app</code> &#19982;<code>server-mobile-api</code>&#20998;&#21035;&#26159;&#20004;&#20010;springboot&#25645;&#24314;&#30340;&#29420;&#31435;&#26381;&#21153;&#31471;&#12290;<code>server-platform-app</code>&#22823;&#33268;&#19994;&#21153;&#24320;&#21457;&#25509;&#36817;&#23614;&#22768;&#65292;&#28982;&#21518;&#29420;&#31435;&#20986;&#21478;&#19968;&#20010;web&#31471;<code>server-mobile-api</code>&#29992;&#20110;&#32473;mobile&#31471;&#25552;&#20379;&#25968;&#25454;&#12290;&#21487;&#23601;&#22312;&#25645;&#24314;&#23436;&#25104;&#20043;&#21518;&#36935;&#21040;&#20102;&#22855;&#33897;&#38382;&#39064;&#65281;</p>

<pre class="prettyprint"><code class=" hljs avrasm">Caused by: org<span class="hljs-preprocessor">.springframework</span><span class="hljs-preprocessor">.beans</span><span class="hljs-preprocessor">.factory</span><span class="hljs-preprocessor">.NoSuchBeanDefinitionException</span>: No qualifying bean of type [io<span class="hljs-preprocessor">.github</span><span class="hljs-preprocessor">.gefangshuai</span><span class="hljs-preprocessor">.rtat</span><span class="hljs-preprocessor">.service</span><span class="hljs-preprocessor">.RestaurantService</span>] found for dependency: expected at least <span class="hljs-number">1</span> bean which qualifies as autowire candidate for this dependency. Dependency annotations: {@org<span class="hljs-preprocessor">.springframework</span><span class="hljs-preprocessor">.beans</span><span class="hljs-preprocessor">.factory</span><span class="hljs-preprocessor">.annotation</span><span class="hljs-preprocessor">.Autowired</span>(required=true)}
    at org<span class="hljs-preprocessor">.springframework</span><span class="hljs-preprocessor">.beans</span><span class="hljs-preprocessor">.factory</span><span class="hljs-preprocessor">.support</span><span class="hljs-preprocessor">.DefaultListableBeanFactory</span><span class="hljs-preprocessor">.raiseNoSuchBeanDefinitionException</span>(DefaultListableBeanFactory<span class="hljs-preprocessor">.java</span>:<span class="hljs-number">1301</span>)
    at org<span class="hljs-preprocessor">.springframework</span><span class="hljs-preprocessor">.beans</span><span class="hljs-preprocessor">.factory</span><span class="hljs-preprocessor">.support</span><span class="hljs-preprocessor">.DefaultListableBeanFactory</span><span class="hljs-preprocessor">.doResolveDependency</span>(DefaultListableBeanFactory<span class="hljs-preprocessor">.java</span>:<span class="hljs-number">1047</span>)
    at org<span class="hljs-preprocessor">.springframework</span><span class="hljs-preprocessor">.beans</span><span class="hljs-preprocessor">.factory</span><span class="hljs-preprocessor">.support</span><span class="hljs-preprocessor">.DefaultListableBeanFactory</span><span class="hljs-preprocessor">.resolveDependency</span>(DefaultListableBeanFactory<span class="hljs-preprocessor">.java</span>:<span class="hljs-number">942</span>)
    at org<span class="hljs-preprocessor">.springframework</span><span class="hljs-preprocessor">.beans</span><span class="hljs-preprocessor">.factory</span><span class="hljs-preprocessor">.annotation</span><span class="hljs-preprocessor">.AutowiredAnnotationBeanPostProcessor</span>$AutowiredFieldElement<span class="hljs-preprocessor">.inject</span>(AutowiredAnnotationBeanPostProcessor<span class="hljs-preprocessor">.java</span>:<span class="hljs-number">533</span>)
    ... <span class="hljs-number">24</span> more</code></pre>

<p>&#24635;&#26159;&#25552;&#31034;&#26080;&#27861;&#27880;&#20837;Service&#25110;&#32773;Dao&#20013;&#30340;Bean&#65281;</p>



<h1 id="&#35299;&#20915;&#20998;&#26512;">&#35299;&#20915;&#20998;&#26512;</h1>

<p>&#21518;&#26469;&#32463;&#30740;&#31350;&#21457;&#29616;&#65292;<strong>SpringBoot&#39033;&#30446;&#30340;Bean&#35013;&#37197;&#40664;&#35748;&#35268;&#21017;&#26159;&#26681;&#25454;Application&#31867;&#25152;&#22312;&#30340;&#21253;&#20301;&#32622;&#20174;&#19978;&#24448;&#19979;&#25195;&#25551;&#65281;</strong> <br>
&#8220;Application&#31867;&#8221;&#26159;&#25351;SpringBoot&#39033;&#30446;&#20837;&#21475;&#31867;&#12290;&#36825;&#20010;&#31867;&#30340;&#20301;&#32622;&#24456;&#20851;&#38190;&#65306;</p>

<blockquote>
  <p>&#22914;&#26524;Application&#31867;&#25152;&#22312;&#30340;&#21253;&#20026;&#65306;<code>io.github.gefangshuai.app</code>&#65292;&#21017;&#21482;&#20250;&#25195;&#25551;<code>io.github.gefangshuai.app</code>&#21253;&#21450;&#20854;&#25152;&#26377;&#23376;&#21253;&#65292;<strong>&#22914;&#26524;service&#25110;dao&#25152;&#22312;&#21253;&#19981;&#22312;<code>io.github.gefangshuai.app</code>&#21450;&#20854;&#23376;&#21253;&#19979;&#65292;&#21017;&#19981;&#20250;&#34987;&#25195;&#25551;&#65281;</strong></p>
</blockquote>

<p>&#30693;&#36947;&#36825;&#19968;&#28857;&#38750;&#24120;&#20851;&#38190;&#65292;&#19981;&#30693;&#36947;Spring&#25991;&#26723;&#37324;&#26377;&#27809;&#26377;&#32473;&#20986;&#35828;&#26126;&#65292;&#22914;&#26524;&#19981;&#30693;&#36947;&#36824;&#30495;&#26159;&#26080;&#20174;&#35299;&#20915;&#12290;</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
