<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<span style="font-size:18px;"><strong>python&#23448;&#32593;&#26377;&#20960;&#20010;&#19979;&#36733;&#25991;&#20214;&#65292;&#26377;&#20160;&#20040;&#21306;&#21035;&#65311;</strong></span><br><br><span style="font-size:14px;">Python 3.6.0a1 - 2016-05-17<br>
Download Windows x86 web-based installer<br>
Download Windows x86 executable installer<br>
Download Windows x86 embeddable zip file<br>
Download Windows x86-64 web-based installer<br>
Download Windows x86-64 executable installer<br>
Download Windows x86-64 embeddable zip file</span>
<p><span style="font-size:14px;"><br></span></p>
<p><span style="font-size:14px;">x86&#26159;32&#20301;&#65292;x86-64&#26159;64&#20301;&#12290;</span></p>
<p><span style="font-size:14px;">&#21487;&#20197;&#36890;&#36807;&#19979;&#38754;3&#31181;&#36884;&#24452;&#33719;&#21462;python&#65306;</span></p>
<p><span style="font-size:14px;">web-based installer &#26159;&#38656;&#35201;&#36890;&#36807;&#32852;&#32593;&#23436;&#25104;&#23433;&#35013;&#30340;<br></span><span style="font-size:14px;">executable installer &#26159;&#21487;&#25191;&#34892;&#25991;&#20214;(*.exe)&#26041;&#24335;&#23433;&#35013;<br></span><span style="font-size:14px;">embeddable zip file &#23884;&#20837;&#24335;&#29256;&#26412;&#65292;&#21487;&#20197;&#38598;&#25104;&#21040;&#20854;&#23427;&#24212;&#29992;&#20013;&#12290;</span></p>
            </div>
                </div>
	</article>
