<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p style="font-family:Arial;font-size:14px;line-height:26px;">
&#34429;&#28982;&#31616;&#21333;&#65292;&#20294;&#26159;&#36807;&#27573;&#26102;&#38388;&#21448;&#24536;&#20102;&#65292;&#36824;&#26159;&#35760;&#19979;&#26469;&#27604;&#36739;&#22909;&#12290;</p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
&#24635;&#20307;&#26469;&#35828;&#21482;&#26377;&#20004;&#27493;&#65306;</p>
<h2 style="font-family:Arial;line-height:26px;"><a name="t0" style="color:rgb(255,153,0);"></a>
</h2><ul><li>&#19979;&#36733;&#23433;&#35013;python</li></ul>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
</p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
&#19979;&#36733;&#36335;&#24452;&#160;<a href="http://www.python.org/download/" rel="nofollow" style="color:rgb(255,153,0);text-decoration:none;">http://www.python.org/download/</a></p>
<pre style="font-size:14px;line-height:26px;"><strong>&#27880;&#24847;</strong>&#65306;&#34429;&#28982;&#26159;win 64&#20301;&#30340;&#31995;&#32479;&#65292;&#20063;&#26368;&#22909;&#36873;&#25321; 32-install,&#29992;&#36215;&#26469;&#27809;&#20160;&#20040;&#21306;&#21035;&#65288;&#26242;&#26102;&#27809;&#21457;&#29616;&#65289;&#12290; &#19981;&#28982;&#21518;&#38754;&#40635;&#28902;&#20107;&#20250;&#19968;&#22534;&#65288;&#27604;&#22914;apache WSGI &#27169;&#22359;&#20250;&#20351;&#29992;&#19981;&#20102;&#65292;&#22240;&#20026;&#20182;&#21482;&#25903;&#25345;32&#20301;python&#65289;&#12290;</pre>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
<br></p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
&#19979;&#36733;&#30340;&#26159;windows installer, &#30452;&#25509;&#23433;&#35013;&#23601;&#22909;&#12290;</p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
</p>
<h2 style="font-family:Arial;line-height:26px;"><a name="t1" style="color:rgb(255,153,0);"></a>
</h2><ul><li>&#23558;python&#30340;&#23433;&#35013;&#36335;&#24452;&#21152;&#21040;&#31995;&#32479;path</li></ul>
<img src="http://hi.csdn.net/attachment/201201/8/0_1325990263tz96.gif" alt="" style="border:none;font-family:Arial;font-size:14px;line-height:26px;"><br style="font-family:Arial;font-size:14px;line-height:26px;"><span style="font-family:Arial;font-size:14px;line-height:26px;color:rgb(255,0,0);">&#39564;&#35777;&#23433;&#35013;&#25104;&#21151;&#65292;&#25171;&#24320;&#25511;&#21046;&#21488;&#65292;&#36755;&#20837;python</span><span style="font-family:Arial;font-size:14px;line-height:26px;"></span>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
</p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
&#22914;&#26524;&#30475;&#21040;&#20197;&#19979;&#20449;&#24687;&#65292;&#35828;&#26126;&#23433;&#35013;&#25104;&#21151;&#20102;</p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
<img src="http://hi.csdn.net/attachment/201201/8/0_1325989821Q7bv.gif" alt="" style="border:none;"></p>
<address style="font-family:Arial;font-size:14px;line-height:26px;">&#30475;&#21040;&#20102;&#21543;&#65292;&#26159;32 bit&#30340;</address>
            </div>
                </div>
	</article>
