<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p><strong>&#23433;&#35013;&#21069;&#20934;&#22791;&#65306;</strong></p>

<ol>
<li><p>&#20174;&#23448;&#32593;&#19979;&#36733;Python&#23433;&#35013;&#21253; <br>
&#19979;&#36733;&#22320;&#22336;&#65306;<a href="https://www.python.org/" rel="nofollow">https://www.python.org/</a> <br>
<img src="https://img-blog.csdn.net/20160924145510856" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p></li>
<li><p>&#36873;&#25321;&#27491;&#30830;&#30340;&#29256;&#26412; <br>
<img src="https://img-blog.csdn.net/20160924145635811" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p></li>
</ol>

<p><strong>&#23433;&#35013;&#36807;&#31243;</strong></p>

<p>1.&#21452;&#20987;&#25171;&#24320;&#23433;&#35013;&#25991;&#20214;&#65292;&#21246;&#36873;Add Python  3.5 to PATH&#65292;&#25226;python&#30340;&#23433;&#35013;&#36335;&#24452;&#28155;&#21152;&#21040;&#31995;&#32479;&#36335;&#24452;&#19979;&#38754;&#65292;&#20197;&#21518;&#36816;&#34892;cmd&#65292;&#28982;&#21518;&#36755;&#20837;python &#23601;&#20250;&#21435;&#35843;&#29992;python.exe&#12290; <br>
 <img src="https://img-blog.csdn.net/20160924145852486" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>2.&#20840;&#36873;&#19979;&#19968;&#27493; <br>
 <img src="https://img-blog.csdn.net/20160924150512880" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>3 . &#21246;&#36873;Install for all users&#65292;&#36873;&#25321;&#23433;&#35013;&#36335;&#24452;&#65292;&#28857;&#20987;Install&#31561;&#19968;&#20250;&#23601;&#23433;&#35013;&#22909;&#20102;&#12290; <br>
<img src="https://img-blog.csdn.net/20160924150924336" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>4.&#25171;&#24320;cmd&#65292;&#36755;&#20837;Python&#65292;&#28982;&#21518;&#36816;&#34892;&#65292;&#22914;&#26524;&#20986;&#29616;python&#30340;&#29256;&#26412;&#21495;&#35828;&#26126;&#36719;&#20214;&#35013;&#22909;&#20102;&#12290; <br>
<img src="https://img-blog.csdn.net/20160924151431744" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
