<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>&#27880;&#24847;&#65306; &#30001;&#20110;&#21338;&#23458;&#22320;&#22336;&#21464;&#26356;&#65292;&#26412;&#25991;&#20869;&#23481;&#24050;&#32463;&#19981;&#20877;&#36866;&#29992;&#65292; &#22270;&#29255;&#38142;&#25509;&#20063;&#24050;&#20002;&#22833;&#65292;&#27426;&#36814;&#21069;&#24448;&#25105;&#30340;&#21338;&#23458;&#26597;&#30475;&#29256;&#24335;&#26356;&#22909;&#30340;&#26368;&#26032;&#29256;&#26412;&#65306;</p>

<h1 id="27&#20010;-jupyter-notebook-&#23567;&#25552;&#31034;&#19982;&#25216;&#24039;"><a href="https://liuchengxu.github.io/pelican-blog/jupyter-notebook-tips.html" rel="nofollow">&gt;&gt;&gt; 27&#20010; Jupyter Notebook &#23567;&#25552;&#31034;&#19982;&#25216;&#24039;</a></h1>

<h3 id="jupyter-notebook">Jupyter Notebook</h3>

<p>Jupyter notebook, &#21069;&#36523;&#26159;IPython notebook, &#23427;&#26159;&#19968;&#20010;&#38750;&#24120;&#28789;&#27963;&#30340;&#24037;&#20855;&#65292;&#26377;&#21161;&#20110;&#24110;&#21161;&#20320;&#26500;&#24314;&#24456;&#22810;&#21487;&#35835;&#30340;&#20998;&#26512;&#65292;&#20320;&#21487;&#20197;&#22312;&#37324;&#38754;&#21516;&#26102;&#20445;&#30041;&#20195;&#30721;&#65292;&#22270;&#29255;&#65292;&#35780;&#35770;&#65292;&#20844;&#24335;&#21644;&#32472;&#21046;&#30340;&#22270;&#20687;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/interface-screenshot.png" alt="interface" title=""></p>

<p>Jupyter&#20855;&#26377;&#38750;&#24120;&#24378;&#30340;&#21487;&#25193;&#23637;&#24615;&#65292;&#25903;&#25345;&#24456;&#22810;&#32534;&#31243;&#35821;&#35328;&#65292;&#24182;&#19988;&#26131;&#20110;&#37096;&#32626;&#21040;&#20320;&#30340;&#20010;&#20154;&#30005;&#33041;&#21644;&#20960;&#20046;&#25152;&#26377;&#30340;&#26381;&#21153;&#22120;&#19978; &#8211; &#20320;&#21482;&#38656;&#35201;&#20351;&#29992;ssh&#25110;http&#25509;&#20837;&#21363;&#21487;&#12290;&#26368;&#37325;&#35201;&#30340;&#26159;&#65292;&#23427;&#23436;&#20840;&#20813;&#36153;&#12290;</p>

<p>Jupyter&#40664;&#35748;&#35774;&#32622;&#20351;&#29992;Python kernel&#65292;&#27491;&#22240;&#27492;&#20197;&#21069;&#21483;&#20570;IPython notebook. Jupyter notebook&#28304;&#33258;&#20110;Jupyter&#39033;&#30446;, Jupyter&#36825;&#20010;&#21517;&#23383;&#26159;&#23427;&#34987;&#35774;&#35745;&#25152;&#25903;&#25345;&#19977;&#20010;&#26680;&#24515;&#32534;&#31243;&#35821;&#35328;&#30340;&#32553;&#20889;&#35789;&#65306;<strong>JU**lia,**PYT**hon, &#21644; **R</strong>, &#21551;&#21457;&#33258;&#26408;&#26143;&#36825;&#20010;&#35789;&#65306;Jupiter. </p>

<p>&#25509;&#19979;&#26469;&#30340;&#20869;&#23481;&#23558;&#21521;&#20320;&#23637;&#31034;27&#20010;&#35753;Jupyter&#29992;&#30340;&#26356;&#21152;&#33298;&#24515;&#30340;&#24314;&#35758;&#19982;&#25216;&#24039;&#12290;</p>



<h3 id="1-keyboard-shortcuts">1. Keyboard Shortcuts</h3>

<p>&#27599;&#19968;&#20010;&#36827;&#38454;&#29992;&#25143;&#37117;&#30693;&#36947;&#65292;&#38190;&#30424;&#24555;&#25463;&#38190;&#23558;&#20250;&#20026;&#25105;&#20204;&#33410;&#30465;&#35768;&#22810;&#26102;&#38388;&#12290;Jupyter&#22312;&#39030;&#37096;&#30340;&#33756;&#21333;&#37324;&#20445;&#30041;&#20102;&#35768;&#22810;&#24555;&#25463;&#38190;&#65306;<code>Help &gt; keyboard Shortcuts</code>. &#27599;&#27425;&#26356;&#26032;Jupyter&#26102;&#65292;&#37117;&#20540;&#24471;&#20877;&#27425;&#36827;&#34892;&#26597;&#30475;&#65292;&#22240;&#20026;&#26032;&#30340;&#24555;&#25463;&#38190;&#24635;&#26159;&#19981;&#26029;&#34987;&#28155;&#21152;&#36827;&#26469;&#12290;</p>

<p>&#21478;&#19968;&#20010;&#26597;&#30475;&#24555;&#25463;&#38190;&#30340;&#26041;&#24335;&#26159;&#20351;&#29992;&#21629;&#20196;&#38754;&#26495;&#65306;<code>Cmd + Shift + P</code>(&#25110;&#32773;Linux&#21644;Windows&#19978; <code>Ctrl + Shift + P</code>)&#12290;&#36825;&#20010;&#23545;&#35805;&#26694;&#23558;&#20250;&#24110;&#21161;&#20320;&#36890;&#36807;&#21517;&#31216;&#36816;&#34892;&#20219;&#20309;&#21629;&#20196; &#8211; &#36825;&#38750;&#24120;&#26377;&#29992;&#65292;&#23588;&#20854;&#24403;&#20320;&#19981;&#30693;&#36947;&#19968;&#20010;&#21629;&#20196;&#30340;&#24555;&#25463;&#38190;&#25110;&#32773;&#20320;&#24819;&#35201;&#25191;&#34892;&#30340;&#21629;&#20196;&#27809;&#26377;&#24555;&#25463;&#38190;&#26102;&#12290;&#36825;&#20010;&#21151;&#33021;&#38750;&#24120;&#31867;&#20284;&#19982;Mac&#19978;&#30340;Spotlight&#25628;&#32034;&#65292;&#19968;&#26086;&#20320;&#24320;&#22987;&#20351;&#29992;&#36825;&#20010;&#21151;&#33021;&#65292;&#20320;&#23601;&#20250;&#21457;&#29616;&#27809;&#26377;&#23427;&#30340;&#26085;&#23376;&#35813;&#24590;&#20040;&#21150;&#65281;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/command_panel.gif" alt="interface" title=""></p>

<p>&#36825;&#37324;&#26159;&#19968;&#20123;&#25105;&#21916;&#27426;&#30340;&#24555;&#25463;&#38190;&#65306;</p>

<ul>
<li><code>Esc + F</code>&#26597;&#25214;&#21644;&#26367;&#25442;&#20320;&#30340;&#20195;&#30721;&#65292;&#20294;&#19981;&#21253;&#25324;&#20195;&#30721;&#30340;&#36755;&#20986;&#20869;&#23481;&#12290;</li>
<li><code>Esc + o</code>&#25171;&#24320;&#20195;&#30721;&#22359;&#36755;&#20986;&#12290;</li>
<li><p>&#36873;&#25321;&#22810;&#20010;cell&#12290; <br>
<code>Shift + J</code>&#25110;<code>Shift + Down</code>&#21521;&#19979;&#36873;&#20013;&#19979;&#19968;&#20010;cell. &#20320;&#21487;&#20197;&#36890;&#36807;<code>Shift + K</code>&#25110;<code>Shift + Up</code>&#21521;&#19978;&#36873;&#20013;cell&#12290;</p>

<ul><li>&#19968;&#26086;cell&#34987;&#36873;&#20013;&#65292;&#25509;&#30528;&#20320;&#21487;&#20197;&#36827;&#34892;&#25209;&#37327;&#21024;&#38500;/&#22797;&#21046;/&#21098;&#20999;/&#31896;&#36148;.&#24403;&#20320;&#38656;&#35201;&#31227;&#21160;&#19968;&#37096;&#20998;notebook&#26102;&#65292;&#36825;&#38750;&#24120;&#26377;&#29992;&#12290;</li>
<li>&#20320;&#20063;&#21487;&#20197;&#25191;&#34892;<code>Shift + M</code>&#23545;&#22810;&#20010;cell&#36827;&#34892;&#21512;&#24182;&#12290;</li></ul>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/multi_cell.gif" alt="interface" title=""></p></li>
</ul>



<h3 id="2-pretty-display-of-varibles">2. Pretty Display of Varibles</h3>

<p>&#36825;&#37096;&#20998;&#20869;&#23481;&#21487;&#33021;&#24456;&#22810;&#20154;&#37117;&#30693;&#36947;&#12290;&#22914;&#26524;&#23545;&#24102;&#26377;&#19968;&#20010;&#21464;&#37327;&#25110;&#26159;&#26410;&#22797;&#21046;&#35821;&#21477;&#30340;cell&#25191;&#34892;&#25805;&#20316;&#65292;Jupyter&#23558;&#20250;&#25171;&#21360;&#35813;&#21464;&#37327;&#32780;&#26080;&#38656;&#19968;&#20010;&#36755;&#20986;&#35821;&#21477;&#12290;&#36825;&#38750;&#24120;&#26377;&#29992;&#65292;&#23588;&#20854;&#26159;&#20351;&#29992;Pandas DataFrames&#36827;&#34892;&#22788;&#29702;&#26102;&#65292;&#22240;&#20026;&#36755;&#20986;&#23558;&#20250;&#34987;&#25972;&#40784;&#22320;&#26684;&#24335;&#21270;&#20026;&#19968;&#20010;&#34920;&#26684;&#12290;</p>

<p>&#25509;&#19979;&#26469;&#30340;&#20869;&#23481;&#21487;&#33021;&#27809;&#37027;&#20040;&#20154;&#30693;&#36947;&#65306;&#20320;&#21487;&#20197;&#36873;&#25321;&#20462;&#25913;<code>ast_note_iteractively</code>kernal&#36873;&#39033;&#26469;&#20351;&#24471;Jupyter&#20026;&#27599;&#19968;&#34892;&#30340;&#21464;&#37327;&#25110;&#35821;&#21477;&#25191;&#34892;&#36825;&#20010;&#25805;&#20316;&#65292;&#20197;&#20415;&#20320;&#21487;&#20197;&#31435;&#21363;&#30475;&#21040;&#22810;&#26465;&#35821;&#21477;&#19968;&#36215;&#36755;&#20986;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/multi_statements.png" alt="interface" title=""></p>

<p>&#22914;&#26524;&#20320;&#24819;&#35201;&#25152;&#26377;&#30340;Jupyter&#23454;&#20363;&#65288;Notebook&#21644;Console&#65289;&#37117;&#35774;&#32622;&#35813;&#36873;&#39033;&#65292;&#21482;&#38656;&#21019;&#24314;<code>~/.ipython/profile_default/ipython_config.py</code>&#25991;&#20214;&#24182;&#20889;&#20837;&#19968;&#19979;&#20869;&#23481;&#65306;</p>



<pre class="prettyprint"><code class="language-python hljs ">c = get_config()
<span class="hljs-comment"># Run all nodes interactively</span>
c.InteractiveShell.ast_node_interactivity = <span class="hljs-string">"all"</span></code></pre>



<h3 id="3-easy-links-to-documentation">3. Easy links to documentation</h3>

<p>&#22312;<code>Help</code>&#33756;&#21333;&#20320;&#21487;&#20197;&#25214;&#21040;&#19968;&#20123;&#24120;&#29992;&#24211;&#25991;&#26723;&#30340;&#36830;&#25509;&#65292;&#21253;&#25324;NumPy, Pandas, SciPy &#21644; Matplotlib.</p>

<p>&#21516;&#26102;&#21035;&#24536;&#20102;&#22312;&#19968;&#20010;&#24211;&#65292;&#26041;&#27861;&#25110;&#21464;&#37327;&#21069;&#21152;&#19978;<code>?</code>&#65292;&#20320;&#21487;&#20197;&#33719;&#24471;&#19968;&#20010;&#24555;&#36895;&#30340;&#35821;&#27861;&#35828;&#26126;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/simple_doc.png" alt="interface" title=""></p>



<h3 id="4-plotting-in-notebooks">4. Plotting in notebooks</h3>

<p>&#22312;notebook&#20013;&#29983;&#25104;&#32472;&#22270;&#26377;&#35768;&#22810;&#36873;&#39033;&#65306;</p>

<ul>
<li><a href="matplotlib.org" rel="nofollow">matplotlib</a>&#65292; &#20351;&#29992;<code>%matplotlib inline</code>&#36827;&#34892;&#28608;&#27963;&#12290;</li>
<li><code>%matplotlib notebook</code>&#25552;&#20379;&#20102;&#19968;&#20123;&#20132;&#20114;&#24615;&#65292;&#19981;&#36807;&#21487;&#33021;&#20250;&#26377;&#28857;&#24930;&#65292;&#22240;&#20026;&#28210;&#26579;&#30001;&#26381;&#21153;&#22120;&#31471;&#23436;&#25104;&#12290;</li>
<li><a href="https://github.com/mpld3/mpld3" rel="nofollow">mpld3</a>&#20026;matplotlib&#20195;&#30721;&#25552;&#20379;&#20102;&#21478;&#19968;&#20010;&#28210;&#26579;&#22120;(&#20351;&#29992;d3)&#12290;&#38750;&#24120;&#28418;&#20142;&#65292;&#19981;&#36807;&#23578;&#26410;&#23436;&#25972;&#12290;</li>
<li><a href="bokeh.pydata.org/latest/" rel="nofollow">bokeh</a>&#26159;&#26500;&#24314;&#20132;&#20114;&#24615;&#32472;&#22270;&#30340;&#19968;&#20010;&#26356;&#22909;&#30340;&#36873;&#25321;&#12290;</li>
<li><a href="https://plot.ly" rel="nofollow">plot.ly</a>&#20063;&#21487;&#20197;&#29983;&#25104;&#28418;&#20142;&#30340;&#32472;&#22270;&#65292;&#19981;&#36807;&#26159;&#20184;&#36153;&#26381;&#21153;&#12290;</li>
</ul>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/animation.png" alt="interface" title=""></p>



<h3 id="5-jupyter-magic-commands">5. Jupyter Magic Commands</h3>

<p>&#19978;&#38754;&#30340;<code>%matplotlib inline</code>&#23601;&#26159;&#19968;&#20010;&#25152;&#35859;&#30340;<em>Jupyter Magic</em>(Jupyter&#39764;&#27861;)&#21629;&#20196;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/magic.png" alt="interface" title=""></p>

<p>&#25512;&#33616;&#38405;&#35835;<a href="ipython.readthedocs.io/en/stable/interactive/magics.html" rel="nofollow">the documentation for all Jupyter magic commands</a>&#65292;&#20320;&#20250;&#21457;&#29616;&#36825;&#38750;&#24120;&#26377;&#29992;&#12290;&#19979;&#38754;&#26159;&#19968;&#20123;&#25105;&#25152;&#21916;&#29233;&#30340;&#39764;&#27861;&#21629;&#20196;&#65306;</p>



<h4 id="6-jupyter-magic-envset-environment-variables">6. Jupyter Magic - %env:Set Environment Variables</h4>

<p>&#20320;&#21487;&#20197;&#31649;&#29702;notebook&#30340;&#29615;&#22659;&#21464;&#37327;&#32780;&#26080;&#38656;&#37325;&#21551;jupyter server. &#19968;&#20123;&#24211;(&#27604;&#22914;theano)&#20351;&#29992;&#29615;&#22659;&#21464;&#37327;&#26469;&#25511;&#21046;&#34892;&#20026;&#65292;%env&#26159;&#26368;&#26041;&#20415;&#30340;&#19968;&#20010;&#36884;&#24452;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/env.png" alt="interface" title=""></p>



<h4 id="7-jupyter-magic-runexcute-python-code">7. Jupyter Magic - %run:Excute python code</h4>

<p><code>%run</code>&#21487;&#20197;&#20174;.py&#25991;&#20214;&#25191;&#34892;Python&#20195;&#30721;. &#26356;&#23569;&#30340;&#20154;&#30693;&#36947;&#30340;&#26159;&#23427;&#20063;&#21487;&#20197;&#25191;&#34892;&#20854;&#20182;&#30340;Jupyter notebook,&#36825;&#20063;&#38750;&#24120;&#26377;&#29992;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/run.png" alt="interface" title=""></p>

<p>&#27880;&#24847;&#20351;&#29992;<code>%run</code>&#24182;&#19981;&#31561;&#21516;&#20110;&#23548;&#20837;&#19968;&#20010;Python&#27169;&#22359;.</p>



<h4 id="8-jupyter-magic-loadinsert-the-code-from-an-external-script">8. Jupyter Magic - %load:Insert the code from an external script</h4>

<p>&#36825;&#23558;&#20250;&#20351;&#29992;&#22806;&#37096;&#33050;&#26412;&#26469;&#20195;&#26367;cell&#30340;&#20869;&#23481;&#12290;&#20320;&#21487;&#20197;&#20351;&#29992;&#26412;&#22320;&#26426;&#22120;&#19978;&#30340;&#25991;&#20214;&#20063;&#21487;&#20197;&#20351;&#29992;&#19968;&#20010;URL.</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/external.png" alt="interface" title=""></p>



<h4 id="9-jupyter-magic-storepass-variables-between-notebooks">9. Jupyter Magic - %store:Pass variables between notebooks</h4>

<p><code>%store</code>&#21629;&#20196;&#21487;&#20197;&#35753;&#20320;&#22312;&#20004;&#20010;&#19981;&#21516;&#30340;notebook&#38388;&#20256;&#36882;&#21464;&#37327;&#12290;</p>



<h4 id="10-jupyter-magic-wholist-all-variables-of-global-scope">10. Jupyter Magic - %who:List all variables of global scope.</h4>

<p>&#19981;&#24102;&#21442;&#25968;&#30340;<code>%who</code>&#21629;&#20196;&#23558;&#20250;&#21015;&#20986;&#20840;&#23616;&#33539;&#22260;&#20869;&#23384;&#22312;&#30340;&#25152;&#26377;&#21464;&#37327;&#12290;&#22914;&#26524;&#20256;&#20837;&#21442;&#25968;&#65292;&#27604;&#22914;<code>str</code>&#65292;&#23558;&#20250;&#21015;&#20986;&#25351;&#23450;&#31867;&#22411;&#30340;&#25152;&#26377;&#21464;&#37327;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/who.png" alt="interface" title=""></p>



<h4 id="11-jupyter-magic-timing">11. Jupyter Magic - Timing</h4>

<p>&#23545;&#20110;&#35745;&#26102;&#26377;&#20004;&#20010;&#21313;&#20998;&#26377;&#29992;&#30340;&#39764;&#27861;&#21629;&#20196;&#65306;<code>%%time</code> &#21644; <code>%timeit</code>. &#22914;&#26524;&#20320;&#26377;&#20123;&#20195;&#30721;&#36816;&#34892;&#22320;&#21313;&#20998;&#32531;&#24930;&#65292;&#32780;&#20320;&#24819;&#30830;&#23450;&#26159;&#21542;&#38382;&#39064;&#20986;&#22312;&#36825;&#37324;&#65292;&#36825;&#20004;&#20010;&#21629;&#20196;&#23558;&#20250;&#38750;&#24120;&#26041;&#20415;&#12290;</p>

<ul>
<li><code>%%time</code>&#23558;&#20250;&#32473;&#20986;cell&#30340;&#20195;&#30721;&#36816;&#34892;&#19968;&#27425;&#25152;&#33457;&#36153;&#30340;&#26102;&#38388;&#12290;</li>
</ul>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/time.png" alt="interface" title=""></p>

<ul>
<li><code>%timeit</code>&#20351;&#29992;Python&#30340;timeit&#27169;&#22359;&#65292;&#23427;&#23558;&#20250;&#25191;&#34892;&#19968;&#20010;&#35821;&#21477;100&#65292;000&#27425;(&#40664;&#35748;&#24773;&#20917;&#19979;)&#65292;&#28982;&#21518;&#32473;&#20986;&#36816;&#34892;&#26368;&#24555;3&#27425;&#30340;&#24179;&#22343;&#20540;&#12290;</li>
</ul>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/timeit.png" alt="interface" title=""></p>



<h4 id="12-jupyter-magic-writefile-and-pycatexport-the-contents-of-a-cellshow-the-contents-of-an-external-script">12. Jupyter Magic - %%writefile and %pycat:Export the contents of a cell/Show the contents of an external script</h4>

<p>&#20351;&#29992;<code>%%writefile</code>&#39764;&#27861;&#20445;&#23384;cell&#30340;&#20869;&#23481;&#21040;&#19968;&#20010;&#22806;&#37096;&#25991;&#20214;&#12290;<code>%pycat</code>&#21017;&#21018;&#22909;&#30456;&#21453;&#65292;&#24182;&#19988;&#20250;&#21521;&#20320;&#23637;&#31034;&#39640;&#20142;&#21518;&#30340;&#22806;&#37096;&#25991;&#20214;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/writefile_pycat.png" alt="interface" title=""></p>



<h4 id="13-jupyter-magic-prunshow-how-much-time-your-program-spent-in-each-function">13. Jupyter Magic - %prun:Show how much time your program spent in each function</h4>

<p>&#20351;&#29992;<code>%prun statement_name</code>&#23558;&#20250;&#20135;&#29983;&#19968;&#20010;&#26377;&#24207;&#34920;&#26684;&#26469;&#23637;&#31034;&#22312;&#35813;&#35821;&#21477;&#20013;&#25152;&#35843;&#29992;&#30340;&#27599;&#20010;&#20869;&#37096;&#20989;&#25968;&#35843;&#29992;&#30340;&#27425;&#25968;&#65292;&#27599;&#27425;&#35843;&#29992;&#30340;&#26102;&#38388;&#19982;&#35813;&#20989;&#25968;&#32047;&#35745;&#36816;&#34892;&#30340;&#26102;&#38388;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/prun.png" alt="interface" title=""></p>



<h4 id="14-jupyter-magic-debugging-with-pdb">14. Jupyter Magic - Debugging with %pdb</h4>

<p>Jupyter&#26377;&#19968;&#20010;&#33258;&#24049;&#30340;<a href="https://docs.python.org/3.5/library/pdb.html" rel="nofollow">python&#35843;&#35797;&#22120;&#25509;&#21475;(<code>pdb</code>)</a>&#65292;&#36825;&#20351;&#24471;&#25105;&#20204;&#33021;&#22815;&#36827;&#20837;&#20989;&#25968;&#20869;&#37096;&#30475;&#30475;&#21040;&#24213;&#21457;&#29983;&#20102;&#20160;&#20040;&#12290;</p>

<p>&#20320;&#21487;&#20197;&#22312;&#36825;&#37324;<a href="https://docs.python.org/3.5/library/pdb.html#debugger-commands" rel="nofollow">&#26597;&#30475;pdb&#30340;&#21629;&#20196;&#21015;&#34920;</a></p>



<h3 id="15-suppress-the-output-of-a-final-function">15. Suppress the output of a final function</h3>

<p>&#26377;&#26102;&#20505;&#20320;&#21487;&#33021;&#20250;&#24819;&#35201;&#25233;&#21046;&#26368;&#21518;&#19968;&#34892;&#20989;&#25968;&#30340;&#36755;&#20986;&#65292;&#27604;&#22914;&#24403;&#25105;&#20204;&#32472;&#21046;&#22270;&#20687;&#30340;&#26102;&#20505;&#12290;&#20026;&#27492;&#65292;&#20320;&#21482;&#38656;&#21152;&#19978;&#19968;&#20010;&#20998;&#21495;&#21363;&#21487;&#12290;</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/semicolon.png" alt="interface" title=""></p>



<h3 id="16-executing-shell-commands">16. Executing Shell Commands</h3>

<p>&#22312;notebook&#20013;&#25191;&#34892;shell&#21629;&#20196;&#38750;&#24120;&#23481;&#26131;&#65292;&#20320;&#21487;&#20197;&#20687;&#19979;&#38754;&#36825;&#26679;&#21015;&#20986;&#24403;&#21069;&#30446;&#24405;&#19979;&#30340;&#25991;&#20214;&#65306;</p>



<pre class="prettyprint"><code class=" hljs diff"><span class="hljs-change">!ls</span></code></pre>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/ls.png" alt="interface" title=""></p>

<p>&#25110;&#26159;&#26816;&#26597;&#25110;&#31649;&#29702;&#21253;.</p>



<h3 id="17-using-latex-for-formulas">17. Using LaTeX for formulas</h3>

<p>&#24403;&#20320;&#22312;markdown cell&#20013;&#20070;&#20889;<a href="https://www.latex-project.org/" rel="nofollow">LaTeX</a>&#26102;&#65292;&#23427;&#20250;&#34987;MathJax&#28210;&#26579;&#25104;&#19968;&#20010;&#20844;&#24335;&#12290;</p>



<pre class="prettyprint"><code class=" hljs tex"><span class="hljs-formula">$$ P(A <span class="hljs-command">\mid</span> B) = <span class="hljs-command">\frac</span><span class="hljs-special">{</span>P(B <span class="hljs-command">\mid</span> A) <span class="hljs-command">\,</span> P(A)<span class="hljs-special">}</span><span class="hljs-special">{</span>P(B)<span class="hljs-special">}</span> $$</span></code></pre>

<p>&#20250;&#34987;&#28210;&#26579;&#25104;&#20026;&#65306;</p>



<p><span class="MathJax_Preview"></span></p><div class="MathJax_Display" role="textbox" aria-readonly="true" style="text-align: center;"><span class="MathJax" id="MathJax-Element-1-Frame"><nobr><span class="math" id="MathJax-Span-1" style="width: 14.212em; display: inline-block;"><span style="display: inline-block; position: relative; width: 10.367em; height: 0px; font-size: 137%;"><span style="position: absolute; clip: rect(1.024em 1000em 3.555em -0.436em); top: -2.528em; left: 0.002em;"><span class="mrow" id="MathJax-Span-2"><span class="mi" id="MathJax-Span-3" style="font-family: STIXGeneral-Italic;">P</span><span class="mo" id="MathJax-Span-4" style="font-family: STIXGeneral-Regular;">(</span><span class="mi" id="MathJax-Span-5" style="font-family: STIXGeneral-Italic;">A</span><span class="mo" id="MathJax-Span-6" style="font-family: STIXGeneral-Regular; padding-left: 0.294em;">&#8739;</span><span class="mi" id="MathJax-Span-7" style="font-family: STIXGeneral-Italic; padding-left: 0.294em;">B</span><span class="mo" id="MathJax-Span-8" style="font-family: STIXGeneral-Regular;">)</span><span class="mo" id="MathJax-Span-9" style="font-family: STIXGeneral-Regular; padding-left: 0.294em;">=</span><span class="mfrac" id="MathJax-Span-10" style="padding-left: 0.294em;"><span style="display: inline-block; position: relative; width: 5.55em; height: 0px; margin-right: 0.1em; margin-left: 0.1em;"><span style="position: absolute; clip: rect(1.706em 1000em 2.873em -0.436em); top: -3.209em; left: 50%; margin-left: -2.723em;"><span class="mrow" id="MathJax-Span-11"><span class="mi" id="MathJax-Span-12" style="font-family: STIXGeneral-Italic;">P</span><span class="mo" id="MathJax-Span-13" style="font-family: STIXGeneral-Regular;">(</span><span class="mi" id="MathJax-Span-14" style="font-family: STIXGeneral-Italic;">B</span><span class="mo" id="MathJax-Span-15" style="font-family: STIXGeneral-Regular; padding-left: 0.294em;">&#8739;</span><span class="mi" id="MathJax-Span-16" style="font-family: STIXGeneral-Italic; padding-left: 0.294em;">A</span><span class="mo" id="MathJax-Span-17" style="font-family: STIXGeneral-Regular;">)</span><span class="mspace" id="MathJax-Span-18" style="height: 0.002em; vertical-align: 0.002em; width: 0.197em; display: inline-block; overflow: hidden;"></span><span class="mi" id="MathJax-Span-19" style="font-family: STIXGeneral-Italic;">P</span><span class="mo" id="MathJax-Span-20" style="font-family: STIXGeneral-Regular;">(</span><span class="mi" id="MathJax-Span-21" style="font-family: STIXGeneral-Italic;">A</span><span class="mo" id="MathJax-Span-22" style="font-family: STIXGeneral-Regular;">)</span></span><span style="display: inline-block; width: 0px; height: 2.533em;"></span></span><span style="position: absolute; clip: rect(1.706em 1000em 2.873em -0.436em); top: -1.847em; left: 50%; margin-left: -0.922em;"><span class="mrow" id="MathJax-Span-23"><span class="mi" id="MathJax-Span-24" style="font-family: STIXGeneral-Italic;">P</span><span class="mo" id="MathJax-Span-25" style="font-family: STIXGeneral-Regular;">(</span><span class="mi" id="MathJax-Span-26" style="font-family: STIXGeneral-Italic;">B</span><span class="mo" id="MathJax-Span-27" style="font-family: STIXGeneral-Regular;">)</span></span><span style="display: inline-block; width: 0px; height: 2.533em;"></span></span><span style="position: absolute; clip: rect(0.878em 1000em 1.219em -0.436em); top: -1.311em; left: 0.002em;"><span style="border-left: 5.55em solid; display: inline-block; overflow: hidden; width: 0px; height: 1.25px; vertical-align: 0.002em;"></span><span style="display: inline-block; width: 0px; height: 1.073em;"></span></span></span></span></span><span style="display: inline-block; width: 0px; height: 2.533em;"></span></span></span><span style="border-left: 0.003em solid; display: inline-block; overflow: hidden; width: 0px; height: 3.203em; vertical-align: -1.263em;"></span></span></nobr></span></div><script type="math/tex; mode=display" id="MathJax-Element-1"> P(A \mid B) = \frac{P(B \mid A) \, P(A)}{P(B)} </script>

<p>markdown&#26159;notebook&#20013;&#21313;&#20998;&#37325;&#35201;&#30340;&#19968;&#37096;&#20998;&#65292;&#21035;&#24536;&#20102;&#20351;&#29992;&#23427;&#26469;&#20256;&#36798;&#20320;&#30340;&#24819;&#27861;&#65281;</p>



<h3 id="18-run-code-from-a-different-kernel-in-a-notebooks">18. Run code from a different kernel in a notebooks</h3>

<p>&#22914;&#26524;&#24819;&#35201;&#30340;&#35805;&#65292;&#20320;&#21487;&#20197;&#23558;&#22810;&#20010;kernel&#30340;&#20195;&#30721;&#32452;&#21512;&#21040;&#19968;&#20010;notebook&#20013;&#12290;</p>

<p>&#22312;&#27599;&#20010;cell&#30340;&#24320;&#22836;&#20351;&#29992;&#30456;&#20851;&#30340;&#39764;&#27861;&#21629;&#20196;&#26469;&#22768;&#26126;&#20320;&#24819;&#20351;&#29992;&#30340;kernel&#65306;</p>

<ul>
<li><code>%%bash</code></li>
<li><code>%%HTML</code></li>
<li><code>%%python2</code></li>
<li><code>%%python3</code></li>
<li><code>%%ruby</code></li>
<li><code>%%perl</code></li>
</ul>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/bash.png" alt="interface" title=""></p>



<h3 id="19-install-other-kernels-for-jupyter">19. Install other kernels for Jupyter</h3>

<p>Jupyter&#20854;&#20013;&#30340;&#19968;&#20010;&#37325;&#35201;&#29305;&#33394;&#23601;&#26159;&#33021;&#22815;&#36816;&#34892;&#19981;&#21516;&#35821;&#35328;&#65292;&#20320;&#21482;&#38656;&#23433;&#35013;&#30456;&#20851;&#30340;kernel&#21363;&#21487;&#12290;&#27604;&#22914;&#65292;&#19979;&#38754;&#30340;&#20363;&#23376;&#26159;&#22914;&#20309;&#23433;&#35013; R kernel.</p>

<ul>
<li>&#24555;&#25463;&#36873;&#25321;&#65306;&#20351;&#29992;anaconda&#23433;&#35013;R kernel</li>
</ul>

<p>&#22914;&#26524;&#20320;&#20351;&#29992;anaconda&#23433;&#35013;&#20320;&#30340;&#29615;&#22659;&#65292;&#36825;&#20250;&#30456;&#24403;&#31616;&#21333;&#12290;&#20320;&#21482;&#38656;&#35201;&#22312;terminal&#20013;&#36816;&#34892;&#19979;&#38754;&#30340;&#21629;&#20196;&#65306;</p>



<pre class="prettyprint"><code class=" hljs lasso">conda install <span class="hljs-attribute">-c</span> r r<span class="hljs-attribute">-essentials</span></code></pre>

<ul>
<li>&#19981;&#37027;&#20040;&#24555;&#25463;&#30340;&#26041;&#24335;&#65306;&#25163;&#21160;&#23433;&#35013;R kernel</li>
</ul>

<p>&#22914;&#26524;&#20320;&#19981;&#26159;&#20351;&#29992;anaconda, &#36825;&#20010;&#36807;&#31243;&#21487;&#33021;&#31245;&#26174;&#22797;&#26434;&#12290;&#39318;&#20808;&#20320;&#38656;&#35201;&#20174;<a href="https://cloud.r-project.org/" rel="nofollow">CRAN</a>&#23433;&#35013;R&#65292; &#22914;&#26524;&#20320;&#36824;&#27809;&#26377;&#23433;&#35013;&#30340;&#35805;&#12290;</p>

<p>&#23433;&#35013;R&#23436;&#27605;&#21518;&#65292;&#25171;&#24320;R console&#24182;&#36816;&#34892;&#22914;&#19979;&#21629;&#20196;&#65306;</p>



<pre class="prettyprint"><code class=" hljs vhdl">install.packages(c(<span class="hljs-attribute">'repr</span>', <span class="hljs-attribute">'IRdisplay</span>', <span class="hljs-attribute">'crayon</span>', <span class="hljs-attribute">'pbdZMQ</span>', <span class="hljs-attribute">'devtools</span>'))
devtools::install_github(<span class="hljs-attribute">'IRkernel</span>/IRkernel')
IRkernel::installspec()  # <span class="hljs-keyword">to</span> <span class="hljs-keyword">register</span> the kernel <span class="hljs-keyword">in</span> the current R installation</code></pre>



<h3 id="20-running-r-and-python-in-the-same-notebook">20. Running R and Python in the same notebook</h3>

<p>&#23545;&#20110;&#27492;&#26368;&#22909;&#30340;&#35299;&#20915;&#26041;&#26696;&#26159;&#23433;&#35013;<a href="rpy2.bitbucket.org" rel="nofollow">rpy2</a>(&#38656;&#35201;&#19968;&#20010;&#21487;&#20197;&#24037;&#20316;&#30340;R&#29256;&#26412;)&#65292; &#36890;&#36807;pip&#21487;&#20197;&#24456;&#23481;&#26131;&#23433;&#35013;&#65306;</p>



<pre class="prettyprint"><code class=" hljs cmake">pip <span class="hljs-keyword">install</span> rpy2</code></pre>

<p>&#20320;&#21487;&#20197;&#21516;&#26102;&#20351;&#29992;&#36825;&#20004;&#31181;&#35821;&#35328;&#65292;&#29978;&#33267;&#22312;&#23427;&#20204;&#20043;&#38388;&#20256;&#36882;&#21464;&#37327;&#65306;</p>

<p>&#19968;&#20010;&#24456;&#22909;&#30340;&#31034;&#20363;<a href="http://blog.revolutionanalytics.com/2016/01/pipelining-r-python.html" rel="nofollow">Revolutions Blog</a></p>



<h3 id="21-writing-functions-in-other-languages">21. Writing functions in other languages</h3>

<p>&#26377;&#26102;&#20505;numpy&#30340;&#36895;&#24230;&#20173;&#26087;&#19981;&#22815;&#24555;&#65292;&#25105;&#20204;&#38656;&#35201;&#33258;&#24049;&#20889;&#19968;&#20123;&#26356;&#24555;&#30340;&#20195;&#30721;&#12290;</p>

<p>&#21407;&#21017;&#19978;&#65292;&#20320;&#21487;&#20197;&#20197;&#21160;&#24577;&#38142;&#25509;&#24211;&#30340;&#26041;&#24335;&#32534;&#35793;&#20989;&#25968;&#65292;&#28982;&#21518;&#29992;python&#36827;&#34892;&#21253;&#35013;&#12290;</p>

<p>&#19981;&#36807;&#22914;&#26524;&#26377;&#20154;&#33021;&#22815;&#24110;&#20320;&#23436;&#25104;&#36825;&#37096;&#20998;&#28902;&#20154;&#30340;&#24037;&#20316;&#26159;&#19981;&#26159;&#38750;&#24120;&#26834;&#21602;&#65311;</p>

<p>&#20320;&#21487;&#20197;&#29992;cython&#25110;fortran&#20889;&#20989;&#25968;&#24182;&#30452;&#25509;&#20174;Python&#20195;&#30721;&#36827;&#34892;&#35843;&#29992;&#12290;</p>

<p>&#39318;&#20808;&#20320;&#38656;&#35201;&#23433;&#35013;&#65306;</p>

<p><code>!pip install cython fortran-magic</code></p>

<p>&#20010;&#20154;&#26469;&#35828;&#25105;&#26356;&#21916;&#27426;&#20351;&#29992;fortran, &#25105;&#21457;&#29616;&#23427;&#23545;&#25968;&#20540;&#32479;&#35745;&#20989;&#25968;&#21313;&#20998;&#26041;&#20415;&#12290;&#26356;&#22810;&#29992;&#27861;&#19978;&#30340;&#32454;&#33410;&#21487;&#20197;<a href="https://arogozhnikov.github.io/2015/11/29/using-fortran-from-python.html" rel="nofollow">&#22312;&#36825;&#37324;&#25214;&#21040;</a>.</p>

<p>&#20063;&#26377;&#19968;&#20123;&#20854;&#20182;&#26041;&#24335;&#21487;&#20197;&#21152;&#36895;&#20320;&#30340;Python&#20195;&#30721;&#12290;&#26356;&#22810;&#31034;&#20363;&#21487;&#20197;<a href="https://arogozhnikov.github.io/2015/09/08/SpeedBenchmarks.html" rel="nofollow">&#22312;&#36825;&#37324;&#25214;&#21040;</a>/</p>



<h3 id="22-multicursor-support">22. Multicursor support</h3>

<p>Jupyter&#25903;&#25345;&#22810;&#20809;&#26631;&#25805;&#20316;&#65292;&#19982;Sublime Text&#31867;&#20284;&#12290;&#25353;&#20303;<code>Alt</code>&#36827;&#34892;&#28857;&#20987;&#21644;&#25302;&#25341;&#40736;&#26631;&#21363;&#21487;&#12290;</p>



<h3 id="23-jupyter-contrib-extensions">23. Jupyter-contrib extensions</h3>

<p><a href="https://github.com/ipython-contrib/jupyter_contrib_nbextensions" rel="nofollow">Jupyter-contrib extensions</a> &#26159;&#19968;&#31995;&#21015;&#33021;&#22815;&#32473;Jupyter&#24102;&#26469;&#35768;&#22810;&#21151;&#33021;&#30340;&#25193;&#23637;&#65292;&#27604;&#22914;<code>jupyter spell-checker</code> &#21644; <code>code-formatter</code>.</p>

<p><img src="https://xuliuchengxlc.github.io/images/blog/2016/10-13/extensions.png" alt="interface" title=""></p>



<h3 id="24-create-a-presentation-from-a-jupyter-notebook">24. Create a presentation from a Jupyter notebook</h3>

<p>Damian Avila&#30340; <a href="https://damianavila/RISE" rel="nofollow">RISE</a>&#20801;&#35768;&#20320;&#20174;&#24050;&#26377;&#30340;&#19968;&#20010;notebook&#21019;&#24314;&#19968;&#20010;powerpoint&#39118;&#26684;&#30340;&#25253;&#21578;&#12290;</p>

<p>&#20320;&#21487;&#20197;&#36890;&#36807;conda&#23433;&#35013;RISE:</p>



<pre class="prettyprint"><code class="language-shell hljs cmake">conda <span class="hljs-keyword">install</span> -c damianavila82 rise</code></pre>

<p>&#25110;&#36890;&#36807;pip:</p>



<pre class="prettyprint"><code class="language-shell hljs cmake">pip <span class="hljs-keyword">install</span> RISE</code></pre>

<p>&#28982;&#21518;&#25191;&#34892;&#19979;&#38754;&#30340;&#20195;&#30721;&#23433;&#35013;&#24182;&#21551;&#29992;&#25193;&#23637;&#65306;</p>



<pre class="prettyprint"><code class="language-shell hljs brainfuck"><span class="hljs-comment">jupyter</span><span class="hljs-literal">-</span><span class="hljs-comment">nbextension</span> <span class="hljs-comment">install</span> <span class="hljs-comment">rise</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">py</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">sys</span><span class="hljs-literal">-</span><span class="hljs-comment">prefix</span>
<span class="hljs-comment">jupyter</span><span class="hljs-literal">-</span><span class="hljs-comment">nbextension</span> <span class="hljs-comment">enable</span> <span class="hljs-comment">rise</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">py</span> <span class="hljs-literal">-</span><span class="hljs-literal">-</span><span class="hljs-comment">sys</span><span class="hljs-literal">-</span><span class="hljs-comment">prefix</span></code></pre>



<h3 id="25-the-jupyter-output-system">25. The Jupyter output system</h3>

<p>notebook&#20197;HTML&#30340;&#26041;&#24335;&#36827;&#34892;&#23637;&#31034;&#65292;cell&#30340;&#36755;&#20986;&#20063;&#21487;&#20197;&#26159;HTML&#65292;&#25152;&#20197;&#20107;&#23454;&#19978;&#20320;&#21487;&#20197;&#36820;&#22238;&#20219;&#20309;&#19996;&#35199;&#65306;&#35270;&#39057;/&#38899;&#39057;/&#22270;&#20687;&#12290;</p>

<p>&#19979;&#38754;&#30340;&#20363;&#23376;&#25105;&#25195;&#25551;&#20102;</p>



<h3 id="26-big-data-analysis">26. &#8216;Big data&#8217; analysis</h3>

<p>&#23545;&#20110;&#22823;&#35268;&#27169;&#25968;&#25454;&#26679;&#26412;&#30340;&#26597;&#35810;/&#22788;&#29702;&#20063;&#26377;&#19968;&#20123;&#35299;&#20915;&#26041;&#26696;&#65306;</p>

<ul>
<li><p><a href="https://github.com/ipython/ipyparallel" rel="nofollow">ipyparallel(&#20197;&#21069;&#21483;ipython cluster)</a>&#26159;&#20351;&#29992;Python&#36827;&#34892;&#31616;&#21333;map-reduce&#25805;&#20316;&#30340;&#19968;&#20010;&#24456;&#22909;&#30340;&#36873;&#25321;&#12290;</p></li>
<li><p><a href="http://www.cloudera.com/documentation/enterprise/5-5-x/topics/spark_ipython.html" rel="nofollow">pyspark</a></p></li>
<li><p>spark-sql &#39764;&#27861; <a href="https://github.com/jupyter-incubator/sparkmagic" rel="nofollow">%%sql</a></p></li>
</ul>



<h3 id="27-sharing-notebooks">27. Sharing notebooks</h3>

<p>&#20998;&#20139;notebook&#26368;&#31616;&#21333;&#30340;&#26041;&#24335;&#26159;&#30452;&#25509;&#20351;&#29992;notebook&#25991;&#20214;(.ipynb).&#19981;&#36807;&#23545;&#20110;&#37027;&#20123;&#19981;&#20351;&#29992;Jupyter&#30340;&#20154;&#26469;&#35828;&#65292;&#20320;&#20063;&#21487;&#20197;&#36825;&#20040;&#20570;&#65306;</p>

<ul>
<li><p>&#20351;&#29992;&#33756;&#21333;&#39033;<code>File &gt; Download as &gt; HTML</code>&#23558;notebook&#36716;&#25442;&#25104;HTML&#12290;</p></li>
<li><p>&#20351;&#29992;gist&#25110;github&#20998;&#20139;notebook&#65292;&#23427;&#20204;&#37117;&#20250;&#23545;notebook&#36827;&#34892;&#28210;&#26579;&#23637;&#31034;&#12290;</p>

<ul><li>&#22914;&#26524;&#20320;&#19978;&#20256;notebook&#21040;&#19968;&#20010;github&#20179;&#24211;&#65292;&#20320;&#21487;&#20197;&#20351;&#29992;&#21313;&#20998;&#20415;&#21033;&#30340;<a href="mybinder.org" rel="nofollow">mybinder</a>&#26381;&#21153;&#26469;&#20801;&#35768;&#31532;&#19977;&#32773;&#21322;&#23567;&#26102;&#30340;&#20132;&#20114;&#24615;&#36523;&#20221;&#25509;&#20837;&#20320;&#30340;&#20179;&#24211;&#12290;</li></ul></li>
<li><p>&#23433;&#35013;<a href="https://github.com/jupyterhub/jupyterhub" rel="nofollow">jupyterhub</a>, &#24403;&#20320;&#32452;&#32455;&#19968;&#20010;&#23567;&#22411;&#35838;&#31243;&#25110;&#30740;&#35752;&#20250;&#27809;&#26377;&#31934;&#21147;&#20851;&#24515;&#23398;&#29983;&#30340;&#26426;&#22120;&#29366;&#20917;&#26102;&#65292;&#36825;&#38750;&#24120;&#26041;&#20415;&#12290;</p></li>
<li><p>&#23558;notebook&#20445;&#23384;&#21040;&#27604;&#22914;dropbox&#20013;&#65292;&#28982;&#21518;&#23558;&#36830;&#25509;&#25918;&#21040;<a href="nbviewer.jupyter.org" rel="nofollow">nbviewer</a>. nbviewer&#23558;&#20250;&#28210;&#26579;&#20320;&#23384;&#20648;&#22312;&#20219;&#20309;&#22320;&#26041;&#30340;notebook.</p></li>
<li><p>&#20351;&#29992;<code>File &gt; Download as &gt; PDF</code>&#33756;&#21333;&#23558;notebook&#20445;&#23384;&#20026;&#19968;&#20010;PDF&#12290;&#22914;&#26524;&#20320;&#25171;&#31639;&#36825;&#20040;&#20570;&#65292;&#24378;&#28872;&#25512;&#33616;&#20320;&#38405;&#35835;Julius Schulz&#38750;&#24120;&#26834;&#30340;&#19968;&#31687;&#25991;&#31456;<a href="http://blog.juliusschulz.de/blog/ultimate-ipython-notebook" rel="nofollow">Making publication ready Python notebooks</a>.</p></li>
<li><p><a href="https://www.dataquest.io/blog/how-to-setup-a-data-science-blog/" rel="nofollow">&#20174;&#20320;&#30340;Jupyter notebook&#20351;&#29992;Pelican&#25645;&#24314;&#19968;&#20010;&#21338;&#23458;</a></p></li>
</ul>

<p>&#21407;&#25991;&#22320;&#22336;:<a href="https://www.dataquest.io/blog/jupyter-notebook-tips-tricks-shortcuts/" rel="nofollow">27 Jupyter Notebook tips, tricks and shortcuts</a></p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
