<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/wokaowokaowokao12345/article/details/53031445				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>1##&#21069;&#35328; <br>
&#22240;&#20026;&#30740;&#31350;&#38656;&#35201;&#65292;&#19968;&#30452;&#24819;&#23398;&#20064;&#19968;&#19979;Python&#35821;&#35328;&#12290;&#29616;&#22312;&#26377;&#26102;&#38388;&#65292;&#23601;&#38024;&#23545;&#20110;Windows &#25645;&#24314;Python&#24320;&#21457;&#29615;&#22659;&#65292;&#24182;&#20570;&#35760;&#24405;&#12290;&#20851;&#20110;Python&#30340;&#31181;&#31181;&#20171;&#32461;&#65292;&#32593;&#32476;&#19978;&#24050;&#32463;&#24456;&#22810;&#20102;&#65292;&#36825;&#37324;&#21482;&#25552;&#20379;&#23436;&#25972;&#30340;Windows&#29615;&#22659;&#19979;&#30340;&#23433;&#35013;&#36807;&#31243;&#12290;</p>



<h2 id="python-&#19979;&#36733;">Python &#19979;&#36733;</h2>

<p>Python&#23448;&#32593;&#65306;<a href="https://www.python.org/" rel="nofollow">https://www.python.org/</a> <br>
<img src="https://img-blog.csdn.net/20161104081949544" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
Python&#29256;&#26412;&#36873;&#25321;&#65292;Python&#26159;&#21306;&#20998;32&#20301;&#21644;64&#20301;&#25805;&#20316;&#31995;&#32479;&#30340;&#65292;&#36825;&#37324;&#36873;&#25321;64&#20301;&#65292;&#23433;&#35013;&#25191;&#34892;&#31243;&#24207;&#65306; <br>
Download Windows x86-64 web-based installer  &#65288;&#32593;&#32476;&#23433;&#35013;&#29256;&#65292;&#38656;&#32852;&#32593;&#65289; <br>
Download Windows x86-64 executable installer  &#65288;&#26412;&#22320;&#23433;&#35013;&#65292;&#21487;&#25191;&#34892;&#31243;&#24207;&#65289; <br>
Download Windows x86-64 embeddable zip file  &#65288;&#23884;&#20837;&#24335;&#29256;&#26412;&#65292;&#21487;&#20197;&#38598;&#25104;&#21040;&#20854;&#23427;&#24212;&#29992;&#20013;&#65289;</p>

<p>&#25552;&#31034;&#65306;&#32771;&#34385;&#21040;&#38598;&#25104;&#24320;&#21457;&#29615;&#22659;&#30340;&#25645;&#24314;&#65292;&#22914;&#26524;&#20351;&#29992;VS&#25110;Eclipse IDE&#65292;&#29256;&#26412;&#21448;&#19981;&#26159;&#26368;&#26032;&#29256;&#26102;&#65292;&#23433;&#35013;Python&#26102;&#23601;&#19981;&#35201;&#36873;&#25321;&#26368;&#26032;&#29256;&#65288;&#26368;&#26032;&#29256;Python&#24448;&#24448;&#38656;&#35201;&#36739;&#26032;&#29256;&#26412;&#30340;IDE&#25903;&#25345;&#65289;&#12290;</p>



<h2 id="python-&#23433;&#35013;">Python &#23433;&#35013;</h2>

<p>&#65288;1&#65289; <br>
<img src="https://img-blog.csdn.net/20161104115626965" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#65288;2&#65289; <br>
<img src="https://img-blog.csdn.net/20161104115647004" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title="">  <br>
&#65288;3&#65289;&#25552;&#31034; <br>
&#21018;&#24320;&#22987;&#24819;&#23433;&#35013;3.5&#30340;&#65292;&#20294;&#20986;&#29616;&#26410;&#30693;&#38169;&#35823;&#65292;&#23601;&#25442;&#25104;3.4&#20102;&#65292;Python&#23433;&#35013;&#27604;&#36739;&#31616;&#21333;&#65292;&#25353;&#29031;&#23433;&#35013;&#21521;&#23548;&#23601;&#21487;&#20197;&#23433;&#35013;&#25104;&#21151;&#20102;&#12290;</p>

<h2 id="&#27979;&#35797;">&#27979;&#35797;</h2>

<p><img src="https://img-blog.csdn.net/20161104131125932" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#32463;&#36807;&#20197;&#19978;&#27979;&#35797;&#65292;Python&#29615;&#22659;&#25645;&#24314;&#32467;&#26463;&#20102;&#12290;&#19979;&#38754;&#23601;&#24320;&#22987;&#25645;&#24314;&#38598;&#25104;&#24320;&#21457;&#29615;&#22659;&#65288;&#20063;&#21487;&#20197;&#22312;&#19978;&#38754;&#30340;&#21629;&#20196;&#34892;&#37324;&#24320;&#21457;&#65292;&#24819;&#24819;&#23601;&#35753;&#20154;&#25235;&#29378;&#65289;&#65292;VS &#26159;&#31508;&#32773;&#20351;&#29992;&#22810;&#24180;&#30340;&#24320;&#21457;&#29615;&#22659;&#65292;&#19979;&#19968;&#23567;&#33410;&#23558;&#22312;VS2013 &#24179;&#21488;&#35762;&#35299;&#22914;&#20309;&#25645;&#24314;Python&#24320;&#21457;&#29615;&#22659;&#12290;</p>

<h2 id="ide&#25645;&#24314;">IDE&#25645;&#24314;</h2>

<p>&#65288;1&#65289;&#23433;&#35013;VS2013&#65288;&#30053;&#65289;&#65292;&#20063;&#21487;&#20197;&#23433;&#35013;VS2010&#65292;VS2012&#65292;VS2015&#26681;&#25454;&#33258;&#24049;&#30340;&#29256;&#26412;&#36873;&#25321;&#19981;&#21516;&#25554;&#20214;&#12290; <br>
&#65288;2&#65289;&#25554;&#20214;&#19979;&#36733;&#23433;&#35013; <br>
&#23448;&#32593;&#36830;&#25509;&#65306;<a href="https://pytools.codeplex.com/wikipage?title=PTVS%20Installation" rel="nofollow">https://pytools.codeplex.com/wikipage?title=PTVS%20Installation</a> <br>
<img src="https://img-blog.csdn.net/20161104123826985" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#29256;&#26412;&#36873;&#25321;&#65306; <br>
<img src="https://img-blog.csdn.net/20161104123931592" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p><img src="https://img-blog.csdn.net/20161104124537991" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#65288;3&#65289;&#28155;&#21152;&#29615;&#22659; <br>
<img src="https://img-blog.csdn.net/20161104125102412" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p><img src="https://img-blog.csdn.net/20161104125458114" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#65288;4&#65289;&#26032;&#24314;Python&#39033;&#30446;&#65288;Python Application&#65289; <br>
<img src="https://img-blog.csdn.net/20161104124911255" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#65288;5&#65289;&#27979;&#35797;</p>



<pre class="prettyprint"><code class=" hljs lua"><span class="hljs-built_in">print</span> (<span class="hljs-string">'Hello World'</span>)</code></pre>

<p><img src="https://img-blog.csdn.net/20161104125828681" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>



<h2 id="&#32467;&#26463;">&#32467;&#26463;</h2>

<p>&#33267;&#27492;&#65292;Windows&#19979; &#20197;VS2013&#20026;IDE&#30340;Python&#24320;&#21457;&#29615;&#22659;&#23601;&#25645;&#24314;&#32467;&#26463;&#20102;&#12290;</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
