<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/diandianxiyu/article/details/53068012				</div>
								            <div id="content_views" class="markdown_views prism-dracula">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<h1 id="&#24080;&#21495;&#30456;&#20851;&#27969;&#31243;">&#24080;&#21495;&#30456;&#20851;&#27969;&#31243;</h1>



<h2 id="&#27880;&#20876;&#33539;&#22260;">&#27880;&#20876;&#33539;&#22260;</h2>

<ul>
<li>&#20225;&#19994;</li>
<li>&#25919;&#24220;</li>
<li>&#23186;&#20307;</li>
<li><p>&#20854;&#20182;&#32452;&#32455;</p>

<p>&#25442;&#21477;&#35805;&#35762;&#23601;&#26159;<strong>&#19981;&#35753;&#20010;&#20154;&#24320;&#21457;&#32773;&#27880;&#20876;</strong>&#12290; :)</p>

<h2 id="&#22635;&#20889;&#20225;&#19994;&#20449;&#24687;">&#22635;&#20889;&#20225;&#19994;&#20449;&#24687;</h2>

<p>&#19981;&#33021;&#20351;&#29992;&#21644;&#20043;&#21069;&#30340;&#20844;&#20247;&#21495;&#36134;&#25143;&#30456;&#21516;&#30340;&#37038;&#31665;,&#20063;&#23601;&#26159;&#35828;&#23567;&#31243;&#24207;&#26159;&#21644;&#24494;&#20449;&#20844;&#20247;&#21495;&#19968;&#20010;&#23618;&#32423;&#30340;&#12290;</p>

<p>&#22635;&#20889;&#20844;&#21496;&#26426;&#26500;&#20449;&#24687;,&#23545;&#20844;&#36134;&#25143;&#20449;&#24687;</p>

<p>&#32465;&#23450;&#31649;&#29702;&#21592;&#24494;&#20449;</p>

<h2 id="&#20225;&#19994;&#35748;&#35777;">&#20225;&#19994;&#35748;&#35777;</h2>

<ol><li>&#20844;&#21496;&#23545;&#20844;&#36134;&#25143;&#23545;&#24494;&#20449;&#36827;&#34892;&#25171;&#27454;</li>
<li>&#36134;&#25143;&#33258;&#21160;&#39564;&#35777;&#21518;,&#33258;&#21160;&#35748;&#35777;&#36890;&#36807;,&#24182;&#23558;&#35748;&#35777;&#36164;&#37329;&#36864;&#22238;&#20844;&#21496;&#23545;&#20844;&#36134;&#25143;,&#36153;&#29992;&#22312;1&#20803;&#20869;&#38543;&#26426;</li></ol>

<h1 id="&#23567;&#31243;&#24207;&#21457;&#24067;&#27969;&#31243;">&#23567;&#31243;&#24207;&#21457;&#24067;&#27969;&#31243;</h1>

<p><img src="https://img-blog.csdn.net/20161107204622650" alt="&#27969;&#31243;" title=""></p>

<h2 id="&#24320;&#21457;&#23454;&#36341;">&#24320;&#21457;&#23454;&#36341;</h2>

<p>&#36825;&#27425;&#30340;demo&#39033;&#30446;&#20026;&#20892;&#21382;&#21644;&#20844;&#21382;&#30340;&#36716;&#25442;&#22120;,&#37325;&#22312;&#20307;&#39564;&#24320;&#21457;&#27969;&#31243;&#12290;</p>

<h3 id="appid&#23567;&#31243;&#24207;id">AppID(&#23567;&#31243;&#24207;ID)</h3>

<p>&#20570;&#19978;&#38754;&#30340;&#37027;&#20123;&#27493;&#39588;&#23601;&#26159;&#20026;&#20102;&#24471;&#21040;&#23567;&#31243;&#24207;ID~</p>

<h3 id="&#21019;&#24314;&#39033;&#30446;">&#21019;&#24314;&#39033;&#30446;</h3>

<p>&#25105;&#20204;&#22312;&#23448;&#26041;&#19979;&#36733;&#30340;&#24494;&#20449;wweb&#24320;&#21457;&#32773;&#24037;&#20855;&#20013;,&#24517;&#39035;&#22635;&#20837;&#23567;&#31243;&#24207;ID&#25165;&#33021;&#36827;&#34892;&#19979;&#19968;&#27493;,&#22312;&#36873;&#25321;&#39033;&#30446;&#30446;&#24405;&#20043;&#21069;,&#26368;&#22909;&#20808;&#21019;&#24314;&#19968;&#20010;&#20195;&#30721;&#20179;&#24211;,&#26469;&#31649;&#29702;&#25105;&#20204;&#30340;&#39033;&#30446;&#20195;&#30721;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20161107162045204" alt="&#21019;&#24314;&#39033;&#30446;" title=""></p>

<h3 id="&#35843;&#35797;&#24037;&#20855;">&#35843;&#35797;&#24037;&#20855;</h3>

<p><img src="https://img-blog.csdn.net/20161107162331817" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p></li>
</ul>

<p>&#24038;&#36793;&#31532;&#19968;&#20010;tab&#26159;&#32534;&#36753;,&#20063;&#23601;&#26159;&#35828;,&#36825;&#36824;&#26159;&#20010;&#31616;&#26131;&#30340;&#32534;&#36753;&#22120;&#12290;</p>

<p>:)</p>

<p><img src="https://img-blog.csdn.net/20161107162701519" alt="&#19978;&#20256;" title=""></p>

<p>&#20174;&#19978;&#38754;&#21487;&#20197;&#30475;&#20986;&#30340;&#26159;,&#24320;&#21457;&#32773;&#36890;&#36807;web&#24320;&#21457;&#32773;&#24037;&#20855;&#36827;&#34892;&#23567;&#31243;&#24207;&#20195;&#30721;&#30340;&#19978;&#20256;,&#19978;&#20256;&#21040;&#24494;&#20449;&#31471;&#30340;&#26381;&#21153;&#22120;&#12290;</p>

<p>&#36890;&#36807;&#24494;&#20449;&#31471;&#30340;&#36523;&#20221;&#39564;&#35777;,&#20877;&#21152;&#19978;&#19978;&#20256;&#30340;&#25805;&#20316;&#38656;&#35201;&#31649;&#29702;&#21592;&#24080;&#21495;&#25195;&#30721;&#30830;&#35748;,&#20174;&#32780;&#32473;&#24320;&#21457;&#32773;&#19968;&#31181;&#23553;&#38381;&#30340;&#24863;&#35273;&#12290;</p>

<h3 id="&#19978;&#20256;demo">&#19978;&#20256;demo</h3>

<p>&#39318;&#20808;&#22797;&#21046;&#23567;&#31243;&#24207;&#30340;&#23448;&#26041;demo&#21040;&#39033;&#30446;&#20013;</p>



<h3 id="&#39033;&#30446;&#32467;&#26500;">&#39033;&#30446;&#32467;&#26500;</h3>

<p>&#32467;&#26500;&#36824;&#26159;&#27604;&#36739;&#31616;&#21333;&#30340;,&#24494;&#20449;&#32473;&#30340;demo&#24182;&#19981;&#22810;,&#20063;&#23601;&#26159;&#20197;&#21518;&#22823;&#23478;&#30340;&#20195;&#30721;&#36824;&#26159;&#20250;&#36319;&#38543;&#33258;&#24049;&#30340;&#39118;&#26684;&#26469;&#36208;~</p>

<p><img src="https://img-blog.csdn.net/20161107165149093" alt="&#39033;&#30446;&#32467;&#26500;" title=""></p>



<h3 id="&#19978;&#20256;&#21040;&#24494;&#20449;">&#19978;&#20256;&#21040;&#24494;&#20449;</h3>

<p>&#19978;&#20256;&#25805;&#20316;&#20026;&#37325;&#35201;&#25805;&#20316;,&#38656;&#35201;&#31649;&#29702;&#21592;&#36134;&#25143;&#25195;&#30721;&#30830;&#35748;,&#20108;&#32500;&#30721;&#26377;&#25928;&#26399;&#20026;5&#20998;&#38047;&#12290;</p>

<p>&#20043;&#21518;&#26159;&#29256;&#26412;&#20449;&#24687;,&#23545;&#24212;&#30340;&#26159;&#39033;&#30446;&#30340;&#20195;&#30721;&#20179;&#24211;&#30340;&#29256;&#26412;&#20449;&#24687;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20161107165436671" alt="&#19978;&#20256;" title=""></p>

<p>&#19978;&#20256;&#25805;&#20316;&#23436;&#25104;&#20043;&#21518;,&#20250;&#23637;&#31034;&#26412;&#27425;&#30340;&#20449;&#24687;&#12290;</p>

<p><code>2016/11/7 &#19979;&#21320;4:58:18, &#32534;&#35793;&#21253;&#22823;&#23567; 13 kb</code></p>



<h3 id="&#25552;&#20132;&#23457;&#26680;">&#25552;&#20132;&#23457;&#26680;</h3>

<p>&#22238;&#21040;&#23567;&#31243;&#24207;&#31649;&#29702;&#21518;&#21488;,&#23601;&#33021;&#30475;&#21040;&#36825;&#27425;&#30340;&#24320;&#21457;&#29256;&#26412;&#25552;&#20132;&#20449;&#24687;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20161107170107209" alt="&#23457;&#26680;&#19978;&#32447;" title=""></p>

<p>&#28857;&#20987;&#23457;&#26680;&#25353;&#36827;&#34892;&#23457;&#26680;</p>

<p>&#25552;&#20132;&#23457;&#26680;&#25805;&#20316;,&#38656;&#35201;&#31649;&#29702;&#21592;&#24080;&#21495;&#36827;&#34892;&#24494;&#20449;&#25195;&#30721;&#30830;&#35748;&#12290;</p>

<p>&#25509;&#19979;&#26469;&#38656;&#35201;&#28155;&#21152;&#27979;&#35797;&#24494;&#20449;&#21495;,&#22635;&#20889;&#37197;&#32622;&#21151;&#33021;&#39029;&#38754;</p>

<p>&#27880;&#24847;&#30340;&#26159;</p>

<blockquote>
  <p>&#32465;&#23450;&#27979;&#35797;&#24494;&#20449;&#21495; <br>
    &#35813;&#24494;&#20449;&#21495;&#23558;&#25552;&#20379;&#32473;&#24494;&#20449;&#23457;&#26680;&#20154;&#21592;&#23457;&#26680;&#24494;&#20449;&#23567;&#31243;&#24207;&#26102;&#30331;&#24405;&#20351;&#29992;&#65292;&#24494;&#20449;&#21495;&#38656;&#33021;&#22815;&#20307;&#39564;&#23567;&#31243;&#24207;&#30340;&#20840;&#37096;&#21151;&#33021;&#65292;&#35831;&#21247;&#20351;&#29992;&#24120;&#29992;&#24494;&#20449;&#21495;&#25195;&#25551;</p>
</blockquote>

<p>&#20063;&#23601;&#26159;&#35828;&#20197;&#21518;&#24494;&#20449;&#30340;&#23567;&#21495;&#20250;&#36234;&#26469;&#36234;&#22810;~</p>

<p>:)</p>

<p><img src="https://img-blog.csdn.net/20161107170820820" alt="&#25552;&#20132;&#23457;&#26680;" title=""></p>

<p>&#20043;&#21518;,&#23601;&#20250;&#30475;&#21040;&#23457;&#26680;&#29256;&#26412;&#30340;&#29366;&#24577;</p>

<p><img src="https://img-blog.csdn.net/20161107170959018" alt="&#31561;&#24453;&#23457;&#26680;" title=""></p>

<p>&#36890;&#36807;&#23457;&#26680;&#23601;&#21487;&#20197;&#19978;&#32447;&#21679;~</p>



<h1 id="&#24555;&#36895;&#19978;&#25163;&#20307;&#39564;">&#24555;&#36895;&#19978;&#25163;&#20307;&#39564;</h1>

<p>&#20174;&#27880;&#20876;&#27969;&#31243;&#21040;&#21457;&#24067;&#27969;&#31243;,&#20307;&#29616;&#20102;&#24494;&#20449;&#23567;&#31243;&#24207;&#30340;<strong>&#23553;&#38381;&#24615;</strong>&#12290;</p>

<p>&#20973;&#20511;&#30528;&#24494;&#20449;&#36825;&#20040;&#22823;&#30340;&#20307;&#37327;,&#21069;&#31471;&#30340;&#21516;&#23398;&#21448;&#26377;&#19968;&#20010;&#26041;&#21521;&#20102;~</p>



<h1 id="&#21442;&#32771;&#36164;&#26009;">&#21442;&#32771;&#36164;&#26009;</h1>

<ul>
<li><a href="https://mp.weixin.qq.com/debug/wxadoc/dev/index.html?t=20161107" rel="nofollow">https://mp.weixin.qq.com/debug/wxadoc/dev/index.html?t=20161107</a></li>
</ul>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
