<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/Yan_Chou/article/details/53406095				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<h2 id="&#25645;&#24314;&#29615;&#22659;">&#25645;&#24314;&#29615;&#22659;&#65306;</h2>

<ol>
<li><p>ubuntu 16.04 LTS &#65288;&#26412;&#22320;&#26381;&#21153;&#35745;&#31639;&#26426;&#65289; ubuntu 14.04 LTS(&#38463;&#37324;&#20113;&#26381;&#21153;&#22120;)</p></li>
<li><p>apache tomcat 7</p></li>
<li><p>java 7 </p></li>
<li><p>frp 0.8.1 linux</p></li>
</ol>

<h2 id="&#25645;&#24314;&#36807;&#31243;">&#25645;&#24314;&#36807;&#31243;&#65306;</h2>

<ol>
<li>&#36164;&#28304;&#20934;&#22791; <br>
<ul><li>frp 0.8.1 linux &#20108;&#36827;&#21046;&#21253;</li>
<li>tomcat</li>
<li>&#20219;&#24847;&#29256;&#26412;jvm</li></ul></li>
<li><p>&#24320;&#22987;&#23433;&#35013;</p>

<ol><li><p>&#20998;&#21035;&#22312;&#26381;&#21153;&#31471;ubuntu&#21644;&#23458;&#25143;&#31471;ubuntu&#35299;&#21387;&#23433;&#35013;&#21253;&#65288;jdk&#20197;&#21450;tomcat&#36825;&#37324;&#19981;&#20877;&#36184;&#36848;&#65289;</p>

<p><code>tar -zxvf frp_0.8.1_linux.tar.gz</code></p></li>
<li><p>&#37197;&#32622;&#26412;&#22320;ubuntu 16.04 LTS &#20013;frpc.ini&#20026;&#65306;</p>

<pre class="prettyprint"><code class=" hljs makefile">
<span class="hljs-comment">#frpc.ini</span>

[common]
<span class="hljs-constant">server_addr</span> = #&#38463;&#37324;&#20113;&#26381;&#21153;&#22120;ip&#22320;&#22336;
<span class="hljs-constant">server_port</span> = 7000
<span class="hljs-constant">auth_token</span> = 123

[web]
<span class="hljs-constant">type</span> = http
<span class="hljs-constant">local_port</span> = 8889 #&#26412;&#22320;&#31471;&#21475;&#22320;&#22336;</code></pre></li>
<li><p>&#20462;&#25913;&#38463;&#37324;&#20113;&#26381;&#21153;&#22120;ubuntu 14.04 LTS&#29256;&#26412;frps.ini&#37197;&#32622;&#20026;&#65306;</p>

<pre class="prettyprint"><code class=" hljs makefile">
<span class="hljs-comment"># frps.ini</span>

[common]
<span class="hljs-constant">bind_port</span> = 7000
<span class="hljs-constant">vhost_http_port</span> = 80

[web]<span class="hljs-comment">#&#19981;&#21516;&#26631;&#31614;&#21517;&#23545;&#24212;client&#20013;&#30456;&#21516;&#30340;&#26631;&#31614;</span>
<span class="hljs-constant">type</span> = http
<span class="hljs-constant">custom_domains</span> = #&#38463;&#37324;&#20113;&#26381;&#21153;&#22120;&#22320;&#22336;(&#21363;&#26381;&#21153;&#35775;&#38382;&#22320;&#22336;&#65292;&#36825;&#37324;&#26368;&#22909;&#36825;&#20040;&#37197;&#32622;)
<span class="hljs-constant">auth_token</span> = 123

[web-home]
<span class="hljs-constant">type</span> = http
<span class="hljs-constant">custom_domains</span> = #&#21516;&#19978;&#19968;&#26631;&#31614;
<span class="hljs-constant">auth_token</span> = 123</code></pre></li>
<li><p>&#21551;&#21160;&#26381;&#21153;</p>

<pre class="prettyprint"><code class=" hljs avrasm">./frps -c ./frps<span class="hljs-preprocessor">.ini</span></code></pre></li>
<li><p>&#21551;&#21160;tomcat&#39033;&#30446;&#20197;&#21450;&#23458;&#25143;&#31471; <br>
<code>./frpc -c ./frpc.ini</code></p></li>
<li>&#27492;&#26102;&#35775;&#38382;custom_domains&#26631;&#31614;&#35774;&#32622;&#30340;&#22320;&#22336;:80&#21363;&#21487;&#32463;&#36807;frp&#20195;&#29702;&#36827;&#20837;&#21040;&#26412;&#22320;&#26381;&#21153;&#35843;&#35797;&#12290;</li></ol></li>
</ol>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
