<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/JamieCheung/article/details/54911682				</div>
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p>&#19968;&#12289;&#19979;&#36733;</p>
<p><span></span>&#20889;&#20110;2017&#24180;2&#26376;7&#21495;&#65292;&#19979;&#36733;&#26368;&#26032;&#29256;python 3.6.0 &#160; &#160;64&#20301;&#30340;&#65292;&#19979;&#36733;&#38142;&#25509;&#20026;&#65306;<a href="https://www.python.org/ftp/python/3.6.0/python-3.6.0-amd64.exe" rel="nofollow">https://www.python.org/ftp/python/3.6.0/python-3.6.0-amd64.exe</a>&#65292;&#22914;&#26524;&#24819;&#19979;&#36733;&#20854;&#20182;&#29256;&#26412;&#65292;&#35831;&#21040;<a href="https://www.python.org/ftp/python/3.6.0/python-3.6.0-amd64.exe" rel="nofollow">https://www.python.org</a>&#19979;&#36733;&#12290;</p>
<p>&#20108;&#12289;&#23433;&#35013;</p>
<p>1&#12289;&#21452;&#20987;exe&#25991;&#20214;&#65292;&#21246;&#36873;Add Python 3.6 to PATH&#65306;</p>
<p><span></span></p>
<p><img src="https://img-blog.csdn.net/20170207183708305" alt=""><br></p>
<p>2&#12289;&#31245;&#31561;&#19968;&#20250;&#65292;&#25552;&#31034;&#23433;&#35013;&#23436;&#25104;</p>
<p><img src="https://img-blog.csdn.net/20170208093622218" alt=""><br></p>
<p><img src="" alt=""></p>
<p>&#19977;&#12289;&#26816;&#27979;&#23436;&#25104;&#24773;&#20917;</p>
<p>&#22312;&#21629;&#20196;&#34892;&#20013;&#36755;&#20837;python&#65292;&#25552;&#31034;&#22914;&#19979;&#65292;&#23601;&#34920;&#26126;&#24050;&#32463;&#23433;&#35013;&#23436;&#25104;&#12290;</p>
<p><img src="" alt=""><img src="https://img-blog.csdn.net/20170207184211069" alt=""><br></p>
<div id="article_content" class="article_content" style="font-size:14px;line-height:26px;font-family:Arial;">
<div>
<p style="color:rgb(51,51,51);">
<span><span style="font-size:18px;"></span></span></p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
<span><span style="font-size:18px;"><span style="color:rgb(51,51,51);">&#26356;&#22810;</span><strong><span style="color:rgb(255,0,0);"><a href="http://lib.csdn.net/base/ios" rel="nofollow" class="replace_word" title="iOS&#30693;&#35782;&#24211;" style="color:rgb(223,52,52);text-decoration:none;">iOS</a>&#12289;</span></strong><span style="color:rgb(255,0,0);"><strong><a href="http://lib.csdn.net/base/android" rel="nofollow" class="replace_word" title="Android&#30693;&#35782;&#24211;" style="color:rgb(223,52,52);text-decoration:none;">Android</a>&#12289;<a href="http://lib.csdn.net/base/python" rel="nofollow" class="replace_word" title="Python&#30693;&#35782;&#24211;" style="color:rgb(223,52,52);text-decoration:none;">Python</a></strong></span></span></span><span style="color:rgb(51,51,51);font-size:18px;">&#30340;&#25991;&#31456;&#65292;&#35831;&#28857;&#20987;&#65306;</span></p>
<pre style="font-size:14px;line-height:26px;color:rgb(51,51,51);"><a href="http://blog.csdn.net/jamiecheung" rel="nofollow" style="color:rgb(51,102,153);text-decoration:none;"><span style="font-size:18px;"><strong>http://blog.csdn.net/jamiecheung</strong></span></a></pre>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
<br></p>
<p style="font-family:Arial;font-size:14px;line-height:26px;">
<span style="color:rgb(255,0,0);"><strong></strong></span></p>
<p style="font-family:Arial;font-size:14px;line-height:26px;color:rgb(51,51,51);">
<span><span style="font-size:18px;">&#26356;&#22810;<a href="http://lib.csdn.net/base/javase" rel="nofollow" class="replace_word" title="Java SE&#30693;&#35782;&#24211;" style="color:rgb(223,52,52);text-decoration:none;font-weight:bold;">Java</a>&#12289;<a href="http://lib.csdn.net/base/unity3d" rel="nofollow" class="replace_word" title="Unity3D&#30693;&#35782;&#24211;" style="color:rgb(223,52,52);text-decoration:none;font-weight:bold;">Unity3D</a>&#30340;&#25991;&#31456;&#65292;&#35831;&#28857;&#20987;&#65306;</span></span></p>
<pre style="font-size:14px;line-height:26px;color:rgb(51,51,51);"><a href="http://blog.csdn.net/u010841622" rel="nofollow" style="color:rgb(51,102,153);text-decoration:none;"><span style="font-size:18px;"><strong>http://blog.csdn.net/u010841622</strong></span></a></pre>
<pre style="color:rgb(51,51,51);"><a href="http://blog.csdn.net/u010841622" rel="nofollow" style="color:rgb(51,102,153);text-decoration:none;"><span style="font-size:18px;"></span></a></pre>
</div>
</div>
<div class="bdsharebuttonbox tracking-ad bdshare-button-style0-16" style="font-family:Arial, Console, Verdana, 'Courier New';">
<a href="http://blog.csdn.net/jamiecheung/article/details/54729547#" rel="nofollow" class="bds_more" style="color:rgb(51,51,51);text-decoration:none;line-height:16px;"></a><a href="http://blog.csdn.net/jamiecheung/article/details/54729547#" rel="nofollow" class="bds_qzone" title="&#20998;&#20139;&#21040;QQ&#31354;&#38388;" style="color:rgb(202,0,0);text-decoration:none;line-height:16px;"></a><a href="http://blog.csdn.net/jamiecheung/article/details/54729547#" rel="nofollow" class="bds_tsina" title="&#20998;&#20139;&#21040;&#26032;&#28010;&#24494;&#21338;" style="color:rgb(202,0,0);text-decoration:none;line-height:16px;"></a><a href="http://blog.csdn.net/jamiecheung/article/details/54729547#" rel="nofollow" class="bds_tqq" title="&#20998;&#20139;&#21040;&#33150;&#35759;&#24494;&#21338;" style="color:rgb(202,0,0);text-decoration:none;line-height:16px;"></a><a href="http://blog.csdn.net/jamiecheung/article/details/54729547#" rel="nofollow" class="bds_renren" title="&#20998;&#20139;&#21040;&#20154;&#20154;&#32593;" style="color:rgb(202,0,0);text-decoration:none;line-height:16px;"><br></a></div>
<p></p>
            </div>
                </div>
	</article>
