<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p><span style="font-size:12px;">Python&#20195;&#30721;&#30456;&#23545;&#31616;&#21333;&#12289;&#26131;&#20110;&#29702;&#35299;&#65292;&#24182;&#19988;&#20855;&#26377;&#20132;&#20114;&#24615;&#12290;</span></p>
<p><strong><span style="font-size:14px;">1.&#22522;&#26412;&#35821;&#27861;</span></strong></p>
<p><strong><span style="font-size:12px;">1&#65289;&#20195;&#30721;&#32553;&#36827;</span></strong></p>
<p><span style="font-size:12px;">a. &#35768;&#22810;&#22312;C&#12289;C++&#21644;Java&#35821;&#35328;&#20013;&#38656;&#35201;&#29992;{}&#26469;&#20998;&#21106;&#30340;&#27169;&#22359;&#65292;&#22312;python&#20013;&#20005;&#26684;&#20351;&#29992;&#32553;&#36827;&#26426;&#21046;&#36827;&#34892;&#21306;&#20998;&#65307;</span></p>
<p><span style="font-size:12px;">b. &#20195;&#30721;&#30340;&#23618;&#27425;&#20851;&#31995;&#26159;&#36890;&#36807;&#21516;&#26679;&#28145;&#24230;&#30340;&#31354;&#26684;&#25110;&#21046;&#34920;&#31526;&#32553;&#36827;&#20307;&#29616;&#30340;&#65307;</span></p>
<p><span style="font-size:12px;">c. &#38543;&#30528;&#32553;&#36827;&#28145;&#24230;&#30340;&#22686;&#21152;&#65292;&#20195;&#30721;&#22359;&#30340;&#23618;&#27425;&#20063;&#22312;&#21152;&#28145;&#65292;&#27809;&#26377;&#32553;&#36827;&#30340;&#20195;&#30721;&#22359;&#26159;&#26368;&#39640;&#23618;&#27425;&#30340;&#65292;&#34987;&#31216;&#20316;&#33050;&#26412;&#30340;&#8220;&#20027;&#20307;&#8221;&#37096;&#20998;&#65307;</span></p>
<p><span style="font-size:12px;">d. &#24120;&#35265;&#30340;&#38656;&#35201;&#32553;&#36827;&#30340;&#22330;&#26223;&#21253;&#25324;&#20998;&#25903;&#12289;&#24490;&#29615;&#12289;&#20989;&#25968;&#23450;&#20041;&#31561;&#12290;</span></p>
<p><strong><span style="font-size:12px;">2&#65289;&#27880;&#37322;</span></strong></p>
<p><span style="font-size:12px;">python&#20013;&#29992;&#31526;&#21495;&#160;<span style="color:#ff0000;">#&#160;</span>&#23545;&#20195;&#30721;&#36827;&#34892;&#27880;&#37322;&#12290;</span></p>
<p><span style="font-size:12px;"><br></span></p>
<p><strong><span style="font-size:14px;">2.&#25968;&#25454;&#31867;&#22411;</span></strong></p>
<p><span style="font-size:12px;">python&#20869;&#32622;&#24120;&#29992;&#20845;&#31181;&#25968;&#25454;&#31867;&#22411;&#65306;</span></p>
<p><span style="font-size:12px;"><strong>1&#65289;&#25968;&#23383;</strong>&#65306;&#25972;&#22411;&#25968;&#12289;&#38271;&#25972;&#22411;&#25968;&#12289;&#28014;&#28857;&#25968;&#20197;&#21450;&#22797;&#26434;&#22411;&#25968;</span></p>
<p><span style="font-size:12px;"><strong>2&#65289;&#24067;&#23572;&#20540;</strong>&#65306;True &#21644; False</span></p>
<p><span style="font-size:12px;">&#160; &#27880;&#65306;&#22823;&#23567;&#20889;&#25935;&#24863;&#65281;&#65281;&#65281;</span></p>
<p><span style="font-size:12px;"><strong>3&#65289;&#23383;&#31526;&#20018;</strong>&#65306;&#24341;&#21495;&#20043;&#38388;&#30340;&#23383;&#31526;&#38598;&#21512;&#12290;</span></p>
<p><span style="font-size:12px;">a. &#34920;&#31034;&#65306;&#21333;&#24341;&#21495;&#12289;&#21452;&#24341;&#21495;&#25110;&#32773;&#19977;&#24341;&#21495;&#65288;&#19977;&#20010;&#36830;&#32493;&#30340;&#21333;&#24341;&#21495;&#25110;&#21452;&#24341;&#21495;&#65289;&#65307;</span></p>
<p><span style="font-size:12px;">b. &#19977;&#24341;&#21495;&#65306;&#21487;&#25351;&#31034;&#22810;&#34892;&#30340;&#23383;&#31526;&#20018;</span></p>
<p><span style="font-size:12px;"><strong>4&#65289;&#20803;&#32452;</strong>&#65306;&#19968;&#31995;&#21015;python&#25968;&#25454;&#31867;&#22411;&#25353;&#29031;&#39034;&#24207;&#32452;&#25104;&#30340;&#24207;&#21015;</span></p>
<p><span style="font-size:12px;">a. &#29992;<span style="color:#ff0000;">&#23567;&#25324;&#21495;&#65288;&#65289;</span>&#34920;&#31034;&#65292;&#22914;&#65306;t =&#65288;1 , &#8216;a&#8217; , 10&#65289;&#65307;</span></p>
<p><span style="font-size:12px;">b. &#20803;&#32452;&#20013;&#30340;&#25968;&#25454;&#31867;&#22411;&#19981;&#24517;&#32479;&#19968;&#65307;</span></p>
<p><span style="font-size:12px;">c. &#35775;&#38382;&#65306;&#21487;&#20197;&#36890;&#36807;&#32034;&#24341;&#30452;&#25509;&#20174;&#20803;&#32452;&#20013;&#25214;&#21040;&#38656;&#35201;&#30340;&#25968;&#25454;&#65292;&#22914;&#65306;t[0]&#20540;&#20026;1&#12290;</span></p>
<p><span style="font-size:12px;"><strong>5&#65289;&#21015;&#34920;</strong>&#65306;&#21151;&#33021;&#19978;&#19982;&#20803;&#32452;&#31867;&#20284;</span></p>
<p><span style="font-size:12px;">a. &#29992;<span style="color:#ff0000;">&#20013;&#25324;&#21495; [ ]</span> &#32452;&#32455;&#25968;&#25454;&#65292;&#22914;&#65306;l = [ 1 , 'a' , 10 ]&#12290;</span></p>
<p><span style="font-size:12px;">b. &#35775;&#38382;&#65306;l[0] &#30340;&#20540;&#20026;1</span></p>
<p><span style="font-size:12px;">&#27880;&#65306;python&#20801;&#35768;&#20351;&#29992;&#32773;&#22312;&#35775;&#38382;&#21015;&#34920;&#30340;&#21516;&#26102;&#20462;&#25913;&#21015;&#34920;&#37324;&#30340;&#25968;&#25454;&#65292;&#32780;&#20803;&#32452;&#21017;&#19981;&#28982;&#12290;</span></p>
<p><span style="font-size:12px;"><strong>6&#65289;&#23383;&#20856;</strong>&#65306;&#21253;&#21547;&#22810;&#32452;&#38190;&#65288;key&#65289;&#65306;&#20540;&#65288;value&#65289;&#23545;&#12290;</span></p>
<p><span style="font-size:12px;">a. &#29992;<span style="color:#ff0000;">&#22823;&#25324;&#21495;{ }</span>&#26469;&#23481;&#32435;&#36825;&#20123;&#38190;&#20540;&#23545;&#65292;&#22914;&#65306;d = { 1&#65306;&#8216;1&#8217;&#65292;&#8216;a&#8217;&#65306;0.1&#65292;10&#65306;40 }&#12290;</span></p>
<p><span style="font-size:12px;">b. &#35775;&#38382;&#65306;&#26597;&#25214;&#38190;&#23545;&#24212;&#30340;&#20540;&#65292;&#22914;&#65306;d[ 'a' ] &#30340;&#20540;&#20026;0.1&#12290;</span></p>
<p><span style="font-size:12px;">&#27880;&#65306;&#38190;&#26159;&#21807;&#19968;&#30340;&#65292;&#20294;&#26159;&#27809;&#26377;&#25968;&#25454;&#31867;&#22411;&#30340;&#35201;&#27714;&#12290;</span></p>
<p><span style="font-size:12px;"><br></span></p>
<p><strong><span style="font-size:14px;">3.&#25968;&#25454;&#36816;&#31639;</span></strong></p>
<p><span style="font-size:12px;"><strong>1&#65289;&#31639;&#26415;&#36816;&#31639;</strong>&#65306;&#21152;&#27861;&#65288;+&#65289;&#12289;&#20943;&#27861;&#65288;-&#65289;&#12289;&#20056;&#27861;&#65288;*&#65289;&#12289;&#38500;&#27861;&#65288;/&#65289;&#12289;&#21462;&#27169;&#65288;%&#65289;&#12289;&#24130;&#25351;&#25968;&#65288;**&#65289;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313135434737" alt=""><br></span></p>
<p><span style="font-size:12px;"><strong>2&#65289;&#27604;&#36739;&#36816;&#31639;</strong>&#65306;&#21453;&#39304;&#24067;&#23572;&#20540;&#31867;&#22411;&#30340;&#32467;&#26524;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313135615723" alt=""><br></span></p>
<p><span style="font-size:12px;"><strong>3&#65289;&#36171;&#20540;&#36816;&#31639;</strong>&#65306;python&#22312;&#22768;&#26126;&#21464;&#37327;&#26102;&#19981;&#38656;&#35201;&#39044;&#21578;&#30693;&#31867;&#22411;&#12290;</span></p>
<p><span style="font-size:12px;"><strong>4&#65289;&#36923;&#36753;&#36816;&#31639;</strong>&#65306;&#19982;&#65288;and&#65289;&#12289;&#25110;&#65288;or&#65289;&#12289;&#38750;&#65288;not&#65289;&#12290;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313135846129" alt=""><br></span></p>
<p><span style="font-size:12px;"><strong>5&#65289;&#25104;&#21592;&#36816;&#31639;</strong>&#65306;&#38024;&#23545;python&#20013;&#36739;&#20026;&#22797;&#26434;&#30340;&#25968;&#25454;&#32467;&#26500;&#32780;&#35774;&#31435;&#30340;&#19968;&#31181;&#36816;&#31639;&#65292;&#20027;&#35201;&#38754;&#21521;&#20803;&#32452;&#12289;&#21015;&#34920;&#21644;&#23383;&#20856;&#12290;</span></p>
<p><span style="font-size:12px;">&#36890;&#36807;<span style="color:#ff0000;">&#36816;&#31639;&#31526; in</span> &#35810;&#38382;&#26159;&#21542;&#26377;&#26576;&#20010;&#20803;&#32032;&#22312;&#21015;&#34920;&#25110;&#20803;&#32452;&#37324;&#20986;&#29616;&#65292;&#25110;&#32773;&#26816;&#35270;&#26576;&#20010;&#38190;&#20540;&#26159;&#21542;&#22312;&#23383;&#20856;&#37324;&#23384;&#22312;&#12290;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313140251686" alt=""><br></span></p>
<p><span style="font-size:12px;"><br></span></p>
<p><strong><span style="font-size:14px;">4.&#27969;&#31243;&#25511;&#21046;</span></strong></p>
<p><strong><span style="font-size:12px;">1&#65289;&#20998;&#25903;&#35821;&#21477;&#65288;if&#65289;</span></strong></p>
<p><span style="font-size:12px;">&#24120;&#35265;&#35821;&#27861;&#32467;&#26500;&#65306;</span></p>
<p><span style="font-size:12px;">a.<span style="color:#ff0000;"> if&#8212;else</span> &#65306;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313140950913" alt=""><br></span></p>
<p><span style="font-size:12px;">b. <span style="color:#ff0000;">if&#8212;elif&#8212;else</span>&#65306;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313141005353" alt=""><br></span></p>
<p><strong><span style="font-size:12px;">2&#65289;&#24490;&#29615;&#25511;&#21046;&#65288;for&#65289;</span></strong></p>
<p><span style="font-size:12px;">a. &#24120;&#35265;&#36941;&#21382;&#35821;&#27861;</span></p>
<p><span style="font-size:12px;"><span style="color:#ff0000;">for</span> &#20020;&#26102;&#21464;&#37327;<span style="color:#ff0000;"> in</span>&#21487;&#36941;&#21382;&#25968;&#25454;&#32467;&#26500;&#65288;&#21015;&#34920;&#12289;&#20803;&#32452;&#12289;&#23383;&#20856;&#65289;&#65306;</span></p>
<p><span style="font-size:12px;">&#12304;&#21046;&#34920;&#31526;&#12305;&#35821;&#21477;1</span></p>
<p><span style="font-size:12px;">&#12304;&#21046;&#34920;&#31526;&#12305;......</span></p>
<p><span style="font-size:12px;">b. &#20363;&#23376;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313141453511" alt=""><br></span></p>
<p><span style="font-size:12px;"><br></span></p>
<p><strong><span style="font-size:14px;">5.&#20989;&#25968;&#65288;&#27169;&#22359;&#65289;&#35774;&#35745;</span></strong></p>
<p><span style="font-size:12px;">python&#37319;&#29992;<span style="color:#ff0000;">def</span>&#36825;&#20010;<span style="color:#ff0000;">&#20851;&#38190;&#35789;</span>&#26469;&#23450;&#20041;&#19968;&#20010;&#20989;&#25968;/&#27169;&#22359;&#65292;&#22914;&#65306;</span></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313141755174" alt=""><br></span></p>
<p><strong><span style="font-size:14px;">6.&#32534;&#31243;&#24211;&#65288;&#21253;&#65289;&#30340;&#23548;&#20837;</span></strong></p>
<p><span style="font-size:12px;"><strong></strong></span></p>
<pre><code class="language-python"><span style="font-size:12px;">#&#30452;&#25509;&#20351;&#29992;import&#23548;&#20837;math&#24037;&#20855;&#21253;
from math import exp
#&#35843;&#29992;math&#21253;&#19979;&#30340;&#20989;&#25968;exp
exp(2)</span></code></pre><span style="font-size:12px;"><br></span><pre><code class="language-python"><span style="font-size:12px;">#&#20174;math&#21253;&#25351;&#23450;&#23548;&#20837;exp&#20989;&#25968;&#65292;&#24182;&#19988;&#23545;exp&#37325;&#26032;&#21629;&#21517;&#20026;ep
from math import exp as ep
ep(2)</span></code></pre><span style="font-size:12px;"><br><img src="https://img-blog.csdn.net/20170313142118359" alt=""></span>
<p></p>
<p><span style="font-size:12px;"><br></span></p>
<p><strong><span style="font-size:14px;">7.&#22522;&#30784;&#32508;&#21512;&#23454;&#36341;</span></strong></p>
<p><span style="font-size:12px;">&#8220;&#33391;/&#24694;&#24615;&#20083;&#33146;&#32959;&#30244;&#39044;&#27979;&#8221;&#8212;&#8212;&#37096;&#20998;python&#20195;&#30721;&#26679;&#20363;</span></p>
<p><strong><span style="font-size:12px;">1&#65289;&#27979;&#35797;&#38598;&#25968;&#25454;&#20998;&#24067;</span></strong></p>
<p></p>
<pre><code class="language-python"><span style="font-size:12px;">import pandas as pd
import matplotlib.pyplot as plt #&#23548;&#20837;&#32472;&#22270;&#24037;&#20855;&#21253;

#&#35843;&#29992;pandas&#24037;&#20855;&#21253;&#30340;read_csv&#20989;&#25968;/&#27169;&#22359;&#65292;&#20256;&#20837;&#35757;&#32451;&#25991;&#20214;&#22320;&#22336;&#21442;&#25968;&#65292;&#33719;&#24471;&#36820;&#22238;&#30340;&#25968;&#25454;&#24182;&#23384;&#33267;&#21464;&#37327;df_train
df_train=pd.read_csv('E:/xgboost-project/other_example/breast_cancer/breast-cancer-train.csv')
#&#35843;&#29992;pandas&#24037;&#20855;&#21253;&#30340;read_csv&#20989;&#25968;/&#27169;&#22359;&#65292;&#20256;&#20837;&#27979;&#35797;&#25991;&#20214;&#22320;&#22336;&#21442;&#25968;&#65292;&#33719;&#24471;&#36820;&#22238;&#30340;&#25968;&#25454;&#24182;&#23384;&#33267;&#21464;&#37327;df_test
df_test=pd.read_csv('E:/xgboost-project/other_example/breast_cancer/breast-cancer-test.csv')

#&#36873;&#21462;'Clump Thickness','Cell Size'&#20316;&#20026;&#29305;&#24449;&#65292;&#26500;&#24314;&#27979;&#35797;&#38598;&#20013;&#30340;&#27491;&#36127;&#20998;&#31867;&#26679;&#26412;
df_test_negative=df_test.loc[df_test['Type']==0][['Clump Thickness','Cell Size']]
df_test_positive=df_test.loc[df_test['Type']==1][['Clump Thickness','Cell Size']]

#&#32472;&#21046;&#26679;&#26412;&#25955;&#28857;&#22270;
plt.scatter(df_test_negative['Clump Thickness'],df_test_negative['Cell Size'],marker='o',s=200,c='red')
plt.scatter(df_test_positive['Clump Thickness'],df_test_positive['Cell Size'],marker='x',s=200,c='black')

#&#32472;&#21046;x&#65292;y&#36724;&#30340;&#35828;&#26126;
plt.xlabel('Clump Thickness')
plt.ylabel('Cell Size')
#&#26174;&#31034;
plt.show()</span></code></pre><span style="font-size:12px;">&#32467;&#26524;&#65306;</span>
<p></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313143231176" alt=""><br><strong>2&#65289;&#38543;&#26426;&#21442;&#25968;&#19979;&#30340;&#20108;&#31867;&#20998;&#31867;&#22120;</strong></span></p>
<p></p>
<pre><code class="language-python"><span style="font-size:12px;">import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

df_train=pd.read_csv('E:/xgboost-project/other_example/breast_cancer/breast-cancer-train.csv')
df_test=pd.read_csv('E:/xgboost-project/other_example/breast_cancer/breast-cancer-test.csv')
df_test_negative=df_test.loc[df_test['Type']==0][['Clump Thickness','Cell Size']]
df_test_positive=df_test.loc[df_test['Type']==1][['Clump Thickness','Cell Size']]

#&#21033;&#29992;numpy&#20013;&#30340;random&#20989;&#25968;&#38543;&#26426;&#37319;&#26679;&#30452;&#32447;&#30340;&#25130;&#36317;&#21644;&#31995;&#25968;
intercept=np.random.random([1])
coef=np.random.random([2])
lx=np.arange(0,12)
ly=(-intercept-lx*coef[0])/coef[1]
#&#32472;&#21046;&#19968;&#26465;&#38543;&#26426;&#30452;&#32447;
plt.plot(lx,ly,c='yellow')

plt.scatter(df_test_negative['Clump Thickness'],df_test_negative['Cell Size'],marker='o',s=200,c='red')
plt.scatter(df_test_positive['Clump Thickness'],df_test_positive['Cell Size'],marker='x',s=200,c='black')

plt.xlabel('Clump Thickness')
plt.ylabel('Cell Size')
plt.show()</span></code></pre><span style="font-size:12px;">&#32467;&#26524;&#65306;</span>
<p></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313143822429" alt=""><br><strong>3&#65289;&#20351;&#29992;&#21069;10&#26465;&#35757;&#32451;&#26679;&#26412;&#23398;&#20064;&#30452;&#32447;&#30340;&#31995;&#25968;&#21644;&#25130;&#36317;</strong></span></p>
<p></p>
<pre><code class="language-python"><span style="font-size:12px;">import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
from sklearn.linear_model import LogisticRegression #&#23548;&#20837;sklearn&#30340;&#36923;&#36753;&#26031;&#33922;&#22238;&#24402;&#20998;&#31867;&#22120;


df_train=pd.read_csv('E:/xgboost-project/other_example/breast_cancer/breast-cancer-train.csv')
df_test=pd.read_csv('E:/xgboost-project/other_example/breast_cancer/breast-cancer-test.csv')
df_test_negative=df_test.loc[df_test['Type']==0][['Clump Thickness','Cell Size']]
df_test_positive=df_test.loc[df_test['Type']==1][['Clump Thickness','Cell Size']]

intercept=np.random.random([1])
coef=np.random.random([2])
lx=np.arange(0,12)
ly=(-intercept-lx*coef[0])/coef[1]
#plt.plot(lx,ly,c='yellow')

#plt.scatter(df_test_negative['Clump Thickness'],df_test_negative['Cell Size'],marker='o',s=200,c='red')
#plt.scatter(df_test_positive['Clump Thickness'],df_test_positive['Cell Size'],marker='x',s=200,c='black')

#plt.xlabel('Clump Thickness')
#plt.ylabel('Cell Size')
#plt.show()

lr=LogisticRegression()

#&#20351;&#29992;&#21069;10&#26465;&#35757;&#32451;&#26679;&#26412;&#23398;&#20064;&#30452;&#32447;&#30340;&#31995;&#25968;&#21644;&#25130;&#36317;
lr.fit(df_train[['Clump Thickness','Cell Size']][:10],df_train['Type'][:10])
print 'testing accruary(10 training samples):',lr.score(df_test[['Clump Thickness','Cell Size']],df_test['Type'])
</span></code></pre><span style="font-size:12px;">&#32467;&#26524;&#65306;</span>
<p></p>
<p><span style="font-size:12px;"><img src="https://img-blog.csdn.net/20170313144448820" alt=""><br><br></span></p>
<p><span style="font-size:12px;"><br></span></p>
<p><br></p>
            </div>
                </div>
	</article>
