<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#27426;&#36814;&#36716;&#36733;&#65292;&#20294;&#35831;&#27880;&#26126;&#20986;&#22788;&#12290;					https://blog.csdn.net/liumiaocn/article/details/62041471				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<blockquote>
  <p>Python&#26159;&#19968;&#31181;&#38754;&#21521;&#23545;&#35937;&#30340;&#35299;&#37322;&#22411;&#35821;&#35328;&#65292; &#28304;&#30721;&#21644;&#35299;&#37322;&#22120;CPython&#36981;&#24490; GPL&#21327;&#35758;&#12290;</p>
</blockquote>

<table>
<thead>
<tr>
  <th>&#24180;&#20221;</th>
  <th>&#20107;&#20214;</th>
</tr>
</thead>
<tbody><tr>
  <td>1989</td>
  <td>&#33655;&#20848;&#20154;Guido van Rossum&#21457;&#26126;</td>
</tr>
<tr>
  <td>1991</td>
  <td>&#31532;&#19968;&#20010;&#20844;&#24320;&#21457;&#34892;&#29256;&#21457;&#34892;</td>
</tr>
<tr>
  <td>&#24403;&#21069;&#29256;&#26412;</td>
  <td>3.5.2</td>
</tr>
</tbody></table>




<h1 id="tiobe&#24180;&#24230;&#35821;&#35328;">TIOBE&#24180;&#24230;&#35821;&#35328;</h1>

<blockquote>
  <p>&#34987;TIOBE&#32534;&#31243;&#35821;&#35328;&#25490;&#34892;&#27036;2007/2010&#20004;&#24230;&#35780;&#20026;&#24180;&#24230;&#35821;&#35328;&#65292;&#20854;&#20182;&#21516;&#26679;&#25317;&#26377;&#36825;&#19968;&#27530;&#33635;&#30340;&#22312;&#24635;&#22810;&#30340;&#35821;&#35328;&#20013;&#30446;&#21069;&#21482;&#26377;Object-C&#21644;Java&#21152;&#19978;&#20170;&#24180;&#26032;&#26187;&#30340;Go</p>
</blockquote>

<table>
<thead>
<tr>
  <th>&#24180;&#20221;</th>
  <th>&#24180;&#24230;&#35821;&#35328;</th>
</tr>
</thead>
<tbody><tr>
  <td>2003&#24180;</td>
  <td>C++</td>
</tr>
<tr>
  <td>2004&#24180;</td>
  <td>PHP</td>
</tr>
<tr>
  <td>2005&#24180;</td>
  <td>Java</td>
</tr>
<tr>
  <td>2006&#24180;</td>
  <td>Ruby</td>
</tr>
<tr>
  <td>2007&#24180;</td>
  <td>Python</td>
</tr>
<tr>
  <td>2008&#24180;</td>
  <td>C</td>
</tr>
<tr>
  <td>2009&#24180;</td>
  <td>Go</td>
</tr>
<tr>
  <td>2010&#24180;</td>
  <td>Python</td>
</tr>
<tr>
  <td>2011&#24180;</td>
  <td>Objective-C</td>
</tr>
<tr>
  <td>2012&#24180;</td>
  <td>Objective-C</td>
</tr>
<tr>
  <td>2013&#24180;</td>
  <td>Transact-SQL</td>
</tr>
<tr>
  <td>2014&#24180;</td>
  <td>JavaScript</td>
</tr>
<tr>
  <td>2015&#24180;</td>
  <td>Java</td>
</tr>
<tr>
  <td>2016&#24180;</td>
  <td>Go</td>
</tr>
</tbody></table>




<h1 id="&#23433;&#35013;">&#23433;&#35013;</h1>

<p>Linux&#25110;&#32773;Unix&#19968;&#33324;&#37117;&#20250;&#32570;&#30465;&#23433;&#35013;&#65292;&#19979;&#36733;&#25110;&#32773;&#25991;&#26723;&#26597;&#35810;&#21487;&#20197;&#21442;&#29031;&#22914;&#19979;&#38142;&#25509;</p>

<table>
<thead>
<tr>
  <th>&#39033;&#30446;</th>
  <th>&#38142;&#25509;</th>
</tr>
</thead>
<tbody><tr>
  <td>&#23448;&#32593;</td>
  <td><a href="https://www.python.org" rel="nofollow">https://www.python.org</a></td>
</tr>
<tr>
  <td>&#19979;&#36733;</td>
  <td><a href="https://www.python.org/downloads/" rel="nofollow">https://www.python.org/downloads/</a></td>
</tr>
<tr>
  <td>&#25991;&#26723;</td>
  <td><a href="https://www.python.org/doc/" rel="nofollow">https://www.python.org/doc/</a></td>
</tr>
</tbody></table>




<h2 id="&#29615;&#22659;&#21464;&#37327;path">&#29615;&#22659;&#21464;&#37327;&#65306;PATH</h2>

<blockquote>
  <p>&#23558;Python&#30340;&#23433;&#35013;&#30446;&#24405;&#21152;&#20837;&#21040;PATH&#20013;&#21363;&#21487;</p>
</blockquote>



<h2 id="python&#33258;&#36523;&#29615;&#22659;&#21464;&#37327;">Python&#33258;&#36523;&#29615;&#22659;&#21464;&#37327;</h2>

<table>
<thead>
<tr>
  <th>&#29615;&#22659;&#21464;&#37327;&#21517;</th>
  <th>&#35814;&#32454;</th>
</tr>
</thead>
<tbody><tr>
  <td>PYTHONPATH</td>
  <td>PYTHONPATH&#26159;Python&#25628;&#32034;&#36335;&#24452;&#65292;&#40664;&#35748;&#25105;&#20204;import&#30340;&#27169;&#22359;&#37117;&#20250;&#20174;PYTHONPATH&#37324;&#38754;&#23547;&#25214;&#12290;</td>
</tr>
<tr>
  <td>PYTHONSTARTUP</td>
  <td>Python&#21551;&#21160;&#21518;&#65292;&#20808;&#23547;&#25214;PYTHONSTARTUP&#29615;&#22659;&#21464;&#37327;&#65292;&#28982;&#21518;&#25191;&#34892;&#27492;&#25991;&#20214;&#20013;&#21464;&#37327;&#25351;&#23450;&#30340;&#25191;&#34892;&#20195;&#30721;&#12290;</td>
</tr>
<tr>
  <td>PYTHONCASEOK</td>
  <td>&#21152;&#20837;PYTHONCASEOK&#30340;&#29615;&#22659;&#21464;&#37327;, &#23601;&#20250;&#20351;python&#23548;&#20837;&#27169;&#22359;&#30340;&#26102;&#20505;&#19981;&#21306;&#20998;&#22823;&#23567;&#20889;.</td>
</tr>
<tr>
  <td>PYTHONHOME</td>
  <td>&#21478;&#19968;&#31181;&#27169;&#22359;&#25628;&#32034;&#36335;&#24452;&#12290;&#23427;&#36890;&#24120;&#20869;&#23884;&#20110;&#30340;PYTHONSTARTUP&#25110;PYTHONPATH&#30446;&#24405;&#20013;&#65292;&#20351;&#24471;&#20004;&#20010;&#27169;&#22359;&#24211;&#26356;&#23481;&#26131;&#20999;&#25442;&#12290;</td>
</tr>
</tbody></table>




<h1 id="&#29256;&#26412;&#30830;&#35748;">&#29256;&#26412;&#30830;&#35748;</h1>

<p>python&#29256;&#26412;&#30830;&#35748;&#21487;&#20197;&#36890;&#36807;&#22914;&#19979;&#21629;&#20196;&#36827;&#34892;</p>



<pre class="prettyprint"><code class=" hljs ruby">[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># python --version</span>
<span class="hljs-constant">Python</span> <span class="hljs-number">2.7</span>.<span class="hljs-number">5</span>
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>



<h1 id="&#31532;&#19968;&#20010;helloworldpy">&#31532;&#19968;&#20010;Helloworld.py</h1>

<blockquote>
  <p>&#20869;&#23481;&#65306;Helloworld.py</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs d"><span class="hljs-shebang">#!/usr/bin/python</span>
print <span class="hljs-string">"Hello World"</span></code></pre>

<blockquote>
  <p>&#25191;&#34892;&#65306;python Helloworld.py <br>
  &#32467;&#26524;</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs ruby">[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># python Helloworld.py</span>
<span class="hljs-constant">Hello</span> <span class="hljs-constant">World</span>
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>

<blockquote>
  <p>#!/usr/bin/python&#20026;&#31532;&#19968;&#34892;&#20449;&#24687;&#65292;&#21644;shell&#33050;&#26412;&#19968;&#26679;&#65292;&#26159;&#29992;&#26469;&#35828;&#26126;&#35299;&#37322;&#25152;&#29992;&#30340;shell&#25110;&#32773;python&#25152;&#22312;&#36335;&#24452;&#12290;</p>
</blockquote>



<h1 id="&#25351;&#23548;&#24605;&#24819;">&#25351;&#23548;&#24605;&#24819;</h1>

<blockquote>
  <p>The Zen of Python&#65306;There should be one&#8211; and preferably only one &#8211;obvious way to do it.&#21516;&#26102;&#26377;&#24847;&#30340;&#35774;&#35745;&#38480;&#21046;&#24615;&#24456;&#24378;&#30340;&#35821;&#27861;&#65292;&#27604;&#22914;&#32553;&#36827;&#19981;&#27491;&#30830;&#21487;&#33021;&#36890;&#36807;&#32534;&#35793;&#30340;&#35821;&#35328;&#22823;&#27010;&#38500;&#27492;&#20043;&#22806;&#23569;&#26377;&#20998;&#24215;&#12290;&#22914;&#19979;&#20195;&#30721;&#23558;&#19981;&#33021;&#36890;&#36807;&#32534;&#35793;&#65292;&#20250;&#25552;&#31034;&#20320;&#8221;expected an indented block&#8221;,&#21482;&#26377;&#22312;&#31532;3&#34892;&#30340;print&#21069;&#21152;&#19968;&#20010;&#31354;&#26684;&#25165;&#33021;&#36890;&#36807;&#12290;&#20854;&#23454;&#20180;&#32454;&#30830;&#35748;&#19968;&#19979;&#21487;&#33021;&#20063;&#20250;&#29702;&#35299;&#65292;&#22240;&#20026;&#22312;python&#20013;&#19981;&#20687;&#24456;&#22810;&#35821;&#35328;&#29992;{}&#26469;&#21306;&#20998;&#20195;&#30721;&#22359;&#12290;</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs d"><span class="hljs-shebang">#!/usr/bin/python</span>
<span class="hljs-keyword">if</span> True:
print <span class="hljs-string">"Hello World"</span></code></pre>

<p>&#30830;&#35748;</p>



<pre class="prettyprint"><code class=" hljs perl">[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># cat IndentSample.py</span>
<span class="hljs-comment">#!/usr/bin/python</span>
<span class="hljs-keyword">if</span> True:
<span class="hljs-keyword">print</span> <span class="hljs-string">"Hello World"</span>
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># python IndentSample.py</span>
  File <span class="hljs-string">"IndentSample.py"</span>, line <span class="hljs-number">3</span>
    <span class="hljs-keyword">print</span> <span class="hljs-string">"Hello World"</span>
        ^
IndentationError: expected an indented block
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>

<p>&#21152;&#19978;&#19968;&#20010;&#31354;&#26684;&#30340;&#32553;&#36827;, &#21017;&#33021;&#27491;&#24120;&#25191;&#34892;&#12290;</p>



<pre class="prettyprint"><code class=" hljs perl">[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># cp IndentSample.py IndentSampleFixed.py</span>
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># vi IndentSampleFixed.py</span>
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># diff IndentSample.py IndentSampleFixed.py</span>
<span class="hljs-number">3</span>c3
&lt; <span class="hljs-keyword">print</span> <span class="hljs-string">"Hello World"</span>
---
&gt;  <span class="hljs-keyword">print</span> <span class="hljs-string">"Hello World"</span>
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># python IndentSampleFixed.py</span>
Hello World
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>

<blockquote>
  <p>&#25152;&#20197;&#65292;&#22312;Python&#37324;&#65292;&#32553;&#36827;&#36824;&#30495;&#19981;&#26159;&#23567;&#20107;&#65292;&#32553;&#36827;&#34920;&#31034;&#22359;&#30340;&#24320;&#22987;&#65292;&#36870;&#32553;&#36827;&#34920;&#31034;&#22359;&#30340;&#32467;&#26463;&#12290;&#25226;&#36825;&#20214;&#20107;&#24773;&#37325;&#35270;&#36215;&#26469;&#65292;&#32479;&#19968;&#32553;&#36827;&#24517;&#39035;&#19978;&#21319;&#21040;&#19978;&#32434;&#19978;&#32447;&#30340;&#22320;&#27493;&#65292;&#19981;&#28982;&#65292;&#36830;&#32534;&#35793;&#37117;&#36890;&#19981;&#36807;&#30340;&#20195;&#30721;&#35848;&#20160;&#20040;&#36136;&#37327;&#21602;&#12290;</p>
</blockquote>



<h1 id="python&#20445;&#30041;&#23383;">python&#20445;&#30041;&#23383;</h1>

<blockquote>
  <p>python&#20027;&#35201;&#30340;&#20445;&#30041;&#23383;&#22914;&#19979;&#25152;&#31034;&#65292;&#20840;&#20026;&#23567;&#20889;</p>
</blockquote>

<table>
<thead>
<tr>
  <th>&#20445;&#30041;&#23383;</th>
  <th>&#20445;&#30041;&#23383;</th>
  <th>&#20445;&#30041;&#23383;</th>
</tr>
</thead>
<tbody><tr>
  <td>and</td>
  <td>exec</td>
  <td>not</td>
</tr>
<tr>
  <td>assert</td>
  <td>finally</td>
  <td>or</td>
</tr>
<tr>
  <td>break</td>
  <td>for</td>
  <td>pass</td>
</tr>
<tr>
  <td>class</td>
  <td>from</td>
  <td>print</td>
</tr>
<tr>
  <td>continue</td>
  <td>global</td>
  <td>raise</td>
</tr>
<tr>
  <td>def</td>
  <td>if</td>
  <td>return</td>
</tr>
<tr>
  <td>del</td>
  <td>import</td>
  <td>try</td>
</tr>
<tr>
  <td>elif</td>
  <td>in</td>
  <td>while</td>
</tr>
<tr>
  <td>else</td>
  <td>is</td>
  <td>with</td>
</tr>
<tr>
  <td>except</td>
  <td>lambda</td>
  <td>yield</td>
</tr>
</tbody></table>




<h1 id="&#22823;&#23567;&#20889;&#25935;&#24863;">&#22823;&#23567;&#20889;&#25935;&#24863;</h1>

<blockquote>
  <p>Python&#23646;&#20110;&#22823;&#23567;&#20889;&#25935;&#24863;&#30340;&#32534;&#31243;&#35821;&#35328;&#65292;&#19981;&#36807;&#19981;&#25935;&#24863;&#30340;&#35821;&#35328;&#20063;&#36234;&#26469;&#36234;&#23569;&#20102;</p>
</blockquote>



<h1 id="&#22810;&#34892;&#30340;&#20889;&#27861;">&#22810;&#34892;&#30340;&#20889;&#27861;</h1>

<blockquote>
  <p>&#20351;&#29992;&#36830;&#25509;&#31526;&#65306;\</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs tex">sum = 1 + <span class="hljs-command">\
</span>      2 + <span class="hljs-command">\
</span>      3
print sum</code></pre>

<blockquote>
  <p>{}&#25110;[]&#25110;()&#20013;&#19981;&#38656;&#35201;&#20351;&#29992;&#36830;&#25509;&#31526;</p>
</blockquote>



<h1 id="&#27880;&#37322;">&#27880;&#37322;</h1>

<table>
<thead>
<tr>
  <th>&#27880;&#37322;&#31867;&#22411;</th>
  <th>&#27880;&#37322;Sample</th>
</tr>
</thead>
<tbody><tr>
  <td>&#21333;&#34892;&#27880;&#37322;</td>
  <td>&#27880;&#37322;&#20869;&#23481;</td>
</tr>
<tr>
  <td>&#21333;&#34892;&#27880;&#37322;</td>
  <td>sum=1+1 #&#27880;&#37322;&#20869;&#23481;</td>
</tr>
<tr>
  <td>&#22810;&#34892;&#27880;&#37322;</td>
  <td>&#19977;&#20010;&#21333;&#24341;&#21495;&#24320;&#22987; &#21040; &#19977;&#20010;&#21333;&#24341;&#21495;&#32467;&#26463;&#20013;&#38388;&#30340;&#20869;&#23481;&#20840;&#20026;&#27880;&#37322;</td>
</tr>
<tr>
  <td>&#22810;&#34892;&#27880;&#37322;</td>
  <td>&#19977;&#20010;&#21452;&#24341;&#21495;&#24320;&#22987; &#21040; &#19977;&#20010;&#21452;&#24341;&#21495;&#32467;&#26463;&#20013;&#38388;&#30340;&#20869;&#23481;&#20840;&#20026;&#27880;&#37322;</td>
</tr>
</tbody></table>




<h1 id="&#24110;&#21161;">&#24110;&#21161;</h1>

<blockquote>
  <p>&#20351;&#29992;python&#30340;&#22312;&#32447;&#24110;&#21161;&#65292;&#27604;&#22914;string&#30456;&#20851;&#30340;&#26041;&#27861;&#30340;&#26041;&#27861;&#65292;&#20351;&#29992;&#22914;&#19979;&#26041;&#27861;(help&#26597;&#30475;&#35814;&#32454;&#25991;&#26723;&#65292;dir&#26597;&#30475;&#26041;&#27861;&#21015;&#34920;)</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs python"><span class="hljs-prompt">&gt;&gt;&gt; </span><span class="hljs-keyword">import</span> string
<span class="hljs-prompt">&gt;&gt;&gt; </span>help(string)
<span class="hljs-prompt">&gt;&gt;&gt; </span>dir(string)</code></pre>

<blockquote>
  <p>python&#30340;&#21508;&#31181;&#24211;&#30830;&#35748;&#65306;ls -l /usr/lib64/python*/*.py</p>
</blockquote>



<h1 id="&#21464;&#37327;&#21644;&#20316;&#29992;&#22495;">&#21464;&#37327;&#21644;&#20316;&#29992;&#22495;</h1>

<blockquote>
  <p>python&#30340;&#21464;&#37327;&#26681;&#25454;&#20854;&#23450;&#20041;&#30340;&#20301;&#32622;&#20998;&#20026;&#20840;&#23616;&#21464;&#37327;&#21644;&#23616;&#37096;&#21464;&#37327;&#20004;&#31181;&#12290;&#23616;&#37096;&#21464;&#37327;&#21482;&#33021;&#29992;&#20110;&#34987;&#22768;&#26126;&#30340;&#20989;&#25968;&#20869;&#37096;&#65292;&#32780;&#20840;&#23616;&#21017;&#21487;&#22312;&#25972;&#20010;&#31243;&#24207;&#33539;&#22260;&#20869;&#20351;&#29992;&#12290;</p>
</blockquote>



<h1 id="&#26631;&#20934;&#25968;&#25454;&#31867;&#22411;">&#26631;&#20934;&#25968;&#25454;&#31867;&#22411;</h1>

<blockquote>
  <p>python&#25903;&#25345;&#30340;&#26631;&#20934;&#25968;&#25454;&#31867;&#22411;</p>
</blockquote>

<table>
<thead>
<tr>
  <th>&#39033;&#30446;</th>
  <th>&#31867;&#22411;</th>
  <th>&#35828;&#26126;</th>
</tr>
</thead>
<tbody><tr>
  <td>Numbers</td>
  <td>&#25968;&#23383;</td>
  <td>&#25903;&#25345;int/float/long/complex</td>
</tr>
<tr>
  <td>String</td>
  <td>&#23383;&#31526;&#20018;</td>
  <td></td>
</tr>
<tr>
  <td>List</td>
  <td>&#21015;&#34920;</td>
  <td>&#31867;&#20284;&#25968;&#32452;&#12290;&#19979;&#26631;&#20174;0&#24320;&#22987;&#65292;-1&#34920;&#31034;&#26368;&#21518;&#19968;&#20010;&#20803;&#32032;</td>
</tr>
<tr>
  <td>Tuple</td>
  <td>&#20803;&#32452;</td>
  <td>&#31867;&#20284;&#21482;&#35835;&#25968;&#32452;</td>
</tr>
<tr>
  <td>Dictionary</td>
  <td>&#23383;&#20856;</td>
  <td>&#31867;&#20284;Hash</td>
</tr>
</tbody></table>


<blockquote>
  <p>python&#25152;&#25903;&#25345;&#30340;&#22797;&#25968;&#31867;&#22411;complex&#30340;&#34394;&#37096;&#21644;&#23454;&#37096;&#30340;&#31867;&#22411;&#20026;float,&#19968;&#33324;&#34920;&#31034;&#20026;complex(a&#65292;b)</p>
</blockquote>



<h1 id="&#25968;&#25454;&#31867;&#22411;&#36716;&#25442;&#20989;&#25968;">&#25968;&#25454;&#31867;&#22411;&#36716;&#25442;&#20989;&#25968;</h1>

<table>
<thead>
<tr>
  <th>&#20989;&#25968;</th>
  <th>&#25551;&#36848;</th>
</tr>
</thead>
<tbody><tr>
  <td>int(x [,base])</td>
  <td>&#23558;x&#36716;&#25442;&#20026;&#19968;&#20010;&#25972;&#25968;</td>
</tr>
<tr>
  <td>long(x [,base] )</td>
  <td>&#23558;x&#36716;&#25442;&#20026;&#19968;&#20010;&#38271;&#25972;&#25968;</td>
</tr>
<tr>
  <td>float(x)</td>
  <td>&#23558;x&#36716;&#25442;&#21040;&#19968;&#20010;&#28014;&#28857;&#25968;</td>
</tr>
<tr>
  <td>complex(real [,imag])</td>
  <td>&#21019;&#24314;&#19968;&#20010;&#22797;&#25968;</td>
</tr>
<tr>
  <td>str(x)</td>
  <td>&#23558;&#23545;&#35937; x &#36716;&#25442;&#20026;&#23383;&#31526;&#20018;</td>
</tr>
<tr>
  <td>repr(x)</td>
  <td>&#23558;&#23545;&#35937; x &#36716;&#25442;&#20026;&#34920;&#36798;&#24335;&#23383;&#31526;&#20018;</td>
</tr>
<tr>
  <td>eval(str)</td>
  <td>&#29992;&#26469;&#35745;&#31639;&#22312;&#23383;&#31526;&#20018;&#20013;&#30340;&#26377;&#25928;Python&#34920;&#36798;&#24335;,&#24182;&#36820;&#22238;&#19968;&#20010;&#23545;&#35937;</td>
</tr>
<tr>
  <td>tuple(s)</td>
  <td>&#23558;&#24207;&#21015; s &#36716;&#25442;&#20026;&#19968;&#20010;&#20803;&#32452;</td>
</tr>
<tr>
  <td>list(s)</td>
  <td>&#23558;&#24207;&#21015; s &#36716;&#25442;&#20026;&#19968;&#20010;&#21015;&#34920;</td>
</tr>
<tr>
  <td>set(s)</td>
  <td>&#36716;&#25442;&#20026;&#21487;&#21464;&#38598;&#21512;</td>
</tr>
<tr>
  <td>dict(d)</td>
  <td>&#21019;&#24314;&#19968;&#20010;&#23383;&#20856;&#12290;d &#24517;&#39035;&#26159;&#19968;&#20010;&#24207;&#21015; (key,value)&#20803;&#32452;&#12290;</td>
</tr>
<tr>
  <td>frozenset(s)</td>
  <td>&#36716;&#25442;&#20026;&#19981;&#21487;&#21464;&#38598;&#21512;</td>
</tr>
<tr>
  <td>chr(x)</td>
  <td>&#23558;&#19968;&#20010;&#25972;&#25968;&#36716;&#25442;&#20026;&#19968;&#20010;&#23383;&#31526;</td>
</tr>
<tr>
  <td>unichr(x)</td>
  <td>&#23558;&#19968;&#20010;&#25972;&#25968;&#36716;&#25442;&#20026;Unicode&#23383;&#31526;</td>
</tr>
<tr>
  <td>ord(x)</td>
  <td>&#23558;&#19968;&#20010;&#23383;&#31526;&#36716;&#25442;&#20026;&#23427;&#30340;&#25972;&#25968;&#20540;</td>
</tr>
<tr>
  <td>hex(x)</td>
  <td>&#23558;&#19968;&#20010;&#25972;&#25968;&#36716;&#25442;&#20026;&#19968;&#20010;&#21313;&#20845;&#36827;&#21046;&#23383;&#31526;&#20018;</td>
</tr>
<tr>
  <td>oct(x)</td>
  <td>&#23558;&#19968;&#20010;&#25972;&#25968;&#36716;&#25442;&#20026;&#19968;&#20010;&#20843;&#36827;&#21046;&#23383;&#31526;&#20018;</td>
</tr>
</tbody></table>




<h1 id="&#24120;&#35265;&#27604;&#36739;&#21644;&#21028;&#26029;">&#24120;&#35265;&#27604;&#36739;&#21644;&#21028;&#26029;</h1>

<blockquote>
  <p>&#31867;&#22411;&#21028;&#26029;&#20363;</p>
</blockquote>

<table>
<thead>
<tr>
  <th>&#21028;&#26029;&#20869;&#23481;</th>
  <th>&#35814;&#32454;&#35828;&#26126;</th>
</tr>
</thead>
<tbody><tr>
  <td>&#26159;&#21542;&#25968;&#23383;&#31867;&#22411;</td>
  <td>type(x) is types.IntType &#38656;&#35201;import types</td>
</tr>
<tr>
  <td>&#26159;&#21542;&#25968;&#23383;&#31867;&#22411;</td>
  <td>type(x) == types(0)</td>
</tr>
<tr>
  <td>&#26159;&#21542;String&#31867;&#22411;</td>
  <td>type(x) is types.StringType &#38656;&#35201;import types</td>
</tr>
<tr>
  <td>&#26159;&#21542;String&#31867;&#22411;</td>
  <td>type(x) is type(&#8221; &#8220;)</td>
</tr>
</tbody></table>




<h1 id="&#26465;&#20214;&#21028;&#26029;">&#26465;&#20214;&#21028;&#26029;</h1>

<blockquote>
  <p>&#26465;&#20214;&#21028;&#26029;&#20837;&#38376;&#23454;&#20363;</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs python">[root<span class="hljs-decorator">@liumiaocn ~]# cat basic-if1.py</span>
<span class="hljs-comment">#!/usr/bin/python</span>

score = <span class="hljs-number">50</span>
<span class="hljs-keyword">if</span> score &lt; <span class="hljs-number">60</span> :
  <span class="hljs-keyword">print</span> <span class="hljs-string">'E'</span>
<span class="hljs-keyword">elif</span> score &lt; <span class="hljs-number">70</span> :
  <span class="hljs-keyword">print</span> <span class="hljs-string">'D'</span>
<span class="hljs-keyword">elif</span> score &lt; <span class="hljs-number">80</span> :
  <span class="hljs-keyword">print</span> <span class="hljs-string">'C'</span>
<span class="hljs-keyword">elif</span> score &lt; <span class="hljs-number">90</span> :
  <span class="hljs-keyword">print</span> <span class="hljs-string">'B'</span>
<span class="hljs-keyword">else</span> :
  <span class="hljs-keyword">print</span> <span class="hljs-string">'A'</span>
[root<span class="hljs-decorator">@liumiaocn ~]#</span></code></pre>

<p>&#25191;&#34892;&#30830;&#35748;</p>



<pre class="prettyprint"><code class=" hljs ruby">[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># python basic-if1.py</span>
<span class="hljs-constant">E</span>
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>



<h1 id="&#24490;&#29615;&#25511;&#21046;">&#24490;&#29615;&#25511;&#21046;</h1>

<blockquote>
  <p>&#24490;&#29615;&#25511;&#21046;&#20837;&#38376;&#23454;&#20363;</p>
</blockquote>



<pre class="prettyprint"><code class=" hljs coffeescript">[root<span class="hljs-property">@liumiaocn</span> ~]<span class="hljs-comment"># cat basic-loop.py</span>
<span class="hljs-comment">#!/usr/bin/python</span>

level = <span class="hljs-number">0</span>
<span class="hljs-keyword">while</span> level &lt; <span class="hljs-number">10</span> :
 cnt = <span class="hljs-number">0</span>
 <span class="hljs-keyword">while</span> cnt &lt; <span class="hljs-number">10</span>-level :
   cnt = cnt + <span class="hljs-number">1</span>
   <span class="hljs-built_in">print</span>(<span class="hljs-string">" "</span>) ,

 ascnt = <span class="hljs-number">0</span>
 <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
   ascnt = ascnt + <span class="hljs-number">1</span>
   <span class="hljs-built_in">print</span>(<span class="hljs-string">"*"</span>) ,
 <span class="hljs-built_in">print</span>(<span class="hljs-string">""</span>)

 level = level + <span class="hljs-number">1</span>
[root<span class="hljs-property">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>

<p>&#25191;&#34892;</p>



<pre class="prettyprint"><code class=" hljs markdown">[root@liumiaocn ~]# python basic-loop.py

<span class="hljs-code">                  *</span>
<span class="hljs-code">                * * *</span>
<span class="hljs-code">              * * * * *</span>
<span class="hljs-code">            * * * * * * *</span>
<span class="hljs-code">          * * * * * * * * *</span>
<span class="hljs-code">        * * * * * * * * * * *</span>
<span class="hljs-code">      * * * * * * * * * * * * *</span>
<span class="hljs-code">    * * * * * * * * * * * * * * *</span>
  <span class="hljs-bullet">* *</span> <span class="hljs-bullet">* *</span> <span class="hljs-bullet">* *</span> <span class="hljs-bullet">* *</span> <span class="hljs-bullet">* *</span> <span class="hljs-bullet">* *</span> <span class="hljs-bullet">* *</span> <span class="hljs-bullet">* *</span> *
[root@liumiaocn ~]#</code></pre>



<h1 id="&#20989;&#25968;">&#20989;&#25968;</h1>

<p>&#20351;&#29992;def&#36827;&#34892;&#23450;&#20041;&#65292;&#31616;&#21333;&#31034;&#20363;&#22914;&#19979;&#65306;</p>



<pre class="prettyprint"><code class=" hljs python">[root<span class="hljs-decorator">@liumiaocn ~]# cat basic-func.py</span>
<span class="hljs-comment">#!/usr/bin/python</span>

<span class="hljs-function"><span class="hljs-keyword">def</span> <span class="hljs-title">hellofun</span><span class="hljs-params">( str )</span>:</span>
  <span class="hljs-keyword">print</span> <span class="hljs-string">"Hello : "</span>,
  <span class="hljs-keyword">print</span> str;
  <span class="hljs-keyword">return</span>;

hellofun(<span class="hljs-string">"liumiao"</span>)
[root<span class="hljs-decorator">@liumiaocn ~]#</span></code></pre>

<p>&#25191;&#34892;&#30830;&#35748;</p>



<pre class="prettyprint"><code class=" hljs ruby">[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment"># python basic-func.py</span>
<span class="hljs-constant">Hello</span> <span class="hljs-symbol">:</span>  liumiao
[root<span class="hljs-variable">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>



<h1 id="debug">debug</h1>

<p>&#35843;&#35797;&#26377;&#24456;&#22810;&#31181;&#26041;&#24335;&#65292;&#20351;&#29992;pdb(python debugger)&#26159;&#26368;&#24120;&#35265;&#30340;&#26041;&#24335;&#20063;&#19981;&#21463;IDE&#31561;&#30340;&#38480;&#21046;&#65292;&#27492;&#22788;&#31616;&#21333;&#20171;&#32461;pdb&#30340;&#29992;&#27861;</p>

<table>
<thead>
<tr>
  <th>gdb&#21629;&#20196;</th>
  <th>&#25551;&#36848;</th>
</tr>
</thead>
<tbody><tr>
  <td>break &#25110; b</td>
  <td>&#35774;&#32622;&#26029;&#28857;</td>
</tr>
<tr>
  <td>continue &#25110; c</td>
  <td>&#32487;&#32493;&#25191;&#34892;&#31243;&#24207;</td>
</tr>
<tr>
  <td>list &#25110; l</td>
  <td>&#26597;&#30475;&#24403;&#21069;&#34892;&#30340;&#20195;&#30721;&#27573;</td>
</tr>
<tr>
  <td>step &#25110; s</td>
  <td>&#36827;&#20837;&#20989;&#25968;</td>
</tr>
<tr>
  <td>return &#25110; r</td>
  <td>&#25191;&#34892;&#20195;&#30721;&#30452;&#21040;&#20174;&#24403;&#21069;&#20989;&#25968;&#36820;&#22238;</td>
</tr>
<tr>
  <td>exit &#25110; q</td>
  <td>&#20013;&#27490;&#24182;&#36864;&#20986;</td>
</tr>
<tr>
  <td>next &#25110; n</td>
  <td>&#25191;&#34892;&#19979;&#19968;&#34892;</td>
</tr>
<tr>
  <td>pp</td>
  <td>&#25171;&#21360;&#21464;&#37327;&#30340;&#20540;</td>
</tr>
<tr>
  <td>help</td>
  <td>&#24110;&#21161;</td>
</tr>
</tbody></table>


<blockquote>
  <p>&#25191;&#34892;&#26041;&#24335;&#65306;python -m pdb python&#33050;&#26412;&#21517;&#31216;</p>
</blockquote>



<h1 id="&#35843;&#35797;&#31034;&#20363;">&#35843;&#35797;&#31034;&#20363;</h1>

<p>&#23545;&#19978;&#25991;&#30340;&#24490;&#29615;&#20363;&#23376;&#30340;&#33050;&#26412;&#20351;&#29992;pdb&#36827;&#34892;&#35843;&#35797;&#22914;&#19979;&#65306;</p>



<pre class="prettyprint"><code class=" hljs coffeescript">[root<span class="hljs-property">@liumiaocn</span> ~]<span class="hljs-comment"># python -m pdb basic-loop.py</span>
&gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">3</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> level = <span class="hljs-number">0</span>
(Pdb) l   &#24456;&#22810;&#19982;gdb&#20351;&#29992;&#26041;&#24335;&#37117;&#19968;&#26679;&#65292;l <span class="hljs-keyword">for</span> list&#65292;&#21015;&#20986;&#19978;&#19979;&#25991;source
  <span class="hljs-number">1</span>     <span class="hljs-comment">#!/usr/bin/python</span>
  <span class="hljs-number">2</span>
  <span class="hljs-number">3</span><span class="hljs-function">  -&gt;</span> level = <span class="hljs-number">0</span>
  <span class="hljs-number">4</span>     <span class="hljs-keyword">while</span> level &lt; <span class="hljs-number">10</span> :
  <span class="hljs-number">5</span>      cnt = <span class="hljs-number">0</span>
  <span class="hljs-number">6</span>      <span class="hljs-keyword">while</span> cnt &lt; <span class="hljs-number">10</span>-level :
  <span class="hljs-number">7</span>        cnt = cnt + <span class="hljs-number">1</span>
  <span class="hljs-number">8</span>        <span class="hljs-built_in">print</span>(<span class="hljs-string">" "</span>) ,
  <span class="hljs-number">9</span>
 <span class="hljs-number">10</span>      ascnt = <span class="hljs-number">0</span>
 <span class="hljs-number">11</span>      <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) b <span class="hljs-number">11</span>  &#35774;&#23450;&#26029;&#28857;
Breakpoint <span class="hljs-number">1</span> at /root/basic-<span class="hljs-keyword">loop</span>.<span class="hljs-attribute">py</span>:<span class="hljs-number">11</span>
(Pdb) c   &#32487;&#32493;&#25191;&#34892;
                    &gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">11</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) pp ascnt  &#26597;&#35810;&#21464;&#37327;&#20540;
<span class="hljs-number">0</span>
(Pdb) p cnt
<span class="hljs-number">10</span>
(Pdb) c

                  &gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">11</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) c
* &gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">11</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) c

                &gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">11</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) c
* &gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">11</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) c
* &gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">11</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) c
* &gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">11</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> <span class="hljs-keyword">while</span> ascnt &lt; <span class="hljs-number">2</span>*level-<span class="hljs-number">1</span> :
(Pdb) help  &#26597;&#30475;&#24110;&#21161;

Documented commands (type help &lt;topic&gt;):
========================================
EOF    bt         cont      enable  jump  pp       run      unt
a      c          <span class="hljs-keyword">continue</span>  exit    l     q        s        <span class="hljs-keyword">until</span>
alias  cl         d         h       list  quit     step     up
args   clear      debug     help    n     r        tbreak   w
b      commands   disable   ignore  next  restart  u        whatis
<span class="hljs-keyword">break</span>  condition  down      j       p     <span class="hljs-keyword">return</span>   unalias  where

Miscellaneous help <span class="hljs-attribute">topics</span>:
==========================
exec  pdb

Undocumented <span class="hljs-attribute">commands</span>:
======================
retval  rv

(Pdb) clear  &#28165;&#38500;&#26029;&#28857;
Clear all breaks? y
(Pdb) c
* * * * *
            * * * * * * *
          * * * * * * * * *
        * * * * * * * * * * *
      * * * * * * * * * * * * *
    * * * * * * * * * * * * * * *
  * * * * * * * * * * * * * * * * *
The program finished <span class="hljs-keyword">and</span> will be restarted
&gt; /root/basic-<span class="hljs-keyword">loop</span>.py<span class="hljs-function"><span class="hljs-params">(<span class="hljs-number">3</span>)</span>&lt;<span class="hljs-title">module</span>&gt;<span class="hljs-params">()</span>
-&gt;</span> level = <span class="hljs-number">0</span>
(Pdb) q &#36864;&#20986;
[root<span class="hljs-property">@liumiaocn</span> ~]<span class="hljs-comment">#</span></code></pre>



<h1 id="&#24635;&#32467;">&#24635;&#32467;</h1>

<p>&#33267;&#27492;&#65292;&#22522;&#26412;&#30340;&#35789;&#27861;&#65292;&#31616;&#21333;&#30340;&#35821;&#27861;&#24212;&#35813;&#22522;&#26412;&#33021;&#20889;&#20102;&#65292;&#38382;&#39064;&#35299;&#20915;&#26102;&#20505;&#30340;debug&#20063;&#26377;&#20123;&#24494;&#28041;&#29454;&#65292;&#24456;&#22522;&#30784;&#30340;&#38382;&#39064;&#24212;&#35813;&#21487;&#20197;&#25509;&#35302;&#20102;&#12290;&#20294;&#26159;&#36825;&#36824;&#36828;&#36828;&#19981;&#22815;&#65292;&#38656;&#35201;&#25105;&#20204;&#22312;&#23454;&#38469;&#30340;&#24037;&#20316;&#20013;&#24930;&#24930;&#30340;&#21319;&#32423;&#25105;&#20204;&#30340;&#25216;&#33021;&#12290;</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
