<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/AlanConstantineLau/article/details/69944743				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>python&#22312;&#20889;&#26426;&#22120;&#23398;&#20064;&#30340;&#20195;&#30721;&#36807;&#31243;&#20013;&#65292;&#38656;&#35201;&#24341;&#20837;&#22914;numpy&#12289;matpoltlib&#12289;pandas&#31561;&#31561;&#31561;&#12290;&#26377;&#26102;&#20505;&#30452;&#25509;pip install+&#23545;&#24212;&#30340;&#21253;&#21517;&#24182;&#19981;&#33021;&#27491;&#30830;&#23433;&#35013;&#65292;&#25110;&#32773;&#23433;&#35013;&#21518;&#20381;&#26087;&#20250;&#20986;&#29616;&#23433;&#35013;&#19981;&#23436;&#20840;&#30340;&#24773;&#20917;&#12290;&#36825;&#37324;&#25512;&#33616;&#19968;&#20010;&#22522;&#26412;&#21253;&#21547;&#20102;&#26426;&#22120;&#23398;&#20064;&#20197;&#21450;&#25968;&#25454;&#21487;&#35270;&#21270;&#21151;&#33021;&#30340;&#25152;&#26377;python&#21253;&#30340;&#19979;&#36733;&#32593;&#31449;<a href="http://www.lfd.uci.edu/~gohlke/pythonlibs/" rel="nofollow">Unofficial Windows Binaries for Python Extension Packages</a> <br>
&#37324;&#38754;&#30340;&#21253;&#22823;&#32780;&#20840;&#65292;&#27604;&#22914;&#19968;&#20010;numpy+mkl&#23601;&#38656;&#35201;&#19968;&#30334;&#22810;&#20806;&#12290;&#21516;&#26102;&#65292;&#22312;&#19979;&#36733;&#30340;&#30028;&#38754;&#20063;&#20250;&#25552;&#31034;&#20320;&#23433;&#35013;&#36825;&#20010;&#21253;&#20043;&#21069;&#36824;&#38656;&#35201;&#28155;&#21152;&#20160;&#20040;&#20381;&#36182;&#21253;&#12290;&#36825;&#37324;&#29992;matplotlib&#26469;&#20030;&#20363;&#23376;&#65306; <br>
<img src="https://img-blog.csdn.net/20170410113211198?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvQWxhbkNvbnN0YW50aW5lTGF1/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#36825;&#24847;&#21619;&#30528;&#65292;&#20320;&#22312;&#23433;&#35013;matplotlib&#36825;&#20010;&#21253;&#20043;&#21069;&#65292;&#38656;&#35201;&#20808;&#25226; numpy, dateutil, pytz, pyparsing, cycler, setuptools&#36825;&#20960;&#20010;&#21253;&#23433;&#35013;&#22909;&#65292;&#21542;&#21017;&#22312;matplotlib&#30340;&#20351;&#29992;&#36807;&#31243;&#20013;&#20250;&#23548;&#33268;&#37096;&#20998;&#21151;&#33021;&#26080;&#27861;&#20351;&#29992;&#12290;</p>

<p>&#20854;&#27425;&#65292;&#22312;&#19978;&#22270;&#20013;&#20986;&#29616;&#20102;&#24456;&#22810;&#29256;&#26412;&#30340;matplotlib&#65292;&#32780;&#21738;&#19968;&#20010;&#21448;&#26159;&#36866;&#21512;&#33258;&#24049;&#30005;&#33041;&#19978;&#30340;python&#21602;&#65311;&#65288;&#36825;&#37324;&#32943;&#23450;&#19981;&#26159;&#38543;&#20415;&#19979;&#36733;&#19968;&#20010;&#23601;&#21487;&#20197;&#20102; &#65292;&#21542;&#32773;&#20250;&#20986;&#29616;&#26080;&#27861;&#22312;&#35813;&#24179;&#21488;&#19978;&#23433;&#35013;&#30340;&#38169;&#35823;&#65289; <br>
<img src="https://img-blog.csdn.net/20170410113738549?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvQWxhbkNvbnN0YW50aW5lTGF1/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#36825;&#37324;&#30340;1.5.3&#22909;&#29702;&#35299;&#65292;&#23601;&#26159;matplotlib&#36825;&#20010;&#21253;&#30340;&#29256;&#26412;&#21495;&#65292;&#32780;cpXX&#36825;&#26159;&#25351;&#36866;&#29992;&#30340;python&#29256;&#26412;&#21495;&#12290;&#27604;&#22914;cp27&#26159;&#25351;&#36866;&#29992;&#20110;python2.7&#29256;&#26412;&#65292;cp35&#36866;&#29992;python35&#12290;win32&#12289;win amd64&#21017;&#20998;&#21035;&#25351;32&#20301;&#21644;64&#20301;&#25805;&#20316;&#31995;&#32479;&#12290;</p>

<p>&#20294;&#26159;&#65292;&#20026;&#20102;&#33021;&#22815;&#26356;&#21152;&#20934;&#30830;&#30340;&#19979;&#36733;&#23545;&#24212;&#29256;&#26412;&#30340;&#21253;&#65292;&#22312;&#19979;&#36733;&#21253;&#20043;&#21069;&#65292;&#21487;&#20197;&#36827;&#34892;&#19968;&#19979;&#25805;&#20316;&#65306;</p>

<p>&#25171;&#24320;cmd&#36755;&#20837;<code>python</code>&#25110;&#32773;<code>ipython</code> <br>
&#36755;&#20837;<code>import pip;print(pip.pep425tags.get_supported())</code>&#22238;&#36710; <br>
*&#25105;&#36825;&#37324;&#20351;&#29992;&#30340;&#26159;python3.5 <br>
<img src="https://img-blog.csdn.net/20170410120724324?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvQWxhbkNvbnN0YW50aW5lTGF1/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#36825;&#37324;&#21017;&#36820;&#22238;&#20102;&#25152;&#26377;&#20351;&#29992;&#33258;&#24049;&#30005;&#33041;&#19978;&#30340;python&#30340;&#21253;&#29256;&#26412;&#12290; <br>
&#19979;&#36733;&#21253;&#30340;&#26102;&#20505;&#65292;&#21482;&#38656;&#35201;&#21253;&#30340;&#21517;&#31216;&#21644;&#19978;&#38754;&#30340;&#20219;&#19968;&#23545;&#24212;&#36215;&#26469;&#21363;&#21487;&#12290;</p>

<p>&#27604;&#22914;&#25105;&#36825;&#37324;&#26597;&#20986;&#20102;(&#8216;cp35&#8217;, &#8216;cp35m&#8217;, &#8216;win_amd64&#8217;)&#65292;&#25152;&#20197;&#25105;&#19979;&#36733;&#30340;matplotlib&#29256;&#26412;&#24212;&#20026;matplotlib&#8209;1.5.3&#8209;cp35&#8209;cp35m&#8209;win_amd64.whl <br>
<img src="https://img-blog.csdn.net/20170410121005000?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvQWxhbkNvbnN0YW50aW5lTGF1/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#19979;&#36733;&#22909;&#36825;&#20010;&#21253;&#21518;&#65292;&#23558;&#36825;&#20010;&#21253;&#25918;&#21040;python&#23433;&#35013;&#36335;&#24452;&#19979;&#30340;Lib&#8594;site-packages&#65288;&#20859;&#25104;&#33391;&#22909;&#30340;&#21253;&#31649;&#29702;&#20064;&#24815;&#65289;</p>

<p>&#20877;&#27425;&#25171;&#24320;CMD&#25110;&#32773;&#23558;&#25171;&#24320;&#21018;&#21018;&#26597;&#35810;&#29256;&#26412;&#21495;&#30340;cmd&#65292;&#25665;&#19979;ctrl+D&#36864;&#20986;python&#25110;&#32773;ipython <br>
&#28982;&#21518;&#22312;cmd&#20013;&#36755;&#20837;<code>pushd python&#23433;&#35013;&#36335;&#24452;&#19979;&#30340;Lib&#8594;site-packages</code> &#27604;&#22914;&#25105;&#30340;&#23601;&#26159;<code>pushd D:\Sofrware\Python35\Lib\site-packages</code>  <br>
&#22238;&#36710;&#12290; <br>
&#28982;&#21518;&#36755;&#20837;<code>pip install &#21018;&#21018;&#19979;&#36733;&#30340;&#21253;&#21517;</code>&#65292;&#25105;&#36825;&#37324;&#26159;<code>pip install matplotlib-2.0.0-cp35-cp35m-win_amd64.whl</code>,&#31561;&#24453;pip&#23558;&#20854;&#23433;&#35013;&#23436;&#21363;&#21487;&#12290;&#25110;&#32773;&#36827;&#20837;python&#65292;&#36755;&#20837;<code>import motplotlib</code>&#36827;&#34892;&#26816;&#39564;&#26159;&#21542;&#23433;&#35013;&#25104;&#21151;&#12290;</p>

<p>&#38500;&#27492;&#20043;&#22806;&#65292;&#36824;&#21487;&#20197;&#19978;<a href="https://pypi.python.org/pypi" rel="nofollow">the Python Package Index</a>&#26469;&#19979;&#36733;&#21253;&#65292;&#20854;&#23433;&#35013;&#26041;&#27861;&#19982;&#19978;&#36848;&#30456;&#21516;&#65292;&#36825;&#37324;&#23601;&#19981;&#20877;&#36184;&#36848;&#12290; <br>
<img src="https://img-blog.csdn.net/20170410123159733?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvQWxhbkNvbnN0YW50aW5lTGF1/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70/gravity/SouthEast" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
