<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>&#26412;&#25991;&#23558;&#20998;&#19978;&#19979;&#20004;&#37096;&#20998;&#31616;&#21333;&#20171;&#32461;Jupyter notebook&#30340;&#20837;&#38376;&#25945;&#31243;&#65292;&#33521;&#25991;&#21407;&#25991;&#20986;&#22788;&#65306;</p>

<p><a href="https://www.packtpub.com/books/content/getting-started-jupyter-notebook-part-1" rel="nofollow">Getting started with the Jupyter notebook(part 1)</a></p>

<p>Jupyter notebook&#65288;&#21448;&#31216;IPython notebook&#65289;&#26159;&#19968;&#20010;&#20132;&#20114;&#24335;&#30340;&#31508;&#35760;&#26412;&#65292;&#25903;&#25345;&#36816;&#34892;&#36229;&#36807;40&#31181;&#32534;&#31243;&#35821;&#35328;&#12290;&#26412;&#25991;&#20013;&#65292;&#25105;&#20204;&#23558;&#20171;&#32461;Jupyter notebook&#30340;&#20027;&#35201;&#29305;&#28857;&#65292;&#20102;&#35299;&#20026;&#20160;&#20040;&#23427;&#33021;&#25104;&#20026;&#20154;&#20204;&#21019;&#36896;&#20248;&#32654;&#30340;&#21487;&#20132;&#20114;&#24335;&#25991;&#26723;&#21644;&#25945;&#32946;&#36164;&#28304;&#30340;&#19968;&#20010;&#24378;&#22823;&#24037;&#20855;&#12290;</p>

<p>&#22312;&#20351;&#29992;&#36825;&#20010;notebook&#20043;&#21069;&#65292;&#20320;&#38656;&#35201;&#20808;&#36827;&#34892;&#23433;&#35013;&#12290;&#20320;&#21487;&#20197;&#22312;<a href="https://jupyter.readthedocs.io/en/latest/install.html" rel="nofollow">Jupyter website</a>&#19978;&#25214;&#21040;&#23436;&#25972;&#30340;&#23433;&#35013;&#27493;&#39588;&#12290;</p>

<p>&#65288;&#35793;&#32773;&#27880;&#65306;&#25512;&#33616;&#20351;&#29992;Anaconda&#65292;&#33258;&#24102;&#20102;Numpy&#12289;Scipy&#12289;Matplotlib&#31561;&#22810;&#31181;python&#24320;&#21457;&#21253;&#21644;Jupyter notebook&#65289;</p>

<p>&#23433;&#35013;&#23436;&#27605;&#21518;&#65292;&#22312;Linux&#32456;&#31471;&#36816;&#34892;&#19979;&#21015;&#21629;&#20196;&#65306;</p>



<pre class="prettyprint"><code class=" hljs ">jupyter notebook</code></pre>

<p>&#28982;&#21518;&#65292;&#20320;&#23558;&#30475;&#21040;&#31867;&#20284;&#19979;&#38754;&#26174;&#31034;&#30340;&#35821;&#21477;&#65306;</p>



<pre class="prettyprint"><code class=" hljs mathematica">[<span class="hljs-keyword">I</span> <span class="hljs-number">20</span>:<span class="hljs-number">06</span>:<span class="hljs-number">36.367</span> NotebookApp] Writing notebook server cookie secret to /run/user/<span class="hljs-number">1000</span>/jupyter/notebook_cookie_secret
[<span class="hljs-keyword">I</span> <span class="hljs-number">20</span>:<span class="hljs-number">06</span>:<span class="hljs-number">36.813</span> NotebookApp] Serving notebooks from local directory: /home/your_username
[<span class="hljs-keyword">I</span> <span class="hljs-number">20</span>:<span class="hljs-number">06</span>:<span class="hljs-number">36.813</span> NotebookApp] <span class="hljs-number">0</span> active kernels
[<span class="hljs-keyword">I</span> <span class="hljs-number">20</span>:<span class="hljs-number">06</span>:<span class="hljs-number">36.813</span> NotebookApp] The IPython <span class="hljs-keyword">Notebook</span> is running at: http://localhost:<span class="hljs-number">8888</span>/
[<span class="hljs-keyword">I</span> <span class="hljs-number">20</span>:<span class="hljs-number">06</span>:<span class="hljs-number">36.813</span> NotebookApp] Use <span class="hljs-keyword">Control</span>-<span class="hljs-keyword">C</span> to stop this server and shut down all kernels (twice to skip confirmation).</code></pre>

<p>Jupyter&#30340;&#20027;&#31383;&#21475;&#26174;&#31034;&#30340;&#36335;&#24452;&#19968;&#33324;&#26159;&#20320;&#21551;&#21160;notebook&#26102;&#20301;&#20110;&#30340;&#36335;&#24452;&#19979;&#65288;&#36890;&#24120;&#22312;&#20320;&#30340;&#29992;&#25143;&#30446;&#24405;&#19979;&#65289;&#12290;&#20027;&#30028;&#38754;&#22914;&#19979;&#25152;&#31034;&#65306;</p>

<p><img src="https://img-blog.csdn.net/20170604154331129?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#33509;&#35201;&#21019;&#24314;&#19968;&#20010;&#26032;&#30340;notebook&#65292;&#21482;&#38656;&#40736;&#26631;&#24038;&#20987;New&#65292;&#22312;&#19979;&#25289;&#36873;&#39033;&#20013;&#36873;&#25321;&#19968;&#20010;&#20320;&#24819;&#21551;&#21160;&#30340;notebook&#31867;&#22411;&#21363;&#21487;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20170604154536614?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#22240;&#20026;&#25105;&#21482;&#23433;&#35013;&#20102;Python&#20869;&#26680;&#65292;&#25152;&#20197;&#21551;&#21160;Python notebook&#26469;&#36827;&#34892;&#28436;&#31034;&#65292;&#25171;&#24320;&#26032;&#30340;&#26631;&#31614;&#65292;&#24471;&#21040;&#20102;&#19968;&#20010;&#31354;&#30340;notebook&#30028;&#38754;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20170604155305917?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#20320;&#21487;&#20197;&#30475;&#21040;notebook&#30001;&#20197;&#19979;&#37096;&#20998;&#32452;&#25104;&#65306;</p>

<ul>
<li><p>notebook&#21517;&#23383;</p></li>
<li><p>&#20027;&#24037;&#20855;&#26639;&#65292;&#21253;&#25324;&#20445;&#23384;notebook&#12289;&#23548;&#20986;&#12289;&#37325;&#36733;&#12289;&#37325;&#21551;&#20869;&#26680;&#31561;</p></li>
<li><p>&#24555;&#25463;&#38190;</p></li>
<li><p>notebook&#20027;&#35201;&#37096;&#20998;&#65292;notebook&#32534;&#36753;&#21306;</p></li>
</ul>

<p>&#33457;&#26102;&#38388;&#29087;&#24713;&#33756;&#21333;&#65292;&#20102;&#35299;&#20854;&#20013;&#30340;&#36873;&#39033;&#12290;&#22914;&#26524;&#20320;&#24819;&#20102;&#35299;&#19968;&#20123;&#29305;&#27530;&#27169;&#22359;&#12289;notebook&#25110;&#32773;&#19968;&#20123;&#24211;&#65292;&#21487;&#20197;&#28857;&#20987;&#33756;&#21333;&#26639;&#21491;&#20391;&#30340;Help&#25353;&#38062;&#12290;</p>

<p>&#22312;&#20027;&#21306;&#22495;&#65288;&#32534;&#36753;&#21306;&#65289;&#65292;&#20320;&#21487;&#20197;&#30475;&#21040;&#19968;&#20010;&#20010;&#21333;&#20803;&#65288;cell&#65289;&#12290;&#27599;&#20010;notebook&#37117;&#30001;&#35768;&#22810;cell&#32452;&#25104;&#65292;&#27599;&#20010;cell&#26377;&#19981;&#21516;&#30340;&#21151;&#33021;&#12290;</p>

<p>&#39318;&#20808;&#65292;&#31532;&#19968;&#20010;cell&#22914;&#19979;&#22270;&#25152;&#31034;&#65292;&#20197;&#8220;In[ ]&#8221;&#24320;&#22836;&#34920;&#31034;&#36825;&#26159;&#19968;&#20010;&#20195;&#30721;&#21333;&#20803;&#12290;&#22312;&#20195;&#30721;&#21333;&#20803;&#37324;&#65292;&#20320;&#21487;&#20197;&#36755;&#20837;&#20219;&#20309;&#20195;&#30721;&#24182;&#25191;&#34892;&#12290;&#20363;&#22914;&#65292;&#38190;&#30424;&#36755;&#20837;1+2&#65292;&#28982;&#21518;&#25353;&#8220;Shift+Enter&#8221;&#65292;&#20195;&#30721;&#23558;&#34987;&#36816;&#34892;&#65292;&#24182;&#26174;&#31034;&#32467;&#26524;&#12290;&#21516;&#26102;&#65292;&#20999;&#25442;&#21040;&#26032;&#30340;cell&#20013;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20170604163043530?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#32511;&#33394;&#30340;&#36718;&#24275;&#32447;&#25152;&#22312;&#30340;cell&#65292;&#23601;&#26159;&#24403;&#21069;&#24037;&#20316;&#21333;&#20803;&#12290;&#25509;&#19979;&#26469;&#65292;&#25105;&#20204;&#22312;&#31532;&#20108;&#20010;cell&#20013;&#65292;&#25970;&#20987;&#19979;&#21015;&#20195;&#30721;&#65306;</p>



<pre class="prettyprint"><code class=" hljs lua"><span class="hljs-keyword">for</span> i <span class="hljs-keyword">in</span> range(<span class="hljs-number">5</span>):
    <span class="hljs-built_in">print</span>(i)</code></pre>

<p>&#25353;&#8220;Shift+Enter&#8221;&#36816;&#34892;&#35813;&#21333;&#20803;&#65292;&#24471;&#21040;&#65306;</p>

<p><img src="https://img-blog.csdn.net/20170604163827681?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#36319;&#20043;&#21069;&#19968;&#26679;&#65292;&#20195;&#30721;&#34987;&#25191;&#34892;&#65292;&#32467;&#26524;&#20063;&#27491;&#30830;&#26174;&#31034;&#22788;&#29702;&#12290;&#20294;&#26159;&#20320;&#21487;&#33021;&#27880;&#24847;&#21040;&#36825;&#27425;&#27809;&#26377;Out[2]&#65292;&#36825;&#26159;&#22240;&#20026;&#25105;&#20204;&#25171;&#21360;&#20102;&#32467;&#26524;&#65292;&#21364;&#27809;&#26377;&#36820;&#22238;&#20540;&#12290;</p>

<p>notebook&#19968;&#20010;&#38750;&#24120;&#26377;&#36259;&#30340;&#29305;&#24615;&#26159;&#21487;&#20197;&#36820;&#22238;&#20043;&#21069;&#30340;cell&#65292;&#20462;&#25913;&#24182;&#37325;&#26032;&#36816;&#34892;&#65292;&#20197;&#27492;&#26469;&#36319;&#26032;&#25972;&#20010;&#25991;&#26723;&#12290;&#20363;&#22914;&#65292;&#29616;&#22312;&#25105;&#20204;&#22238;&#21040;&#31532;&#19968;&#20010;cell&#20013;&#65292;&#23558;&#36755;&#20837;1+2&#25913;&#25104;2+3&#65292;&#37325;&#26032;&#25353;&#8220;Shift+Enter&#8221;&#36816;&#34892;&#35813;&#21333;&#20803;&#65292;&#32467;&#26524;&#34987;&#31435;&#21363;&#26356;&#26032;&#25104;5&#12290;&#24403;&#20320;&#24819;&#20351;&#29992;&#19981;&#21516;&#21442;&#25968;&#35843;&#35797;&#26041;&#31243;&#21448;&#19981;&#24819;&#36816;&#34892;&#25972;&#20010;&#33050;&#26412;&#30340;&#26102;&#20505;&#65292;&#36825;&#26465;&#29305;&#24615;&#38750;&#24120;&#26377;&#29992;&#12290;&#28982;&#32780;&#65292;&#20320;&#20063;&#21487;&#20197;&#36890;&#36807;&#33756;&#21333;&#26639;Cell-&gt;Run all&#26469;&#37325;&#26032;&#36816;&#34892;&#25972;&#20010;notebook&#12290;</p>

<p>&#29616;&#22312;&#25105;&#20204;&#24050;&#32463;&#30693;&#36947;&#20102;&#22914;&#20309;&#36755;&#20837;&#20195;&#30721;&#65292;&#37027;&#20026;&#20160;&#20040;&#19981;&#23581;&#35797;&#33719;&#24471;&#19968;&#20010;&#26356;&#21152;&#20248;&#32654;&#65292;&#35299;&#37322;&#24615;&#26356;&#24378;&#30340;notebook&#21602;&#65311;&#36825;&#21487;&#20197;&#36890;&#36807;&#20351;&#29992;&#20854;&#20182;&#31867;&#22411;&#30340;cells&#26469;&#33719;&#24471;&#65292;&#20363;&#22914;Header&#21644;Markdown&#21333;&#20803;&#12290;</p>

<p>&#39318;&#20808;&#65292;&#25105;&#20204;&#22312;notebook&#30340;&#39030;&#37096;&#28155;&#21152;&#19968;&#20010;&#26631;&#39064;&#12290;&#20570;&#27861;&#26159;&#65292;&#36873;&#25321;&#31532;&#19968;&#20010;cell&#65292;&#28857;&#20987;Insert-&gt;Insert cell above&#65292;&#21017;&#22312;&#36825;&#20010;cell&#19978;&#38754;&#20250;&#28155;&#21152;&#19968;&#20010;&#26032;&#30340;&#21333;&#20803;&#12290;&#20294;&#26159;&#36825;&#20010;&#26032;cell&#40664;&#35748;&#26159;code&#31867;&#22411;&#65292;&#25105;&#20204;&#21487;&#20197;&#36890;&#36807;cell type&#33756;&#21333;&#36873;&#25321;Heading&#25110;Markdown&#26367;&#25442;&#20043;&#21069;&#30340;code&#31867;&#22411;&#65292;&#36825;&#26679;&#23601;&#21487;&#20197;&#28155;&#21152;&#26631;&#39064;&#20102;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20170604171208664?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#20320;&#21487;&#20197;&#36873;&#25321;Heading&#65292;&#28982;&#21518;&#24377;&#20986;&#20449;&#24687;&#20250;&#21578;&#35785;&#20320;&#22914;&#20309;&#21019;&#24314;&#19981;&#21516;&#32423;&#21035;&#30340;&#26631;&#39064;&#65292;&#36825;&#26679;&#20320;&#23601;&#26377;&#20102;&#19982;code&#19981;&#21516;&#31867;&#22411;&#30340;cell&#12290;</p>

<p><img src="https://img-blog.csdn.net/20170604171544075?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#36825;&#20010;cell&#20197;#&#24320;&#22836;&#65292;&#34920;&#31034;&#19968;&#32423;&#26631;&#39064;&#12290;&#22914;&#26524;&#20320;&#24819;&#21015;&#23376;&#26631;&#39064;&#30340;&#35805;&#65292;&#21442;&#32771;&#19979;&#38754;&#30340;&#26041;&#27861;&#65306;</p>



<pre class="prettyprint"><code class=" hljs r"><span class="hljs-comment"># : First level title</span>
<span class="hljs-comment">## : Second level title</span>
<span class="hljs-comment">### : Third level title</span>
<span class="hljs-keyword">...</span></code></pre>

<p>&#26631;&#39064;&#20889;&#22312;#&#21518;&#38754;&#65292;&#28982;&#21518;&#37325;&#26032;&#36816;&#34892;cell&#65292;&#20320;&#20250;&#21457;&#29616;&#35813;&#21333;&#20803;&#28155;&#21152;&#20102;&#26631;&#39064;&#65292;&#38750;&#24120;&#29983;&#21160;&#21487;&#35835;&#65292;&#31034;&#20363;&#22914;&#19979;&#65306;</p>

<p><img src="https://img-blog.csdn.net/20170604172704967?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#28155;&#21152;&#26631;&#39064;&#20043;&#21518;&#65292;&#25105;&#20204;&#35201;&#23545;&#27599;&#20010;&#20195;&#30721;&#31867;&#22411;&#30340;cell&#20570;&#30456;&#24212;&#30340;&#35299;&#37322;&#12290;&#20026;&#27492;&#65292;&#25105;&#20204;&#22312;&#30456;&#24212;&#30340;&#20301;&#32622;&#28155;&#21152;cell&#65292;&#23558;&#20854;&#31867;&#22411;&#25913;&#20026;Markdown&#65292;&#28982;&#21518;&#37325;&#26032;&#36816;&#34892;cell&#65292;&#36825;&#26679;&#23601;&#33021;&#35753;&#35299;&#37322;&#25991;&#26412;&#20016;&#23500;&#36215;&#26469;&#20102;&#12290;</p>

<p><img src="https://img-blog.csdn.net/20170604173445016?" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#26368;&#21518;&#65292;&#20320;&#21487;&#20197;&#23558;&#26032;&#24314;&#30340;notebook&#37325;&#21629;&#21517;&#65292;&#28857;&#20987;File-&gt;Rename&#65292;&#28982;&#21518;&#36755;&#20837;&#26032;&#30340;&#21517;&#31216;&#21363;&#21487;&#12290;&#36825;&#26679;&#26356;&#25913;&#21518;&#30340;&#21517;&#23383;&#23601;&#20250;&#20986;&#29616;&#22312;&#31383;&#21475;&#30340;&#24038;&#19978;&#35282;&#65292;&#20301;&#20110;Jupyter&#22270;&#26631;&#30340;&#21491;&#20391;&#12290;</p>

<p>&#22312;&#19979;&#19968;&#37096;&#20998;&#30340;&#25945;&#31243;&#20013;&#65292;&#25105;&#20204;&#23558;&#23545;notebook&#30340;&#33021;&#21147;&#20197;&#21450;&#22914;&#20309;&#38598;&#25104;&#20854;&#20182;Python&#24211;&#36827;&#34892;&#26356;&#28145;&#20837;&#30340;&#30740;&#31350;&#12290;</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
