<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p><span style="font-size:18px;color:#ff0000;"><strong>1&#12289;jupyter &#160;notebook&#31616;&#20171;</strong></span></p>
<p><span style="font-size:18px;"><span></span>jupyter &#160;notebook&#26159;&#19968;&#20010;&#22312;&#32447;&#32534;&#36753;&#22120;&#65292;&#21487;&#20197;&#22312;&#32593;&#39029;&#19978;&#32534;&#36753;&#31243;&#24207;&#65292;&#22312;&#32534;&#36753;&#30340;&#36807;&#31243;&#20013;&#65292;&#27599;&#27425;&#32534;&#36753;&#19968;&#34892;&#20195;&#30721;&#23601;&#21487;&#20197;&#36816;&#34892;&#19968;&#34892;&#20195;&#30721;&#65292;&#36816;&#34892;&#30340;&#32467;&#26524;&#20063;&#21487;&#20197;&#26174;&#31034;&#22312;&#20195;&#30721;&#30340;&#19979;&#26041;&#65292;&#26041;&#20415;&#26597;&#30475;&#12290;&#24403;&#25152;&#26377;&#30340;&#31243;&#24207;&#32534;&#20889;&#21644;&#36816;&#34892;&#23436;&#27605;&#20043;&#21518;&#65292;&#36824;&#21487;&#20197;&#30452;&#25509;&#25226;&#32534;&#36753;&#21644;&#36816;&#34892;&#20043;&#21518;&#30340;&#25152;&#26377;&#20449;&#24687;&#20445;&#23384;&#22312;&#25991;&#20214;&#20013;&#12290;</span></p>
<p><span style="font-size:18px;"><br></span></p>
<p><span style="font-size:18px;color:#ff0000;"><strong>2&#12289;jupyter &#160;notebook&#21551;&#21160;</strong></span></p>
<p><span style="font-size:18px;"><span></span>&#22312;cmd&#29615;&#22659;&#19979;&#65292;&#36755;&#20837;&#21629;&#20196;&#65306;jupyter &#160;notebook&#20043;&#21518;&#23601;&#21487;&#20197;&#21551;&#21160;jupyter &#160;botebook&#32534;&#36753;&#22120;&#65292;&#21551;&#21160;&#20043;&#21518;&#20250;&#33258;&#21160;&#25171;&#24320;&#27983;&#35272;&#22120;&#65292;&#24182;&#35775;&#38382;http://localhost:8088&#65292;&#40664;&#35748;&#36339;&#36716;&#21040;http://localhost:8088/tree&#12290;&#22914;&#19979;&#22270;</span></p>
<p><span style="font-size:18px;"><img src="" alt=""><br></span></p>
<p><span style="font-size:18px;"><br></span></p>
<p><strong><span style="font-size:18px;color:#ff0000;">3&#12289;&#21019;&#24314;&#26032;&#30340;&#25991;&#20214;/&#22841;</span></strong></p>
<p><span style="font-size:18px;">&#160; &#160; &#160; &#22312;&#21491;&#20391;&#28857;&#20987;new&#65292;&#36873;&#25321;python2&#25110;&#32773;python3&#65292;&#23601;&#21487;&#20197;&#21019;&#24314;&#19968;&#20010;&#26032;&#30340;py&#25991;&#20214;&#65292;&#28857;&#20987;Text File&#21487;&#20197;&#21019;&#24314;&#26222;&#36890;&#25991;&#20214;&#65292;&#28857;&#20987;Folder&#21019;&#24314;&#25991;&#20214;&#22841;&#65292;&#28857;&#20987;Terminal&#21551;&#21160;&#25511;&#21046;&#21488;</span></p>
<p><span style="font-size:18px;"><img src="" alt=""><br></span></p>
<p><span style="font-size:18px;">&#160; &#160; &#160; &#160; &#36825;&#37324;&#28857;&#20987;python3&#23601;&#25171;&#24320;&#20102;&#19968;&#20010;&#26032;&#30340;&#39029;&#38754;&#65292;&#21487;&#20197;&#36827;&#34892;python&#31243;&#24207;&#32534;&#36753;&#12290;&#38468;&#22270;&#29255;&#22914;&#19979;&#65306;</span></p>
<p><span style="font-size:18px;"><img src="" alt=""><br></span></p>
<p><span style="font-size:18px;color:#ff0000;"><strong>4&#12289;&#20004;&#31181;&#27169;&#24335;&#19982;cell&#25805;&#20316;</strong></span></p>
<p><span style="font-size:18px;"><span></span>command &#160;mode&#21644;edit &#160;mode&#12290;&#22312;&#19968;&#20010;cell&#20013;&#25353;&#19979;enter&#23601;&#36827;&#20837;edit &#160;mode&#65292;&#25353;&#19979;Esc&#36827;&#20837;command &#160;mode&#12290;</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#20174;&#19968;&#20010;cell&#36339;&#36716;&#21040;&#19979;&#19968;&#20010;cell</strong>&#65306;&#22312;&#19968;&#20010;cell&#20013;&#25353;&#19979;shift+enter&#23601;&#36827;&#20837;&#20102;&#19979;&#19968;&#20010;cell</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#21019;&#24314;cell</strong>&#65306;&#22312;&#19968;&#20010;cell&#20013;&#21019;&#24314;&#19979;&#19968;&#20010;cell&#21487;&#20197;&#20351;&#29992;shift+enter&#65292;&#21478;&#22806;&#21019;&#24314;&#19979;&#19968;&#20010;cell&#21487;&#20197;&#20351;&#29992;b(&#22312;command&#27169;&#24335;&#19979;)&#65292;&#22312;&#24403;&#21069;cell&#20043;&#21069;&#21019;&#24314;cell&#20351;&#29992;a(&#22312;command&#27169;&#24335;&#19979;)</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#21024;&#38500;cell</strong>&#65306;command&#27169;&#24335;&#19979;&#65292;&#22312;&#19968;&#20010;cell&#20013;&#65292;&#36830;&#32493;&#25353;&#20004;&#27425;d</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#20445;&#23384;&#32534;&#36753;&#30340;&#20869;&#23481;</strong>&#65306;&#22312;command&#27169;&#24335;&#19979;&#65292;&#25353;s</span></p>
<p><span style="font-size:18px;"><span></span>&#20351;&#29992;&#19979;&#38754;&#30340;&#26041;&#24335;&#21487;&#20197;&#22312;code&#12289;markdown&#36755;&#20837;&#27169;&#24335;&#38388;&#20999;&#25442;</span></p>
<p><span style="font-size:18px;"><img src="" alt=""><br></span></p>
<p><span style="font-size:18px;"><span></span></span></p>
<p><span style="font-size:18px;"><span></span><strong>&#26174;&#31034;&#34892;&#25968;</strong>&#65306;&#22312;command&#27169;&#24335;&#19979;&#65292;&#25353;&#65307;l</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#36339;&#36716;&#21040;&#31532;&#19968;&#20010;cell</strong>&#65306;ctrl+home</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#36339;&#36716;&#21040;&#26368;&#21518;&#19968;&#20010;cell</strong>&#65306;ctrl+end</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#20026;&#19968;&#34892;&#25110;&#22810;&#34892;&#28155;&#21152;/&#21462;&#28040;&#27880;&#37322;</strong>&#65306;ctrl+/</span></p>
<p><span style="font-size:18px;"><span></span><strong>&#32534;&#35793;&#24182;&#36816;&#34892;&#19968;&#20010;cell&#20013;&#30340;&#20869;&#23481;</strong>&#65306;shift+enter</span></p>
<p><span style="font-size:18px;"><strong><span style="color:#ff0000;">5&#12289;&#21521;jupyter &#160;notebook&#20013;&#23548;&#20837;python&#25991;&#20214;</span></strong></span></p>
<p><span style="font-size:18px;"><span></span>(1)&#33509;&#26159;&#20174;&#26412;&#22320;&#23548;&#20837;python&#25991;&#20214;&#65292;&#21487;&#20197;&#30452;&#25509;&#20351;&#29992;%load &#160;xxx.py&#65292;&#36816;&#34892;&#36825;&#20010;cell&#30340;&#26041;&#24335;&#20063;&#26159;shift+enter</span></p>
<p><span style="font-size:18px;"><span></span>(2)&#33509;&#26159;&#20174;&#32593;&#32476;&#20013;&#23548;&#20837;python&#20195;&#30721;&#65292;&#21487;&#20197;&#20351;&#29992;%load &#160;http://.......</span></p>
<p><span style="font-size:18px;"><strong><span style="color:#ff0000;">6&#12289;jupyter&#20013;&#36816;&#34892;python&#25991;&#20214;</span></strong></span></p>
<p><span style="font-size:18px;"><span></span>&#30452;&#25509;&#22312;cell&#20013;&#36755;&#20837;&#65306;%run &#160;xxx.py</span></p>
<p><span style="font-size:18px;"><span></span>&#22312;cell&#20013;&#36755;&#20837;&#20043;&#21518;&#65292;&#30452;&#25509;&#20351;&#29992;shift+enter&#23601;&#21487;&#20197;&#25191;&#34892;cell&#20013;&#30340;&#20869;&#23481;&#65292;&#25191;&#34892;&#32467;&#26524;&#30452;&#25509;&#22312;&#36825;&#20010;cell&#30340;&#19979;&#38754;&#26174;&#31034;</span></p>
<p><span style="font-size:18px;"><span></span>&#27880;&#24847;&#65306;&#22914;&#26524;&#22312;&#31243;&#24207;&#20013;&#20351;&#29992;&#20102;matplotlib&#32472;&#22270;&#65292;&#26377;&#26102;&#20505;&#26159;&#19981;&#33021;&#30452;&#25509;&#26174;&#31034;&#20986;&#26469;&#30340;&#65292;&#36825;&#26102;&#20505;&#38656;&#35201;&#20351;&#29992;&#21152;%matplotlib inline</span></p>
<p><span style="font-size:18px;"><strong><span style="color:#ff0000;">7&#12289;magic&#20851;&#38190;&#23383;</span></strong></span></p>
<p><span style="font-size:18px;"><span></span>(1)timeit</span></p>
<p><span style="font-size:18px;"><span></span>timeit&#20851;&#38190;&#23383;&#29992;&#20110;&#27979;&#35797;&#36816;&#34892;&#30340;&#38656;&#35201;&#30340;&#26102;&#38388;&#65292;&#21487;&#20197;&#27979;&#35797;&#19968;&#20010;&#20989;&#25968;&#30340;&#36816;&#34892;&#26102;&#38388;&#65292;&#36824;&#21487;&#20197;&#27979;&#35797;&#19968;&#20010;cell&#36816;&#34892;&#38656;&#35201;&#30340;&#26102;&#38388;&#12290;&#22914;&#26524;&#35201;&#27979;&#35797;&#19968;&#20010;&#20989;&#25968;&#36816;&#34892;&#38656;&#35201;&#30340;&#26102;&#38388;&#65292;&#38656;&#35201;&#22312;&#19968;&#20010;&#20989;&#25968;&#30340;&#35843;&#29992;&#30340;&#21069;&#38754;&#21152;&#19978;%timeit&#65292;&#22914;&#65306;%timeit &#160;A()&#12290;&#22914;&#26524;&#35201;&#27979;&#35797;&#25972;&#20010;cell&#30340;&#36816;&#34892;&#26102;&#38388;&#65292;&#21487;&#20197;&#22312;cell&#30340;&#31532;&#19968;&#34892;&#20351;&#29992;%%timeit&#65292;&#28982;&#21518;&#20174;&#36825;&#19968;&#34892;&#30340;&#19979;&#19968;&#34892;&#24320;&#22987;&#20889;&#20854;&#20182;&#31243;&#24207;&#65292;&#36825;&#26679;&#23601;&#21487;&#20197;&#22312;&#36816;&#34892;&#36825;&#20010;cell&#30340;&#26102;&#20505;&#65292;&#25226;&#26102;&#38388;&#36755;&#20986;&#22312;&#36825;&#20010;cell&#30340;&#19979;&#38754;&#12290;</span></p>
<p><br></p>
<p><span style="font-size:18px;"><strong><span style="color:#ff0000;">&#21442;&#32771;&#25991;&#29486;&#65306;</span></strong></span></p>
<p><span style="font-size:18px;">(1)http://blog.csdn.net/qq_35056292/article/details/54971195</span></p>
<p><span style="font-size:18px;">(2)http://blog.csdn.net/tina_ttl/article/details/51031113</span></p>
<p><span style="font-size:18px;">(3)http://blog.csdn.net/qq_35056292/article/details/54972172</span></p>
<p><span style="font-size:18px;"><br></span></p>
<p><br></p>
<p><br></p>
<p><br></p>
            </div>
                </div>
	</article>
