<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p>&#36716;&#33258; https://www.crifan.com/summary_the_difference_between_python2_and_python3/</p>
<p><br></p>
<p></p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#39318;&#20808;&#35201;&#35828;&#30340;&#26159;&#65292;Python&#30340;&#29256;&#26412;&#65292;&#30446;&#21069;&#20027;&#35201;&#20998;&#20026;&#20004;&#22823;&#31867;&#65306;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
Python 2.x&#30340;&#29256;&#26412;&#30340;&#65292;&#34987;&#31216;&#20026;Python2&#65306;&#26159;&#30446;&#21069;&#29992;&#30340;&#26368;&#24191;&#27867;&#30340;&#65292;&#27604;&#22914;Python 2.7.3&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
Python 3.x&#30340;&#29256;&#26412;&#30340;&#65292;&#34987;&#31216;&#20026;Python3&#65306;&#26159;&#26368;&#26032;&#30340;&#29256;&#26412;&#30340;&#65292;&#27604;&#22914;Python 3.1&#12290;&#38271;&#36828;&#26469;&#30475;&#65292;&#20063;&#31639;&#26159;&#20197;&#21518;&#30340;&#36235;&#21183;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#160;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
<span style="color:#0000ff;"><strong>&#12304;Python2&#21644;Python3&#20043;&#38388;&#30340;&#21306;&#21035;&#12305;</strong></span></p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
<strong>1.&#20174;Python2&#21040;Python3&#65292;&#24456;&#22810;&#22522;&#26412;&#30340;&#20989;&#25968;&#25509;&#21475;&#21464;&#20102;&#65292;&#29978;&#33267;&#26159;&#65292;&#26377;&#20123;&#24211;&#25110;&#20989;&#25968;&#34987;&#21435;&#25481;&#20102;&#65292;&#25913;&#21517;&#20102;</strong></p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
Python2&#21644;Python3&#65292;&#22312;&#24456;&#22810;&#22522;&#26412;&#30340;&#65292;&#26368;&#24120;&#29992;&#30340;&#20989;&#25968;&#26041;&#38754;&#65292;&#25509;&#21475;&#37117;&#21464;&#20102;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#26368;&#20856;&#22411;&#30340;&#23601;&#35201;&#25968;&#22823;&#23478;&#26368;&#24120;&#29992;&#30340;print&#20989;&#25968;&#20102;&#65306;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
<a href="https://www.crifan.com/summary_reason_of_python_3_x_print_syntaxerror_invalid_syntax" rel="nofollow" title="" style="color:rgb(66,139,202);">&#12304;&#25972;&#29702;&#12305;&#20851;&#20110;Python 3.x&#20013;&#65292;&#20351;&#29992;print&#20989;&#25968;&#26102;&#20986;&#29616;&#30340;&#35821;&#27861;&#38169;&#35823;&#65288;SyntaxError: invalid syntax&#65289;&#30340;&#38382;&#39064;&#30340;&#21407;&#22240;</a></p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#160;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
<strong>2.&#31532;&#19977;&#26041;&#24211;&#30340;&#25903;&#25345;&#26041;&#38754;&#65292;&#30446;&#21069;&#26469;&#35828;&#65292;&#36824;&#26159;Python2&#25903;&#25345;&#30340;&#26368;&#22909;&#65292;Python3&#25903;&#25345;&#30340;&#19981;&#22826;&#22815;</strong></p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
Python&#24378;&#22823;&#30340;&#21407;&#22240;&#20043;&#19968;&#26159;&#31532;&#19977;&#26041;&#30340;&#24211;&#24456;&#22810;&#65292;&#21151;&#33021;&#24456;&#24378;&#22823;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#32780;&#30446;&#21069;&#24456;&#22810;Python&#30340;&#31532;&#19977;&#26041;&#30340;&#24211;&#65292;&#24456;&#22810;&#21482;&#25552;&#20379;Python2&#30340;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#25110;&#32773;&#26159;&#21363;&#20351;&#25552;&#20379;&#20102;Python3&#30340;&#65292;&#20294;&#26159;&#20063;&#19981;&#19968;&#23450;&#24456;&#25104;&#29087;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#27604;&#22914;&#20043;&#21069;&#25240;&#33150;&#36807;&#30340;&#65292;Python2&#20013;<a href="https://www.crifan.com/export_data_to_excel_file_n_python_/" rel="nofollow" title="" style="color:rgb(66,139,202);">&#21033;&#29992;xlwt&#21435;&#29983;&#25104;excel&#25991;&#20214;</a>&#65292;&#24456;&#26159;&#26041;&#20415;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#32467;&#26524;&#21518;&#26469;&#30001;&#20110;&#29305;&#27530;&#38656;&#35201;&#65292;&#20351;&#29992;Python3&#65292;&#20877;&#24819;&#21435;&#21033;&#29992;xlwt&#65292;&#23601;&#27809;&#27861;&#30452;&#25509;&#29992;&#20102;&#65292;&#28982;&#21518;&#21448;&#25214;&#21040;xlwt&#19987;&#38376;&#38024;&#23545;python3&#30340;&#29256;&#26412;&#65306;<a href="http://pypi.python.org/pypi/xlwt3/" rel="nofollow" title="" style="color:rgb(66,139,202);">xlwt3</a>,&#28982;&#21518;&#32467;&#26524;&#20351;&#29992;&#36807;&#31243;&#20013;,&#21448;&#20986;&#38169;:</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
<a href="https://www.crifan.com/python3_use_xlwt3_struct_error_argument_for_s_must_be_a_bytes_object/" rel="nofollow" title="" style="color:rgb(66,139,202);">&#12304;&#24050;&#35299;&#20915;&#12305;Python3&#20013;&#65292;&#20351;&#29992;xlwt3&#21435;&#29983;&#25104;excel&#25991;&#20214;&#26102;&#20986;&#38169;&#65306;struct.error: argument for &#8216;s&#8217; must be a bytes object</a></p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#25152;&#20197;&#65292;&#23545;&#20110;&#24456;&#22810;&#31532;&#19977;&#26041;&#24211;&#65292;&#36824;&#26159;python2&#25903;&#25345;&#30340;&#27604;&#36739;&#22909;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#160;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
<span style="color:#0000ff;"><strong>&#12304;&#32467;&#35770;&#65306;&#22914;&#20309;&#36873;&#25321;Python&#30340;&#29256;&#26412;&#12305;</strong></span></p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#38024;&#23545;&#21021;&#23398;&#32773;&#65306;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#26242;&#26102;&#36824;&#26159;&#24314;&#35758;&#65292;&#20808;&#21435;&#23398;&#20064;Python2&#21543;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#27605;&#31455;&#30446;&#21069;&#22826;&#22810;&#30340;Python&#31243;&#24207;&#65292;&#31034;&#20363;&#20195;&#30721;&#65292;&#31532;&#19977;&#26041;&#24211;&#65292;&#37117;&#36824;&#26159;&#38024;&#23545;Python 2.x&#30340;&#36739;&#22810;&#65292;&#27604;&#36739;&#22909;&#65292;&#27604;&#36739;&#31283;&#23450;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#31561;&#20320;&#23545;Python&#29087;&#24713;&#20102;&#65292;&#28982;&#21518;&#20877;&#36716;&#20026;Python 3.x&#65292;&#20063;&#19981;&#36831;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#160;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#38024;&#23545;&#24320;&#21457;&#32773;&#65306;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#22914;&#26524;&#26159;&#26032;&#39033;&#30446;&#65292;&#20889;&#20195;&#30721;&#30340;&#35805;&#65292;&#33021;&#29992;Python 3.x&#65292;&#36824;&#26159;&#29992;Python 3.x &#21543;&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#20197;&#36991;&#20813;&#20197;&#21518;&#20877;&#21435;&#25240;&#33150;Python 2.x&#36716;Python 3.x&#12290;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#160;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
&#20854;&#20013;&#65292;&#22914;&#26524;&#29616;&#22312;&#20197;&#21518;Python2&#30340;&#20195;&#30721;&#20102;&#65292;&#24819;&#35201;&#23558;Python 2.x&#30340;&#20195;&#30721;&#65292;&#36716;&#25442;&#20026;Python 3.x&#65292;&#21487;&#20197;&#21442;&#32771;&#65306;</p>
<p style="color:rgb(85,85,85);font-family:'Microsoft Yahei', 'Helvetica Neue', Helvetica, Arial, sans-serif;font-size:16px;">
<a href="https://www.crifan.com/how_to_convert_python2_into_python3" rel="nofollow" title="" style="color:rgb(66,139,202);">&#12304;&#25945;&#31243;&#12305;&#22914;&#20309;&#25226;Python2&#30340;&#20195;&#30721;&#36716;&#25442;&#20026;Python3&#30340;&#20195;&#30721;</a></p>
<br>            </div>
                </div>
	</article>
