<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#21407;&#21019;&#21457;&#24067;&#20110;&#24494;&#20449;&#20844;&#20247;&#21495;&#12300;sylan215&#12301;&#65292;&#36716;&#36733;&#35831;&#21153;&#24517;&#27880;&#26126;&#20986;&#22788;&#65281;					https://blog.csdn.net/sylan15/article/details/78389437				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>&#34429;&#28982; Python3 &#24050;&#32463;&#20986;&#26469;&#24456;&#20037;&#20102;&#65292;&#34429;&#28982; Python2 &#21363;&#23558;&#25104;&#20026;&#21382;&#21490;&#20102;&#65292;&#20294;&#26159;&#22240;&#20026;<em>&#21382;&#21490;&#21407;&#22240;</em>&#65292;&#20381;&#28982;&#26377;&#24456;&#22810;&#20844;&#21496;&#30340;&#32769;&#39033;&#30446;&#32487;&#32493;&#22312;&#20351;&#29992;&#30528; Python2 &#29256;&#26412;(&#20999;&#25442;&#25104;&#26412;&#22826;&#39640;)&#65292;&#25152;&#20197;&#22823;&#22810;&#25968;&#24320;&#21457;&#32773;&#26426;&#22120;&#19978; Python2 &#21644; Python3 &#37117;&#26159;&#24182;&#23384;&#30340;&#65292;&#26412;&#25991;&#20027;&#35201;&#35828;&#26126;&#36825;&#31181;&#24773;&#20917;&#19979;&#22914;&#20309;&#20415;&#25463;&#30340;&#22312; Python2 &#21644; Python3 &#20043;&#38388;&#36827;&#34892;&#20999;&#25442;&#12290;</p>

<p>&#20808;&#35828;&#26126;&#19979;&#65292;&#26412;&#27425;&#25105;&#20204;&#19981;&#20171;&#32461; virtualenv&#65292;&#20063;&#19981;&#20171;&#32461; pipenv&#65292;&#22240;&#20026;&#36825;&#20004;&#20010;&#37117;&#26159;&#20026;&#20102;&#22823;&#22411;&#30340; Python &#24037;&#31243;&#20570;&#20934;&#22791;&#30340;&#65292;&#20043;&#21518;&#20250;&#21333;&#29420;&#25991;&#23383;&#36827;&#34892;&#35828;&#26126;&#12290;</p>

<p>&#26412;&#27425;&#26159;&#19981;&#20511;&#21161;&#22806;&#37096;&#24037;&#20855;&#65292;&#26469;&#23454;&#29616;&#24555;&#25463;&#20999;&#25442;&#12290;&#20854;&#23454;&#20063;&#21487;&#20197;&#35828;&#26159;&#21033;&#29992;&#31995;&#32479;&#29615;&#22659;&#21464;&#37327;&#30340;&#36923;&#36753;&#26469;&#23454;&#29616;&#30446;&#30340;&#12290;</p>

<p>&#26412;&#27425;&#29615;&#22659;&#20197; Windows &#20026;&#20363;&#65306;</p>

<blockquote>
  <p>&#31995;&#32479;&#65306; Windows 7 x64 <br>
  Python &#29256;&#26412;&#65306;Python 3.4 &#21644; Python 2.7</p>
</blockquote>



<h4 id="&#23433;&#35013;">&#23433;&#35013;</h4>

<p>&#39318;&#20808;&#23433;&#35013;&#22909; Python3.4 &#21644; Python2.7&#65292;&#23433;&#35013;&#21253;&#21487;&#20197;&#22312;&#36825;&#20010;&#22320;&#26041;&#36827;&#34892;&#19979;&#36733;&#65306;<a href="https://www.python.org/downloads/windows/" rel="nofollow">&#28857;&#20987;&#36339;&#36716;</a>&#12290;</p>



<h4 id="&#35774;&#32622;&#29615;&#22659;&#21464;&#37327;">&#35774;&#32622;&#29615;&#22659;&#21464;&#37327;</h4>

<p>&#28982;&#21518;&#20998;&#21035;&#25226;&#23545;&#24212;&#29256;&#26412;&#30340;&#23433;&#35013;&#36335;&#24452;&#21152;&#20837;&#21040;&#31995;&#32479;&#29615;&#22659;&#21464;&#37327;&#20013;&#21435;&#65306; <br>
<img src="https://img-blog.csdn.net/20180723114451729?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3N5bGFuMTU=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#35774;&#32622;&#29615;&#22659;&#21464;&#37327;" title="&#35774;&#32622;&#29615;&#22659;&#21464;&#37327;"></p>

<p>&#26032;&#36215;&#19968;&#20010; cmd &#31383;&#21475;&#39564;&#35777;&#19979;&#28155;&#21152;&#21518;&#30340;&#25928;&#26524;&#65306;</p>



<pre class="prettyprint"><code class=" hljs tex">C:<span class="hljs-command">\Users</span>&gt;path
PATH=C:<span class="hljs-command">\Windows</span><span class="hljs-command">\system</span>32;C:<span class="hljs-command">\Windows</span>;C:<span class="hljs-command">\Windows</span><span class="hljs-command">\System</span>32<span class="hljs-command">\Wbem</span>;C:<span class="hljs-command">\Windows</span><span class="hljs-command">\System</span>32
<span class="hljs-command">\WindowsPowerShell</span><span class="hljs-command">\v</span>1.0<span class="hljs-command">\;</span>C:<span class="hljs-command">\Program</span> Files<span class="hljs-command">\Git</span><span class="hljs-command">\cmd</span>;C:<span class="hljs-command">\Python</span>34;C:<span class="hljs-command">\Python</span>27;</code></pre>

<p>&#36825;&#26102;&#20505;&#25105;&#20204;&#30452;&#25509;&#22312; cmd &#36755;&#20837; python&#65292;&#24050;&#32463;&#21487;&#20197;&#34987;&#35782;&#21035;&#20102;&#65292;&#20294;&#26159;&#35782;&#21035;&#30340;&#24635;&#26159;&#36335;&#24452;&#22312;&#29615;&#22659;&#21464;&#37327;&#20013;&#25490;&#21069;&#38754;&#30340;&#37027;&#20010;&#29256;&#26412;&#30340; Python&#65292;&#27604;&#22914;&#30446;&#21069;&#20174;&#19978;&#22270;&#30475; Python3.4 &#26159;&#25490;&#21069;&#38754;&#30340;&#65292;&#23454;&#38469;&#39564;&#35777;&#19979;&#30475;&#30475;&#65306;</p>



<pre class="prettyprint"><code class=" hljs vhdl">C:\Users&gt;python
Python <span class="hljs-number">3.4</span><span class="hljs-number">.4</span> (v3<span class="hljs-number">.4</span><span class="hljs-number">.4</span>:<span class="hljs-number">737</span>efcadf5a6, Dec <span class="hljs-number">20</span> <span class="hljs-number">2015</span>, <span class="hljs-number">20</span>:<span class="hljs-number">20</span>:<span class="hljs-number">57</span>) [MSC v<span class="hljs-number">.1600</span> <span class="hljs-number">64</span> <span class="hljs-typename">bit</span> (AM
D64)] <span class="hljs-keyword">on</span> win32
<span class="hljs-keyword">Type</span> <span class="hljs-string">"help"</span>, <span class="hljs-string">"copyright"</span>, <span class="hljs-string">"credits"</span> <span class="hljs-keyword">or</span> <span class="hljs-string">"license"</span> <span class="hljs-keyword">for</span> more information.
&gt;&gt;&gt;</code></pre>



<h4 id="&#37325;&#21629;&#21517;&#20027;&#31243;&#24207;">&#37325;&#21629;&#21517;&#20027;&#31243;&#24207;</h4>

<p>&#28982;&#21518;&#25105;&#20204;&#20998;&#21035;&#25226;&#20004;&#20010;&#29256;&#26412;&#30340; Python &#20027;&#31243;&#24207; exe &#25913;&#19979;&#21517;&#65292;3.4 &#29256;&#26412;&#30340;&#25913;&#21517;&#20026; python34.exe&#65292;2.7 &#29256;&#26412;&#30340;&#25913;&#21517;&#20026; python27.exe&#65306; <br>
<img src="https://img-blog.csdn.net/20180723114532835?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3N5bGFuMTU=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#20027;&#31243;&#24207;&#25913;&#21517;" title="&#20027;&#31243;&#24207;&#25913;&#21517;"></p>

<p>&#20877;&#20998;&#21035;&#36816;&#34892; python34 &#21644; python27 &#35797;&#35797;&#65306;</p>



<pre class="prettyprint"><code class=" hljs vhdl">C:\Users&gt;python34
Python <span class="hljs-number">3.4</span><span class="hljs-number">.4</span> (v3<span class="hljs-number">.4</span><span class="hljs-number">.4</span>:<span class="hljs-number">737</span>efcadf5a6, Dec <span class="hljs-number">20</span> <span class="hljs-number">2015</span>, <span class="hljs-number">20</span>:<span class="hljs-number">20</span>:<span class="hljs-number">57</span>) [MSC v<span class="hljs-number">.1600</span> <span class="hljs-number">64</span> <span class="hljs-typename">bit</span> (AM
D64)] <span class="hljs-keyword">on</span> win32
<span class="hljs-keyword">Type</span> <span class="hljs-string">"help"</span>, <span class="hljs-string">"copyright"</span>, <span class="hljs-string">"credits"</span> <span class="hljs-keyword">or</span> <span class="hljs-string">"license"</span> <span class="hljs-keyword">for</span> more information.
&gt;&gt;&gt;

C:\Users&gt;python27
Python <span class="hljs-number">2.7</span><span class="hljs-number">.14</span> (v2<span class="hljs-number">.7</span><span class="hljs-number">.14</span>:<span class="hljs-number">84471935</span>ed, Sep <span class="hljs-number">16</span> <span class="hljs-number">2017</span>, <span class="hljs-number">20</span>:<span class="hljs-number">19</span>:<span class="hljs-number">30</span>) [MSC v<span class="hljs-number">.1500</span> <span class="hljs-number">32</span> <span class="hljs-typename">bit</span> (<span class="hljs-keyword">In</span>
tel)] <span class="hljs-keyword">on</span> win32
<span class="hljs-keyword">Type</span> <span class="hljs-string">"help"</span>, <span class="hljs-string">"copyright"</span>, <span class="hljs-string">"credits"</span> <span class="hljs-keyword">or</span> <span class="hljs-string">"license"</span> <span class="hljs-keyword">for</span> more information.
&gt;&gt;&gt;</code></pre>

<p>&#20174;&#19978;&#22270;&#21487;&#20197;&#30475;&#20986;&#65292;&#25105;&#20204;&#24050;&#32463;&#21487;&#20197;&#23454;&#29616;&#20998;&#21035;&#36816;&#34892;&#25351;&#23450;&#29256;&#26412;&#30340;&#25928;&#26524;&#20102;&#65292;&#22914;&#26524;&#25191;&#34892;&#33050;&#26412;&#30340;&#35805;&#30452;&#25509; <code>python34 test.py</code> &#25110;&#32773; <code>python27 test.py</code> &#23601;&#34892;&#20102;&#12290;</p>

<p>&#20294;&#26159;&#27599;&#27425;&#25191;&#34892;&#33050;&#26412;&#37117;&#21152;&#21069;&#32512;&#26159;&#19981;&#26159;&#24456;&#32047;&#65292;&#22914;&#26524;&#26377;&#19968;&#20010;&#29256;&#26412;&#26159;&#25105;&#20204;&#24120;&#29992;&#30340;&#35805;&#65292;&#20063;&#21487;&#20197;&#36890;&#36807;&#20462;&#25913;&#25991;&#20214;&#21518;&#32512;&#20851;&#32852;&#31243;&#24207;&#26469;&#23454;&#29616;&#40664;&#35748;&#20851;&#32852;&#65292;&#20877;&#38656;&#35201;&#29305;&#27530;&#29256;&#26412;&#30340;&#26102;&#20505;&#20877;&#21152;&#19978;&#21069;&#32512;&#23601;&#34892;&#65292;&#19981;&#36807;&#20445;&#38505;&#36215;&#35265;&#65292;&#36824;&#26159;&#19968;&#30452;&#24102;&#30528;&#21543;&#12290;</p>



<h4 id="&#34917;&#20805;&#35828;&#26126;">&#34917;&#20805;&#35828;&#26126;</h4>

<p>&#34917;&#20805;&#35828;&#26126;&#19979;&#65292;&#20854;&#23454;&#32593;&#19978;&#20063;&#26377;&#32593;&#21451;&#25552;&#20379;&#20102;&#20854;&#20182;&#20004;&#31181;&#26041;&#27861;&#65306;</p>

<blockquote>
  <p>&#20351;&#29992; Python &#33258;&#24102;&#30340; <code>py -2</code> &#21644; <code>py -3</code> &#21629;&#20196;&#65307; <br>
  &#21478;&#19968;&#31181;&#21644;&#25105;&#19978;&#38754;&#35828;&#30340;&#31867;&#20284;&#65292;&#20294;&#26159;&#21482;&#37325;&#21629;&#21517;&#20102;&#20854;&#20013;&#19968;&#20010;&#29256;&#26412;&#30340;&#25191;&#34892;&#25991;&#20214;&#21517;&#65307;</p>
</blockquote>

<p>&#22914;&#26524;&#26426;&#22120;&#21482;&#23433;&#35013;&#20102;&#20004;&#20010;&#29256;&#26412;&#30340; Python&#65292;&#36825;&#20960;&#20010;&#26041;&#27861;&#30830;&#23454;&#26159;&#37117;&#21487;&#20197;&#35299;&#20915;&#30340;&#65292;&#20294;&#26159;&#22240;&#20026;&#25105;&#38656;&#35201;&#37096;&#20998;&#33050;&#26412;&#25903;&#25345; Windows XP (Python3.5 &#20197;&#21518;&#23601;&#19981;&#25903;&#25345; XP &#20102;)&#65292;&#25152;&#20197;&#23433;&#35013;&#20102; Python2.7&#12289;Python3.4 &#21644; Python3.6 &#20849;&#19977;&#20010;&#29256;&#26412;&#30340; Python&#65292;&#36825;&#26679;&#30340;&#35805;&#23601;&#21482;&#33021;&#25226;&#20840;&#37096;&#20027;&#31243;&#24207;&#25991;&#20214;&#37117;&#37325;&#21629;&#21517;&#20102;&#65292;&#32780;&#19988;&#36825;&#26679;&#35299;&#20915;&#30340;&#38382;&#39064;&#26356;&#24443;&#24213;&#65292;&#19968;&#21171;&#27704;&#36920;&#12290;</p>

<p>&#20877;&#34917;&#20805;&#35828;&#26126;&#19979;&#65292;&#22914;&#26524;&#35201;&#38024;&#23545;&#19981;&#21516;&#29256;&#26412;&#30340; Python &#35843;&#29992; pip&#65292;&#21629;&#20196;&#21518;&#22914;&#19979;(&#35831;&#25226; requests &#25442;&#25104;&#33258;&#24049;&#38656;&#35201;&#30340;&#21253;&#21517;)&#65306;</p>



<pre class="prettyprint"><code class=" hljs cmake">python27 -m pip <span class="hljs-keyword">install</span> requests
python34 -m pip <span class="hljs-keyword">install</span> requests
python36 -m pip <span class="hljs-keyword">install</span> requests</code></pre>

<p>&#36825;&#26679;&#23433;&#35013;&#30340;&#20381;&#36182;&#24211;&#23601;&#26159;&#22312;&#21508;&#20010;&#29256;&#26412;&#20043;&#38388;&#30456;&#20114;&#29420;&#31435;&#30340;&#12290;</p>

<p>&#22909;&#20102;&#65292;&#36214;&#32039;&#21160;&#25163;&#35797;&#35797;&#21543;&#12290;&#24403;&#28982;&#65292;&#22914;&#26524;&#24744;&#26377;&#26356;&#22909;&#30340;&#24314;&#35758;&#65292;&#27426;&#36814;&#30041;&#35328;&#35752;&#35770;&#12290;</p>

<blockquote>
  <p>&#26412;&#25991;&#21407;&#21019;&#21457;&#24067;&#20110;&#20844;&#20247;&#21495;&#12300;sylan215&#12301;&#65292;&#21313;&#24180;&#27979;&#35797;&#32769;&#20853;&#30340;&#21407;&#21019;&#24178;&#36135;&#65292;&#20851;&#27880;&#25105;&#65292;&#28072;&#23039;&#21183;&#65281;</p>
</blockquote>

<p></p><center><img src="https://img-blog.csdn.net/20180704093346271?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3N5bGFuMTU=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="sylan215" title=""></center><p></p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
