<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<blockquote style="border-left:3px solid rgb(219,219,219);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<p style="clear:both;">
<br></p>
<p style="clear:both;">
&#65288;1&#65289;&#20154;&#24037;&#26234;&#33021;&#36825;&#20040;&#28779;&#65292;0&#22522;&#30784;&#33021;&#23398;python&#21527;&#65311;</p>
<p style="clear:both;">
&#65288;2&#65289;python&#35813;&#24590;&#20040;&#36873;&#25321;&#32534;&#36753;&#22120;&#65311;</p>
<p style="clear:both;">
&#65288;3&#65289;&#24590;&#20040;&#25645;&#24314;python&#36816;&#34892;&#29615;&#22659;&#65311;</p>
<p style="clear:both;">
&#65288;4&#65289;<span>python&#22909;&#23398;&#21527;&#65292;&#24590;&#20040;&#23398;</span>&#65311;</p>
</blockquote>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#20154;&#24037;&#26234;&#33021;&#26102;&#20195;&#30340;&#21040;&#26469;&#65292;&#24456;&#22810;&#25991;&#31456;&#35828;&#36825;&#20040;&#19968;&#21477;&#65306;&#8220;<span style="color:rgb(0,209,0);">&#19981;&#20250;python&#65292;&#23601;&#19981;&#35201;&#35828;&#33258;&#24049;&#26159;&#31243;&#24207;&#21592;</span>&#8221;&#65292;&#36825;&#35828;&#30340;&#26377;&#28857;&#22840;&#24352;&#20102;&#65292;&#20294;&#30830;&#23454;&#35273;&#24471;&#30446;&#21069;python&#36825;&#20010;&#35821;&#35328;&#20540;&#24471;&#23398;&#20064;&#65292;&#32780;&#19988;&#20250;python&#26159;&#39640;&#34218;&#31243;&#24207;&#21592;&#30340;&#24517;&#22791;&#25216;&#33021;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#24456;&#24184;&#36816;&#65292;&#20320;&#30475;&#21040;&#36825;&#37324;&#65292;&#35828;&#26126;&#20320;&#26159;&#20026;python&#23398;&#20064;&#32780;&#26469;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#20063;&#24456;&#39640;&#20852;&#30340;&#21578;&#35785;&#20320;&#65292;python&#20837;&#38376;&#23398;&#20064;&#38750;&#24120;&#31616;&#21333;&#65292;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#22914;&#20309;&#36808;&#20986;python&#23398;&#20064;&#30340;&#37027;&#19968;&#27493;&#38750;&#24120;&#37325;&#35201;&#65292;&#24076;&#26395;&#36825;&#31687;&#21407;&#21019;&#25991;&#31456;&#33021;&#22815;&#24110;&#21040;&#20320;&#65292;<span>&#22914;&#26524;&#23545;&#20320;&#26377;&#29992;&#65292;&#35831;&#20998;&#20139;&#32473;&#38656;&#35201;&#30340;&#20154;</span>&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#26412;&#25991;&#23558;&#22312;&#19968;&#31181;&#23545;&#27604;&#30340;&#26041;&#24335;&#20013;&#23545;python&#20837;&#38376;&#20570;&#19968;&#20010;&#20171;&#32461;&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span><span style="font-size:18px;">&#19968;&#65306;python&#23433;&#35013;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span><span style="font-size:18px;">&#20108;&#65306;&#32534;&#36753;&#22120;&#23433;&#35013;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span><span style="font-size:18px;">&#19977;&#65306;&#20889;&#31532;&#19968;&#20010;&#20195;&#30721;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span><span style="font-size:18px;">&#22235;&#65306;&#24211;&#30340;&#23433;&#35013;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span><span style="font-size:18px;">&#20116;&#65306;&#23398;&#20064;&#26041;&#27861;&#25512;&#33616;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="font-size:18px;"><span>&#19968;&#65306;python&#23433;&#35013;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#30334;&#24230;python&#65292;&#36827;&#20837;&#23448;&#32593;&#65306;https://www.python.org/</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJoJz6tgpahX13qd5AzavEaIFvfkZRLsTDPDicQKGFibUwWEQPABQ9V4tj4DSR5KHS9lfh6rjTADgxQg/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#36827;&#20837;&#23448;&#32593;&#21518;&#65292;&#28857;&#20987;Downloads<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;text-align:center;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJoJz6tgpahX13qd5AzavEaID7ibqO07om4p6aQTaKIjAx3mliaWibrF56W5cKickpsibELHUwa1LU91ogQ/0?wx_fmt=png" alt="" style="width:386px;"></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;text-align:center;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span>python&#26377;&#20004;&#20010;&#22823;&#29256;&#26412;&#20998;&#20026;Python3&#21644;Python2&#12290;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;text-align:center;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJoJz6tgpahX13qd5AzavEaIc70KsjGegSsn91zJ1GYpb1pb9axDZ3J91lLHX51uMk36iaeVt3ibMyVg/0?wx_fmt=png" alt="" style="width:388px;"></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
Python2&#20986;&#29616;&#36739;&#26089;&#65292;&#24456;&#22810;&#23398;&#20064;&#36164;&#26009;&#26159;&#32467;&#21512;Python2&#26469;&#35762;&#36848;&#30340;&#65292;&#20294;&#22312;&#27492;&#20173;&#28982;<span>&#24314;&#35758;&#22823;&#23478;&#30452;&#25509;&#19979;&#36733;&#20351;&#29992;Python3</span>&#65292;&#21407;&#22240;&#26377;&#20004;&#20010;&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#65288;1&#65289;python2&#21644;python3&#30340;&#35821;&#27861;&#24635;&#30340;&#23618;&#38754;&#19978;&#30475;&#22522;&#26412;&#35821;&#27861;&#37117;&#19968;&#26679;&#65292;&#25110;&#32773;&#30456;&#20284;&#65292;python3&#23454;&#38469;&#26159;&#35299;&#20915;&#20102;&#20197;&#21069;python2&#30340;&#35774;&#35745;&#32570;&#38519;&#12290;&#26412;&#20154;&#20808;&#23398;&#20064;&#20102;python2&#65292;&#20877;&#21518;&#38754;&#19981;&#24471;&#19981;&#22240;&#20026;&#35299;&#20915;&#23454;&#38469;&#38382;&#39064;python3&#26356;&#36866;&#21512;&#32780;&#20999;&#25442;&#21040;python3&#30340;&#20351;&#29992;&#19978;&#26469;&#30340;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#65288;2&#65289;&#38543;&#30528;&#24320;&#21457;&#22242;&#38431;&#23545;python3&#30340;&#25237;&#20837;&#65292;python3&#23558;&#20250;&#21464;&#24471;&#26356;&#21152;&#23436;&#21892;&#65292;&#23545;&#23427;&#30340;&#25903;&#25345;&#20063;&#20250;&#36234;&#26469;&#36234;&#22810;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#25152;&#20197;&#65292;<span>&#35831;&#19979;&#36733;python3</span>&#65292;&#20063;&#21487;&#20197;&#36827;&#34892;&#20197;&#24448;&#29256;&#26412;&#30340;&#19979;&#36733;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJoJz6tgpahX13qd5AzavEaIe5T8HDR7BlR9FDEKPcGheMC4MwmjGBPC4sdNxcibLT7P1eHIpYDLFrA/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
python&#26159;&#24320;&#28304;&#30340;&#65292;&#25152;&#20197;<span>&#23427;&#27809;&#26377;&#25152;&#35859;&#30340;&#30772;&#35299;&#29256;</span>&#12290;<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#28857;&#20987;&#19979;&#36733;&#65292;&#26681;&#25454;&#25552;&#31034;&#23601;&#21487;&#20197;&#36827;&#34892;&#23433;&#35013;&#65292;&#21487;&#20197;&#40664;&#35748;&#25918;&#22312;C&#30424;&#65292;&#20063;&#21487;&#20197;&#36873;&#25321;&#23433;&#35013;&#30340;&#23384;&#25918;&#36335;&#24452;&#65288;&#23433;&#35013;&#21518;&#35760;&#24471;&#23433;&#35013;&#36335;&#24452;&#26368;&#22909;&#65289;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
<span>&#23433;&#35013;&#23436;python&#65292;&#23601;&#21487;&#20197;&#30452;&#25509;&#20351;&#29992;&#23398;&#20064;python&#20102;&#12290;</span>&#36825;&#21477;&#35805;&#26159;&#30495;&#30340;&#65292;&#19981;&#20449;&#21487;&#20197;&#35797;&#35797;&#19979;&#38754;&#30340;&#20004;&#31181;&#26041;&#24335;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#19979;&#36733;&#23436;&#25104;&#21518;&#21487;&#20197;&#22312;windows&#30340;&#33756;&#21333;&#26639;&#20013;&#25214;&#21040;&#23433;&#35013;&#30340;python&#65292;&#22914;&#19979;&#22270;&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJoJz6tgpahX13qd5AzavEaIzz3UibueiaZxxYsP8Or1x9uxorz6Iyo1MzEtHP2HibWdmEeTtk4q2s6dw/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#28857;&#20987;&#25991;&#20214;&#20013; IDLE&#65288;&#38598;&#25104;&#24320;&#21457;&#29615;&#22659;&#65289;&#65292;&#23601;&#21487;&#20197;&#36827;&#34892;python&#30340;&#23398;&#20064;&#12290;&#22914;&#19979;&#22270;&#65306;<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJoJz6tgpahX13qd5AzavEaIYfZBkgUWqoaCzlU8pDFX2oA1n5ia6A3AqYT0MUqXnMsw1XXVhEhljbw/0?wx_fmt=png" alt="" style="width:356px;"></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#21516;&#26679;&#22312;&#21629;&#20196;&#34892;&#65288;&#21629;&#20196;&#25552;&#31034;&#31526;&#31383;&#21475; &#36816;&#34892;&#65306;cmd&#65289;&#20063;&#21487;&#20197;&#36827;&#34892;&#23398;&#20064;&#65292;&#22914;&#19979;&#22270;&#65306;<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJoJz6tgpahX13qd5AzavEaIHYr6A4gwulBfZU8KOtewQDmhoGcYjuuoT37GJmicaaOAIDIIYghRnsA/0?wx_fmt=png" alt="" style="width:391px;"></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#25552;&#20379;&#36825;&#20004;&#31181;&#26041;&#24335;&#65292;&#21482;&#26159;&#35753;&#20320;&#30693;&#36947;&#36825;&#26679;&#21435;&#23398;&#20064;&#26159;&#27809;&#26377;&#38382;&#39064;&#30340;&#65292;&#20294;&#26159;&#22312;&#36825;&#31181;&#32534;&#36753;&#29615;&#22659;&#20013;&#23398;&#20064;&#24456;&#38590;&#26377;&#19968;&#20010;&#22909;&#20307;&#39564;&#30340;&#65292;&#32780;&#19988;&#22312;&#24448;&#21518;&#30340;&#23398;&#20064;&#20013;&#36824;&#20250;&#36935;&#21040;&#24211;&#25110;&#32773;&#21253;&#30340;&#23433;&#35013;&#40635;&#28902;&#30340;&#38382;&#39064;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#25152;&#20197;&#32487;&#32493;&#24448;&#19979;&#30475;&#65292;&#20160;&#20040;&#26679;&#30340;&#32534;&#36753;&#22120;&#26377;&#21161;&#20110;&#23398;&#20064;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="font-size:18px;"><span>&#20108;&#65306;&#32534;&#36753;&#22120;&#23433;&#35013;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#32534;&#20889;&#31243;&#24207;&#30340;&#32534;&#36753;&#22120;&#26377;&#24456;&#22810;&#31181;&#65292;<span>&#22312;&#36825;&#37324;&#25512;&#33616;Pycharm</span>&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
sublime text &#12289;notepad++&#12289;&#37117;&#21487;&#20197;&#29992;&#26469;&#32534;&#36753;&#20195;&#30721;&#65292;&#20294;&#20027;&#25512;Pycharm&#26159;&#22240;&#20026;&#23427;&#20855;&#26377;&#20197;&#19979;&#29305;&#28857;&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#65288;&#19968;&#65289;&#65306;<span>&#20813;&#36153;&#36719;&#20214;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#65288;&#20108;&#65289;&#65306;<span>&#23433;&#35013;&#31616;&#21333;&#12289;&#26080;&#39035;&#22797;&#26434;&#30340;&#29615;&#22659;&#37197;&#32622;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#65288;&#19977;&#65289;&#65306;<span>&#23433;&#35013;&#24211;&#26041;&#20415;</span>&#160;&#65288;&#38750;&#24120;&#37325;&#35201;&#65289;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
PyCharm&#25317;&#26377;IDE&#19968;&#33324;&#20855;&#22791;&#30340;&#21151;&#33021;&#65292;&#27604;&#22914;&#65292; &#35843;&#35797;&#12289;&#35821;&#27861;&#39640;&#20142;&#12289;Project&#31649;&#29702;&#12289;&#20195;&#30721;&#36339;&#36716;&#12289;&#26234;&#33021;&#25552;&#31034;&#12289;&#33258;&#21160;&#23436;&#25104;&#12289;&#21333;&#20803;&#27979;&#35797;&#12289;&#29256;&#26412;&#25511;&#21046;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="font-size:18px;"><span>&#23433;&#35013;pycharm</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
1&#65306;&#30334;&#24230;Pycharm&#65292;&#25214;&#21040;&#19979;&#22270;&#38142;&#25509;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflzVo1UMveSHbSXTmBbyevE3gl68HX4j8RawPU5XYffZfbBQ2U16N3tw/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
2&#65306;&#28857;&#20987;&#36827;&#20837;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflG7ADw17sUSl0NnQhqENU0j5fLmHoqWVtpE87J4c5vFnENQ6t8ey1BQ/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
3&#65306;&#19979;&#36733;pycharm &#31038;&#21306;&#29256;&#26412;&#65292;&#20063;&#23601;&#26159;&#22270;&#19978;Community&#65292;&#28857;&#20987;DOWNLOAD&#12290;<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#23545;&#20110;&#38750;&#24517;&#38656;&#38656;&#35201;&#65292;&#31038;&#21306;&#29256;&#26412;&#23601;&#22815;&#23398;&#20064;&#20351;&#29992;&#20102;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflruibibvcOPZicImbJONtsOpJaJOV7GMDDlGWSjFTAImL8TeINUlOW8CBA/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#22914;&#19978;&#22270;&#36873;&#25321;&#19979;&#36733;&#22320;&#22336;&#36827;&#34892;&#19979;&#36733;&#65292;&#28857;&#20987;exe&#25353;&#29031;&#25552;&#31034;&#23433;&#35013;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#23433;&#35013;&#25104;&#21151;&#21518;&#22312;&#26700;&#38754;&#19978;&#21487;&#20197;&#25214;&#21040;Pycharm&#30340;&#22270;&#26631;&#65292;&#22914;&#19979;&#22270;&#25152;&#31034;&#12290;<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;text-align:center;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTfl6LmkkRV5mahG09Voc4Pn0sxawwOTlk2GP5EdIkKSwILFtfowhNMK0A/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span>JetBrains&#160;</span>&#26159;&#24320;&#21457;pycharm&#30340;&#20844;&#21496;&#65292;&#20197;&#21518;&#19981;&#35201;&#23545;&#23427;&#22826;&#38476;&#29983;&#12290;<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="font-size:18px;"><span>&#19977;&#65306;&#20889;&#31532;&#19968;&#20010;&#20195;&#30721;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#28857;&#20987;&#22270;&#26631;&#65292;&#25171;&#24320;pycharm&#12290;<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
1&#65306;<span>&#26032;&#24314;&#39033;&#30446;</span>&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflUhBrJj8ArtpHa3v3uvvSJqogtliaMmzcXt0YpFX0IDKkYOU3VYGKhcg/0?wx_fmt=png" alt="" style="width:555.556px;"></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span>location</span>&#65306;&#20026;&#21019;&#24314;&#39033;&#30446;&#30340;&#22320;&#22336;&#65288;&#25110;&#32773;&#21483;&#25991;&#20214;&#22841;&#22320;&#22336;&#65289;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span>interprete</span>r&#65306;&#20026;&#36873;&#25321;&#24050;&#32463;&#19979;&#36733;&#30340;&#35299;&#37322;&#22120;&#12290;&#22914;&#26524;&#30005;&#33041;&#19978;&#24050;&#32463;&#23433;&#35013;&#20102;python2&#65292;python3&#65292;&#22312;&#19979;&#25289;&#33756;&#21333;&#20013;&#20250;&#33258;&#21160;&#26816;&#27979;&#20986;&#24050;&#32463;&#23433;&#35013;&#30340;&#29256;&#26412;&#65292;&#21487;&#20197;&#36873;&#25321;&#20999;&#25442;&#20351;&#29992;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflJEcPDIbShsEYjf4WYLmvdK93BqibkUZVicX6UBtYePb3dk11fYsR1zIg/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
2&#65306;&#21491;&#38190;<span>&#21019;&#24314;&#31532;&#19968;&#20010;python&#25991;&#20214;</span>&#65292;&#22914;&#21019;&#24314;&#19968;&#20010;&#21629;&#21517;&#20026;hello.py&#30340;&#25991;&#20214;&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTfl7iaXJE4l53wKMKSaKHdXeicRK38ibicYX9sYgB3LsaNaicAa3Xnyb6bibIlg/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflWFNDsib4ME7UoVHlo4Opw2BtzKRFqQAvaQtTz2N6HWI3dg1CE4VTrug/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
3&#65306;<span>&#32534;&#20889;&#20195;&#30721;</span>&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTfl07ibhxWDGqzStOibEbibgs2iaFdRa8vTolP8zhGZfzIzT86dZarocB5wBA/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
4&#65306;<span>&#36816;&#34892;&#20195;&#30721;</span>&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflVn8xxldPKKQaAMQ5ltexVLwiaSGoEUqPNtd58bXJzBUibhHIUFkECuqA/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
5&#65306;<span>&#36873;&#25321;&#36816;&#34892;&#25991;&#20214;</span>&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflopBvFwPE4B41vurFWRMYX8mjiaY4H2JlXeESicCMrEbV0UsCUh9J28tg/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
6&#65306;<span>&#26597;&#30475;&#36816;&#34892;&#32467;&#26524;</span>&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTfl5DDQWibJVT7yiasuc0g9MW1MR4vU7RKVRssRjp0B0IIEGlwFicFx5SzCQ/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
pycharm&#25972;&#20307;&#30028;&#38754;&#22914;&#19979;&#22270;&#65306;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflmlD5eNICjXWjPXTk5XPnicvZrM0kYLUjSO8gmmBuSNuOZUEloySoy0A/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#20851;&#20110;pycharm&#30340;&#37197;&#32622;&#24456;&#31616;&#21333;&#65292;&#26377;&#29305;&#27530;&#38656;&#35201;&#20877;&#36827;&#34892;&#29305;&#27530;&#37197;&#32622;&#21363;&#21487;&#65288;&#22312;file -&gt;settings&#36827;&#34892;&#35774;&#32622;&#65289;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="font-size:18px;"><span>&#22235;&#65306;&#24211;&#30340;&#23433;&#35013;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#22312;&#24212;&#29992;&#20013;&#65292;&#24448;&#24448;&#38656;&#35201;&#21033;&#29992;&#29616;&#25104;&#30340;&#24211;&#26469;&#23454;&#29616;&#26576;&#20123;&#21151;&#33021;&#65292;&#22914;&#26426;&#22120;&#23398;&#20064;&#20013;&#24517;&#39035;&#29992;&#21040;&#30340;&#25968;&#20540;&#20998;&#26512;&#24211;&#8220;numpy&#8221;&#12289;"pandas"&#12290;&#24211;&#30340;&#23433;&#35013;&#26159;&#23398;&#20064;&#30340;&#24517;&#32463;&#20043;&#36335;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
<span>&#22914;&#26524;&#27809;&#26377;&#20351;&#29992;Pycharm</span>,&#22312;&#23433;&#35013;&#24211;&#26102;&#23601;&#20250;&#25509;&#35302;&#21040;<span>setuptools,pip</span>&#65292;&#22914;&#26524;&#19979;&#36733;&#30340;python&#29256;&#26412;&#20013;&#27809;&#26377;&#23427;&#20204;&#65292;&#23601;&#38656;&#35201;&#37325;&#26032;&#19979;&#36733;&#23433;&#35013;setuptools,pip&#65292;&#20877;&#36890;&#36807;pip&#26469;&#23433;&#35013;&#25152;&#38656;&#35201;&#30340;&#24211;&#12290;&#36825;&#31181;&#26041;&#24335;&#29087;&#32451;&#20043;&#21518;&#20063;&#24182;&#19981;&#22797;&#26434;&#12290;<span>&#20294;pycharm&#32473;&#25105;&#20204;&#25552;&#20379;&#20102;&#26356;&#20026;&#31616;&#21333;&#30340;&#23433;&#35013;&#26041;&#24335;&#65292;&#22914;&#19979;&#22270;&#25152;&#31034;&#65292;&#35831;&#28857;&#20987;&#22270;&#25918;&#22823;&#26597;&#30475;&#12290;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflh2lr7QhkCaKb2QbeLPGr6JUfzQKicOh2StAUnuvqRAabxR7NJvZxIcw/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflCWticXQrlQlzhxFicACIwibwfziaGfGG7WYsSVndQubk0cdAkfDh2LRhAw/0?wx_fmt=png" alt=""></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#23433;&#35013;&#23436;&#23601;&#20250;&#22312;&#24050;&#23433;&#35013;&#21015;&#34920;&#20013;&#20986;&#29616;&#35813;&#24211;&#30340;&#21517;&#31216;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#29305;&#21035;&#25552;&#31034;&#65306;<span style="color:rgb(51,51,51);">&#20026;&#20102;&#26041;&#20415;&#29992;&#25143;&#65292;</span><span style="font-weight:700;color:rgb(51,51,51);">Pycharm</span><span style="color:rgb(51,51,51);">&#160;&#25552;&#20379;&#20102;&#21478;&#19968;&#20010;&#36148;&#24515;&#30340;&#21151;&#33021;&#65292;&#23558;&#160;</span><span style="font-weight:700;color:rgb(51,51,51);">Python
 shell</span><span style="color:rgb(51,51,51);">&#160;&#30452;&#25509;&#38598;&#25104;&#22312;&#36719;&#20214;&#20013;&#12290;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="color:rgb(51,51,51);"></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<img src="https://mmbiz.qpic.cn/mmbiz_png/euA8HToHtJqadchSGvo7Sg82s4AOrTflpFKXfSWuglEW2m2xWjz9kBvsyp0XBUc7q5KFlq27ibw8ILpIAqRZphw/0?wx_fmt=png" alt="" style="width:516px;"></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="color:rgb(51,51,51);"></span><br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span style="font-size:18px;"><span>&#20116;&#65306;&#23398;&#20064;&#26041;&#27861;&#25512;&#33616;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
1.<span>python&#26680;&#24515;&#32534;&#31243;(&#31532;&#20108;&#29256;)</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#26368;&#32463;&#20856;&#30340;python&#20837;&#38376;&#25945;&#26448;&#65292;&#20294;&#20381;&#25176;&#26159;python2&#65292;&#27809;&#26377;&#20851;&#31995;&#65292;&#21487;&#20197;&#20808;&#23398;Python2,&#21518;&#38754;&#20877;&#23398;3&#12290;&#25512;&#33616;&#23427;&#26159;&#22240;&#20026;&#36825;&#26412;&#20070;&#22312;&#35821;&#27861;&#19978;&#24456;&#35814;&#23613;&#65292;&#21487;&#20197;&#20316;&#20026;&#24037;&#20855;&#20070;&#26597;&#30475;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
2.<span>&#24278;&#38634;&#23792;&#30340;&#23448;&#32593;(python2,python3)</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#38750;&#24120;&#19981;&#38169;&#30340;&#32593;&#31449;&#65292;&#37324;&#38754;&#26377;&#36739;&#20026;&#31616;&#21333;&#30340;python&#25945;&#31243;&#65292;&#26082;&#26377;python2&#30340;&#25945;&#31243;&#20063;&#26377;python3&#30340;&#25945;&#31243;&#65292;&#23481;&#26131;&#23398;&#20064;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
3.<span>&#20889;&#20195;&#30721;&#65292;&#20889;&#20195;&#30721;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
&#35821;&#27861;&#30475;&#30340;&#20877;&#22810;&#65292;&#35760;&#19981;&#20303;&#20960;&#20010;&#65292;&#38656;&#35201;&#29992;&#21040;&#30340;&#26102;&#20505;&#19968;&#28857;&#20063;&#35760;&#19981;&#36215;&#26469;&#65292;&#36825;&#26679;&#25928;&#29575;&#23601;&#24456;&#24930;&#20102;&#65292;&#25152;&#26377;&#36824;&#26159;&#38656;&#35201;&#20889;&#20195;&#30721;&#65292;&#25970;&#35821;&#27861;&#12290;&#19981;&#30693;&#36947;&#20889;&#20160;&#20040;&#20195;&#30721;&#65292;&#23601;&#21487;&#20197;&#25343;&#19968;&#26412;&#31639;&#27861;&#20070;&#21462;&#27169;&#25311;&#32534;&#20889;&#65292;&#24448;&#24448;&#31639;&#27861;&#23454;&#36341;&#37324;&#35821;&#27861;&#26159;&#29992;&#30340;&#26368;&#22810;&#30340;&#12290;&#24403;&#28982;&#26377;&#39033;&#30446;&#21487;&#20197;&#23454;&#36341;&#26368;&#22909;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:2em;">
4.<span>&#20851;&#27880;&#20844;&#20247;&#21495;"&#26426;&#22120;&#23398;&#20064;&#31639;&#27861;&#19982;Python&#31934;&#30740;</span>"</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
&#23436;&#12290;</p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<span>&#21407;&#21019;&#19981;&#26131;&#65292;&#36716;&#36733;&#35831;&#27880;&#26126;&#26412;&#25991;&#20986;&#22788;&#12290;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<blockquote style="border-left:3px solid rgb(219,219,219);font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<p style="clear:both;">
<span style="font-size:12px;">&#20320;&#30340;&#28857;&#36190;&#65292;&#26159;&#25105;&#20204;&#21069;&#36827;&#30340;&#21160;&#21147;&#12290;</span></p>
<p style="clear:both;">
<span style="font-size:12px;">&#20851;&#27880;&#20844;&#20247;&#21495;&#65292;&#23398;&#20064;&#38506;&#20276;&#20320;&#24038;&#21491;&#12290;</span></p>
</blockquote>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:25.6px;text-align:center;">
<br></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:25.6px;text-align:center;">
<span style="font-size:14px;"><span style="font-size:12px;"></span>&#27426;&#36814;&#20320;&#20851;&#27880;&#65292;&#19982;&#20320;&#20849;&#21516;&#36827;&#27493;&#12290;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:25.6px;text-align:center;">
<img src="https://mmbiz.qpic.cn/mmbiz_jpg/euA8HToHtJomicpwUq92mEdE1b9gXib1kTALCJAAWWa2fn9v9QS4GCg1icAfrkBPkZOscwJzNLibU4TbBicFoKjp8Lw/0?wx_fmt=jpeg" width="108" height="108" alt="" style="width:203px;"></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:25.6px;text-align:center;">
<span style="font-size:12px;">&#38271;&#25353;&#20108;&#32500;&#30721;&#20851;&#27880;</span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:25.6px;text-align:center;">
<span style="font-size:12px;"><span style="font-size:13.3333px;">&#27426;&#36814;&#28155;&#21152;&#20010;&#20154;&#24494;&#20449;&#21495;</span></span></p>
<p style="clear:both;font-family:'Helvetica Neue', Helvetica, 'Hiragino Sans GB', 'Microsoft YaHei', Arial, sans-serif;font-size:14px;line-height:25.6px;text-align:center;">
<img src="https://mmbiz.qpic.cn/mmbiz_jpg/euA8HToHtJr0fQdn7GDERVyq91ibQor5ZhHnXOSdZcjXVefOQxFPKA6FVtnlZaqib7P8eX055vmTL7mXEmawP1Lg/0?wx_fmt=jpeg" alt="" style="width:157px;"></p>
            </div>
                </div>
	</article>
