<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p>Jupyter Notebook(&#27492;&#21069;&#34987;&#31216;&#20026; IPython notebook)&#26159;&#19968;&#20010;&#20132;&#20114;&#24335;&#31508;&#35760;&#26412;&#65292;&#25903;&#25345;&#36816;&#34892; 40 &#22810;&#31181;&#32534;&#31243;&#35821;&#35328;&#12290;</p>
<p>Jupyter Notebook &#30340;&#26412;&#36136;&#26159;&#19968;&#20010; Web &#24212;&#29992;&#31243;&#24207;&#65292;&#20415;&#20110;&#21019;&#24314;&#21644;&#20849;&#20139;&#25991;&#23398;&#21270;&#31243;&#24207;&#25991;&#26723;&#65292;&#25903;&#25345;&#23454;&#26102;&#20195;&#30721;&#65292;&#25968;&#23398;&#26041;&#31243;&#65292;&#21487;&#35270;&#21270;&#21644;<span>&#160;</span><a href="https://baike.so.com/doc/6949586-7171987.html" rel="nofollow" style="color:rgb(19,110,194);text-decoration:none;">markdown</a>&#12290; &#29992;&#36884;&#21253;&#25324;:&#25968;&#25454;&#28165;&#29702;&#21644;&#36716;&#25442;&#65292;&#25968;&#20540;&#27169;&#25311;&#65292;&#32479;&#35745;&#24314;&#27169;&#65292;&#26426;&#22120;&#23398;&#20064;&#31561;&#31561;
 &#12290;</p>
<p></p>
<h2><span class="title" style="font-weight:500;color:rgb(0,0,0);font-size:22px;font-family:'microsoft yahei', Arial, Helvetica, sans-serif;line-height:24px;"><br></span></h2>
<div class="sonConBox">
<h3 style="font-size:14px;font-weight:500;clear:both;font-family:'microsoft yahei';border-bottom:1px solid rgb(236,236,236);line-height:18px;overflow:hidden;">
<a name="24815688-25745126-2_1" class="anchor" style="color:rgb(19,110,194);text-decoration:none;"></a><a class="conArrow" href="https://baike.so.com/doc/24815688-25745126.html#" rel="nofollow" style="text-decoration:none;display:inline;font-size:0px;width:20px;">&#25240;&#21472;</a><span class="title" style="font-weight:500;color:rgb(51,51,51);font-size:18px;font-family:'microsoft yahei', Arial, Helvetica, sans-serif;">Jupyter&#32452;&#20214;</span></h3>
<div class="h3_content">
<p style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
Jupyter&#21253;&#21547;&#20197;&#19979;&#32452;&#20214;:</p>
<p style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
Jupyter Notebook &#21644; Notebook &#25991;&#20214;&#26684;&#24335;</p>
<p style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
Jupyter Qt &#25511;&#21046;&#21488;</p>
<p style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
&#20869;&#26680;&#28040;&#24687;&#21327;&#35758; (kernel messaging protocol)</p>
<p style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
&#35768;&#22810;&#20854;&#20182;&#32452;&#20214;</p>
</div>
<h3 style="font-size:14px;font-weight:500;clear:both;font-family:'microsoft yahei';border-bottom:1px solid rgb(236,236,236);line-height:18px;overflow:hidden;">
<a name="24815688-25745126-2_2" class="anchor" style="color:rgb(19,110,194);text-decoration:none;"></a><a class="conArrow" href="https://baike.so.com/doc/24815688-25745126.html#" rel="nofollow" style="text-decoration:none;display:inline;font-size:0px;width:20px;">&#25240;&#21472;</a><span class="title" style="font-weight:500;color:rgb(51,51,51);font-size:18px;font-family:'microsoft yahei', Arial, Helvetica, sans-serif;">&#20869;&#26680;</span></h3>
<p class="h3_content" style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
Jupyter Notebook &#19982; IPython&#32456;&#31471; &#20849;&#20139;&#21516;&#19968;&#20010;&#20869;&#26680;<span> </span>&#12290;</p>
<p class="h3_content" style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
&#20869;&#26680;&#36827;&#31243;&#21487;&#20197;&#21516;&#26102;&#36830;&#25509;&#21040;&#22810;&#20010;&#21069;&#31471;&#12290; &#22312;&#36825;&#31181;&#24773;&#20917;&#19979;&#65292;&#19981;&#21516;&#30340;&#21069;&#31471;&#35775;&#38382;&#30340;&#26159;&#21516;&#19968;&#20010;&#21464;&#37327;<span> </span>&#12290;</p>
<p class="h3_content" style="line-height:24px;text-indent:2em;color:rgb(51,51,51);">
&#36825;&#20010;&#35774;&#35745;&#21487;&#20197;&#28385;&#36275;&#20197;&#19979;&#20004;&#31181;&#38656;&#27714;:</p>
<div class="h3_content">
<ul style="list-style:none;"><li style="line-height:24px;list-style-type:disc;">&#30456;&#21516;&#20869;&#26680;&#19981;&#21516;&#21069;&#31471;&#65292;&#29992;&#20197;&#25903;&#25345;&#65292;&#24555;&#36895;&#24320;&#21457;&#26032;&#30340;&#21069;&#31471;</li><li style="line-height:24px;list-style-type:disc;">&#30456;&#21516;&#21069;&#31471;&#19981;&#21516;&#20869;&#26680;&#65292;&#29992;&#20197;&#25903;&#25345;&#65292;&#26032;&#30340;&#24320;&#21457;&#35821;&#35328;</li></ul></div>
<div style="line-height:24px;list-style-type:disc;"><br></div>
<div style="line-height:24px;list-style-type:disc;"><strong><span style="font-size:24px;">&#20855;&#20307;&#30340;&#20351;&#29992;&#31616;&#21333;&#25945;&#31243;&#65306;</span></strong></div>
<div style="line-height:24px;list-style-type:disc;"><strong><span style="font-size:24px;">&#21442;&#35265;http://www.cnblogs.com/nxld/p/6566380.html</span></strong></div>
<div style="line-height:24px;list-style-type:disc;"><strong><span style="font-size:18px;"></span></strong>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22312;&#24320;&#22987;&#20351;&#29992; notebook &#20043;&#21069;&#65292;&#25105;&#20204;&#20808;&#38656;&#35201;&#23433;&#35013;&#35813;&#24211;&#12290;&#20320;&#21487;&#20197;&#22312;<a href="https://jupyter.readthedocs.org/en/latest/install.html" rel="nofollow" style="text-decoration:none;color:rgb(0,0,0);border-bottom:1px dotted rgb(51,51,51);">&#160;Jupyter
 &#23448;&#32593;</a>&#19978;&#25214;&#21040;&#23436;&#25972;&#30340;&#27493;&#39588;&#12290;</span></p>
<blockquote>
<p style="text-indent:0px;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#35793;&#32773;&#27880;&#65306;&#20854;&#23454;&#21482;&#35201;<code><span style="font-size:14px;">pip
 install jupyter</span></code>&#23601;&#21487;&#20197;&#20102;</span></p>
</blockquote>
<div class="codehilite">
<pre><span style="font-family:'Microsoft YaHei';font-size:16px;">jupyter notebook
</span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#36816;&#34892;&#19978;&#38754;&#30340;&#21629;&#20196;&#20043;&#21518;&#65292;&#20320;&#23558;&#30475;&#21040;&#31867;&#20284;&#19979;&#38754;&#36825;&#26679;&#30340;&#36755;&#20986;&#65306;</span></p>
<div class="codehilite">
<pre><span style="font-family:'Microsoft YaHei';font-size:16px;">[I 20:06:36.367 NotebookApp] Writing notebook server cookie secret to /run/user/1000/jupyter/notebook_cookie_secret
[I 20:06:36.813 NotebookApp] Serving notebooks from local directory: /home/your_username
[I 20:06:36.813 NotebookApp] 0 active kernels
[I 20:06:36.813 NotebookApp] The IPython Notebook is running at: http://localhost:8888/
[I 20:06:36.813 NotebookApp] Use Control-C to stop this server and shut down all kernels (twice to skip confirmation).
</span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#21516;&#26102;&#65292;&#20250;&#22312;&#20320;&#24320;&#21551; notebook &#30340;&#25991;&#20214;&#22841;&#20013;&#21551;&#21160; Jupyter &#20027;&#30028;&#38754;&#65292;&#22914;&#19979;&#25152;&#31034;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="Jupyter &#20027;&#30028;&#38754;" src="http://ww3.sinaimg.cn/mw690/006faQNTgw1f63kcy3kzgj30id05g3yo.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22914;&#26524;&#24819;&#26032;&#24314;&#19968;&#20010; notebook&#65292;&#21482;&#38656;&#35201;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">New</span></code>&#65292;&#36873;&#25321;&#20320;&#24076;&#26395;&#21551;&#21160;&#30340;
 notebook &#31867;&#22411;&#21363;&#21487;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="notebook &#31867;&#22411;" src="http://ww2.sinaimg.cn/mw690/006faQNTgw1f63kcysz5cj30id09t3yr.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#36825;&#37324;&#65292;&#22240;&#20026;&#25105;&#21482;&#26377;&#19968;&#20010; Python &#20869;&#26680;&#65292;&#25152;&#20197;&#25105;&#20204;&#36816;&#34892;&#19968;&#20010; Python notebook&#12290;&#22312;&#26032;&#25171;&#24320;&#30340;&#26631;&#31614;&#39029;&#20013;&#65292;&#25105;&#20204;&#20250;&#30475;&#21040; notebook &#30028;&#38754;&#65292;&#30446;&#21069;&#37324;&#38754;&#20160;&#20040;&#20063;&#27809;&#26377;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="notebook &#30028;&#38754;" src="http://ww3.sinaimg.cn/mw690/006faQNTgw1f63kcyznzzj30id04iweq.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">notebook &#30028;&#38754;&#30001;&#20197;&#19979;&#37096;&#20998;&#32452;&#25104;&#65306;</span></p>
<ol><li style="list-style:decimal;"><span style="font-family:'Microsoft YaHei';font-size:16px;">notebook &#30340;&#21517;&#31216;</span></li><li style="list-style:decimal;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#20027;&#24037;&#20855;&#26639;&#65292;&#25552;&#20379;&#20102;&#20445;&#23384;&#12289;&#23548;&#20986;&#12289;&#37325;&#36733; notebook&#65292;&#20197;&#21450;&#37325;&#21551;&#20869;&#26680;&#31561;&#36873;&#39033;</span></li><li style="list-style:decimal;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#24555;&#25463;&#38190;</span></li><li style="list-style:decimal;"><span style="font-family:'Microsoft YaHei';font-size:16px;">notebook &#20027;&#35201;&#21306;&#22495;&#65292;&#21253;&#21547;&#20102; notebook &#30340;&#20869;&#23481;&#32534;&#36753;&#21306;</span></li></ol><p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#24930;&#24930;&#29087;&#24713;&#36825;&#20123;&#33756;&#21333;&#21644;&#36873;&#39033;&#12290;&#22914;&#26524;&#24819;&#35201;&#35814;&#32454;&#20102;&#35299;&#26377;&#20851; notebook &#25110;&#19968;&#20123;&#24211;&#30340;&#20855;&#20307;&#35805;&#39064;&#65292;&#21487;&#20197;&#20351;&#29992;&#33756;&#21333;&#26639;&#21491;&#20391;&#30340;&#24110;&#21161;&#33756;&#21333;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#19979;&#26041;&#30340;&#20027;&#35201;&#21306;&#22495;&#65292;&#30001;&#34987;&#31216;&#20026;&#21333;&#20803;&#26684;&#30340;&#37096;&#20998;&#32452;&#25104;&#12290;&#27599;&#20010; notebook &#30001;&#22810;&#20010;&#21333;&#20803;&#26684;&#26500;&#25104;&#65292;&#32780;&#27599;&#20010;&#21333;&#20803;&#26684;&#21448;&#21487;&#20197;&#26377;&#19981;&#21516;&#30340;&#29992;&#36884;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#19979;&#26041;&#25130;&#22270;&#20013;&#30475;&#21040;&#30340;&#26159;&#19968;&#20010;&#20195;&#30721;&#21333;&#20803;&#26684;&#65288;code cell&#65289;&#65292;&#20197;<code><span style="font-size:14px;color:#333333;">[ ]</span></code>&#24320;&#22836;&#12290;&#22312;&#36825;&#31181;&#31867;&#22411;&#30340;&#21333;&#20803;&#26684;&#20013;&#65292;&#21487;&#20197;&#36755;&#20837;&#20219;&#24847;&#20195;&#30721;&#24182;&#25191;&#34892;&#12290;&#20363;&#22914;&#65292;&#36755;&#20837;<code><span style="font-size:14px;color:#333333;">1
 + 2</span></code>&#24182;&#25353;&#19979;<code><span style="font-size:14px;color:#333333;">Shift + Enter</span></code>&#12290;&#20043;&#21518;&#65292;&#21333;&#20803;&#26684;&#20013;&#30340;&#20195;&#30721;&#23601;&#20250;&#34987;&#35745;&#31639;&#65292;&#20809;&#26631;&#20063;&#20250;&#34987;&#31227;&#21160;&#21160;&#19968;&#20010;&#26032;&#30340;&#21333;&#20803;&#26684;&#20013;&#12290;&#20320;&#20250;&#24471;&#21040;&#22914;&#19979;&#32467;&#26524;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="&#20195;&#30721;&#21333;&#20803;&#26684;" src="http://ww4.sinaimg.cn/mw690/006faQNTgw1f63kcyxn32j30id05yq39.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#26681;&#25454;&#32511;&#33394;&#36793;&#26694;&#32447;&#65292;&#25105;&#20204;&#21487;&#20197;&#36731;&#26494;&#22320;&#35782;&#21035;&#20986;&#24403;&#21069;&#24037;&#20316;&#30340;&#21333;&#20803;&#26684;&#12290;&#25509;&#19979;&#26469;&#65292;&#25105;&#20204;&#22312;&#31532;&#20108;&#20010;&#21333;&#20803;&#26684;&#20013;&#36755;&#20837;&#20123;&#20854;&#20182;&#20195;&#30721;&#65292;&#20363;&#22914;&#65306;</span></p>
<div class="codehilite">
<pre><span class="k" style="font-family:'Microsoft YaHei';font-size:16px;">for <span class="n">i <span class="ow">in <span class="nb">range<span class="p">(<span class="mi">5<span class="p">):
    <span class="k">print<span class="p">(<span class="n">i<span class="p">)
</span></span></span></span></span></span></span></span></span></span></span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#23545;&#19978;&#38754;&#30340;&#20195;&#30721;&#27714;&#20540;&#26102;&#65292;&#20320;&#20250;&#24471;&#21040;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="jupyter &#20195;&#30721;&#25191;&#34892;&#23454;&#20363;" src="http://ww1.sinaimg.cn/mw690/006faQNTgw1f63kcz8s4tj30id09kdgd.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#21644;&#21069;&#19968;&#20010;&#31034;&#20363;&#19968;&#26679;&#65292;&#20195;&#30721;&#34987;&#35745;&#31639;&#20043;&#21518;&#65292;&#39532;&#19978;&#23601;&#20250;&#26174;&#31034;&#32467;&#26524;&#12290;&#20320;&#24212;&#35813;&#27880;&#24847;&#21040;&#20102;&#65292;&#36825;&#27425;&#27809;&#26377;&#20986;&#29616;&#31867;&#20284;<code><span style="font-size:14px;color:#333333;">Out[2]</span></code>&#36825;&#26679;&#30340;&#25991;&#23383;&#12290;&#36825;&#26159;&#22240;&#20026;&#25105;&#20204;&#23558;&#32467;&#26524;&#25171;&#21360;&#20986;&#26469;&#20102;&#65292;&#27809;&#26377;&#36820;&#22238;&#20219;&#20309;&#30340;&#20540;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">notebook &#26377;&#19968;&#20010;&#38750;&#24120;&#26377;&#36259;&#30340;&#29305;&#24615;&#65292;&#23601;&#26159;&#21487;&#20197;&#20462;&#25913;&#20043;&#21069;&#30340;&#21333;&#20803;&#26684;&#65292;&#23545;&#20854;&#37325;&#26032;&#35745;&#31639;&#65292;&#36825;&#26679;&#23601;&#21487;&#20197;&#26356;&#26032;&#25972;&#20010;&#25991;&#26723;&#20102;&#12290;&#35797;&#30528;&#25226;&#20809;&#26631;&#31227;&#22238;&#31532;&#19968;&#20010;&#21333;&#20803;&#26684;&#65292;&#24182;&#23558;<code><span style="font-size:14px;color:#333333;">1
 + 2</span></code>&#20462;&#25913;&#25104;<code><span style="font-size:14px;color:#333333;">2 + 3</span></code>&#65292;&#28982;&#21518;&#25353;&#19979;<code><span style="font-size:14px;color:#333333;">Shift
 + Enter</span></code>&#37325;&#26032;&#35745;&#31639;&#35813;&#21333;&#20803;&#26684;&#12290;&#20320;&#20250;&#21457;&#29616;&#32467;&#26524;&#39532;&#19978;&#23601;&#26356;&#26032;&#25104;&#20102; 5&#12290;&#22914;&#26524;&#20320;&#19981;&#24819;&#37325;&#26032;&#36816;&#34892;&#25972;&#20010;&#33050;&#26412;&#65292;&#21482;&#24819;&#29992;&#19981;&#21516;&#30340;&#21442;&#25968;&#27979;&#35797;&#26576;&#20010;&#31243;&#24335;&#30340;&#35805;&#65292;&#36825;&#20010;&#29305;&#24615;&#26174;&#24471;&#23588;&#20854;&#24378;&#22823;&#12290;&#19981;&#36807;&#65292;&#20320;&#20063;&#21487;&#20197;&#37325;&#26032;&#35745;&#31639;&#25972;&#20010; notebook&#65292;&#21482;&#35201;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Cell</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Run
 all</span></code>&#21363;&#21487;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#29616;&#22312;&#25105;&#20204;&#24050;&#32463;&#30693;&#36947;&#20102;&#22914;&#20309;&#36755;&#20837;&#20195;&#30721;&#65292;&#20026;&#20160;&#20040;&#19981;&#23581;&#35797;&#30528;&#35753;&#36825;&#20010; notebook &#26356;&#21152;&#28418;&#20142;&#12289;&#20869;&#23481;&#26356;&#20016;&#23500;&#65311;&#20026;&#27492;&#65292;&#25105;&#20204;&#38656;&#35201;&#20351;&#29992;&#20854;&#20182;&#31867;&#22411;&#30340;&#21333;&#20803;&#26684;&#65292;&#21363; Header&#21333;&#20803;&#26684;&#21644; Markdown&#21333;&#20803;&#26684;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#39318;&#20808;&#65292;&#25105;&#20204;&#22312;&#39030;&#37096;&#28155;&#21152;&#19968;&#20010; notebook &#30340;&#26631;&#39064;&#12290;&#36873;&#20013;&#31532;&#19968;&#20010;&#21333;&#20803;&#26684;&#65292;&#28982;&#21518;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Insert</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Insert&#21333;&#20803;&#26684;above</span></code>&#65288;&#22312;&#19978;&#26041;&#25554;&#20837;&#21333;&#20803;&#26684;&#65289;&#12290;&#20320;&#20250;&#21457;&#29616;&#65292;&#25991;&#26723;&#30340;&#39030;&#37096;&#39532;&#19978;&#23601;&#20986;&#29616;&#20102;&#19968;&#20010;&#26032;&#30340;&#21333;&#20803;&#26684;&#12290;&#28857;&#20987;&#22312;&#24555;&#25463;&#38190;&#26639;&#20013;&#30340;&#21333;&#20803;&#26684;&#31867;&#22411;&#65292;&#23558;&#20854;&#21464;&#25104;&#19968;&#20010;&#26631;&#39064;&#21333;&#20803;&#26684;&#65288;heading
 cell&#65289;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="&#21464;&#25104;&#19968;&#20010;&#26631;&#39064; cell" src="http://ww2.sinaimg.cn/mw690/006faQNTgw1f63kczy7xuj30id00umx0.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#36873;&#20013;&#19979;&#25289;&#36873;&#39033;&#20013;&#30340; Heading&#12290;&#28982;&#21518;&#20250;&#20986;&#29616;&#19968;&#20010;&#24377;&#20986;&#28040;&#24687;&#65292;&#21578;&#35785;&#20320;&#22914;&#20309;&#21019;&#24314;&#19981;&#21516;&#23618;&#32423;&#30340;&#26631;&#39064;&#65292;&#36825;&#26679;&#20320;&#23601;&#26377;&#20102;&#19968;&#20010;&#19981;&#21516;&#31867;&#22411;&#30340; cell&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="&#19968;&#20010;&#19981;&#21516;&#31867;&#22411;&#30340; cell" src="http://ww2.sinaimg.cn/mw690/006faQNTgw1f63kd03mnqj30id035q2s.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#36825;&#20010;&#21333;&#20803;&#26684;&#20197;<code><span style="font-size:14px;color:#333333;">#</span></code>&#26631;&#35760;&#24320;&#22836;&#65292;&#24847;&#21619;&#30528;&#36825;&#26159;&#19968;&#20010;&#19968;&#32423;&#26631;&#39064;&#12290;&#22914;&#26524;&#38656;&#35201;&#23376;&#26631;&#39064;&#65292;&#21487;&#20197;&#20351;&#29992;&#20197;&#19979;&#26631;&#35760;&#34920;&#31034;&#65288;&#25913;&#21464;&#21333;&#20803;&#26684;&#31867;&#22411;&#26102;&#24377;&#20986;&#28040;&#24687;&#20013;&#26377;&#35299;&#37322;&#65289;&#65306;</span></p>
<div class="codehilite">
<pre><span style="font-family:'Microsoft YaHei';font-size:16px;"># : &#19968;&#32423;&#26631;&#39064;
## : &#20108;&#32423;&#26631;&#39064;
### : &#19977;&#32423;&#26631;&#39064;
...
</span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22312;<code><span style="font-size:14px;color:#333333;">#</span></code>&#20043;&#21518;&#20889;&#19979;&#25991;&#26723;&#30340;&#26631;&#39064;&#65292;&#28982;&#21518;&#35745;&#31639;&#35813;&#21333;&#20803;&#26684;&#12290;&#20320;&#20250;&#21457;&#29616;&#19968;&#20010;&#26679;&#24335;&#38750;&#24120;&#22909;&#30475;&#30340;&#26631;&#39064;&#12290;&#20316;&#20026;&#31034;&#20363;&#21644;&#32451;&#20064;&#65292;&#25105;&#36824;&#28155;&#21152;&#20102;&#20854;&#20182;&#20960;&#20010;&#26631;&#39064;&#21333;&#20803;&#26684;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="&#28155;&#21152;&#20102;&#20854;&#20182;&#20960;&#20010;&#26631;&#39064; cell" src="http://ww2.sinaimg.cn/mw690/006faQNTgw1f63kd06rzgj30id0bnwex.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#28155;&#21152;&#22909;&#26631;&#39064;&#20043;&#21518;&#65292;&#25105;&#20204;&#22312;&#32534;&#20889;&#19968;&#20123;&#35299;&#37322;&#65292;&#20171;&#32461;&#27599;&#20010;&#20195;&#30721;&#21333;&#20803;&#26684;&#20013;&#30340;&#24773;&#20917;&#12290;&#20026;&#27492;&#65292;&#25105;&#20204;&#35201;&#22312;&#30456;&#24212;&#30340;&#22320;&#26041;&#25554;&#20837;&#21333;&#20803;&#26684;&#65292;&#28982;&#21518;&#23558;&#20854;&#31867;&#22411;&#21464;&#25104; Markdown&#12290;&#28982;&#21518;&#65292;&#35745;&#31639;&#26032;&#30340;&#21333;&#20803;&#26684;&#12290;&#23601;&#36825;&#26679;&#65292;&#20320;&#30340;&#35299;&#37322;&#25991;&#26412;&#23601;&#28418;&#20142;&#22320;&#28210;&#26579;&#20986;&#26469;&#20102;&#65281;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="&#35299;&#37322;&#25991;&#26412;&#23601;&#28418;&#20142;&#22320;&#28210;&#26579;&#20986;&#26469;&#20102;" src="http://ww1.sinaimg.cn/mw690/006faQNTgw1f63kd0oq8gj30id0dtwf4.jpg" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#26368;&#21518;&#65292;&#20320;&#21487;&#20197;&#37325;&#21629;&#21517;&#35813; notebook&#65292;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Fiel</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Rename</span></code>&#65292;&#28982;&#21518;&#36755;&#20837;&#26032;&#30340;&#21517;&#31216;&#12290;&#36825;&#26679;&#65292;&#26032;&#30340;&#21517;&#31216;&#23558;&#20250;&#20986;&#29616;&#22312;&#31383;&#21475;&#30340;&#24038;&#19978;&#35282;&#65292;&#22312;
 Jupyter &#30340;&#26631;&#24535;&#26049;&#36793;&#12290;</span></p>
<h2 id="_1"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#21333;&#20803;&#26684;&#25805;&#20316;</span></h2>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#39640;&#32423;&#21333;&#20803;&#26684;&#25805;&#20316;&#65292;&#23558;&#35753;&#32534;&#20889; notebook &#21464;&#24471;&#26356;&#21152;&#26041;&#20415;&#12290;&#20030;&#20363;&#22914;&#19979;&#65306;</span></p>
<ul><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22914;&#26524;&#24819;&#21024;&#38500;&#26576;&#20010;&#21333;&#20803;&#26684;&#65292;&#21487;&#20197;&#36873;&#25321;&#35813;&#21333;&#20803;&#26684;&#65292;&#28982;&#21518;&#20381;&#27425;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Edit</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Delete
 Cell</span></code>&#65307;</span></li><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22914;&#26524;&#24819;&#31227;&#21160;&#26576;&#20010;&#21333;&#20803;&#26684;&#65292;&#21482;&#38656;&#35201;&#20381;&#27425;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Edit</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Move
 cell [up | down]</span></code>&#65307;</span></li><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22914;&#26524;&#24819;&#21098;&#36148;&#26576;&#20010;&#21333;&#20803;&#27979;&#65292;&#21487;&#20197;&#20808;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Edit</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Cut
 Cell</span></code>&#65292;&#28982;&#21518;&#22312;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Edit</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Paste
 Cell [Above | Below]</span></code>&#65307;</span></li><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22914;&#26524;&#20320;&#30340; notebook &#20013;&#26377;&#24456;&#22810;&#21333;&#20803;&#26684;&#21482;&#38656;&#35201;&#25191;&#34892;&#19968;&#27425;&#65292;&#25110;&#32773;&#24819;&#19968;&#27425;&#24615;&#25191;&#34892;&#22823;&#27573;&#20195;&#30721;&#65292;&#37027;&#20040;&#21487;&#20197;&#36873;&#25321;&#21512;&#24182;&#36825;&#20123;&#21333;&#20803;&#26684;&#12290;&#28857;&#20987;<code><span style="font-size:14px;color:#333333;">Edit</span></code>&#160;-&gt;&#160;<code><span style="font-size:14px;color:#333333;">Merge
 Cell [Above | below]</span></code>&#12290;</span></li></ul><p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#35760;&#20303;&#36825;&#20123;&#25805;&#20316;&#65292;&#23427;&#20204;&#21487;&#20197;&#24110;&#21161;&#20320;&#33410;&#30465;&#35768;&#22810;&#26102;&#38388;&#12290;</span></p>
<h2 id="markdown"><span style="font-family:'Microsoft YaHei';font-size:16px;">Markdown &#21333;&#20803;&#26684;&#39640;&#32423;&#29992;&#27861;</span></h2>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#25105;&#20204;&#20877;&#26469;&#30475;&#30475; Markdown &#21333;&#20803;&#26684;&#12290;&#34429;&#28982;&#23427;&#30340;&#31867;&#22411;&#26159; markdown&#65292;&#20294;&#26159;&#36825;&#31867;&#21333;&#20803;&#26684;&#20063;&#25509;&#21463; HTML &#20195;&#30721;&#12290;&#36825;&#26679;&#65292;&#20320;&#23601;&#21487;&#20197;&#22312;&#21333;&#20803;&#26684;&#31867;&#23454;&#29616;&#26356;&#21152;&#20016;&#23500;&#30340;&#26679;&#24335;&#65292;&#28155;&#21152;&#22270;&#29255;&#65292;&#31561;&#31561;&#12290;&#20363;&#22914;&#65292;&#22914;&#26524;&#24819;&#22312; notebook &#20013;&#28155;&#21152; Jupyter &#30340; logo&#65292;&#23558;&#20854;&#22823;&#23567;&#35774;&#32622;&#20026; 100px x 100px&#65292;&#24182;&#19988;&#25918;&#32622;&#22312;&#21333;&#20803;&#26684;&#24038;&#20391;&#65292;&#21487;&#20197;&#36825;&#26679;&#32534;&#20889;&#65306;</span></p>
<div class="codehilite">
<pre><span class="nt" style="font-family:'Microsoft YaHei';font-size:16px;">&lt;img <span class="na">src=<span class="s">"http://blog.jupyter.org/content/images/2015/02/jupyter-sq-text.png"
<span class="na">style=<span class="s">"width:100px;height:100px;float:left"<span class="nt">&gt;
</span></span></span></span></span></span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#35745;&#31639;&#35813;&#21333;&#20803;&#26684;&#20043;&#21518;&#65292;&#20250;&#20986;&#29616;&#36825;&#26679;&#30340;&#32467;&#26524;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="&#35745;&#31639;&#35813;&#21333;&#20803;&#26684;&#20043;&#21518;&#65292;&#20250;&#20986;&#29616;&#36825;&#26679;&#30340;&#32467;&#26524;" src="https://www.packtpub.com/sites/default/files/new_blog_images/Extra_Blogs/Jupyter_01_00.png" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#21478;&#22806;&#65292;markdown &#21333;&#20803;&#26684;&#36824;&#25903;&#25345; LaTex &#35821;&#27861;&#12290;&#20363;&#22914;&#65306;</span></p>
<div class="codehilite">
<pre><span style="font-family:'Microsoft YaHei';font-size:16px;">$$\int_0^{+\infty} x^2 dx$$
</span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#35745;&#31639;&#19978;&#36848;&#21333;&#20803;&#26684;&#65292;&#23558;&#33719;&#24471;&#19979;&#38754;&#30340; LaTex &#26041;&#31243;&#24335;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="LaTex &#26041;&#31243;&#24335;" src="https://www.packtpub.com/sites/default/files/new_blog_images/Extra_Blogs/Jupyter_01_10.png" style="border:0px;"></span></p>
<h2 id="_2"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#23548;&#20986;&#21151;&#33021;</span></h2>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">notebook &#36824;&#26377;&#19968;&#20010;&#24378;&#22823;&#30340;&#29305;&#24615;&#65292;&#23601;&#26159;&#20854;&#23548;&#20986;&#21151;&#33021;&#12290;&#21487;&#20197;&#23558; notebook &#23548;&#20986;&#20026;&#22810;&#31181;&#26684;&#24335;&#65306;</span></p>
<ul><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">HTML</span></li><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">Markdown</span></li><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">ReST</span></li><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">PDF&#65288;&#36890;&#36807; LaTeX&#65289;</span></li><li style="list-style:disc;"><span style="font-family:'Microsoft YaHei';font-size:16px;">Raw Python</span></li></ul><p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#23548;&#20986; PDF &#21151;&#33021;&#65292;&#21487;&#20197;&#35753;&#20320;&#19981;&#29992;&#20889; LaTex &#21363;&#21487;&#21019;&#24314;&#28418;&#20142;&#30340; PDF &#25991;&#26723;&#12290;&#20320;&#36824;&#21487;&#20197;&#23558; notebook &#20316;&#20026;&#32593;&#39029;&#21457;&#24067;&#22312;&#20320;&#30340;&#32593;&#31449;&#19978;&#12290;&#29978;&#33267;&#65292;&#20320;&#21487;&#20197;&#23548;&#20986;&#20026; ReST &#26684;&#24335;&#65292;&#20316;&#20026;&#36719;&#20214;&#24211;&#30340;&#25991;&#26723;&#12290;</span></p>
<h2 id="matplotlib"><span style="font-family:'Microsoft YaHei';font-size:16px;">Matplotlib &#38598;&#25104;</span></h2>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#22914;&#26524;&#20320;&#29992; Python &#32472;&#21046;&#36807;&#22270;&#24418;&#65292;&#37027;&#20320;&#32943;&#23450;&#30693;&#36947; matplotlib&#12290;Matplotlib &#26159;&#19968;&#20010;&#29992;&#20110;&#21019;&#24314;&#28418;&#20142;&#22270;&#24418;&#30340; Python &#24211;&#65292;&#32467;&#21512; Jupyter notebook &#20351;&#29992;&#26102;&#20307;&#39564;&#26356;&#20339;&#12290;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#35201;&#24819;&#22312; Jupyter notebook &#20013;&#20351;&#29992; matplotlib&#65292;&#38656;&#35201;&#21578;&#35785; Jupyter &#33719;&#21462; matplotlib &#29983;&#25104;&#30340;&#25152;&#26377;&#22270;&#24418;&#65292;&#24182;&#23558;&#20854;&#23884;&#20837; notebook &#20013;&#12290;&#20026;&#27492;&#65292;&#38656;&#35201;&#35745;&#31639;&#65306;</span></p>
<div class="codehilite">
<pre><span class="nf" style="font-family:'Microsoft YaHei';font-size:16px;">%matplotlib <span class="kr">inline
</span></span></pre>
</div>
<blockquote>
<p style="text-indent:0px;"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#35793;&#27880;&#65306;&#35201;&#24819;&#25191;&#34892;&#25104;&#21151;&#65292;&#38656;&#35201;&#20808;<code><span style="font-size:14px;">pip
 install matplotlib</span></code>&#12290;</span></p>
</blockquote>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#36816;&#34892;&#36825;&#20010;&#25351;&#20196;&#21487;&#33021;&#35201;&#33457;&#20010;&#20960;&#31186;&#38047;&#65292;&#20294;&#26159;&#22312; notebook &#20013;&#38656;&#35201;&#25191;&#34892;&#19968;&#27425;&#21363;&#21487;&#12290;&#25509;&#19979;&#26469;&#65292;&#25105;&#20204;&#26469;&#32472;&#21046;&#19968;&#20010;&#22270;&#24418;&#65292;&#30475;&#30475;&#20855;&#20307;&#30340;&#38598;&#25104;&#25928;&#26524;&#65306;</span></p>
<div class="codehilite">
<pre><span class="kn" style="font-family:'Microsoft YaHei';font-size:16px;">import <span class="nn">matplotlib.pyplot <span class="kn">as <span class="nn">plt
<span class="kn">import <span class="nn">numpy <span class="kn">as <span class="nn">np

<span class="n">x <span class="o">= <span class="n">np<span class="o">.<span class="n">arange<span class="p">(<span class="mi">20<span class="p">)
<span class="n">y <span class="o">= <span class="n">x<span class="o">**<span class="mi">2

<span class="n">plt<span class="o">.<span class="n">plot<span class="p">(<span class="n">x<span class="p">, <span class="n">y<span class="p">)
</span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#19978;&#38754;&#30340;&#20195;&#30721;&#23558;&#32472;&#21046;&#26041;&#31243;&#24335; y=x^2 &#12290;&#35745;&#31639;&#21333;&#20803;&#26684;&#21518;&#65292;&#20250;&#24471;&#21040;&#22914;&#19979;&#22270;&#24418;&#65306;</span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;"><img alt="&#32472;&#21046;&#26041;&#31243;&#24335; y=x^2" src="https://www.packtpub.com/sites/default/files/new_blog_images/Extra_Blogs/Jupyter_01_11.png" style="border:0px;"></span></p>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#25105;&#20204;&#30475;&#21040;&#65292;&#32472;&#21046;&#20986;&#30340;&#22270;&#24418;&#30452;&#25509;&#28155;&#21152;&#22312;&#20102; notebook &#20013;&#65292;&#23601;&#22312;&#20195;&#30721;&#30340;&#19979;&#38754;&#12290;&#25105;&#20204;&#21487;&#20197;&#20043;&#21518;&#20462;&#25913;&#20195;&#30721;&#65292;&#37325;&#26032;&#35745;&#31639;&#65292;&#36825;&#26102;&#22270;&#24418;&#20063;&#20250;&#21160;&#24577;&#26356;&#26032;&#12290;&#36825;&#26159;&#27599;&#20010;&#25968;&#25454;&#31185;&#23398;&#23478;&#37117;&#24819;&#35201;&#30340;&#19968;&#20010;&#29305;&#24615;&#65306;&#23558;&#20195;&#30721;&#21644;&#22270;&#29255;&#25918;&#22312;&#21516;&#19968;&#20010;&#25991;&#20214;&#20013;&#65292;&#28165;&#26970;&#22320;&#30475;&#20986;&#27599;&#27573;&#20195;&#30721;&#30340;&#25928;&#26524;&#12290;</span></p>
<h2 id="_3"><span style="font-family:'Microsoft YaHei';font-size:16px;">&#38750;&#26412;&#22320;&#20869;&#26680;</span></h2>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#25105;&#20204;&#21487;&#20197;&#38750;&#24120;&#23481;&#26131;&#22320;&#22312;&#19968;&#21488;&#30005;&#33041;&#19978;&#21551;&#21160; Jupyter&#65292;&#32780;&#19988;&#25903;&#25345;&#22810;&#20154;&#36890;&#36807;&#32593;&#32476;&#36830;&#25509;&#21516;&#19968;&#20010; Jupyter &#23454;&#20363;&#12290;&#22312;&#19978;&#19968;&#31687;&#25991;&#31456;&#20013;&#65292;&#20320;&#26377;&#27809;&#26377;&#27880;&#24847;&#21551;&#21160; Jupyter &#26102;&#20986;&#29616;&#36807;&#36825;&#26679;&#19968;&#27573;&#35805;&#65306;</span></p>
<div class="codehilite">
<pre><span style="font-family:'Microsoft YaHei';font-size:16px;">The IPython Notebook is running at: http://localhost:8888/
</span></pre>
</div>
<p><span style="font-family:'Microsoft YaHei';font-size:16px;">&#36825;&#24847;&#21619;&#30528;&#65292;&#20320;&#30340; notebook &#26159;&#26412;&#22320;&#36816;&#34892;&#30340;&#65292;&#21487;&#20197;&#22312;&#27983;&#35272;&#22120;&#19978;&#25171;&#24320; http://localhost:8888/ &#65292;&#20174;&#32780;&#35775;&#38382; notebook&#12290;&#20320;&#20063;&#21487;&#20197;&#20462;&#25913;&#19979;&#37197;&#32622;&#65292;&#35753;&#35813; notebook &#21487;&#20197;&#34987;&#20844;&#24320;&#35775;&#38382;&#12290;&#36825;&#26679;&#65292;&#20219;&#20309;&#30693;&#36947; notebook &#22320;&#22336;&#30340;&#20154;&#37117;&#21487;&#20197;&#36830;&#25509;&#21040; notebook &#36827;&#34892;&#36828;&#31243;&#20462;&#25913;&#12290;</span></p>
</div>
</div>
<p></p>
            </div>
                </div>
	</article>
