<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/ysw1132/article/details/79045714				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<h3><a id="1vi_0"></a>1.vi&#25216;&#24039;&#65306;</h3>
<p>&#20013;&#33521;&#20999;&#25442;&#65306;shift<br>
wq = x</p>
<h3><a id="2_3"></a>2.&#27880;&#37322;</h3>
<p>&#21333;&#34892;&#65306;#<br>
&#22810;&#34892;&#65306;&#19977;&#20010;&#21333;&#24341;&#21495;&#25110;&#19977;&#20010;&#21452;&#24341;&#21495;</p>
<pre><code class="prism language-python"><span class="token triple-quoted-string string">"""
print("hello world")  
"""</span> 
</code></pre>
<h3><a id="3_11"></a>3.&#32534;&#30721;</h3>
<p>&#25991;&#20214;&#20013;&#26377;&#20013;&#25991;&#65292;&#19981;&#31649;&#26159;&#21542;&#20026;&#27880;&#37322;&#65292;python2&#25191;&#34892;&#25253;&#38169;&#12290;<br>
&#35299;&#20915;&#65306;&#31243;&#24207;&#39318;&#34892;&#21152; #coding=utf-8 &#25110; #*-* coding:utf-8 *-*</p>
<h3><a id="4_14"></a>4.&#36755;&#20837;</h3>
<pre><code class="prism language-python">name <span class="token operator">=</span> <span class="token builtin">input</span><span class="token punctuation">(</span><span class="token string">"&#35831;&#36755;&#20837;&#21517;&#23383;&#65306;"</span><span class="token punctuation">)</span> 
</code></pre>
<h3><a id="5_18"></a>5.&#36755;&#20986;</h3>
<pre><code class="prism language-python"><span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"name is %s"</span><span class="token operator">%</span>name<span class="token punctuation">)</span>   
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"name:%s, age:%d"</span><span class="token operator">%</span><span class="token punctuation">(</span>name<span class="token punctuation">,</span>age<span class="token punctuation">)</span><span class="token punctuation">)</span>  
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"name:{0}, age:{1}"</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>name<span class="token punctuation">,</span>age<span class="token punctuation">)</span><span class="token punctuation">)</span> <span class="token comment">#(&#26631;&#21495;&#21487;&#19981;&#20889;&#65292;&#20026;&#40664;&#35748;&#39034;&#24207;) </span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"name:{name}, age:{age}"</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>name <span class="token operator">=</span> <span class="token string">"ss"</span><span class="token punctuation">,</span>age <span class="token operator">=</span> <span class="token number">23</span><span class="token punctuation">)</span><span class="token punctuation">)</span> 

<span class="token keyword">import</span> math
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'&#24120;&#37327; PI &#30340;&#20540;&#36817;&#20284;&#20026; {0:.3f}&#12290;'</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>math<span class="token punctuation">.</span>pi<span class="token punctuation">)</span><span class="token punctuation">)</span> <span class="token comment">#&#24120;&#37327; PI &#30340;&#20540;&#36817;&#20284;&#20026; 3.142&#12290;</span>

table <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">'Google'</span><span class="token punctuation">:</span> <span class="token number">1</span><span class="token punctuation">,</span> <span class="token string">'Runoob'</span><span class="token punctuation">:</span> <span class="token number">2</span><span class="token punctuation">,</span> <span class="token string">'Taobao'</span><span class="token punctuation">:</span> <span class="token number">3</span><span class="token punctuation">}</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'Runoob: {0[Runoob]:d}; Google: {0[Google]:d}; Taobao: {0[Taobao]:d}'</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>table<span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token comment">#Runoob: 2; Google: 1; Taobao: 3</span>

table <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">'Google'</span><span class="token punctuation">:</span> <span class="token number">1</span><span class="token punctuation">,</span> <span class="token string">'Runoob'</span><span class="token punctuation">:</span> <span class="token number">2</span><span class="token punctuation">,</span> <span class="token string">'Taobao'</span><span class="token punctuation">:</span> <span class="token number">3</span><span class="token punctuation">}</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'Runoob: {Runoob:d}; Google: {Google:d}; Taobao: {Taobao:d}'</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span><span class="token operator">**</span>table<span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token comment">#Runoob: 2; Google: 1; Taobao: 3</span>
</code></pre>
<h3><a id="6_36"></a>6.&#31867;&#22411;&#36716;&#25442;</h3>
<pre><code class="prism language-python">a <span class="token operator">=</span> <span class="token builtin">int</span><span class="token punctuation">(</span><span class="token string">"3"</span><span class="token punctuation">)</span> 
</code></pre>
<h3><a id="7python2python3_40"></a>7.python2&#19982;python3</h3>
<ul>
<li>&#32534;&#30721;&#12290;</li>
<li>python2&#20013;input&#30340;&#20869;&#23481;&#24403;&#20570;&#25191;&#34892;&#30340;&#20869;&#23481;&#65292;python3&#24403;&#20570;&#23383;&#31526;&#20018;&#12290;&#22914;a = input(""). python2&#20013;&#30340;raw_input&#30456;&#24403;&#20110;python3&#20013;&#30340;input&#12290;</li>
<li>python2 &#20013;&#25903;&#25345; &lt;&gt; &#26159;&#19981;&#31561;&#20110;&#30340;&#24847;&#24605;&#65292;python3&#19981;&#25903;&#25345;&#65292;&#24212;&#35813; != &#34920;&#31034;</li>
</ul>
<h3><a id="8_45"></a>8.&#36816;&#31639;&#31526;</h3>
<pre><code class="prism language-python"><span class="token string">"a"</span> <span class="token operator">*</span> <span class="token number">5</span> <span class="token operator">=</span> <span class="token string">"aaaaa"</span>
<span class="token number">2</span> <span class="token operator">**</span> <span class="token number">3</span> <span class="token operator">=</span> <span class="token number">8</span>
<span class="token number">5</span> <span class="token operator">/</span> <span class="token number">2</span> <span class="token operator">=</span> <span class="token number">2.5</span>
<span class="token number">5</span> <span class="token operator">//</span> <span class="token number">2</span> <span class="token operator">=</span> <span class="token number">2</span> <span class="token comment">#(&#21462;&#21830;)</span>
<span class="token number">5</span> <span class="token operator">%</span> <span class="token number">2</span> <span class="token operator">=</span> <span class="token number">1</span> <span class="token comment">#&#65288;&#21462;&#20313;&#65289;</span>
</code></pre>
<h3><a id="9_54"></a>9.&#36923;&#36753;&#36816;&#31639;&#31526;</h3>
<p>and , or</p>
<h3><a id="10_56"></a>10.&#27969;&#31243;</h3>
<pre><code class="prism language-python"><span class="token keyword">if</span> <span class="token number">1</span> <span class="token operator">&gt;</span> <span class="token number">2</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"1"</span><span class="token punctuation">)</span>
<span class="token keyword">elif</span> <span class="token number">2</span> <span class="token operator">==</span> <span class="token number">3</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"2"</span><span class="token punctuation">)</span>
<span class="token keyword">else</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"3"</span><span class="token punctuation">)</span>
 

<span class="token keyword">while</span> &#26465;&#20214;<span class="token punctuation">:</span>  
    &#25191;&#34892;

<span class="token keyword">for</span> i <span class="token builtin">int</span> <span class="token builtin">str</span><span class="token punctuation">:</span>  
 &#25191;&#34892;
 
&#27880;<span class="token punctuation">:</span> i<span class="token operator">+</span><span class="token operator">+</span><span class="token punctuation">,</span><span class="token operator">+</span><span class="token operator">+</span>i&#22312;python&#20013;&#19981;&#20801;&#35768;&#20351;&#29992;&#12290;    
</code></pre>
<h3><a id="11_74"></a>11.&#23383;&#31526;&#20018;(&#19981;&#21487;&#21464;)</h3>
<ul>
<li>&#26684;&#24335;&#21270;</li>
</ul>
<pre><code class="prism language-python"><span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span><span class="token string">'a: %s, b:%s'</span> <span class="token operator">%</span>s <span class="token punctuation">(</span><span class="token string">'a'</span><span class="token punctuation">,</span> <span class="token string">'b'</span><span class="token punctuation">)</span>
<span class="token string">'a: a, b: b'</span>

<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token string">'{}, {} and {}'</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span><span class="token string">"first"</span><span class="token punctuation">,</span> <span class="token string">"second"</span><span class="token punctuation">,</span> <span class="token string">"third"</span><span class="token punctuation">)</span>
<span class="token string">'first, second and third'</span>

<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token string">'{3} {0} {2} {1} {3} {0}'</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span><span class="token string">'be'</span><span class="token punctuation">,</span> <span class="token string">'not'</span><span class="token punctuation">,</span> <span class="token string">'or'</span><span class="token punctuation">,</span> <span class="token string">'to'</span><span class="token punctuation">)</span>
<span class="token string">'to be or not to be'</span>

<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token string">"{name} is approximately {value:.2f}."</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>value<span class="token operator">=</span>pi<span class="token punctuation">,</span>name<span class="token operator">=</span><span class="token string">"&#960;"</span><span class="token punctuation">)</span>
<span class="token string">'&#960; is approximately 3.14.'</span>

<span class="token comment">#python3 &#20013;&#65292;&#21516;&#21517;&#21487;&#30465;&#30053;</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token keyword">from</span> math <span class="token keyword">import</span> e
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> f<span class="token string">"Euler's constant is roughly {e}."</span>

<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> f<span class="token string">"Euler's constant is roughly {e}."</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>e<span class="token operator">=</span>e<span class="token punctuation">)</span>

<span class="token comment">#&#26684;&#24335;</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token string">'the number is {num:f}'</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>num<span class="token operator">=</span><span class="token number">2</span><span class="token punctuation">)</span>
<span class="token string">'the number is 2.000000'</span>
</code></pre>
<ul>
<li>&#31867;&#22411;&#36716;&#25442;&#65306;</li>
</ul>
<pre><code class="prism language-python"><span class="token builtin">int</span><span class="token punctuation">(</span><span class="token string">"100"</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token builtin">str</span><span class="token punctuation">(</span><span class="token number">100</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>&#38271;&#24230;&#65306;</li>
</ul>
<pre><code class="prism language-python"><span class="token builtin">len</span><span class="token punctuation">(</span><span class="token builtin">str</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>&#23383;&#31526;&#20018;&#36830;&#25509;:</li>
</ul>
<pre><code class="prism language-python">a <span class="token operator">=</span> b <span class="token operator">+</span> c  <span class="token comment">#&#25110;&#32773;</span>
a <span class="token operator">=</span> <span class="token string">"===%s==="</span><span class="token operator">%</span><span class="token punctuation">(</span>b<span class="token operator">+</span>c<span class="token punctuation">)</span>  <span class="token comment">#&#25110;&#32773;</span>
a <span class="token operator">=</span> <span class="token string">"==={}==="</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>b<span class="token operator">+</span>c<span class="token punctuation">)</span>
</code></pre>
<ul>
<li>&#20999;&#29255;&#65306;</li>
</ul>
<pre><code class="prism language-python"><span class="token builtin">str</span> <span class="token operator">=</span> <span class="token string">"dasfaf"</span>
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token number">2</span><span class="token punctuation">:</span><span class="token number">4</span><span class="token punctuation">]</span> <span class="token comment">#(&#21462;&#24471;2&#21040;3&#30340;),  </span>
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token number">2</span><span class="token punctuation">:</span><span class="token punctuation">]</span>  <span class="token comment">#(&#21040;&#26368;&#21518;),  </span>
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token number">2</span><span class="token punctuation">:</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">:</span><span class="token number">2</span><span class="token punctuation">]</span> <span class="token comment">#(&#27493;&#38271;2&#65292;&#38548;&#19968;&#20010;&#21462;&#19968;&#20010;)</span>
</code></pre>
<ul>
<li>&#36870;&#24207;:</li>
</ul>
<pre><code class="prism language-python"><span class="token builtin">str</span> <span class="token operator">=</span> <span class="token string">"abcdefABCDEF"</span>  
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token number">0</span><span class="token punctuation">:</span><span class="token punctuation">]</span>  <span class="token comment"># out:"abcdefABCDEF"  </span>
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">:</span><span class="token punctuation">]</span>  <span class="token comment"># out:"F"  </span>
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">:</span><span class="token number">0</span><span class="token punctuation">]</span>  <span class="token comment"># out:""  </span>
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">:</span><span class="token number">0</span><span class="token punctuation">:</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">]</span>  <span class="token comment"># out:"FEDCBAfedcb"  </span>
<span class="token builtin">str</span><span class="token punctuation">[</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">]</span><span class="token punctuation">,</span> <span class="token builtin">str</span><span class="token punctuation">[</span><span class="token punctuation">:</span><span class="token punctuation">:</span><span class="token operator">-</span><span class="token number">1</span><span class="token punctuation">]</span>  <span class="token comment"># out:"FEDCBAfedcba"</span>
</code></pre>
<ul>
<li>&#24120;&#35265;&#25805;&#20316;</li>
</ul>
<pre><code class="prism language-python">find<span class="token punctuation">:</span> <span class="token builtin">str</span><span class="token punctuation">.</span>find<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">)</span> <span class="token comment"># &#20174;&#24038;&#21521;&#21491;&#26377;&#36820;&#22238;&#31532;&#19968;&#20010;&#21305;&#37197;&#23383;&#31526;&#20018;&#30340;&#36215;&#22987;&#19979;&#26631;&#65292;&#27809;&#26377;&#36820;&#22238;-1&#12290;rfind():&#20174;&#21491;&#21521;&#24038;&#12290;  </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>index<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">)</span> <span class="token comment">#&#25214;&#21040;&#36820;&#22238;&#36215;&#22987;&#19979;&#26631;&#65292;&#27809;&#26377;&#25243;&#20986;&#24322;&#24120;&#12290; &#23384;&#22312;rindex().  </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>count<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">)</span> <span class="token comment">#&#21305;&#37197;&#30340;&#20010;&#25968;&#12290;</span>

<span class="token builtin">str</span><span class="token punctuation">.</span>replace<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">,</span> <span class="token string">"def"</span><span class="token punctuation">)</span> <span class="token comment">#&#25226;&#24038;&#36793;&#30340;&#26367;&#25442;&#25104;&#21491;&#36793;&#30340;&#21516;java&#65292;  </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>replace<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">,</span> <span class="token string">"def"</span><span class="token punctuation">,</span><span class="token number">1</span><span class="token punctuation">)</span> <span class="token comment">#&#31532;&#19977;&#20010;&#21442;&#25968;&#26159;&#20174;&#24038;&#21040;&#21491;&#26367;&#25442;&#20010;&#25968;&#12290;  </span>

<span class="token builtin">str</span><span class="token punctuation">.</span>split<span class="token punctuation">(</span><span class="token string">" "</span><span class="token punctuation">)</span> <span class="token comment">#&#23383;&#31526;&#20018;&#20998;&#21106;   </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>capitalize<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#23383;&#31526;&#20018;&#30340;&#31532;&#19968;&#20010;&#23383;&#27597;&#22823;&#20889;&#12290;  </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>title<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#23383;&#31526;&#20018;&#30340;&#27599;&#20010;&#21333;&#35789;&#30340;&#39318;&#23383;&#27597;&#22823;&#20889;&#12290;  </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>startswith<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token builtin">str</span><span class="token punctuation">.</span>endswith<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">)</span> <span class="token comment">#&#26159;&#21542;&#20197;&#27492;&#23383;&#31526;&#20018;&#24320;&#22836;&#25110;&#32467;&#23614;.  </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>lower<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token builtin">str</span><span class="token punctuation">.</span>uper<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#25152;&#26377;&#30340;&#23383;&#27597;&#23567;&#20889;&#21644;&#22823;&#20889;&#12290;  </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>center<span class="token punctuation">(</span><span class="token number">50</span><span class="token punctuation">)</span> <span class="token comment">#&#23621;&#20013;&#26174;&#31034;&#65292;&#34892;&#24635;&#38271;50 "     abc     " </span>
<span class="token builtin">str</span><span class="token punctuation">.</span>ljust<span class="token punctuation">(</span><span class="token number">50</span><span class="token punctuation">)</span><span class="token punctuation">,</span> <span class="token builtin">str</span><span class="token punctuation">.</span>rjust<span class="token punctuation">(</span><span class="token number">50</span><span class="token punctuation">)</span> <span class="token comment">#&#24038;(&#21491;)&#23545;&#40784;</span>

<span class="token builtin">str</span><span class="token punctuation">.</span>lstrip<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#21024;&#38500;&#24038;&#36793;&#31354;&#26684;</span>
<span class="token builtin">str</span><span class="token punctuation">.</span>rstrip<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#21491;&#36793;&#31354;&#26684;</span>
<span class="token builtin">str</span><span class="token punctuation">.</span>strip<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#21024;&#38500;&#20004;&#31471;&#31354;&#26684;.</span>

<span class="token comment">#center&#23621;&#20013;</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token string">'hello world'</span><span class="token punctuation">.</span>center<span class="token punctuation">(</span><span class="token number">20</span><span class="token punctuation">)</span>
<span class="token string">'    hello world     '</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token string">'hello world'</span><span class="token punctuation">.</span>center<span class="token punctuation">(</span><span class="token number">20</span><span class="token punctuation">,</span> <span class="token string">'*'</span><span class="token punctuation">)</span>
<span class="token string">'****hello world*****'</span>
</code></pre>
<h3><a id="12___158"></a>12.&#21015;&#34920;  (&#31867;&#20284;&#25968;&#32452;&#65292;&#21487;&#21464;&#65292;&#38024;&#23545;&#33258;&#36523;&#30340;&#21464;&#21270;)</h3>
<pre><code class="prism language-python"><span class="token punctuation">[</span><span class="token string">"zhangsan"</span><span class="token punctuation">,</span><span class="token string">"lisi"</span><span class="token punctuation">]</span>
<span class="token comment">#&#23450;&#20041;</span>
names <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token string">"zhangsan"</span><span class="token punctuation">,</span> <span class="token string">"lisi"</span><span class="token punctuation">,</span> <span class="token number">3.14</span><span class="token punctuation">]</span>  <span class="token comment">#&#21015;&#34920;&#20013;&#30340;&#25968;&#25454;&#21487;&#20197;&#26159;&#19981;&#21516;&#30340;&#25968;&#25454;&#31867;&#22411;&#12290;  &#21487;&#20197;&#19979;&#26631;&#65292;&#21644;&#20999;&#29255;&#12290;</span>
<span class="token comment">#&#22686;</span>
names<span class="token punctuation">.</span>append<span class="token punctuation">(</span><span class="token string">"abc"</span><span class="token punctuation">)</span> <span class="token comment">#--&gt;&#25554;&#20837;&#21040;&#26368;&#21518;;  </span>
names<span class="token punctuation">.</span>insert<span class="token punctuation">(</span><span class="token number">0</span><span class="token punctuation">,</span> <span class="token string">"bcc"</span><span class="token punctuation">)</span> <span class="token comment">#--&gt;&#25554;&#20837;&#25351;&#23450;&#20301;&#32622;&#12290;  </span>

names <span class="token operator">=</span> names1 <span class="token operator">+</span> names2 <span class="token comment">#&#20004;&#20010;&#21015;&#34920;&#29992;&#36830;&#25509;&#31526;</span>
names1<span class="token punctuation">.</span>extend<span class="token punctuation">(</span>names2<span class="token punctuation">)</span> <span class="token comment">#&#25193;&#20805;</span>

<span class="token comment">#&#21024;</span>
names<span class="token punctuation">.</span>pop<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#--&gt;&#21024;&#38500;&#26368;&#21518;&#19968;&#20010;&#65307;  </span>
names<span class="token punctuation">.</span>remove<span class="token punctuation">(</span><span class="token string">"lisi"</span><span class="token punctuation">)</span> <span class="token comment">#--&gt;&#26681;&#25454;&#20869;&#23481;&#21024;&#38500;;  </span>
<span class="token keyword">del</span> names<span class="token punctuation">[</span><span class="token number">0</span><span class="token punctuation">]</span> <span class="token comment">#--&gt;&#19979;&#26631;&#21024;&#38500;  </span>
<span class="token comment">#&#25913;</span>
names<span class="token punctuation">[</span><span class="token number">0</span><span class="token punctuation">]</span> <span class="token operator">=</span> <span class="token string">"abc"</span>  
<span class="token comment">#&#26597;</span>
name<span class="token punctuation">[</span><span class="token number">1</span><span class="token punctuation">:</span><span class="token punctuation">]</span> <span class="token comment"># "lisi"</span>
<span class="token keyword">in</span><span class="token punctuation">,</span> <span class="token operator">not</span> <span class="token keyword">in</span> <span class="token comment">#&#26159;&#21542;&#23384;&#22312; &#65288;if "zhangsan" in names:&#65289;  </span>
<span class="token comment">#&#21487;&#20197;for... in &#24490;&#29615;&#36941;&#21382;</span>

<span class="token builtin">len</span><span class="token punctuation">(</span>names<span class="token punctuation">)</span> <span class="token comment">#&#20803;&#32032;&#20010;&#25968;</span>

<span class="token comment">#&#27880;&#24847;&#65306;append&#28155;&#21152;&#30340;&#20803;&#32032;&#65307;extend&#36830;&#25509;&#30340;&#21015;&#34920;</span>

<span class="token comment"># &#20854;&#20182;</span>
<span class="token string">''</span><span class="token punctuation">.</span>join<span class="token punctuation">(</span><span class="token builtin">list</span><span class="token punctuation">)</span> <span class="token comment"># &#21015;&#34920;&#36716;&#23383;&#31526;&#20018;</span>
names<span class="token punctuation">.</span>sort<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#25490;&#24207;&#65292;&#25913;&#21464;&#21407;&#32467;&#26500;; names.sort(reverse=True) &#21453;&#21521;&#39034;&#24207;</span>
</code></pre>
<p>&#36816;&#31639;&#31526;</p>

<table>
<thead>
<tr>
<th>&#34920;&#36798;&#24335;</th>
<th>&#32467;&#26524;</th>
<th>&#25551;&#36848;</th>
</tr>
</thead>
<tbody>
<tr>
<td>len([1, 2, 3])</td>
<td>3</td>
<td>&#35745;&#31639;&#20803;&#32032;&#20010;&#25968;</td>
</tr>
<tr>
<td>[1, 2, 3] + [4, 5, 6]</td>
<td>[1, 2, 3, 4, 5, 6]</td>
<td>&#36830;&#25509;</td>
</tr>
<tr>
<td>[&#8216;Hi!&#8217;] * 4</td>
<td>[&#8216;Hi!&#8217;, &#8216;Hi!&#8217;, &#8216;Hi!&#8217;, &#8216;Hi!&#8217;]</td>
<td>&#22797;&#21046;</td>
</tr>
<tr>
<td>3 in [1, 2, 3]</td>
<td>True</td>
<td>&#20803;&#32032;&#26159;&#21542;&#23384;&#22312;</td>
</tr>
<tr>
<td>for x in [1, 2, 3]: print(x, end=" ")</td>
<td>1 2 3</td>
<td>&#36845;&#20195;</td>
</tr>
</tbody>
</table><pre><code class="prism language-python">params <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">"server"</span><span class="token punctuation">:</span><span class="token string">"mpilgrim"</span><span class="token punctuation">,</span> <span class="token string">"database"</span><span class="token punctuation">:</span><span class="token string">"master"</span><span class="token punctuation">,</span> <span class="token string">"uid"</span><span class="token punctuation">:</span><span class="token string">"sa"</span><span class="token punctuation">,</span> <span class="token string">"pwd"</span><span class="token punctuation">:</span><span class="token string">"secret"</span><span class="token punctuation">}</span>
<span class="token punctuation">[</span><span class="token string">"%s=%s"</span> <span class="token operator">%</span> <span class="token punctuation">(</span>k<span class="token punctuation">,</span> v<span class="token punctuation">)</span> <span class="token keyword">for</span> k<span class="token punctuation">,</span> v <span class="token keyword">in</span> params<span class="token punctuation">.</span>items<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">]</span>
<span class="token punctuation">[</span><span class="token string">'server=mpilgrim'</span><span class="token punctuation">,</span> <span class="token string">'uid=sa'</span><span class="token punctuation">,</span> <span class="token string">'database=master'</span><span class="token punctuation">,</span> <span class="token string">'pwd=secret'</span><span class="token punctuation">]</span>
<span class="token string">";"</span><span class="token punctuation">.</span>join<span class="token punctuation">(</span><span class="token punctuation">[</span><span class="token string">"%s=%s"</span> <span class="token operator">%</span> <span class="token punctuation">(</span>k<span class="token punctuation">,</span> v<span class="token punctuation">)</span> <span class="token keyword">for</span> k<span class="token punctuation">,</span> v <span class="token keyword">in</span> params<span class="token punctuation">.</span>items<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">]</span><span class="token punctuation">)</span>
<span class="token string">'server=mpilgrim;uid=sa;database=master;pwd=secret'</span>
</code></pre>
<h3><a id="13_206"></a>13.&#23383;&#20856;&#65288;&#21487;&#21464;&#65289;</h3>
<pre><code class="prism language-python">a <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">"name"</span><span class="token punctuation">:</span><span class="token string">"yy"</span><span class="token punctuation">,</span> <span class="token string">"age"</span><span class="token punctuation">:</span> <span class="token number">12</span><span class="token punctuation">}</span>

<span class="token comment">#&#22686;</span>
a<span class="token punctuation">[</span><span class="token string">"name"</span><span class="token punctuation">]</span> <span class="token operator">=</span> <span class="token string">"yy"</span> <span class="token comment">#&#30452;&#25509;&#20889;key-value  </span>
<span class="token comment">#&#21024;</span>
<span class="token keyword">del</span> a<span class="token punctuation">[</span><span class="token string">"name"</span><span class="token punctuation">]</span>
<span class="token comment">#&#25913;</span>
a<span class="token punctuation">[</span><span class="token string">"name"</span><span class="token punctuation">]</span> <span class="token operator">=</span> <span class="token string">"zz"</span> <span class="token comment">#&#30456;&#21516;key&#30340;&#20540;&#35206;&#30422;&#12290;</span>
<span class="token comment">#&#26597;&#65306;</span>
a<span class="token punctuation">[</span><span class="token string">"name"</span><span class="token punctuation">]</span><span class="token punctuation">,</span> a<span class="token punctuation">.</span>get<span class="token punctuation">(</span><span class="token string">"name"</span><span class="token punctuation">)</span>
</code></pre>
<p>for-else</p>
<pre><code class="prism language-python"><span class="token comment">#for&#20013;&#27809;&#26377;break,&#21017;else&#19968;&#23450;&#20250;&#25191;&#34892;</span>
<span class="token keyword">for</span> temp <span class="token keyword">in</span> strs<span class="token punctuation">:</span>  
   <span class="token keyword">print</span><span class="token punctuation">(</span>temp<span class="token punctuation">)</span>    
<span class="token keyword">else</span><span class="token punctuation">:</span>  
   <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">""</span><span class="token punctuation">)</span>
</code></pre>
<p>const &#20462;&#25913;&#21464;&#37327;&#20026;&#19981;&#21487;&#21464;&#12290;<br>
&#23383;&#20856;&#24120;&#35265;&#25805;&#20316;</p>
<pre><code class="prism language-python"><span class="token builtin">len</span><span class="token punctuation">(</span>a<span class="token punctuation">)</span> <span class="token comment">#&#38190;&#20540;&#23545;&#30340;&#20010;&#25968;</span>

a<span class="token punctuation">.</span>keys<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#["name","age"] (pyhton2) #dict_keys(["name","age"])(pyhton3)&#36820;&#22238;key&#30340;&#21015;&#34920;</span>
<span class="token keyword">if</span> <span class="token string">"abc"</span> <span class="token keyword">in</span> a<span class="token punctuation">.</span>keys<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span> <span class="token comment">#&#21028;&#26029;&#26159;&#21542;&#23384;&#22312;&#26576;&#20010;key</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">""</span><span class="token punctuation">)</span>
a<span class="token punctuation">.</span>values<span class="token punctuation">(</span><span class="token punctuation">)</span> <span class="token comment">#&#36820;&#22238;value&#30340;&#21015;&#34920;</span>

</code></pre>
<h3><a id="14_239"></a>14.&#20803;&#32452;(&#31867;&#20284;&#21015;&#34920;&#65292;&#19981;&#21487;&#21464;)</h3>
<p>&#21015;&#34920;&#21487;&#20197;&#22686;&#21024;&#25913;&#65292;&#20803;&#32452;&#19981;&#33021;&#25913;</p>
<pre><code class="prism language-python">tup1 <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">;</span> <span class="token comment">#&#31354;&#20803;&#32452;</span>
</code></pre>
<pre><code class="prism language-python"><span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> tup1 <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token number">50</span><span class="token punctuation">)</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token builtin">type</span><span class="token punctuation">(</span>tup1<span class="token punctuation">)</span>     <span class="token comment"># &#19981;&#21152;&#36887;&#21495;&#65292;&#31867;&#22411;&#20026;&#25972;&#22411;</span>
<span class="token operator">&lt;</span><span class="token keyword">class</span> <span class="token string">'int'</span><span class="token operator">&gt;</span>

<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> tup1 <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token number">50</span><span class="token punctuation">,</span><span class="token punctuation">)</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token builtin">type</span><span class="token punctuation">(</span>tup1<span class="token punctuation">)</span>     <span class="token comment"># &#21152;&#19978;&#36887;&#21495;&#65292;&#31867;&#22411;&#20026;&#20803;&#32452;</span>
<span class="token operator">&lt;</span><span class="token keyword">class</span> <span class="token string">'tuple'</span><span class="token operator">&gt;</span>
</code></pre>
<p>&#35775;&#38382;&#65306;</p>
<pre><code class="prism language-python">tup1 <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token string">'Google'</span><span class="token punctuation">,</span> <span class="token string">'Runoob'</span><span class="token punctuation">,</span> <span class="token number">1997</span><span class="token punctuation">,</span> <span class="token number">2000</span><span class="token punctuation">)</span>
tup2 <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token number">1</span><span class="token punctuation">,</span> <span class="token number">2</span><span class="token punctuation">,</span> <span class="token number">3</span><span class="token punctuation">,</span> <span class="token number">4</span><span class="token punctuation">,</span> <span class="token number">5</span><span class="token punctuation">,</span> <span class="token number">6</span><span class="token punctuation">,</span> <span class="token number">7</span> <span class="token punctuation">)</span>

<span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"tup1[0]: "</span><span class="token punctuation">,</span> tup1<span class="token punctuation">[</span><span class="token number">0</span><span class="token punctuation">]</span><span class="token punctuation">)</span> <span class="token comment"># Google</span>
<span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"tup2[1:5]: "</span><span class="token punctuation">,</span> tup2<span class="token punctuation">[</span><span class="token number">1</span><span class="token punctuation">:</span><span class="token number">5</span><span class="token punctuation">]</span><span class="token punctuation">)</span> <span class="token comment">#(2, 3, 4, 5)</span>
</code></pre>
<p>&#20462;&#25913;&#65306;</p>
<pre><code class="prism language-python">tup1 <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token number">12</span><span class="token punctuation">,</span> <span class="token number">34.56</span><span class="token punctuation">)</span><span class="token punctuation">;</span>
tup2 <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token string">'abc'</span><span class="token punctuation">,</span> <span class="token string">'xyz'</span><span class="token punctuation">)</span>

<span class="token comment"># &#20197;&#19979;&#20462;&#25913;&#20803;&#32452;&#20803;&#32032;&#25805;&#20316;&#26159;&#38750;&#27861;&#30340;&#12290;</span>
<span class="token comment"># tup1[0] = 100</span>

<span class="token comment"># &#21019;&#24314;&#19968;&#20010;&#26032;&#30340;&#20803;&#32452;</span>
tup3 <span class="token operator">=</span> tup1 <span class="token operator">+</span> tup2<span class="token punctuation">;</span>
<span class="token keyword">print</span> <span class="token punctuation">(</span>tup3<span class="token punctuation">)</span> <span class="token comment">#(12, 34.56, 'abc', 'xyz')</span>
</code></pre>
<p>&#21024;&#38500;</p>
<pre><code class="prism language-python">tup <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token string">'Google'</span><span class="token punctuation">,</span> <span class="token string">'Runoob'</span><span class="token punctuation">,</span> <span class="token number">1997</span><span class="token punctuation">,</span> <span class="token number">2000</span><span class="token punctuation">)</span>

<span class="token keyword">print</span> <span class="token punctuation">(</span>tup<span class="token punctuation">)</span>
<span class="token keyword">del</span> tup<span class="token punctuation">;</span>
</code></pre>
<p>&#36816;&#31639;&#31526;</p>

<table>
<thead>
<tr>
<th>&#34920;&#36798;&#24335;</th>
<th>&#32467;&#26524;</th>
<th>&#25551;&#36848;</th>
</tr>
</thead>
<tbody>
<tr>
<td>len((1, 2, 3))</td>
<td>3</td>
<td>&#35745;&#31639;&#20803;&#32032;&#20010;&#25968;</td>
</tr>
<tr>
<td>(1, 2, 3) + (4, 5, 6)</td>
<td>(1, 2, 3, 4, 5, 6)</td>
<td>&#36830;&#25509;</td>
</tr>
<tr>
<td>(&#8216;Hi!&#8217;) * 4</td>
<td>(&#8216;Hi!&#8217;, &#8216;Hi!&#8217;, &#8216;Hi!&#8217;, &#8216;Hi!&#8217;)</td>
<td>&#22797;&#21046;</td>
</tr>
<tr>
<td>3 in (1, 2, 3)</td>
<td>True</td>
<td>&#20803;&#32032;&#26159;&#21542;&#23384;&#22312;</td>
</tr>
<tr>
<td>for x in (1, 2, 3): print x,</td>
<td>1 2 3</td>
<td>&#36845;&#20195;</td>
</tr>
</tbody>
</table><p>&#31867;&#20284;&#25286;&#21253;</p>
<pre><code class="prism language-python">a <span class="token operator">=</span> <span class="token punctuation">(</span><span class="token number">11</span><span class="token punctuation">,</span><span class="token number">12</span><span class="token punctuation">)</span>
b <span class="token operator">=</span> a
b <span class="token comment">#out (11,12)</span>
c<span class="token punctuation">,</span>d <span class="token operator">=</span> a <span class="token comment">#&#31867;&#20284;&#25286;&#21253;</span>
c <span class="token comment">#out 11</span>
d <span class="token comment">#out 12</span>

<span class="token comment">#&#20363;&#22914;</span>
info <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">"name"</span><span class="token punctuation">:</span><span class="token string">"ysw"</span><span class="token punctuation">,</span> <span class="token string">"age"</span><span class="token punctuation">:</span><span class="token number">24</span><span class="token punctuation">}</span>
<span class="token keyword">for</span> temp <span class="token keyword">in</span> info<span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span>temp<span class="token punctuation">)</span>
<span class="token comment">#("name":"ysw")</span>
<span class="token comment">#("age":24)</span>
<span class="token keyword">for</span> temp <span class="token keyword">in</span> info<span class="token punctuation">.</span>items<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"key=%s,value=%s"</span><span class="token operator">%</span><span class="token punctuation">(</span>temp<span class="token punctuation">[</span><span class="token number">0</span><span class="token punctuation">]</span><span class="token punctuation">,</span>temp<span class="token punctuation">[</span><span class="token number">1</span><span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token comment">#or</span>
<span class="token keyword">for</span> a<span class="token punctuation">,</span>b <span class="token keyword">in</span> info<span class="token punctuation">.</span>items<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"key=%s,value=%s"</span><span class="token operator">%</span><span class="token punctuation">(</span>a<span class="token punctuation">,</span>b<span class="token punctuation">)</span><span class="token punctuation">)</span>
</code></pre>
<p><strong>&#36941;&#21382;&#25216;&#24039;</strong>&#65306;</p>
<pre><code class="prism language-python"><span class="token comment">#&#22312;&#23383;&#20856;&#20013;&#36941;&#21382;&#26102;&#65292;&#20851;&#38190;&#23383;&#21644;&#23545;&#24212;&#30340;&#20540;&#21487;&#20197;&#20351;&#29992; items() &#26041;&#27861;&#21516;&#26102;&#35299;&#35835;&#20986;&#26469;</span>
knights <span class="token operator">=</span> <span class="token punctuation">{</span><span class="token string">'gallahad'</span><span class="token punctuation">:</span> <span class="token string">'the pure'</span><span class="token punctuation">,</span> <span class="token string">'robin'</span><span class="token punctuation">:</span> <span class="token string">'the brave'</span><span class="token punctuation">}</span>
<span class="token keyword">for</span> k<span class="token punctuation">,</span> v <span class="token keyword">in</span> knights<span class="token punctuation">.</span>items<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
          <span class="token keyword">print</span><span class="token punctuation">(</span>k<span class="token punctuation">,</span> v<span class="token punctuation">)</span>
          
  <span class="token comment">#gallahad the pure </span>
  <span class="token comment">#robin the brave</span>

<span class="token comment">#&#22312;&#24207;&#21015;&#20013;&#36941;&#21382;&#26102;&#65292;&#32034;&#24341;&#20301;&#32622;&#21644;&#23545;&#24212;&#20540;&#21487;&#20197;&#20351;&#29992; enumerate() &#20989;&#25968;&#21516;&#26102;&#24471;&#21040;</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token keyword">for</span> i<span class="token punctuation">,</span> v <span class="token keyword">in</span> <span class="token builtin">enumerate</span><span class="token punctuation">(</span><span class="token punctuation">[</span><span class="token string">'tic'</span><span class="token punctuation">,</span> <span class="token string">'tac'</span><span class="token punctuation">,</span> <span class="token string">'toe'</span><span class="token punctuation">]</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>     <span class="token keyword">print</span><span class="token punctuation">(</span>i<span class="token punctuation">,</span> v<span class="token punctuation">)</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
<span class="token number">0</span> tic
<span class="token number">1</span> tac
<span class="token number">2</span> toe

<span class="token comment">#&#21516;&#26102;&#36941;&#21382;&#20004;&#20010;&#25110;&#26356;&#22810;&#30340;&#24207;&#21015;&#65292;&#21487;&#20197;&#20351;&#29992; zip() &#32452;&#21512;</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> questions <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token string">'name'</span><span class="token punctuation">,</span> <span class="token string">'quest'</span><span class="token punctuation">,</span> <span class="token string">'favorite color'</span><span class="token punctuation">]</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> answers <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token string">'lancelot'</span><span class="token punctuation">,</span> <span class="token string">'the holy grail'</span><span class="token punctuation">,</span> <span class="token string">'blue'</span><span class="token punctuation">]</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token keyword">for</span> q<span class="token punctuation">,</span> a <span class="token keyword">in</span> <span class="token builtin">zip</span><span class="token punctuation">(</span>questions<span class="token punctuation">,</span> answers<span class="token punctuation">)</span><span class="token punctuation">:</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>     <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'What is your {0}?  It is {1}.'</span><span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>q<span class="token punctuation">,</span> a<span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
What <span class="token keyword">is</span> your name?  It <span class="token keyword">is</span> lancelot<span class="token punctuation">.</span>
What <span class="token keyword">is</span> your quest?  It <span class="token keyword">is</span> the holy grail<span class="token punctuation">.</span>
What <span class="token keyword">is</span> your favorite color?  It <span class="token keyword">is</span> blue<span class="token punctuation">.</span>

<span class="token comment">#&#35201;&#21453;&#21521;&#36941;&#21382;&#19968;&#20010;&#24207;&#21015;&#65292;&#39318;&#20808;&#25351;&#23450;&#36825;&#20010;&#24207;&#21015;&#65292;&#28982;&#21518;&#35843;&#29992; reversed() &#20989;&#25968;</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token keyword">for</span> i <span class="token keyword">in</span> <span class="token builtin">reversed</span><span class="token punctuation">(</span><span class="token builtin">range</span><span class="token punctuation">(</span><span class="token number">1</span><span class="token punctuation">,</span> <span class="token number">10</span><span class="token punctuation">,</span> <span class="token number">2</span><span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>     <span class="token keyword">print</span><span class="token punctuation">(</span>i<span class="token punctuation">)</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
<span class="token number">9</span>
<span class="token number">7</span>
<span class="token number">5</span>
<span class="token number">3</span>
<span class="token number">1</span>

<span class="token comment">#&#35201;&#25353;&#39034;&#24207;&#36941;&#21382;&#19968;&#20010;&#24207;&#21015;&#65292;&#20351;&#29992; sorted() &#20989;&#25968;&#36820;&#22238;&#19968;&#20010;&#24050;&#25490;&#24207;&#30340;&#24207;&#21015;&#65292;&#24182;&#19981;&#20462;&#25913;&#21407;&#20540;</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> basket <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token string">'apple'</span><span class="token punctuation">,</span> <span class="token string">'orange'</span><span class="token punctuation">,</span> <span class="token string">'apple'</span><span class="token punctuation">,</span> <span class="token string">'pear'</span><span class="token punctuation">,</span> <span class="token string">'orange'</span><span class="token punctuation">,</span> <span class="token string">'banana'</span><span class="token punctuation">]</span>
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> <span class="token keyword">for</span> f <span class="token keyword">in</span> <span class="token builtin">sorted</span><span class="token punctuation">(</span><span class="token builtin">set</span><span class="token punctuation">(</span>basket<span class="token punctuation">)</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>     <span class="token keyword">print</span><span class="token punctuation">(</span>f<span class="token punctuation">)</span>
<span class="token punctuation">.</span><span class="token punctuation">.</span><span class="token punctuation">.</span>
apple
banana
orange
pear
</code></pre>
<h3><a id="15_358"></a>15.&#20989;&#25968;</h3>
<pre><code class="prism language-python"><span class="token keyword">def</span> <span class="token function">abc</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">""</span><span class="token punctuation">)</span>
    
abc<span class="token punctuation">(</span><span class="token punctuation">)</span>
<span class="token comment">#&#27880;&#24847;&#65306; &#20989;&#25968;&#30340;&#23450;&#20041;&#38656;&#35201;&#22312;&#20989;&#25968;&#30340;&#35843;&#29992;&#20043;&#21069;&#65292;&#21542;&#21017;&#25253;&#38169;&#12290;</span>
</code></pre>
<p>&#21487;&#26356;&#25913;&#19982;&#19981;&#21487;&#26356;&#25913;&#23545;&#35937;&#65306;<br>
&#22312;python&#20013;&#65292;strings,tuples&#21644;numbers&#26159;&#19981;&#21487;&#26356;&#25913;&#23545;&#35937;&#65292;list.dict&#31561;&#21017;&#26159;&#21487;&#26356;&#25913;&#23545;&#35937;&#12290;</p>
<ul>
<li>&#19981;&#21487;&#21464;&#31867;&#22411;&#65306;&#21464;&#37327;&#36171;&#20540; a=5&#21518;&#22312;&#36171;&#20540;a=10,&#29983;&#25104;&#20102;&#26032;&#30340;&#23545;&#35937;&#65292;&#21407;&#23545;&#35937;&#20002;&#24323;&#12290;</li>
<li>&#21487;&#21464;&#31867;&#22411;&#65306;&#21464;&#37327;&#36171;&#20540; la=[1,2,3,4] &#21518;&#20877;&#36171;&#20540; la[2]=5 &#21017;&#26159;&#23558; list la &#30340;&#31532;&#19977;&#20010;&#20803;&#32032;&#20540;&#26356;&#25913;&#65292;&#26412;&#36523;la&#27809;&#26377;&#21160;&#65292;&#21482;&#26159;&#20854;&#20869;&#37096;&#30340;&#19968;&#37096;&#20998;&#20540;&#34987;&#20462;&#25913;&#20102;&#12290;</li>
</ul>
<p>python &#20989;&#25968;&#30340;&#21442;&#25968;&#20256;&#36882;&#65306;</p>
<ul>
<li>&#19981;&#21487;&#21464;&#31867;&#22411;:&#31867;&#20284; c++ &#30340;&#20540;&#20256;&#36882;&#65292;&#22914; &#25972;&#25968;&#12289;&#23383;&#31526;&#20018;&#12289;&#20803;&#32452;&#12290;&#22914;fun&#65288;a&#65289;&#65292;&#20256;&#36882;&#30340;&#21482;&#26159;a&#30340;&#20540;&#65292;&#27809;&#26377;&#24433;&#21709;a&#23545;&#35937;&#26412;&#36523;&#12290;&#27604;&#22914;&#22312; fun&#65288;a&#65289;&#20869;&#37096;&#20462;&#25913; a &#30340;&#20540;&#65292;&#21482;&#26159;&#20462;&#25913;&#21478;&#19968;&#20010;&#22797;&#21046;&#30340;&#23545;&#35937;&#65292;&#19981;&#20250;&#24433;&#21709; a &#26412;&#36523;</li>
<li>&#21487;&#21464;&#31867;&#22411;&#65306;&#31867;&#20284; c++ &#30340;&#24341;&#29992;&#20256;&#36882;&#65292;&#22914; &#21015;&#34920;&#65292;&#23383;&#20856;&#12290;&#22914; fun&#65288;la&#65289;&#65292;&#21017;&#26159;&#23558; la &#30495;&#27491;&#30340;&#20256;&#36807;&#21435;&#65292;&#20462;&#25913;&#21518;fun&#22806;&#37096;&#30340;la&#20063;&#20250;&#21463;&#24433;&#21709;</li>
</ul>
<pre><code class="prism language-python"><span class="token comment">#&#40664;&#35748;&#20989;&#25968;&#21442;&#25968;</span>

<span class="token keyword">def</span> <span class="token function">printinfo</span><span class="token punctuation">(</span> name<span class="token punctuation">,</span> age <span class="token operator">=</span> <span class="token number">35</span> <span class="token punctuation">)</span><span class="token punctuation">:</span>
   <span class="token string">"&#25171;&#21360;&#20219;&#20309;&#20256;&#20837;&#30340;&#23383;&#31526;&#20018;"</span>
   <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"&#21517;&#23383;: "</span><span class="token punctuation">,</span> name<span class="token punctuation">)</span><span class="token punctuation">;</span>
   <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"&#24180;&#40836;: "</span><span class="token punctuation">,</span> age<span class="token punctuation">)</span><span class="token punctuation">;</span>
   <span class="token keyword">return</span><span class="token punctuation">;</span>
   
printinfo<span class="token punctuation">(</span> age<span class="token operator">=</span><span class="token number">50</span><span class="token punctuation">,</span> name<span class="token operator">=</span><span class="token string">"runoob"</span> <span class="token punctuation">)</span><span class="token punctuation">;</span>
<span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"------------------------"</span><span class="token punctuation">)</span>
printinfo<span class="token punctuation">(</span> name<span class="token operator">=</span><span class="token string">"runoob"</span> <span class="token punctuation">)</span><span class="token punctuation">;</span>

<span class="token comment">#&#21517;&#23383;:  runoob</span>
<span class="token comment">#&#24180;&#40836;:  50</span>
<span class="token comment">#------------------------</span>
<span class="token comment">#&#21517;&#23383;:  runoob</span>
<span class="token comment">#&#24180;&#40836;:  35</span>

<span class="token comment">#&#21487;&#21464;&#21442;&#25968;</span>
<span class="token keyword">def</span> <span class="token function">printinfo</span><span class="token punctuation">(</span> <span class="token operator">*</span>vartuple <span class="token punctuation">)</span><span class="token punctuation">:</span>
   <span class="token string">"&#25171;&#21360;&#20219;&#20309;&#20256;&#20837;&#30340;&#21442;&#25968;"</span>
   <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"&#36755;&#20986;: "</span><span class="token punctuation">)</span>
   <span class="token keyword">for</span> var <span class="token keyword">in</span> vartuple<span class="token punctuation">:</span>
      <span class="token keyword">print</span> <span class="token punctuation">(</span>var<span class="token punctuation">)</span>
   <span class="token keyword">return</span><span class="token punctuation">;</span>

printinfo<span class="token punctuation">(</span><span class="token number">10</span><span class="token punctuation">,</span><span class="token number">32</span><span class="token punctuation">,</span><span class="token number">22</span><span class="token punctuation">)</span>

<span class="token comment">#&#21311;&#21517;&#20989;&#25968;(lambda&#21019;&#24314;&#21311;&#21517;&#20989;&#25968;)</span>

<span class="token builtin">sum</span> <span class="token operator">=</span> <span class="token keyword">lambda</span> arg1<span class="token punctuation">,</span> arg2<span class="token punctuation">:</span> arg1 <span class="token operator">+</span> arg2<span class="token punctuation">;</span>
 
<span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"&#30456;&#21152;&#21518;&#30340;&#20540;&#20026; : "</span><span class="token punctuation">,</span> <span class="token builtin">sum</span><span class="token punctuation">(</span> <span class="token number">10</span><span class="token punctuation">,</span> <span class="token number">20</span> <span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"&#30456;&#21152;&#21518;&#30340;&#20540;&#20026; : "</span><span class="token punctuation">,</span> <span class="token builtin">sum</span><span class="token punctuation">(</span> <span class="token number">20</span><span class="token punctuation">,</span> <span class="token number">20</span> <span class="token punctuation">)</span><span class="token punctuation">)</span>

<span class="token comment">#global&#20851;&#38190;&#23383;&#20462;&#25913;&#22806;&#37096;&#20316;&#29992;&#22495;&#21464;&#37327;</span>
num <span class="token operator">=</span> <span class="token number">1</span>
<span class="token keyword">def</span> <span class="token function">fun1</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
    <span class="token keyword">global</span> num  <span class="token comment"># &#38656;&#35201;&#20351;&#29992; global &#20851;&#38190;&#23383;&#22768;&#26126;</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span>num<span class="token punctuation">)</span> 
    num <span class="token operator">=</span> <span class="token number">123</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span>num<span class="token punctuation">)</span>
fun1<span class="token punctuation">(</span><span class="token punctuation">)</span>

<span class="token comment">#1</span>
<span class="token comment">#123</span>

<span class="token comment">#nonlocal &#20462;&#25913;&#23884;&#22871;&#20316;&#29992;&#22495;&#21464;&#37327;</span>
<span class="token keyword">def</span> <span class="token function">outer</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
    num <span class="token operator">=</span> <span class="token number">10</span>
    <span class="token keyword">def</span> <span class="token function">inner</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
        <span class="token keyword">nonlocal</span> num   <span class="token comment"># nonlocal&#20851;&#38190;&#23383;&#22768;&#26126;</span>
        num <span class="token operator">=</span> <span class="token number">100</span>
        <span class="token keyword">print</span><span class="token punctuation">(</span>num<span class="token punctuation">)</span>
    inner<span class="token punctuation">(</span><span class="token punctuation">)</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span>num<span class="token punctuation">)</span>
outer<span class="token punctuation">(</span><span class="token punctuation">)</span>

<span class="token comment">#100</span>
<span class="token comment">#100</span>
</code></pre>
<h3><a id="16_436"></a>16.&#36845;&#20195;&#22120;&#21644;&#29983;&#25104;&#22120;</h3>
<p>&#23383;&#31526;&#20018;&#65292;&#21015;&#34920;&#21644;&#20803;&#32452;&#23545;&#35937;&#37117;&#21487;&#29992;&#20110;&#21019;&#24314;&#36845;&#20195;&#22120;&#12290;</p>
<pre><code class="prism language-python"><span class="token builtin">list</span> <span class="token operator">=</span> <span class="token punctuation">[</span><span class="token number">1</span><span class="token punctuation">,</span><span class="token number">2</span><span class="token punctuation">,</span><span class="token number">3</span><span class="token punctuation">,</span><span class="token number">4</span><span class="token punctuation">]</span>
it <span class="token operator">=</span> <span class="token builtin">iter</span><span class="token punctuation">(</span><span class="token builtin">list</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token builtin">next</span><span class="token punctuation">(</span>it<span class="token punctuation">)</span><span class="token punctuation">)</span> <span class="token comment">#1</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token builtin">next</span><span class="token punctuation">(</span>it<span class="token punctuation">)</span><span class="token punctuation">)</span> <span class="token comment">#2</span>

<span class="token comment">#&#36941;&#21382;</span>
<span class="token comment">#1</span>
<span class="token keyword">for</span> x <span class="token keyword">in</span> it<span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span>x<span class="token punctuation">,</span> end <span class="token operator">=</span> <span class="token string">""</span><span class="token punctuation">)</span> <span class="token comment"># 1 2 3 4</span>
    
<span class="token comment">#2</span>
<span class="token keyword">while</span> <span class="token boolean">True</span><span class="token punctuation">:</span>
    <span class="token keyword">try</span><span class="token punctuation">:</span>
        <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token builtin">next</span><span class="token punctuation">(</span>it<span class="token punctuation">)</span><span class="token punctuation">)</span>
    <span class="token keyword">except</span> StopIteration<span class="token punctuation">:</span>
        sys<span class="token punctuation">.</span>exit<span class="token punctuation">(</span><span class="token punctuation">)</span>
</code></pre>
<p>&#29983;&#25104;&#22120;(TODO: &#24453;&#29702;&#35299;)<br>
yield&#30340;&#20989;&#25968;&#65292;&#29983;&#25104;&#22120;&#26159;&#36820;&#22238;&#36845;&#20195;&#22120;&#30340;&#20989;&#25968;&#65292;&#21482;&#33021;&#29992;&#20110;&#36845;&#20195;&#25805;&#20316;&#12290;</p>
<pre><code class="prism language-python"><span class="token keyword">import</span> sys
 
<span class="token keyword">def</span> <span class="token function">fibonacci</span><span class="token punctuation">(</span>n<span class="token punctuation">)</span><span class="token punctuation">:</span> <span class="token comment"># &#29983;&#25104;&#22120;&#20989;&#25968; - &#26000;&#27874;&#37027;&#22865;</span>
    a<span class="token punctuation">,</span> b<span class="token punctuation">,</span> counter <span class="token operator">=</span> <span class="token number">0</span><span class="token punctuation">,</span> <span class="token number">1</span><span class="token punctuation">,</span> <span class="token number">0</span>
    <span class="token keyword">while</span> <span class="token boolean">True</span><span class="token punctuation">:</span>
        <span class="token keyword">if</span> <span class="token punctuation">(</span>counter <span class="token operator">&gt;</span> n<span class="token punctuation">)</span><span class="token punctuation">:</span> 
            <span class="token keyword">return</span>
        <span class="token keyword">yield</span> a
        a<span class="token punctuation">,</span> b <span class="token operator">=</span> b<span class="token punctuation">,</span> a <span class="token operator">+</span> b
        counter <span class="token operator">+=</span> <span class="token number">1</span>
f <span class="token operator">=</span> fibonacci<span class="token punctuation">(</span><span class="token number">10</span><span class="token punctuation">)</span> <span class="token comment"># f &#26159;&#19968;&#20010;&#36845;&#20195;&#22120;&#65292;&#30001;&#29983;&#25104;&#22120;&#36820;&#22238;&#29983;&#25104;</span>
 
<span class="token keyword">while</span> <span class="token boolean">True</span><span class="token punctuation">:</span>
    <span class="token keyword">try</span><span class="token punctuation">:</span>
        <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token builtin">next</span><span class="token punctuation">(</span>f<span class="token punctuation">)</span><span class="token punctuation">,</span> end<span class="token operator">=</span><span class="token string">" "</span><span class="token punctuation">)</span>
    <span class="token keyword">except</span> StopIteration<span class="token punctuation">:</span>
        sys<span class="token punctuation">.</span>exit<span class="token punctuation">(</span><span class="token punctuation">)</span>
<span class="token comment"># 0 1 1 2 3 5 8 13 21 34 55</span>
</code></pre>
<h3><a id="17_478"></a>17.&#27169;&#22359;</h3>
<p>&#20026;&#27492; Python &#25552;&#20379;&#20102;&#19968;&#20010;&#21150;&#27861;&#65292;&#25226;&#36825;&#20123;&#23450;&#20041;&#23384;&#25918;&#22312;&#25991;&#20214;&#20013;&#65292;&#20026;&#19968;&#20123;&#33050;&#26412;&#25110;&#32773;&#20132;&#20114;&#24335;&#30340;&#35299;&#37322;&#22120;&#23454;&#20363;&#20351;&#29992;&#65292;&#36825;&#20010;&#25991;&#20214;&#34987;&#31216;&#20026;&#27169;&#22359;&#12290;</p>
<ul>
<li>import&#35821;&#21477;&#65292;&#24819;&#20351;&#29992; Python &#28304;&#25991;&#20214;&#65292;&#21482;&#38656;&#22312;&#21478;&#19968;&#20010;&#28304;&#25991;&#20214;&#37324;&#25191;&#34892; import &#35821;&#21477;&#12290;</li>
</ul>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/python3</span>
<span class="token comment"># Filename: support.py</span>

<span class="token keyword">def</span> <span class="token function">print_func</span><span class="token punctuation">(</span> par <span class="token punctuation">)</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"Hello : "</span><span class="token punctuation">,</span> par<span class="token punctuation">)</span>
    <span class="token keyword">return</span>
</code></pre>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/python3</span>
<span class="token comment"># Filename: test.py</span>
 
<span class="token comment"># &#23548;&#20837;&#27169;&#22359;</span>
<span class="token keyword">import</span> support <span class="token comment">#&#25991;&#20214;&#21517;</span>
 
<span class="token comment"># &#29616;&#22312;&#21487;&#20197;&#35843;&#29992;&#27169;&#22359;&#37324;&#21253;&#21547;&#30340;&#20989;&#25968;&#20102;</span>
support<span class="token punctuation">.</span>print_func<span class="token punctuation">(</span><span class="token string">"Runoob"</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>from&#8230;import&#35821;&#21477;,&#20174;&#27169;&#22359;&#20013;&#23548;&#20837;&#19968;&#20010;&#25351;&#23450;&#30340;&#37096;&#20998;&#21040;&#24403;&#21069;&#21629;&#21517;&#31354;&#38388;&#20013;&#12290;</li>
</ul>
<pre><code class="prism language-python"><span class="token comment">#&#23548;&#20837;&#27169;&#22359; fibo &#30340; fib &#20989;&#25968;</span>
<span class="token keyword">from</span> fibo <span class="token keyword">import</span> fib<span class="token punctuation">,</span> fib2
<span class="token operator">&gt;&gt;</span><span class="token operator">&gt;</span> fib<span class="token punctuation">(</span><span class="token number">500</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>From&#8230;import* &#35821;&#21477;&#65292;&#25226;&#19968;&#20010;&#27169;&#22359;&#30340;&#25152;&#26377;&#20869;&#23481;&#20840;&#37117;&#23548;&#20837;&#21040;&#24403;&#21069;&#30340;&#21629;&#21517;&#31354;&#38388;&#12290;</li>
<li>&#27169;&#22359;&#38500;&#20102;&#26041;&#27861;&#23450;&#20041;&#65292;&#36824;&#21487;&#20197;&#21253;&#25324;&#21487;&#25191;&#34892;&#30340;&#20195;&#30721;&#12290;&#36825;&#20123;&#20195;&#30721;&#19968;&#33324;&#29992;&#26469;&#21021;&#22987;&#21270;&#36825;&#20010;&#27169;&#22359;&#12290;&#36825;&#20123;&#20195;&#30721;&#21482;&#26377;&#22312;&#31532;&#19968;&#27425;&#34987;&#23548;&#20837;&#26102;&#25165;&#20250;&#34987;&#25191;&#34892;&#12290;</li>
<li>_name_&#23646;&#24615;,&#19968;&#20010;&#27169;&#22359;&#34987;&#21478;&#19968;&#20010;&#31243;&#24207;&#31532;&#19968;&#27425;&#24341;&#20837;&#26102;&#65292;&#20854;&#20027;&#31243;&#24207;&#23558;&#36816;&#34892;&#12290;&#22914;&#26524;&#25105;&#20204;&#24819;&#22312;&#27169;&#22359;&#34987;&#24341;&#20837;&#26102;&#65292;&#27169;&#22359;&#20013;&#30340;&#26576;&#19968;&#31243;&#24207;&#22359;&#19981;&#25191;&#34892;,&#21487;&#20197;&#29992;__name__&#23646;&#24615;&#12290;</li>
</ul>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/python3</span>
<span class="token comment"># Filename: using_name.py</span>

<span class="token keyword">if</span> __name__ <span class="token operator">==</span> <span class="token string">'__main__'</span><span class="token punctuation">:</span>
   <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'&#31243;&#24207;&#33258;&#36523;&#22312;&#36816;&#34892;'</span><span class="token punctuation">)</span>
<span class="token keyword">else</span><span class="token punctuation">:</span>
   <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">'&#25105;&#26469;&#33258;&#21478;&#19968;&#27169;&#22359;'</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>Python &#20250;&#26681;&#25454; sys.path &#20013;&#30340;&#30446;&#24405;&#26469;&#23547;&#25214;&#36825;&#20010;&#21253;&#20013;&#21253;&#21547;&#30340;&#23376;&#30446;&#24405;&#12290;</li>
<li>&#30446;&#24405;&#21482;&#26377;&#21253;&#21547;&#19968;&#20010;&#21483;&#20570; <strong>init</strong>.py &#30340;&#25991;&#20214;&#25165;&#20250;&#34987;&#35748;&#20316;&#26159;&#19968;&#20010;&#21253;&#65292;&#20027;&#35201;&#26159;&#20026;&#20102;&#36991;&#20813;&#19968;&#20123;&#28389;&#20439;&#30340;&#21517;&#23383;&#65288;&#27604;&#22914;&#21483;&#20570; string&#65289;&#19981;&#23567;&#24515;&#30340;&#24433;&#21709;&#25628;&#32034;&#36335;&#24452;&#20013;&#30340;&#26377;&#25928;&#27169;&#22359;&#12290;</li>
<li>&#25512;&#33616;&#65306;from Package import specific_submodule</li>
</ul>
<h3><a id="18_521"></a>18.&#25991;&#20214;</h3>
<p>open()&#26041;&#27861;&#36820;&#22238;&#25991;&#20214;&#65292;&#31532;&#20108;&#20010;&#21442;&#25968;&#20026;&#25991;&#20214;&#25171;&#24320;&#26041;&#24335;&#12290;&#40664;&#35748;&#21482;&#35835;r&#12290;w&#20889;&#65292;a&#36861;&#21152;&#8230;</p>
<pre><code class="prism language-python">f <span class="token operator">=</span> <span class="token builtin">open</span><span class="token punctuation">(</span><span class="token string">"/tmp/test.txt"</span><span class="token punctuation">,</span><span class="token string">"w"</span><span class="token punctuation">)</span>

f<span class="token punctuation">.</span>write<span class="token punctuation">(</span><span class="token string">"&#20154;&#29983;&#33510;&#30701;&#65292;&#25105;&#29992;python&#65281;"</span><span class="token punctuation">)</span>

f<span class="token punctuation">.</span>close<span class="token punctuation">(</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>f.read(size) &#35835;&#21462;&#25991;&#20214;&#20869;&#23481;&#65292;size&#20026;&#31354;&#25110;&#36127;&#25968;&#21017;&#20840;&#37096;&#36820;&#22238;&#12290;</li>
<li>f.readline() f.readline() &#20250;&#20174;&#25991;&#20214;&#20013;&#35835;&#21462;&#21333;&#29420;&#30340;&#19968;&#34892;&#12290;&#25442;&#34892;&#31526;&#20026; &#8216;\n&#8217;&#12290;f.readline() &#22914;&#26524;&#36820;&#22238;&#19968;&#20010;&#31354;&#23383;&#31526;&#20018;, &#35828;&#26126;&#24050;&#32463;&#24050;&#32463;&#35835;&#21462;&#21040;&#26368;&#21518;&#19968;&#34892;&#12290;</li>
<li>f.readlines() &#35835;&#21462;&#25991;&#20214;&#25152;&#26377;&#34892;&#65292;&#24182;&#20197;&#21015;&#34920;&#36820;&#22238;&#12290;</li>
<li>f.write(string) &#23558; string &#20889;&#20837;&#21040;&#25991;&#20214;&#20013;, &#28982;&#21518;&#36820;&#22238;&#20889;&#20837;&#30340;&#23383;&#31526;&#25968;&#12290;&#22914;&#26524;&#35201;&#20889;&#20837;&#19968;&#20123;&#19981;&#26159;&#23383;&#31526;&#20018;&#30340;&#19996;&#35199;, &#37027;&#20040;&#23558;&#38656;&#35201;&#20808;&#36827;&#34892;&#36716;&#25442;&#12290;</li>
</ul>
<h3><a id="19_535"></a>19.&#31867;</h3>
<ul>
<li>&#31867;&#26041;&#27861;</li>
</ul>
<pre><code class="prism language-python"><span class="token keyword">class</span> <span class="token class-name">MyClass</span><span class="token punctuation">:</span>
    i <span class="token operator">=</span> <span class="token number">12345</span>
    <span class="token comment">#&#31867;&#26041;&#27861;&#24517;&#39035;&#26377;&#19968;&#20010;&#39069;&#22806;&#30340;&#31532;&#19968;&#20010;&#21442;&#25968;&#65292;&#24815;&#20363;&#26159;self&#65292;&#19981;&#22266;&#23450;&#65307;&#20195;&#34920;&#30340;&#30340;&#31867;&#30340;&#23454;&#20363;&#32780;&#38750;&#31867;</span>
    <span class="token keyword">def</span> <span class="token function">f</span><span class="token punctuation">(</span>self<span class="token punctuation">)</span><span class="token punctuation">:</span>
        <span class="token keyword">return</span> <span class="token string">"hello world"</span>

x <span class="token operator">=</span> MyClass<span class="token punctuation">(</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"MyClass &#31867;&#30340;&#23646;&#24615; i &#20026;&#65306;"</span><span class="token punctuation">,</span> x<span class="token punctuation">.</span>i<span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"MyClass &#31867;&#30340;&#26041;&#27861; f &#36755;&#20986;&#20026;&#65306;"</span><span class="token punctuation">,</span> x<span class="token punctuation">.</span>f<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>&#26500;&#36896;&#26041;&#27861;</li>
</ul>
<pre><code class="prism language-python"><span class="token keyword">class</span> <span class="token class-name">Complex</span><span class="token punctuation">:</span>
    <span class="token comment">#&#26500;&#36896;&#26041;&#27861;</span>
    <span class="token keyword">def</span> <span class="token function">__init__</span><span class="token punctuation">(</span>self<span class="token punctuation">,</span> realpart<span class="token punctuation">,</span> imagpart<span class="token punctuation">)</span><span class="token punctuation">:</span>
        self<span class="token punctuation">.</span>r <span class="token operator">=</span> realpart
        self<span class="token punctuation">.</span>i <span class="token operator">=</span> imagpart
x <span class="token operator">=</span> Complex<span class="token punctuation">(</span><span class="token number">3.0</span><span class="token punctuation">,</span> <span class="token operator">-</span><span class="token number">4.5</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>x<span class="token punctuation">.</span>r<span class="token punctuation">,</span> x<span class="token punctuation">.</span>i<span class="token punctuation">)</span>   <span class="token comment"># &#36755;&#20986;&#32467;&#26524;&#65306;3.0 -4.5</span>
</code></pre>
<pre><code class="prism language-python"><span class="token comment">#&#31867;&#23450;&#20041;</span>
<span class="token keyword">class</span> <span class="token class-name">people</span><span class="token punctuation">:</span>
    <span class="token comment">#&#23450;&#20041;&#22522;&#26412;&#23646;&#24615;</span>
    name <span class="token operator">=</span> <span class="token string">''</span>
    age <span class="token operator">=</span> <span class="token number">0</span>
    <span class="token comment">#&#23450;&#20041;&#31169;&#26377;&#23646;&#24615;,&#31169;&#26377;&#23646;&#24615;&#22312;&#31867;&#22806;&#37096;&#26080;&#27861;&#30452;&#25509;&#36827;&#34892;&#35775;&#38382;</span>
    __weight <span class="token operator">=</span> <span class="token number">0</span>
    <span class="token comment">#&#23450;&#20041;&#26500;&#36896;&#26041;&#27861;</span>
    <span class="token keyword">def</span> <span class="token function">__init__</span><span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>a<span class="token punctuation">,</span>w<span class="token punctuation">)</span><span class="token punctuation">:</span>
        self<span class="token punctuation">.</span>name <span class="token operator">=</span> n
        self<span class="token punctuation">.</span>age <span class="token operator">=</span> a
        self<span class="token punctuation">.</span>__weight <span class="token operator">=</span> w
    <span class="token keyword">def</span> <span class="token function">speak</span><span class="token punctuation">(</span>self<span class="token punctuation">)</span><span class="token punctuation">:</span>
        <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"%s &#35828;: &#25105; %d &#23681;&#12290;"</span> <span class="token operator">%</span><span class="token punctuation">(</span>self<span class="token punctuation">.</span>name<span class="token punctuation">,</span>self<span class="token punctuation">.</span>age<span class="token punctuation">)</span><span class="token punctuation">)</span>
 
<span class="token comment"># &#23454;&#20363;&#21270;&#31867;</span>
p <span class="token operator">=</span> people<span class="token punctuation">(</span><span class="token string">'runoob'</span><span class="token punctuation">,</span><span class="token number">10</span><span class="token punctuation">,</span><span class="token number">30</span><span class="token punctuation">)</span>
p<span class="token punctuation">.</span>speak<span class="token punctuation">(</span><span class="token punctuation">)</span>
</code></pre>
<ul>
<li>&#32487;&#25215;</li>
</ul>
<pre><code class="prism language-python"><span class="token comment">#&#31867;&#23450;&#20041;</span>
<span class="token keyword">class</span> <span class="token class-name">people</span><span class="token punctuation">:</span>
    <span class="token comment">#&#23450;&#20041;&#22522;&#26412;&#23646;&#24615;</span>
    name <span class="token operator">=</span> <span class="token string">''</span>
    age <span class="token operator">=</span> <span class="token number">0</span>
    <span class="token comment">#&#23450;&#20041;&#31169;&#26377;&#23646;&#24615;,&#31169;&#26377;&#23646;&#24615;&#22312;&#31867;&#22806;&#37096;&#26080;&#27861;&#30452;&#25509;&#36827;&#34892;&#35775;&#38382;</span>
    __weight <span class="token operator">=</span> <span class="token number">0</span>
    <span class="token comment">#&#23450;&#20041;&#26500;&#36896;&#26041;&#27861;</span>
    <span class="token keyword">def</span> <span class="token function">__init__</span><span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>a<span class="token punctuation">,</span>w<span class="token punctuation">)</span><span class="token punctuation">:</span>
        self<span class="token punctuation">.</span>name <span class="token operator">=</span> n
        self<span class="token punctuation">.</span>age <span class="token operator">=</span> a
        self<span class="token punctuation">.</span>__weight <span class="token operator">=</span> w
    <span class="token keyword">def</span> <span class="token function">speak</span><span class="token punctuation">(</span>self<span class="token punctuation">)</span><span class="token punctuation">:</span>
        <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"%s &#35828;: &#25105; %d &#23681;&#12290;"</span> <span class="token operator">%</span><span class="token punctuation">(</span>self<span class="token punctuation">.</span>name<span class="token punctuation">,</span>self<span class="token punctuation">.</span>age<span class="token punctuation">)</span><span class="token punctuation">)</span>
 
<span class="token comment">#&#21333;&#32487;&#25215;&#31034;&#20363;</span>
<span class="token keyword">class</span> <span class="token class-name">student</span><span class="token punctuation">(</span>people<span class="token punctuation">)</span><span class="token punctuation">:</span>
    grade <span class="token operator">=</span> <span class="token string">''</span>
    <span class="token keyword">def</span> <span class="token function">__init__</span><span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>a<span class="token punctuation">,</span>w<span class="token punctuation">,</span>g<span class="token punctuation">)</span><span class="token punctuation">:</span>
        <span class="token comment">#&#35843;&#29992;&#29238;&#31867;&#30340;&#26500;&#20989;</span>
        people<span class="token punctuation">.</span>__init__<span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>a<span class="token punctuation">,</span>w<span class="token punctuation">)</span>
        self<span class="token punctuation">.</span>grade <span class="token operator">=</span> g
    <span class="token comment">#&#35206;&#20889;&#29238;&#31867;&#30340;&#26041;&#27861;</span>
    <span class="token keyword">def</span> <span class="token function">speak</span><span class="token punctuation">(</span>self<span class="token punctuation">)</span><span class="token punctuation">:</span>
        <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"%s &#35828;: &#25105; %d &#23681;&#20102;&#65292;&#25105;&#22312;&#35835; %d &#24180;&#32423;"</span><span class="token operator">%</span><span class="token punctuation">(</span>self<span class="token punctuation">.</span>name<span class="token punctuation">,</span>self<span class="token punctuation">.</span>age<span class="token punctuation">,</span>self<span class="token punctuation">.</span>grade<span class="token punctuation">)</span><span class="token punctuation">)</span>
 
<span class="token comment">#&#21478;&#19968;&#20010;&#31867;&#65292;&#22810;&#37325;&#32487;&#25215;&#20043;&#21069;&#30340;&#20934;&#22791;</span>
<span class="token keyword">class</span> <span class="token class-name">speaker</span><span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">:</span>
    topic <span class="token operator">=</span> <span class="token string">''</span>
    name <span class="token operator">=</span> <span class="token string">''</span>
    <span class="token keyword">def</span> <span class="token function">__init__</span><span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>t<span class="token punctuation">)</span><span class="token punctuation">:</span>
        self<span class="token punctuation">.</span>name <span class="token operator">=</span> n
        self<span class="token punctuation">.</span>topic <span class="token operator">=</span> t
    <span class="token keyword">def</span> <span class="token function">speak</span><span class="token punctuation">(</span>self<span class="token punctuation">)</span><span class="token punctuation">:</span>
        <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"&#25105;&#21483; %s&#65292;&#25105;&#26159;&#19968;&#20010;&#28436;&#35828;&#23478;&#65292;&#25105;&#28436;&#35762;&#30340;&#20027;&#39064;&#26159; %s"</span><span class="token operator">%</span><span class="token punctuation">(</span>self<span class="token punctuation">.</span>name<span class="token punctuation">,</span>self<span class="token punctuation">.</span>topic<span class="token punctuation">)</span><span class="token punctuation">)</span>
 
<span class="token comment">#&#22810;&#37325;&#32487;&#25215;</span>
<span class="token keyword">class</span> <span class="token class-name">sample</span><span class="token punctuation">(</span>speaker<span class="token punctuation">,</span>student<span class="token punctuation">)</span><span class="token punctuation">:</span>
    a <span class="token operator">=</span><span class="token string">''</span>
    <span class="token keyword">def</span> <span class="token function">__init__</span><span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>a<span class="token punctuation">,</span>w<span class="token punctuation">,</span>g<span class="token punctuation">,</span>t<span class="token punctuation">)</span><span class="token punctuation">:</span>
        student<span class="token punctuation">.</span>__init__<span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>a<span class="token punctuation">,</span>w<span class="token punctuation">,</span>g<span class="token punctuation">)</span>
        speaker<span class="token punctuation">.</span>__init__<span class="token punctuation">(</span>self<span class="token punctuation">,</span>n<span class="token punctuation">,</span>t<span class="token punctuation">)</span>
 
test <span class="token operator">=</span> sample<span class="token punctuation">(</span><span class="token string">"Tim"</span><span class="token punctuation">,</span><span class="token number">25</span><span class="token punctuation">,</span><span class="token number">80</span><span class="token punctuation">,</span><span class="token number">4</span><span class="token punctuation">,</span><span class="token string">"Python"</span><span class="token punctuation">)</span>
test<span class="token punctuation">.</span>speak<span class="token punctuation">(</span><span class="token punctuation">)</span>   <span class="token comment">#&#26041;&#27861;&#21517;&#21516;&#65292;&#40664;&#35748;&#35843;&#29992;&#30340;&#26159;&#22312;&#25324;&#21495;&#20013;&#25490;&#21069;&#22320;&#29238;&#31867;&#30340;&#26041;&#27861;</span>
</code></pre>
<h3><a id="20_626"></a>20.&#27491;&#21017;&#34920;&#36798;&#24335;</h3>
<ul>
<li>re.match&#19982;re.search&#30340;&#21306;&#21035;<br>
re.match&#21482;&#21305;&#37197;&#23383;&#31526;&#20018;&#30340;&#24320;&#22987;&#65292;&#22914;&#26524;&#23383;&#31526;&#20018;&#24320;&#22987;&#19981;&#31526;&#21512;&#27491;&#21017;&#34920;&#36798;&#24335;&#65292;&#21017;&#21305;&#37197;&#22833;&#36133;&#65292;&#20989;&#25968;&#36820;&#22238;None&#65307;&#32780;re.search&#21305;&#37197;&#25972;&#20010;&#23383;&#31526;&#20018;&#65292;&#30452;&#21040;&#25214;&#21040;&#19968;&#20010;&#21305;&#37197;&#12290;</li>
</ul>
<pre><code class="prism language-python"><span class="token keyword">import</span> re

line <span class="token operator">=</span> <span class="token string">"Cats are smarter than dogs"</span><span class="token punctuation">;</span>

matchObj <span class="token operator">=</span> re<span class="token punctuation">.</span>match<span class="token punctuation">(</span> r<span class="token string">'dogs'</span><span class="token punctuation">,</span> line<span class="token punctuation">,</span> re<span class="token punctuation">.</span>M<span class="token operator">|</span>re<span class="token punctuation">.</span>I<span class="token punctuation">)</span>
<span class="token keyword">if</span> matchObj<span class="token punctuation">:</span>
   <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"match --&gt; matchObj.group() : "</span><span class="token punctuation">,</span> matchObj<span class="token punctuation">.</span>group<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token keyword">else</span><span class="token punctuation">:</span>
   <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"No match!!"</span><span class="token punctuation">)</span>

matchObj <span class="token operator">=</span> re<span class="token punctuation">.</span>search<span class="token punctuation">(</span> r<span class="token string">'dogs'</span><span class="token punctuation">,</span> line<span class="token punctuation">,</span> re<span class="token punctuation">.</span>M<span class="token operator">|</span>re<span class="token punctuation">.</span>I<span class="token punctuation">)</span>
<span class="token keyword">if</span> matchObj<span class="token punctuation">:</span>
   <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"search --&gt; matchObj.group() : "</span><span class="token punctuation">,</span> matchObj<span class="token punctuation">.</span>group<span class="token punctuation">(</span><span class="token punctuation">)</span><span class="token punctuation">)</span>
<span class="token keyword">else</span><span class="token punctuation">:</span>
   <span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"No match!!"</span><span class="token punctuation">)</span>
   
<span class="token comment">#No match!!</span>
<span class="token comment">#search --&gt; matchObj.group() :  dogs</span>
</code></pre>
<ul>
<li>&#26816;&#32034;&#21644;&#26367;&#25442;</li>
</ul>
<pre><code class="prism language-python"><span class="token keyword">import</span> re

phone <span class="token operator">=</span> <span class="token string">"2004-959-559 # &#36825;&#26159;&#19968;&#20010;&#30005;&#35805;&#21495;&#30721;"</span>

<span class="token comment"># &#21024;&#38500;&#27880;&#37322;</span>
num <span class="token operator">=</span> re<span class="token punctuation">.</span>sub<span class="token punctuation">(</span>r<span class="token string">'#.*$'</span><span class="token punctuation">,</span> <span class="token string">""</span><span class="token punctuation">,</span> phone<span class="token punctuation">)</span>
<span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"&#30005;&#35805;&#21495;&#30721; : "</span><span class="token punctuation">,</span> num<span class="token punctuation">)</span>

<span class="token comment"># &#31227;&#38500;&#38750;&#25968;&#23383;&#30340;&#20869;&#23481;</span>
num <span class="token operator">=</span> re<span class="token punctuation">.</span>sub<span class="token punctuation">(</span>r<span class="token string">'\D'</span><span class="token punctuation">,</span> <span class="token string">""</span><span class="token punctuation">,</span> phone<span class="token punctuation">)</span>
<span class="token keyword">print</span> <span class="token punctuation">(</span><span class="token string">"&#30005;&#35805;&#21495;&#30721; : "</span><span class="token punctuation">,</span> num<span class="token punctuation">)</span>

<span class="token comment">#&#30005;&#35805;&#21495;&#30721; :  2004-959-559 </span>
<span class="token comment">#&#30005;&#35805;&#21495;&#30721; :  2004959559</span>
</code></pre>

            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
