<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/79049997				</div>
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
&#25968;&#32452;&#30340;&#21021;&#22987;&#21270;&#26377;&#20004;&#31181;&#26041;&#24335;&#65306;<br><ul><li>&#38745;&#24577;&#22987;&#22987;&#21270;&#65306;&#21021;&#22987;&#21270;&#26102;&#30001;&#31243;&#24207;&#21592;&#26174;&#24335;&#25351;&#23450;&#27599;&#20010;&#25968;&#32452;&#20803;&#32032;&#65292;&#31995;&#32479;&#20915;&#23450;&#25968;&#32452;&#38271;&#24230;</li><li>&#21160;&#24577;&#21021;&#22987;&#21270;&#65306;&#21021;&#22987;&#21270;&#26102;&#31243;&#24207;&#21592;&#21482;&#25351;&#23450;&#25968;&#32452;&#38271;&#24230;&#65292;&#30001;&#31995;&#32479;&#20026;&#25968;&#32452;&#20803;&#32032;&#20998;&#37197;&#21021;&#22987;&#20540;</li></ul><span></span><br><pre><code class="language-java">		//&#38745;&#24577;&#21021;&#22987;&#21270;&#65292;&#21021;&#22987;&#21270;&#25968;&#32452;&#26102;&#21482;&#25351;&#23450;&#25968;&#32452;&#20803;&#32032;&#30340;&#21021;&#22987;&#20540;&#65292;&#19981;&#25351;&#23450;&#25968;&#32452;&#38271;&#24230;
		int a[];
		a=new int[]{1,2,3};
		//&#38745;&#24577;&#21021;&#22987;&#21270;&#65292;&#21021;&#22987;&#21270;&#25968;&#32452;&#26102;
		//&#23450;&#20041;&#25968;&#32452;&#26102;&#25152;&#25351;&#23450;&#30340;&#25968;&#32452;&#20803;&#32032;&#31867;&#22411;&#30340;&#23376;&#31867;
		//String&#26159;Object&#30340;&#23376;&#31867;
		Object[] obj;
		obj=new String[]{"abc","ddd"};
		//&#38745;&#24577;&#21021;&#22987;&#21270;
		Object[] obj1;
		obj1=new Object[]{"abc","ddd"};
		//&#21160;&#24577;&#21021;&#22987;&#21270;
		int[] prices=new int[5];
		Object[] books=new String[5];				</code></pre>
<ul><li>&#160;&#25968;&#32452;&#20803;&#32032;&#30340;&#31867;&#22411;&#26159;&#22522;&#26412;&#31867;&#22411;&#20013;&#30340;&#25972;&#25968;&#31867;&#22411;(byte&#12289;short\int&#21644;long),&#21017;&#25968;&#32452;&#20803;&#32032;&#30340;&#20540;&#26159;0</li><li>&#160;&#25968;&#32452;&#20803;&#32032;&#30340;&#31867;&#22411;&#26159;&#22522;&#26412;&#31867;&#22411;&#20013;&#30340;&#28014;&#28857;&#31867;&#22411;(float&#12289;double),&#21017;&#25968;&#32452;&#20803;&#32032;&#30340;&#20540;&#26159;0.0</li><li>&#160;&#25968;&#32452;&#20803;&#32032;&#30340;&#31867;&#22411;&#26159;&#22522;&#26412;&#31867;&#22411;&#20013;&#30340;&#23383;&#31526;&#31867;&#22411;(char),&#21017;&#25968;&#32452;&#20803;&#32032;&#30340;&#20540;&#26159;'\u0000'</li><li>&#160;&#25968;&#32452;&#20803;&#32032;&#30340;&#31867;&#22411;&#26159;&#22522;&#26412;&#31867;&#22411;&#20013;&#30340;&#24067;&#23572;&#31867;&#22411;(boolean),&#21017;&#25968;&#32452;&#20803;&#32032;&#30340;&#20540;&#26159;false</li><li>&#160;&#25968;&#32452;&#20803;&#32032;&#30340;&#31867;&#22411;&#26159;&#24341;&#29992;&#31867;&#22411;(&#31867;&#12289;&#25509;&#21475;&#21644;&#25968;&#32452;),&#21017;&#25968;&#32452;&#20803;&#32032;&#30340;&#20540;&#26159;null</li></ul>
&#19981;&#35201;&#21516;&#26102;&#20351;&#29992;&#38745;&#24577;&#21021;&#22987;&#21270;&#21644;&#21160;&#24577;&#21021;&#22987;&#21270;&#65292;&#21363;&#19981;&#35201;&#22312;&#36827;&#34892;&#25968;&#32452;&#21021;&#22987;&#21270;&#26102;&#65292;&#26082;&#25351;&#23450;&#25968;&#32452;&#30340;&#38271;&#24230;&#65292;&#20063;&#20026;&#27599;&#20010;&#25968;&#32452;&#20803;&#32032;&#20998;&#37197;&#21021;&#22987;&#20540;<br><span></span>
            </div>
                </div>
	</article>
