<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/79071994				</div>
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                
<p>&#26041;&#27861;&#19968;&#65306;</p>
<p></p><pre><code class="language-plain">'&#21019;&#24314;&#19968;&#20010; Wscript.Shell &#23545;&#35937;&#30340;&#23454;&#20363;,&#31245;&#21518;&#20250;&#20351;&#29992;&#36825;&#20010;&#23545;&#35937;&#21551;&#21160; Windows &#36164;&#28304;&#31649;&#29702;&#22120;
Set objShell = CreateObject("Wscript.Shell")
'&#33719;&#21462;&#33050;&#26412;&#30340;&#36335;&#24452;
strPath = Wscript.ScriptFullName
Set objFSO = CreateObject("Scripting.FileSystemObject")
Set objFile = objFSO.GetFile(strPath)
'&#33719;&#21462;&#33050;&#26412;&#24403;&#21069;&#25152;&#22312;&#25991;&#20214;&#22841;&#30340;&#36335;&#24452;
strFolder = objFSO.GetParentFolderName(objFile) 
strPath = "explorer.exe /e," &amp; strFolder
'&#21551;&#21160; Windows &#36164;&#28304;&#31649;&#29702;&#22120;,&#25171;&#24320;&#33050;&#26412;&#25152;&#22312;&#30340;&#25991;&#20214;&#22841;
objShell.Run strPath</code></pre>&#26041;&#27861;&#20108;&#65306;
<p></p><pre><code class="language-plain">set objShell = CreateObject("Wscript.Shell")
'&#33050;&#26412;&#30340;&#24403;&#21069;&#30446;&#24405;
strPath = objShell.CurrentDirectory
strPath = "explorer.exe /e," &amp; strPath
objShell.Run strPath</code></pre><br><br><br>            </div>
                </div>
	</article>
