<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/79406564				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<pre class="prettyprint"><code class=" hljs vbnet"><span class="hljs-keyword">Public</span> <span class="hljs-keyword">Function</span> GetInfo(strMoblie <span class="hljs-keyword">As</span> <span class="hljs-built_in">String</span>) <span class="hljs-keyword">As</span> <span class="hljs-built_in">String</span>
    <span class="hljs-comment">'&#21019;&#24314;&#23545;&#35937;</span>
    <span class="hljs-keyword">Dim</span> xmlHttp <span class="hljs-keyword">As</span> <span class="hljs-built_in">Object</span>
    <span class="hljs-keyword">Set</span> xmlHttp = CreateObject(<span class="hljs-string">"MSXML2.XMLHTTP"</span>)
    <span class="hljs-comment">'&#21457;&#36865;&#35831;&#27714;</span>
    xmlHttp.Open <span class="hljs-string">"GET"</span>, <span class="hljs-string">"http://www.ip138.com:8080/search.asp?action=mobile&amp;mobile="</span> &amp; strMoblie, <span class="hljs-literal">False</span>
    xmlHttp.Send

    <span class="hljs-comment">'&#31561;&#24453;&#21709;&#24212;</span>
    <span class="hljs-keyword">Do</span> <span class="hljs-keyword">While</span> xmlHttp.ReadyState &lt;&gt; <span class="hljs-number">4</span>

        DoEvents
    <span class="hljs-keyword">Loop</span>
   <span class="hljs-comment">'&#24471;&#21040;&#35831;&#27714;&#25968;&#25454;</span>
   <span class="hljs-keyword">Dim</span> strReturn <span class="hljs-keyword">As</span> <span class="hljs-built_in">String</span>
   strReturn = xmlHttp.ResponseText
   GetInfo = strReturn
<span class="hljs-keyword">End</span> <span class="hljs-keyword">Function</span>
</code></pre>

<hr>

<h2 id="&#24341;&#29992;&#26041;&#24335;">&#24341;&#29992;&#26041;&#24335;&#65306;</h2>

<p><strong>&#30452;&#25509;&#24341;&#29992;</strong> <br>
&#24037;&#20855;&#8211;&#24341;&#29992; <br>
<img src="https://img-blog.csdn.net/20180228223521299?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvY2h1aGUxNjM=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p><strong>&#21518;&#26399;&#32465;&#23450;</strong></p>

<pre class="prettyprint"><code class=" hljs vbnet">    <span class="hljs-comment">'&#21019;&#24314;&#23545;&#35937;</span>
    <span class="hljs-keyword">Dim</span> xmlHttp <span class="hljs-keyword">As</span> <span class="hljs-built_in">Object</span>
    <span class="hljs-keyword">Set</span> xmlHttp = CreateObject(<span class="hljs-string">"MSXML2.XMLHTTP"</span>)</code></pre>

<p>&#25110;&#32773;</p>



<pre class="prettyprint"><code class=" hljs vbnet">    <span class="hljs-comment">'&#21019;&#24314;&#23545;&#35937;</span>
    <span class="hljs-keyword">Dim</span> xmlHttp <span class="hljs-keyword">As</span> <span class="hljs-built_in">Object</span>
    <span class="hljs-keyword">Set</span> xmlHttp = CreateObject(<span class="hljs-string">"Microsoft.XMLHTTP"</span>)</code></pre>

<hr>

<p><strong>readyState&#23646;&#24615;&#29366;&#24577;</strong></p>

<ul>
<li>0&#65306;&#35831;&#27714;&#26410;&#21021;&#22987;&#21270;&#65292;&#36824;&#27809;&#26377;&#35843;&#29992;Open&#26041;&#27861;</li>
<li>1&#65306;&#35831;&#27714;&#24050;&#24314;&#31435;&#65292;&#20294;&#26159;&#36824;&#27809;&#26377;&#21457;&#36865;</li>
<li>2&#65306;&#35831;&#27714;&#24050;&#21457;&#36865;&#65292;&#27491;&#22312;&#22788;&#29702;&#20013;</li>
<li>3&#65306;&#35831;&#27714;&#22312;&#22788;&#29702;&#20013;&#65292;&#37096;&#20998;&#21709;&#24212;&#20102;</li>
<li>4&#65306;&#21709;&#24212;&#24050;&#23436;&#20840;&#23436;&#25104;</li>
</ul>

<p><strong>Open&#26041;&#27861;</strong></p>

<ul>
<li>&#20316;&#29992;&#65306;&#21019;&#24314;&#26032;&#30340;http&#35831;&#27714;</li>
<li><p>&#26684;&#24335;&#65306;xmlHttp.Open &#35831;&#27714;&#26041;&#24335;&#65292;&#32593;&#22336;&#65292;&#26159;&#21542;&#24322;&#27493;</p>

<p><strong>Send&#26041;&#27861;</strong></p></li>
<li><p>&#20316;&#29992;&#65306;&#21457;&#36865;&#35831;&#27714;</p></li>
<li><p>&#26684;&#24335;&#65306;xmlHttp.Send</p>

<p><strong>setRequestHeader&#26041;&#27861;</strong></p></li>
<li>&#20316;&#29992;&#65306;&#35774;&#32622;&#35831;&#27714;&#30340;&#22836;&#20449;&#24687;</li>
<li><p>&#26684;&#24335;&#65306;xmlHttp.setRequestHeader &#21442;&#25968;&#21517;&#65292;&#21442;&#25968;&#20540;</p>

<p><strong>getResponseHeader&#26041;&#27861;</strong></p></li>
<li>&#20316;&#29992;&#65306;&#33719;&#21462;&#21709;&#24212;&#25968;&#25454;&#22836;&#20449;&#24687;</li>
<li>&#26684;&#24335;&#65306;xmlHttp.getResponseHeader &#21442;&#25968;&#21517;</li>
</ul>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
