<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <p>&#30001;&#20110;&#35299;&#37322;&#22120;&#65288;&#35835;&#21462;&#24182;&#36816;&#34892;&#20195;&#30721;&#30340;&#35745;&#31639;&#26426;&#31243;&#24207;&#65289;&#30340;&#19981;&#21516;&#65292;python&#20027;&#35201;&#20998;&#20026;python2.X&#21644;python3.X&#20004;&#20010;&#29256;&#26412;&#12290;</p><p>python&#30340;&#39640;&#29256;&#26412;&#24182;&#19981;&#26159;&#23436;&#25104;&#20860;&#23481;&#20302;&#29256;&#26412;&#30340;&#65292;&#22312;&#23398;&#20064;&#26102;&#24212;&#35813;&#25235;&#20303;&#19968;&#20010;&#29256;&#26412;&#36827;&#34892;&#23398;&#20064;&#65292;&#31561;&#23398;&#20064;&#23436;&#21518;&#36825;&#20010;&#29256;&#26412;&#21518;&#65292;&#20877;&#21435;&#30740;&#31350;&#20004;&#20010;&#29256;&#26412;&#20043;&#38388;&#30340;&#19981;&#21516;&#20043;&#22788;&#12290;</p><p>&#31561;&#20320;&#30693;&#36947;&#20102;&#20004;&#20010;&#29256;&#26412;&#30340;&#24046;&#21035;&#21518;&#65292;&#20320;&#21487;&#20197;&#32534;&#20889;&#21516;&#26102;&#20860;&#23481;&#20004;&#20010;&#29256;&#26412;&#30340;python&#31243;&#24207;&#12290;<br></p>            </div>
                </div>
	</article>
