<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/79530146				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>vbs&#35843;&#29992;&#25554;&#20214;&#25253;&#65306;ActiveX&#37096;&#20214;&#19981;&#33021;&#21019;&#24314;&#23545;&#35937;&#65292;&#20195;&#30721;&#65306;800A01AD <br>
&#25253;&#38169;&#22914;&#19979;&#22270;&#65306; <br>
<img src="https://img-blog.csdn.net/20180312164926248?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvY2h1aGUxNjM=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<h2 id="&#35299;&#20915;&#26041;&#27861;&#38656;&#35201;&#20004;&#27493;">&#35299;&#20915;&#26041;&#27861;&#38656;&#35201;&#20004;&#27493;&#65306;</h2>

<p><strong>&#31532;&#19968;&#27493;&#25913;&#27880;&#20876;&#34920;&#65306;</strong></p>

<p>HKEY_CLASSES_ROOT\VBSFile\Shell\Open|\Command <br>
&#23558; <br>
&#8220;%SystemRoot%\System32\WScript.exe&#8221; &#8220;%1&#8221; %*   &#25913;&#20026; <br>
&#8220;%SystemRoot%\SysWow64\WScript.exe&#8221; &#8220;%1&#8221; %*</p>

<p><strong>&#31532;&#20108;&#27493;&#21464;&#26356;&#25171;&#24320;&#26041;&#24335;&#65306;</strong> <br>
&#21491;&#20987;VBS&#33050;&#26412;&#36873;&#25321;&#23646;&#24615;&#8212;-&#26356;&#25913; <br>
<img src="https://img-blog.csdn.net/20180312165847625?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvY2h1aGUxNjM=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
- - - - &#28857;&#20987;&#27983;&#35272;&#25353;&#38062; <br>
&#36873;&#20013;C:\Windows\SysWOW64\wscript.exe <br>
<img src="https://img-blog.csdn.net/20180312170354276?watermark/2/text/aHR0cDovL2Jsb2cuY3Nkbi5uZXQvY2h1aGUxNjM=/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p>&#37325;&#26032;&#36816;&#34892;&#33050;&#26412;&#65292;&#33050;&#26412;&#39034;&#21033;&#25191;&#34892;&#12290; <br>
&#31532;&#20108;&#27493;&#22914;&#26524;&#65292;VBS&#23646;&#24615;&#30028;&#38754;&#27809;&#26377;&#26356;&#25913;&#25353;&#38062;&#30340;&#65292;&#21487;&#20197;&#21491;&#20987;VBS&#33050;&#26412;&#65292;&#36873;&#25321;&#8220;&#25171;&#24320;&#26041;&#24335;&#8221;&#65292;&#25928;&#26524;&#26159;&#19968;&#26679;&#30340;&#12290;</p>

<hr>

<p>&#19979;&#38754;&#35828;&#19968;&#19979;&#36825;&#20010;&#38382;&#39064;&#20135;&#29983;&#30340;&#21407;&#22240;&#65288;&#20165;&#23646;&#20010;&#20154;&#25512;&#27979;&#65289;&#65306;</p>

<p>VBS&#33050;&#26412;&#20986;&#29616;&#36825;&#20010;&#38382;&#39064;&#30340;&#22810;&#21322;&#26159;64&#20301;&#30340;&#25805;&#20570;&#31995;&#32479;&#65292;VBS&#40664;&#35748;&#36816;&#34892;&#30340;&#26159;64&#20301;&#30340;WScript.exe&#12290;</p>

<p>&#19978;&#25991;&#20013;&#30340;&#20004;&#20010;&#27493;&#39588;&#30340;&#25805;&#20316;&#20854;&#23454;&#37117;&#26159;&#23558;VBS&#30340;&#36816;&#34892;&#26041;&#24335;&#20174;&#40664;&#35748;&#30340;64&#20301;WScript.exe&#25913;&#20026;32&#20301;&#30340;&#12290; <br>
System32&#20195;&#34920;&#30340;&#26159;64&#20301;&#26680;&#24515;&#25991;&#20214; <br>
SysWow64&#20195;&#34920;&#30340;&#26159;&#20860;&#23481;32&#20301;&#26680;&#24515;&#25991;&#20214; <br>
System32&#21644;SysWow64&#31350;&#31455;&#35841;&#20195;&#34920;32&#20301;&#65292;&#35841;&#20195;&#34920;64&#20301;&#35831;&#33258;&#34892;&#26597;&#38405;&#30456;&#20851;&#36164;&#26009;&#12290; <br>
&#24635;&#20043;&#20986;&#29616;&#36825;&#20010;&#38382;&#39064;&#65292;&#26159;32&#20301;&#29256;&#26412;&#21644;64&#20301;&#29256;&#26412;WScript.exe&#20860;&#23481;&#24615;&#30340;&#38382;&#39064;&#65292;&#21482;&#35201;&#25913;&#25104;&#23545;&#24212;&#30340;&#29256;&#26412;&#65292;&#38382;&#39064;&#23601;&#21487;&#20197;&#24471;&#21040;&#35299;&#20915;&#12290;</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
