<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p><strong>&#23454;&#29616;&#21098;&#36148;&#26495;&#24635;&#26159;&#35201;&#20197;&#19979;&#20960;&#20010;&#27493;&#39588;&#65306;</strong></p>

<p>1.&#25171;&#24320;&#21098;&#36148;&#26495;</p>

<p>2.&#33719;&#21462;&#21098;&#36148;&#26495;&#20351;&#29992;&#26435;</p>

<p>3.&#38145;&#23450;&#21098;&#36148;&#26495;</p>

<p>4.&#35299;&#38500;&#21098;&#36148;&#26495;</p>

<p>5.&#20851;&#38381;&#21098;&#36148;&#26495;</p>

<pre class="prettyprint"><code class=" hljs lasso">        <span class="hljs-keyword">if</span> (this<span class="hljs-subst">-&gt;</span>OpenClipboard())   <span class="hljs-comment">//&#22914;&#26524;&#33021;&#25171;&#24320;&#21098;&#36148;&#26495;  </span>
        {
            <span class="hljs-tag">::EmptyClipboard</span>();  <span class="hljs-comment">//&#28165;&#31354;&#21098;&#36148;&#26495;&#65292;&#20351;&#35813;&#31383;&#21475;&#25104;&#20026;&#21098;&#36148;&#26495;&#30340;&#25317;&#26377;&#32773;  </span>
            CString str(<span class="hljs-string">"fdsfds"</span>);<span class="hljs-comment">//&#23558;&#25991;&#26412;&#25918;&#32622;&#21040;&#31995;&#32479;&#21098;&#36148;&#26495;&#20013;  </span>
            HGLOBAL hClip;
            <span class="hljs-comment">//&#21028;&#26029;&#35201;&#26159;&#25991;&#26412;&#25968;&#25454;&#65292;&#20998;&#37197;&#20869;&#23384;&#26102;&#22810;&#20998;&#37197;&#19968;&#20010;&#23383;&#31526;  </span>
            hClip <span class="hljs-subst">=</span> <span class="hljs-tag">::GlobalAlloc</span>(GMEM_MOVEABLE, (str<span class="hljs-built_in">.</span>GetLength() <span class="hljs-subst">*</span> <span class="hljs-number">2</span>) <span class="hljs-subst">+</span> <span class="hljs-number">2</span>); 
            TCHAR <span class="hljs-subst">*</span>pBuf;
            pBuf <span class="hljs-subst">=</span> (TCHAR <span class="hljs-subst">*</span>)<span class="hljs-tag">::GlobalLock</span>(hClip);<span class="hljs-comment">//&#38145;&#23450;&#21098;&#36148;&#26495;  </span>
            lstrcpy(pBuf, str);<span class="hljs-comment">//&#25226;CString&#36716;&#25442;  </span>
            <span class="hljs-tag">::GlobalUnlock</span>(hClip);<span class="hljs-comment">//&#35299;&#38500;&#38145;&#23450;&#21098;&#36148;&#26495;  </span>
            <span class="hljs-tag">::SetClipboardData</span>(CF_UNICODETEXT, hClip);<span class="hljs-comment">//&#25226;&#25991;&#26412;&#25968;&#25454;&#21457;&#36865;&#21040;&#21098;&#36148;&#26495;  CF_UNICODETEXT&#20026;Unicode&#32534;&#30721;  </span>
            <span class="hljs-tag">::CloseClipboard</span>();<span class="hljs-comment">//&#20851;&#38381;&#21098;&#36148;&#26495;  </span>
        }</code></pre>

<p>&#36825;&#26679;&#25105;&#20204;&#23601;&#23454;&#29616;&#20102;&#25991;&#26412;&#21457;&#36865;&#21040;&#21098;&#36148;&#26495;&#25805;&#20316;&#65281;</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
