<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/79618127				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<h2 id="&#26696;&#20363;&#19968;">&#26696;&#20363;&#19968;&#65306;</h2>

<pre class="prettyprint"><code class=" hljs cpp"><span class="hljs-preprocessor">#include "iostream"</span>
<span class="hljs-keyword">using</span> <span class="hljs-keyword">namespace</span> <span class="hljs-built_in">std</span>;
<span class="hljs-keyword">void</span> main()

{
    <span class="hljs-keyword">int</span> a;
    <span class="hljs-built_in">cout</span> &lt;&lt; a &lt;&lt; endl;
}</code></pre>

<p>Release&#19979;&#36816;&#34892;&#65306; <br>
<img src="//img-blog.csdn.net/20180319211708424?watermark/2/text/Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
Debug&#19979;&#36816;&#34892;&#65306;</p>

<p><img src="//img-blog.csdn.net/20180319211801596?watermark/2/text/Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>

<p><strong>&#35299;&#20915;&#21150;&#27861;&#65306;</strong></p>

<ul>
<li>&#26041;&#27861;1&#65306;a&#23450;&#20041;&#20026;&#20840;&#23616;&#21464;&#37327;</li>
<li>&#26041;&#27861;2&#65306;&#32473;a&#36171;&#20010;&#21021;&#20540;</li>
</ul>

<hr>



<h2 id="&#26696;&#20363;&#20108;">&#26696;&#20363;&#20108;&#65306;</h2>



<pre class="prettyprint"><code class=" hljs cpp"><span class="hljs-preprocessor">#include "iostream"</span>
<span class="hljs-keyword">using</span> <span class="hljs-keyword">namespace</span> <span class="hljs-built_in">std</span>;
<span class="hljs-keyword">void</span> main()

{
    FILE* pFile = fopen(<span class="hljs-string">"1.txt"</span>, <span class="hljs-string">"r"</span>);
    <span class="hljs-keyword">char</span>* pBuf;
    fgets(pBuf, <span class="hljs-number">1024</span>, pFile);
    fclose(pFile);
    <span class="hljs-built_in">cout</span> &lt;&lt; pBuf &lt;&lt; endl;
}</code></pre>

<p><strong>Debug&#19979;&#36816;&#34892;&#65306;</strong> <br>
<img src="//img-blog.csdn.net/20180319213910798?watermark/2/text/Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
<strong>&#35299;&#20915;&#26041;&#26696;&#65306;</strong></p>



<pre class="prettyprint"><code class=" hljs cpp"><span class="hljs-keyword">char</span>* pBuf=(<span class="hljs-keyword">char</span> *)<span class="hljs-built_in">malloc</span>(<span class="hljs-number">1024</span>);</code></pre>

<p>&#25110;&#32773;</p>



<pre class="prettyprint"><code class=" hljs scss"><span class="hljs-value">char</span> pBuf<span class="hljs-attr_selector">[1024]</span>;</code></pre>

<p>pBuf&#26159;&#19968;&#20010;&#23383;&#31526;&#22411;&#25351;&#38024;&#65292;&#22240;&#20026;&#36171;&#25351;&#26102;&#27809;&#26377;&#20026;pBuf&#20998;&#37197;&#20869;&#23384;&#31354;&#38388;&#65292;&#25152;&#20197;pBuf&#30340;&#25351;&#21521;&#26159;&#19981;&#30830;&#23450;&#30340;&#65292;&#37027;&#20040;pBuf&#23601;&#26377;&#21487;&#33021;&#25351;&#21521;&#20869;&#23384;&#30340;&#37325;&#35201;&#21306;&#22495; <br>
&#22914;&#26524;&#30495;&#35201;&#36825;&#20040;&#29992;&#65292;&#35201;&#20808;&#20998;&#37197;&#31354;&#38388;char* pBuf=(char *)malloc(1024);</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
