<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/qq_32350131/article/details/79656797				</div>
								            <div id="content_views" class="markdown_views prism-tomorrow-night-eighties">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>&#30446;&#21069;TensorFlow&#24050;&#32463;&#25903;&#25345;Windows&#24179;&#21488;&#65292;&#37027;&#20040;&#38382;&#39064;&#26469;&#20102;&#65292;&#22914;&#20309;&#22312;Windows&#19979;&#23433;&#35013;TensorFlow&#21602;&#65311;</p>

<p>&#36825;&#31687;&#25991;&#31456;&#25152;&#35762;&#30340;&#23433;&#35013;&#26041;&#27861;&#20165;&#38024;&#23545;CPU&#23433;&#35013;&#65292;GPU&#23433;&#35013;&#35831;&#21442;&#29031;&#23448;&#26041;&#23433;&#35013;&#25991;&#26723;&#12290;</p>

<p>&#30446;&#21069;TensorFlow&#20165;&#25903;&#25345;64&#20301;Python3.5&#65292;&#20294;&#26159;&#25105;&#20043;&#21069;&#19968;&#30452;&#20351;&#29992;&#30340;Python&#29256;&#26412;&#26159;32&#20301;&#29256;&#26412;&#30340;Python3.6&#65292;&#25105;&#30340;pip&#25152;&#23545;&#24212;&#30340;Python&#29256;&#26412;&#20063;&#26159;32&#20301;&#30340;Python&#29256;&#26412;&#20063;&#26159;32&#20301;&#30340;Python3.6&#65292;&#25152;&#20197;&#22312;&#23433;&#35013;Python&#30340;&#26102;&#20505;&#25105;&#23601;&#36935;&#21040;&#20102;&#19968;&#20010;&#26840;&#25163;&#30340;&#38382;&#39064;&#65292;&#20063;&#23601;&#26159;&#25105;&#27809;&#27861;&#36890;&#36807;&#27491;&#24120;&#30340;pip&#23433;&#35013;&#12290;&#25110;&#32773;&#25105;&#38656;&#35201;&#22312;&#29615;&#22659;&#21464;&#37327;&#37324;&#37325;&#26032;&#37197;&#32622;&#19968;&#19979;pip&#12290;&#37027;&#20040;&#26377;&#27809;&#26377;&#26041;&#27861;&#32469;&#36807;&#37325;&#26032;&#37197;&#32622;&#29615;&#22659;&#21464;&#37327;&#36825;&#20010;&#29615;&#33410;&#21602;&#65311;&#31572;&#26696;&#26159;&#32943;&#23450;&#30340;&#65292;&#25105;&#20204;&#21487;&#20197;&#36890;&#36807;PyCharm&#26469;&#31649;&#29702;&#30005;&#33041;&#20869;&#25152;&#23433;&#35013;&#30340;&#22810;&#20010;&#19981;&#21516;&#29256;&#26412;&#30340;Python&#12290;</p>

<p>&#39318;&#20808;&#65292;&#22312;<a href="https://www.python.org/downloads/release/python-354/" rel="nofollow">Python&#23448;&#32593;</a>&#19979;&#36733;&#23433;&#35013;Python3.5 <br>
&#23433;&#35013;&#23436;&#25104;&#21518;&#65292;&#25171;&#24320;PyCharm &#8212;&gt;file&#8212;&gt;Default Settings&#8230;&#8212;&gt;Project Interpreter <br>
<img src="https://img-blog.csdn.net/20180322171257550?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzMyMzUwMTMx/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="Project Interpreter" title=""> <br>
&#28982;&#21518;&#22312;&#21491;&#20391;&#36873;&#25321;Python3.5 <br>
<img src="https://img-blog.csdn.net/20180322171921416?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzMyMzUwMTMx/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#22914;&#26524;&#27809;&#26377;&#25152;&#38656;&#30340;Python&#29256;&#26412;&#37027;&#20040;&#21017;&#21487;&#20197;&#28857;&#20987;&#21491;&#20391;&#40831;&#36718;&#8212;&gt;Add Local <br>
<img src="https://img-blog.csdn.net/20180322171753691?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzMyMzUwMTMx/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#20043;&#21518;&#36827;&#20837;Python3.5&#30340;&#23433;&#35013;&#36335;&#24452;&#65292;&#36873;&#25321;python.exe&#21363;&#21487; <br>
<img src="https://img-blog.csdn.net/2018032217225194?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzMyMzUwMTMx/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#20043;&#21518;&#22238;&#21040;Project Interpreter&#31383;&#21475;&#65292;&#28857;&#20987;&#31383;&#21475;&#21491;&#20391;&#30340;&#8216;+&#8217;&#21495; <br>
<img src="https://img-blog.csdn.net/20180322172521920?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzMyMzUwMTMx/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#22312;&#24377;&#20986;&#30340;&#25628;&#32034;&#26694;&#20869;&#25628;&#32034;tensorflow <br>
<img src="https://img-blog.csdn.net/2018032217272820?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L3FxXzMyMzUwMTMx/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""> <br>
&#28857;&#20987;&#31383;&#21475;&#24213;&#37096;&#30340;Install Package&#65292;&#31561;&#24453;&#23433;&#35013;&#23436;&#25104;&#21363;&#21487;</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
