<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <div id="content_views" class="markdown_views prism-kimbie-light">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>&#21629;&#20196;&#34892;&#19979;&#26597;&#30475;python&#21644;numpy&#30340;&#29256;&#26412;&#21644;&#23433;&#35013;&#20301;&#32622;</p>

<p>1&#12289;&#26597;&#30475;python&#29256;&#26412;</p>

<p>&#26041;&#27861;&#19968;&#65306;</p>

<p>&#12288;&#12288;python -V</p>

<p>&#12288;&#12288;&#27880;&#24847;&#65306;&#8216;-V&#8216;&#20013;&#8216;V&#8217;&#20026;&#22823;&#20889;&#23383;&#27597;&#65292;&#21482;&#26377;&#19968;&#20010;&#8216;-&#8217;</p>

<p>&#26041;&#27861;&#20108;&#65306;</p>

<p>&#12288;&#12288;python &#8211;version&#12288;&#12288;</p>

<p>&#12288;&#12288;&#27880;&#24847;&#65306;&#8216;&#8211;version&#8217;&#20013;&#26377;&#20004;&#20010;&#8216;-&#8217;</p>

<p>2&#12289;&#26597;&#30475;python&#23433;&#35013;&#20301;&#32622;</p>

<p>&#26041;&#27861;&#19968;&#65306;&#12288;</p>

<p>&#12288;&#12288;python -c &#8220;import sys; print sys.executable&#8221;</p>

<p>&#26041;&#27861;&#20108;&#65306;</p>

<p>&#12288;&#12288;python -c &#8220;import os; print os.sys.executable&#8221; <br>
&#12288;&#12288;python -c &#8220;import os; path = os.sys.executable;folder=path[0 : path.rfind(os.sep)]; print folder&#8221;</p>

<p>3&#12289;&#26597;&#30475;Numpy&#29256;&#26412;</p>

<p>python -c &#8220;import numpy; print numpy.version.version&#8221;</p>

<p>&#25110; <br>
python -c &#8220;import numpy; print numpy.<strong>version</strong>&#8221;</p>

<p>4&#12289;&#26597;&#30475;Numpy&#23433;&#35013;&#36335;&#24452;</p>

<p>python -c &#8220;import numpy; print numpy.<strong>file</strong>&#8221;</p>

<p>&#27880;&#65306;&#25353;&#29031;&#26597;&#30475;Numpy&#29256;&#26412;&#21644;&#23433;&#35013;&#36335;&#24452;&#30340;&#26041;&#27861;&#65292;&#21487;&#20197;&#26597;&#30475;&#20854;&#20182;python&#21253;&#29256;&#26412;&#21644;&#23433;&#35013;&#36335;&#24452;</p>

<h2 id="&#21319;&#32423;&#21253;"><strong>&#21319;&#32423;&#21253;</strong></h2>

<p>&#21487;&#20197;&#29992;pip&#21629;&#20196;&#65306;  <br>
pip install -U &lt;&#21253;&#21517;&gt;  <br>
&#25110;&#65306; pip install &lt;&#21253;&#21517;&gt; &#8211;upgrade</p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
