<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <p style="margin-bottom:0px;color:rgb(50,64,87);font-family:'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', sans, Arial;font-size:14px;background-color:rgb(255,255,255);">Windows&#24179;&#21488;&#65306;</p><p style="margin-bottom:0px;color:rgb(50,64,87);font-family:'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', sans, Arial;font-size:14px;background-color:rgb(255,255,255);">python-2.7.14.amd64&#65306;</p><p style="margin-bottom:0px;color:rgb(50,64,87);font-family:'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', sans, Arial;font-size:14px;background-color:rgb(255,255,255);">&#38142;&#25509;&#65306;<a href="https://pan.baidu.com/s/11AXpZh4rtyJUcspNiJr5-g" rel="nofollow" style="background-color:transparent;color:inherit;">https://pan.baidu.com/s/11AXpZh4rtyJUcspNiJr5-g</a>&#160;&#23494;&#30721;&#65306;4c3j</p><p style="margin-bottom:0px;color:rgb(50,64,87);font-family:'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', sans, Arial;font-size:14px;background-color:rgb(255,255,255);"><br></p><p style="margin-bottom:0px;color:rgb(50,64,87);font-family:'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', sans, Arial;font-size:14px;background-color:rgb(255,255,255);">python-3.6.3-amd64&#65306;</p><p style="margin-bottom:0px;color:rgb(50,64,87);font-family:'Microsoft Yahei', 'Hiragino Sans GB', 'Microsoft Sans Serif', sans, Arial;font-size:14px;background-color:rgb(255,255,255);">&#38142;&#25509;&#65306;<a href="https://pan.baidu.com/s/1Lkkdh1Vfxy9M9FiUVJrk-A" rel="nofollow" style="background-color:transparent;color:inherit;">https://pan.baidu.com/s/1Lkkdh1Vfxy9M9FiUVJrk-A</a>&#160;&#23494;&#30721;&#65306;93qx</p>            </div>
                </div>
	</article>
