<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/80576719				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<h2 id="&#36830;&#25509;oracle&#26381;&#21153;&#22120;&#25552;&#31034;&#29366;&#24577;-&#22833;&#36133;-&#27979;&#35797;&#22833;&#36133;-ora-01034-oracle-not-available-ora-27101-shared-memory-realm-does-not-exist">&#36830;&#25509;Oracle&#26381;&#21153;&#22120;&#25552;&#31034;&#65306;&#29366;&#24577;: &#22833;&#36133; -&#27979;&#35797;&#22833;&#36133;: ORA-01034: ORACLE not available ORA-27101: shared memory realm does not exist</h2>

<p><img src="https://img-blog.csdn.net/20180605090605399?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>



<h2 id="&#35299;&#20915;&#21150;&#27861;">&#35299;&#20915;&#21150;&#27861;&#65306;</h2>



<h3 id="1&#30830;&#35748;oracle&#30456;&#20851;&#26381;&#21153;&#24050;&#21551;&#21160;">1.&#30830;&#35748;Oracle&#30456;&#20851;&#26381;&#21153;&#24050;&#21551;&#21160;&#65306;</h3>

<p><img src="https://img-blog.csdn.net/20180605090922189?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>



<h3 id="2&#20462;&#25913;pfile&#25991;&#20214;">2.&#20462;&#25913;pfile&#25991;&#20214;&#65306;</h3>

<p>pfile&#26681;&#25454;Oracle&#23433;&#35013;&#30340;&#36335;&#24452;&#32780;&#23450; <br>
<img src="https://img-blog.csdn.net/20180605091145703?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>



<h3 id="3pfile&#25991;&#20214;&#20462;&#25913;&#20869;&#23481;">3.pfile&#25991;&#20214;&#20462;&#25913;&#20869;&#23481;&#65306;</h3>

<p>&#25214;&#21040;&#19979;&#22270;&#26631;&#27880;&#20301;&#32622; <br>
###################### <br>
# Network Registration <br>
###################### <br>
local_listener=&#8221;(ADDRESS = (PROTOCOL = TCP)(HOST = localhost)(PORT = 1521))&#8221; <br>
<img src="https://img-blog.csdn.net/20180605091305803?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>



<h3 id="4&#25214;&#21040;tnsnamesora&#25991;&#20214;">4.&#25214;&#21040;tnsnames.ora&#25991;&#20214;&#65306;</h3>

<p>D:\Oracle\app\hp\product\11.2.0\dbhome_1\NETWORK\ADMIN\tnsnames.ora <br>
&#23558;&#19979;&#22270;&#20013;&#26631;&#27880;&#20869;&#23481;&#22797;&#21046;&#21040;&#27493;&#39588;3&#20013;pfile&#25991;&#20214;&#20013; <br>
<img src="https://img-blog.csdn.net/20180605091840933?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>



<h3 id="5&#25191;&#34892;&#20197;&#19979;&#21629;&#20196;">5.&#25191;&#34892;&#20197;&#19979;&#21629;&#20196;&#65306;</h3>

<p>sqlplus /nolog <br>
conn system/manager as sysdba <br>
startup <br>
startup pfile=&#8217;D:\Oracle\app\hp\admin\orcl\pfile\init.ora.914201714171&#8217; <br>
<img src="https://img-blog.csdn.net/20180605092026381?watermark/2/text/aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz/font/5a6L5L2T/fontsize/400/fill/I0JBQkFCMA==/dissolve/70" alt="&#36825;&#37324;&#20889;&#22270;&#29255;&#25551;&#36848;" title=""></p>            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
