<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <p>&#21435;&#23448;&#32593;&#19978;&#19979;python&#65292;&#25214;&#21040;&#19979;&#36733;&#30028;&#38754;&#65292;windows&#19979;&#22909;&#20960;&#20010;&#29256;&#26412;&#65292;&#19968;&#33080;&#25077;&#36924;&#65292;&#22914;&#19979;&#22270;&#65306;</p><p><img src="https://img-blog.csdn.net/20180612233048265" alt=""><br></p><p>&#160; &#160; &#35760;&#24405;&#19979;&#65292;&#21152;&#28145;&#21360;&#35937;&#21543;&#65306;</p><p><span style="font-size:14px;background-color:rgb(255,255,255);">&#160; &#160; &#160;x86&#26159;32&#20301;&#65292;x86-64&#26159;64&#20301;&#12290;</span></p><p></p><p style="background-color:rgb(255,255,255);"><span style="font-size:14px;">&#160;&#160;&#160;&#160;web-based installer &#26159;&#38656;&#35201;&#36890;&#36807;&#32852;&#32593;&#23436;&#25104;&#23433;&#35013;&#30340;<br></span><span style="font-size:14px;">&#160;&#160;&#160;&#160;executable installer &#26159;&#21487;&#25191;&#34892;&#25991;&#20214;(*.exe)&#26041;&#24335;&#23433;&#35013;<br></span><span style="font-size:14px;">&#160;&#160;&#160;&#160;embeddable zip file &#23884;&#20837;&#24335;&#29256;&#26412;&#65292;&#21487;&#20197;&#38598;&#25104;&#21040;&#20854;&#23427;&#24212;&#29992;&#20013;&#12290;</span></p><br>            </div>
                </div>
	</article>
