<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <p>&#20004;&#20010;&#29256;&#26412;&#30340;Python&#23433;&#35013;&#24211;&#65306;</p>

<p>1.</p>

<p>python3:python3 -m pip install xxxx</p>

<p>2.</p>

<p>python2</p>

<p>python2 -m pip install xxx</p>            </div>
                </div>
	</article>
