<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <p>&#19979;&#36733;Windows&#29256;&#30340;Python&#26102;&#20250;&#26377;&#20197;&#19979;&#20960;&#31181;&#29256;&#26412;&#65306;</p>

<p>1&#12289;X86&#34920;&#31034;&#31995;&#32479;&#26159;32&#20301;&#30340;&#65307;X86-64&#34920;&#31034;&#31995;&#32479;&#26159;64&#20301;&#30340;&#12290;</p>

<p>2&#12289;web-based&#34920;&#31034;&#36890;&#36807;&#32593;&#32476;&#23433;&#35013;&#65292;&#23601;&#26159;&#25191;&#34892;&#23433;&#35013;&#21518;&#25165;&#36879;&#36807;&#32593;&#32476;&#19979;&#36733;python&#65307;executable&#20026;&#21487;&#25191;&#34892;&#25991;&#20214;&#65292;&#23601;&#26159;&#25226;python&#20840;&#37096;&#19979;&#36733;&#22909;&#22312;&#26412;&#26426;&#23433;&#35013;&#65307;embeddable zip file&#23601;&#26159;python&#25171;&#21253;&#25104;zip&#21387;&#32553;&#21253;&#12290;</p>

<p>&#160;</p>            </div>
                </div>
	</article>
