<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/template/css/ck_htmledit_views-f57960eb32.css">
						<div class="htmledit_views" id="content_views">
                <p style="margin-left:0cm;">&#24819;&#23398;&#20064;Python&#30340;&#20154;&#37117;&#20250;&#26377;&#19968;&#20010;&#22256;&#24785;&#65292;&#37027;&#23601;&#26159;Python&#30446;&#21069;&#26377;&#20004;&#20010;&#29256;&#26412;Python2&#21644;Python3&#65292;Python2&#19982;Python3&#26377;&#20309;&#21306;&#21035;&#65292;&#20004;&#20010;&#29256;&#26412;&#35813;&#23398;&#20064;&#21738;&#20010;&#21602;&#65311;</p>

<p style="margin-left:0cm;">python3 &#21644; python2 &#26159;&#19981;&#20860;&#23481;&#30340;&#65292;&#32780;&#19988;&#24046;&#24322;&#27604;&#36739;&#22823;&#65292;python3&#26159;&#19981;&#21521;&#19979;&#20860;&#23481;&#30340;&#65292;&#20294;&#26159;&#32477;&#22823;&#22810;&#25968;&#32452;&#20214;&#21644;&#25193;&#23637;&#37117;&#26159;&#22522;&#20110;python2&#30340;&#12290;&#30446;&#21069;&#23454;&#38469;&#24212;&#29992;&#20013;&#22823;&#37096;&#20998;&#26242;&#19981;&#32771;&#34385; Python3&#65292;&#26377;&#30340;&#26102;&#20505;&#27880;&#24847;&#20889;&#20860;&#23481; 2/3 &#30340;&#20195;&#30721;&#12290;&#29992; Python2 &#20026;&#20027;&#30340;&#20889;&#26032;&#20195;&#30721;&#26102;&#35201;&#32771;&#34385;&#20197;&#21518;&#36801;&#31227;&#21040; Python3 &#30340;&#21487;&#33021;&#24615;&#12290;&#25454;&#25968;&#25454;&#32479;&#35745;&#26174;&#31034;&#30446;&#21069;10% &#20351;&#29992; Python 3&#65307;20% &#26082;&#20351;&#29992;Python 2&#20063;&#20351;&#29992;Python 3&#65292;Python 2&#29992;&#30340;&#26356;&#22810;&#65307;70% &#20351;&#29992;Python 2&#12290;</p>

<p style="margin-left:0cm;">&#20854;&#23454;python&#26159;linux&#19978;&#26368;&#24120;&#29992;&#30340;&#36719;&#20214;&#20043;&#19968;&#65292;&#20294;&#26159;linux&#30446;&#21069;&#30340;&#29256;&#26412;&#22823;&#37096;&#20998;&#36824;&#26159;&#20351;&#29992;python2&#30340;&#65292;&#32780;&#19988;&#65292;&#22312;linux&#19978;&#20381;&#36182;python2&#30340;&#31243;&#24207;&#26356;&#22810;&#19968;&#20123;&#65292;&#25152;&#20197; Python3 &#35201;&#20195;&#26367; python2 &#25104;&#20026;&#20027;&#27969;&#36824;&#38656;&#35201;&#20960;&#24180;&#30340;&#26102;&#38388;&#12290;&#22914;&#26524;&#20026;&#20102;&#25214;&#24037;&#20316;&#36824;&#26159;&#23398;Python 2&#65292;&#23398;&#20250;&#20102;Python 2&#65292;&#30001;Python 2&#36716;&#21040;python3&#20063;&#19981;&#38590;&#12290;</p>

<p style="margin-left:0cm;">&#35828;&#20102;&#21322;&#22825;&#65292;Python2&#19982;Python3&#21040;&#24213;&#26377;&#20309;&#21306;&#21035;&#21602;&#65311;</p>

<p style="margin-left:0cm;"><strong>1.</strong><strong>&#24615;&#33021;</strong><br>
Py3.0&#36816;&#34892; pystone benchmark&#30340;&#36895;&#24230;&#27604;Py2.5&#24930;30%&#12290;Guido&#35748;&#20026;Py3.0&#26377;&#26497;&#22823;&#30340;&#20248;&#21270;&#31354;&#38388;&#65292;&#22312;&#23383;&#31526;&#20018;&#21644;&#25972;&#24418;&#25805;&#20316;&#19978;&#21487;&#20197;&#21462;&#24471;&#24456;&#22909;&#30340;&#20248;&#21270;&#32467;&#26524;&#12290;<br>
Py3.1&#24615;&#33021;&#27604;Py2.5&#24930;15%&#65292;&#36824;&#26377;&#24456;&#22823;&#30340;&#25552;&#21319;&#31354;&#38388;&#12290;<br><strong>2.</strong><strong>&#32534;&#30721; </strong><br>
Py3.X&#28304;&#30721;&#25991;&#20214;&#40664;&#35748;&#20351;&#29992;utf-8&#32534;&#30721;&#65292;&#36825;&#23601;&#20351;&#24471;&#20197;&#19979;&#20195;&#30721;&#26159;&#21512;&#27861;&#30340;&#65306;<br>
&#160;&#160; &gt;&gt;&gt; &#20013;&#22269; = 'china'<br>
&#160;&#160; &gt;&gt;&gt;print(&#20013;&#22269;)<br>
&#160;&#160; china<br><strong>3. </strong><strong>&#35821;&#27861;</strong><br>
1&#65289;&#21435;&#38500;&#20102;&lt;&gt;&#65292;&#20840;&#37096;&#25913;&#29992;!=<br>
2&#65289;&#21435;&#38500;``&#65292;&#20840;&#37096;&#25913;&#29992;repr()<br>
3&#65289;&#20851;&#38190;&#35789;&#21152;&#20837;as &#21644;with&#65292;&#36824;&#26377;True,False,None<br>
4&#65289;&#25972;&#22411;&#38500;&#27861;&#36820;&#22238;&#28014;&#28857;&#25968;&#65292;&#35201;&#24471;&#21040;&#25972;&#22411;&#32467;&#26524;&#65292;&#35831;&#20351;&#29992;//<br>
5&#65289;&#21152;&#20837;nonlocal&#35821;&#21477;&#12290;&#20351;&#29992;noclocal x&#21487;&#20197;&#30452;&#25509;&#25351;&#27966;&#22806;&#22260;&#65288;&#38750;&#20840;&#23616;&#65289;&#21464;&#37327;<br>
6&#65289;&#21435;&#38500;print&#35821;&#21477;&#65292;&#21152;&#20837;print()&#20989;&#25968;&#23454;&#29616;&#30456;&#21516;&#30340;&#21151;&#33021;&#12290;&#21516;&#26679;&#30340;&#36824;&#26377; exec&#35821;&#21477;&#65292;&#24050;&#32463;&#25913;&#20026;exec()&#20989;&#25968;<br>
&#160;&#160; &#20363;&#22914;&#65306;<br>
&#160;&#160; 2.X: print "The answer is", 2*2<br>
&#160;&#160; 3.X: print("The answer is", 2*2)<br>
&#160;&#160; 2.X: print x, # &#20351;&#29992;&#36887;&#21495;&#32467;&#23614;&#31105;&#27490;&#25442;&#34892;<br>
&#160;&#160; 3.X: print(x, end=" ") # &#20351;&#29992;&#31354;&#26684;&#20195;&#26367;&#25442;&#34892;<br>
&#160; 2.X: print # &#36755;&#20986;&#26032;&#34892;<br>
&#160; 3.X: print() # &#36755;&#20986;&#26032;&#34892;<br>
&#160; 2.X: print &gt;&gt;sys.stderr, "fatal error"<br>
&#160; 3.X: print("fatal error", file=sys.stderr)<br>
&#160; 2.X: print (x, y)</p>

<p style="margin-left:0cm;"># &#36755;&#20986;repr((x, y))<br>
3.X: print((x, y)) # &#19981;&#21516;&#20110;print(x, y)!</p>

<p style="margin-left:0cm;"><br>
7&#65289;&#25913;&#21464;&#20102;&#39034;&#24207;&#25805;&#20316;&#31526;&#30340;&#34892;&#20026;&#65292;&#20363;&#22914;x&lt;y&#65292;&#24403;x&#21644;y&#31867;&#22411;&#19981;&#21305;&#37197;&#26102;&#25243;&#20986;TypeError&#32780;&#19981;&#26159;&#36820;&#22238;&#38543;&#21363;&#30340; bool&#20540;<br>
8&#65289;&#36755;&#20837;&#20989;&#25968;&#25913;&#21464;&#20102;&#65292;&#21024;&#38500;&#20102;raw_input&#65292;&#29992;input&#20195;&#26367;&#65306;<br>
&#160;&#160; 2.X:guess = int(raw_input('Enter an integer : ')) # &#35835;&#21462;&#38190;&#30424;&#36755;&#20837;&#30340;&#26041;&#27861;<br>
&#160;&#160; 3.X:guess = int(input('Enter an integer : '))</p>

<p style="margin-left:0cm;">9&#65289;&#21435;&#38500;&#20803;&#32452;&#21442;&#25968;&#35299;&#21253;&#12290;&#19981;&#33021;def(a, (b, c)):pass&#36825;&#26679;&#23450;&#20041;&#20989;&#25968;&#20102;<br>
10&#65289;&#26032;&#24335;&#30340;8&#36827;&#21046;&#23383;&#21464;&#37327;&#65292;&#30456;&#24212;&#22320;&#20462;&#25913;&#20102;oct()&#20989;&#25968;&#12290;<br>
&#160;&#160; 2.X&#30340;&#26041;&#24335;&#22914;&#19979;&#65306;<br>
&#160;&#160;&#160; &gt;&gt;&gt; 0666<br>
&#160;&#160;&#160; 438<br>
&#160;&#160;&#160; &gt;&gt;&gt; oct(438)<br>
&#160;&#160;&#160; '0666'<br>
&#160; 3.X&#36825;&#26679;&#65306;<br>
&#160;&#160;&#160; &gt;&gt;&gt; 0666<br>
&#160;&#160;&#160; SyntaxError: invalid token (&lt;pyshell#63&gt;, line 1)<br>
&#160;&#160;&#160; &gt;&gt;&gt; 0o666<br>
&#160;&#160; 438<br>
&#160;&#160; &gt;&gt;&gt; oct(438)<br>
&#160;&#160; '0o666'<br>
11&#65289;&#22686;&#21152;&#20102; 2&#36827;&#21046;&#23383;&#38754;&#37327;&#21644;bin()&#20989;&#25968;<br>
&#160;&#160; &gt;&gt;&gt; bin(438)<br>
&#160;&#160; '0b110110110'<br>
&#160;&#160; &gt;&gt;&gt; _438 = '0b110110110'<br>
&#160;&#160; &gt;&gt;&gt; _438<br>
&#160; '0b110110110'<br>
12&#65289;&#25193;&#23637;&#30340;&#21487;&#36845;&#20195;&#35299;&#21253;&#12290;&#22312;Py3.X &#37324;&#65292;a, b, *rest = seq&#21644; *rest, a = seq&#37117;&#26159;&#21512;&#27861;&#30340;&#65292;&#21482;&#35201;&#27714;&#20004;&#28857;&#65306;rest&#26159;list<br>
&#23545;&#35937;&#21644;seq&#26159;&#21487;&#36845;&#20195;&#30340;&#12290;<br>
13&#65289;&#26032;&#30340;super()&#65292;&#21487;&#20197;&#19981;&#20877;&#32473;super()&#20256;&#21442;&#25968;&#65292;<br>
&gt;&gt;&gt; class C(object):<br>
def __init__(self, a):<br>
print('C', a)<br>
&gt;&gt;&gt; class D(C):<br>
def __init(self, a):<br>
super().__init__(a) # &#26080;&#21442;&#25968;&#35843;&#29992;super()<br>
&gt;&gt;&gt; D(8)<br>
C 8<br>
&lt;__main__.D object at 0x00D7ED90&gt;<br>
14&#65289;&#26032;&#30340;metaclass&#35821;&#27861;&#65306;<br>
class Foo(*bases, **kwds):<br>
pass<br>
15&#65289;&#25903;&#25345;class decorator&#12290;&#29992;&#27861;&#19982;&#20989;&#25968;decorator&#19968;&#26679;&#65306;<br>
&gt;&gt;&gt; def foo(cls_a):<br>
def print_func(self):<br>
print('Hello, world!')<br>
cls_a.print = print_func<br>
return cls_a<br>
&gt;&gt;&gt; @foo<br>
class C(object):<br>
pass<br>
&gt;&gt;&gt; C().print()<br>
Hello, world!<br>
class decorator&#21487;&#20197;&#29992;&#26469;&#29609;&#29609;&#29432;&#29483;&#25442;&#22826;&#23376;&#30340;&#22823;&#25226;&#25103;&#12290;&#26356;&#22810;&#35831;&#21442;&#38405;PEP 3129<br><strong>4. </strong><strong>&#23383;&#31526;&#20018;&#21644;&#23383;&#33410;&#20018;</strong><br>
1&#65289;&#29616;&#22312;&#23383;&#31526;&#20018;&#21482;&#26377;str&#19968;&#31181;&#31867;&#22411;&#65292;&#20294;&#23427;&#36319;2.x&#29256;&#26412;&#30340;unicode&#20960;&#20046;&#19968;&#26679;&#12290;</p>

<p style="margin-left:0cm;">2&#65289;&#20851;&#20110;&#23383;&#33410;&#20018;&#65292;&#35831;&#21442;&#38405;&#8220;&#25968;&#25454;&#31867;&#22411;&#8221;&#30340;&#31532;2&#26465;&#30446;<br><strong>5.</strong><strong>&#25968;&#25454;&#31867;&#22411;</strong><br>
1&#65289;Py3.X&#21435;&#38500;&#20102;long&#31867;&#22411;&#65292;&#29616;&#22312;&#21482;&#26377;&#19968;&#31181;&#25972;&#22411;&#8212;&#8212;int&#65292;&#20294;&#23427;&#30340;&#34892;&#20026;&#23601;&#20687;2.X&#29256;&#26412;&#30340;long<br>
2&#65289;&#26032;&#22686;&#20102;bytes&#31867;&#22411;&#65292;&#23545;&#24212;&#20110;2.X&#29256;&#26412;&#30340;&#20843;&#20301;&#20018;&#65292;&#23450;&#20041;&#19968;&#20010;bytes&#23383;&#38754;&#37327;&#30340;&#26041;&#27861;&#22914;&#19979;&#65306;<br>
&gt;&gt;&gt; b = b'china'<br>
&gt;&gt;&gt; type(b)<br>
&lt;type 'bytes'&gt;<br>
str&#23545;&#35937;&#21644;bytes&#23545;&#35937;&#21487;&#20197;&#20351;&#29992;.encode() (str -&gt; bytes) or .decode() (bytes -&gt; str)&#26041;&#27861;&#30456;&#20114;&#36716;&#21270;&#12290;<br>
&gt;&gt;&gt; s = b.decode()<br>
&gt;&gt;&gt; s<br>
'china'<br>
&gt;&gt;&gt; b1 = s.encode()<br>
&gt;&gt;&gt; b1<br>
b'china'<br>
3&#65289;dict&#30340;.keys()&#12289;.items &#21644;.values()&#26041;&#27861;&#36820;&#22238;&#36845;&#20195;&#22120;&#65292;&#32780;&#20043;&#21069;&#30340;iterkeys()&#31561;&#20989;&#25968;&#37117;&#34987;&#24223;&#24323;&#12290;&#21516;&#26102;&#21435;&#25481;&#30340;&#36824;&#26377;<br>
dict.has_key()&#65292;&#29992; in&#26367;&#20195;&#23427;&#21543;<br><strong>6.</strong><strong>&#38754;&#21521;&#23545;&#35937; </strong><br>
1&#65289;&#24341;&#20837;&#25277;&#35937;&#22522;&#31867;&#65288;Abstraact Base Classes&#65292;ABCs&#65289;&#12290;<br>
2&#65289;&#23481;&#22120;&#31867;&#21644;&#36845;&#20195;&#22120;&#31867;&#34987;ABCs&#21270;&#65292;&#25152;&#20197;cellections&#27169;&#22359;&#37324;&#30340;&#31867;&#22411;&#27604;Py2.5&#22810;&#20102;&#24456;&#22810;&#12290;<br>
&gt;&gt;&gt; import collections<br>
&gt;&gt;&gt; print('\n'.join(dir(collections)))<br>
Callable<br>
Container<br>
Hashable<br>
ItemsView<br>
Iterable<br>
Iterator<br>
KeysView<br>
Mapping<br>
MappingView<br>
MutableMapping<br>
MutableSequence<br>
MutableSet<br>
NamedTuple<br>
Sequence<br>
Set<br>
Sized<br>
ValuesView<br>
__all__<br>
__builtins__<br>
__doc__<br>
__file__<br>
__name__<br>
_abcoll<br>
_itemgetter<br>
_sys<br>
defaultdict<br>
deque<br>
&#21478;&#22806;&#65292;&#25968;&#20540;&#31867;&#22411;&#20063;&#34987;ABCs&#21270;&#12290;&#20851;&#20110;&#36825;&#20004;&#28857;&#65292;&#35831;&#21442;&#38405; PEP 3119&#21644;PEP 3141&#12290;<br>
3&#65289;&#36845;&#20195;&#22120;&#30340;next()&#26041;&#27861;&#25913;&#21517;&#20026;__next__()&#65292;&#24182;&#22686;&#21152;&#20869;&#32622;&#20989;&#25968;next()&#65292;&#29992;&#20197;&#35843;&#29992;&#36845;&#20195;&#22120;&#30340;__next__()&#26041;&#27861;<br>
4&#65289;&#22686;&#21152;&#20102;@abstractmethod&#21644; @abstractproperty&#20004;&#20010; decorator&#65292;&#32534;&#20889;&#25277;&#35937;&#26041;&#27861;&#65288;&#23646;&#24615;&#65289;&#26356;&#21152;&#26041;&#20415;&#12290;<br><strong>7.</strong><strong>&#24322;&#24120;</strong><br>
1&#65289;&#25152;&#20197;&#24322;&#24120;&#37117;&#20174; BaseException&#32487;&#25215;&#65292;&#24182;&#21024;&#38500;&#20102;StardardError<br>
2&#65289;&#21435;&#38500;&#20102;&#24322;&#24120;&#31867;&#30340;&#24207;&#21015;&#34892;&#20026;&#21644;.message&#23646;&#24615;<br>
3&#65289;&#29992; raise Exception(args)&#20195;&#26367; raise Exception, args&#35821;&#27861;<br>
4&#65289;&#25429;&#33719;&#24322;&#24120;&#30340;&#35821;&#27861;&#25913;&#21464;&#65292;&#24341;&#20837;&#20102;as&#20851;&#38190;&#23383;&#26469;&#26631;&#35782;&#24322;&#24120;&#23454;&#20363;&#65292;&#22312;Py2.5&#20013;&#65306;<br>
&gt;&gt;&gt; try:<br>
... raise NotImplementedError('Error')<br>
... except NotImplementedError, error:</p>

<p style="margin-left:0cm;">... print error.message<br>
...<br>
Error<br>
&#22312;Py3.0&#20013;&#65306;<br>
&gt;&gt;&gt; try:<br>
raise NotImplementedError('Error')<br>
except NotImplementedError as error: #&#27880;&#24847;&#36825;&#20010; as<br>
print(str(error))<br>
Error<br>
5&#65289;&#24322;&#24120;&#38142;&#65292;&#22240;&#20026;__context__&#22312;3.0a1&#29256;&#26412;&#20013;&#27809;&#26377;&#23454;&#29616;<br><strong>8.</strong><strong>&#27169;&#22359;&#21464;&#21160;</strong><br>
1&#65289;&#31227;&#38500;&#20102;cPickle&#27169;&#22359;&#65292;&#21487;&#20197;&#20351;&#29992;pickle&#27169;&#22359;&#20195;&#26367;&#12290;&#26368;&#32456;&#25105;&#20204;&#23558;&#20250;&#26377;&#19968;&#20010;&#36879;&#26126;&#39640;&#25928;&#30340;&#27169;&#22359;&#12290;<br>
2&#65289;&#31227;&#38500;&#20102;imageop&#27169;&#22359;<br>
3&#65289;&#31227;&#38500;&#20102; audiodev, Bastion, bsddb185, exceptions, linuxaudiodev, md5, MimeWriter, mimify, popen2,<br>
rexec, sets, sha, stringold, strop, sunaudiodev, timing&#21644;xmllib&#27169;&#22359;<br>
4&#65289;&#31227;&#38500;&#20102;bsddb&#27169;&#22359;(&#21333;&#29420;&#21457;&#24067;&#65292;&#21487;&#20197;&#20174;Python "bindings" for Oracle Berkeley DB&#33719;&#21462;)<br>
5&#65289;&#31227;&#38500;&#20102;new&#27169;&#22359;<br>
6&#65289;os.tmpnam()&#21644;os.tmpfile()&#20989;&#25968;&#34987;&#31227;&#21160;&#21040;tmpfile&#27169;&#22359;&#19979;<br>
7&#65289;tokenize&#27169;&#22359;&#29616;&#22312;&#20351;&#29992;bytes&#24037;&#20316;&#12290;&#20027;&#35201;&#30340;&#20837;&#21475;&#28857;&#19981;&#20877;&#26159;generate_tokens&#65292;&#32780;&#26159; tokenize.tokenize()<br><strong>9.</strong><strong>&#20854;&#23427; </strong><br>
1&#65289;xrange() &#25913;&#21517;&#20026;range()&#65292;&#35201;&#24819;&#20351;&#29992;range()&#33719;&#24471;&#19968;&#20010;list&#65292;&#24517;&#39035;&#26174;&#24335;&#35843;&#29992;&#65306;<br>
&gt;&gt;&gt; list(range(10))<br>
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]<br>
2&#65289;bytes&#23545;&#35937;&#19981;&#33021;hash&#65292;&#20063;&#19981;&#25903;&#25345; b.lower()&#12289;b.strip()&#21644;b.split()&#26041;&#27861;&#65292;&#20294;&#23545;&#20110;&#21518;&#20004;&#32773;&#21487;&#20197;&#20351;&#29992; b.strip(b&#8217;<br>
\n\t\r \f&#8217;)&#21644;b.split(b&#8217; &#8216;)&#26469;&#36798;&#21040;&#30456;&#21516;&#30446;&#30340;<br>
3&#65289;zip()&#12289;map()&#21644;filter()&#37117;&#36820;&#22238;&#36845;&#20195;&#22120;&#12290;&#32780;apply()&#12289; callable()&#12289;coerce()&#12289; execfile()&#12289;reduce()&#21644;reload<br>
()&#20989;&#25968;&#37117;&#34987;&#21435;&#38500;&#20102;</p>

<p style="margin-left:0cm;">&#29616;&#22312;&#21487;&#20197;&#20351;&#29992;hasattr()&#26469;&#26367;&#25442; callable(). hasattr()&#30340;&#35821;&#27861;&#22914;&#65306;hasattr(string, '__name__')</p>

<p style="margin-left:0cm;">4&#65289;string.letters&#21644;&#30456;&#20851;&#30340;.lowercase&#21644;.uppercase&#34987;&#21435;&#38500;&#65292;&#35831;&#25913;&#29992;string.ascii_letters &#31561;<br>
5&#65289;&#22914;&#26524;x &lt; y&#30340;&#19981;&#33021;&#27604;&#36739;&#65292;&#25243;&#20986;TypeError&#24322;&#24120;&#12290;2.x&#29256;&#26412;&#26159;&#36820;&#22238;&#20266;&#38543;&#26426;&#24067;&#23572;&#20540;&#30340;<br>
6&#65289;__getslice__&#31995;&#21015;&#25104;&#21592;&#34987;&#24223;&#24323;&#12290;a[i:j]&#26681;&#25454;&#19978;&#19979;&#25991;&#36716;&#25442;&#20026;a.__getitem__(slice(I, j))&#25110; __setitem__&#21644;<br>
__delitem__&#35843;&#29992;<br>
7&#65289;file&#31867;&#34987;&#24223;&#24323;&#65292;&#22312;Py2.5&#20013;&#65306;<br>
&gt;&gt;&gt; file<br>
&lt;type 'file'&gt;<br>
&#22312;Py3.X&#20013;&#65306;<br>
&gt;&gt;&gt; file<br>
Traceback (most recent call last):<br>
File "&lt;pyshell#120&gt;", line 1, in &lt;module&gt;<br>
file<br>
NameError: name 'file' is not defined</p>            </div>
                </div>
	</article>
