<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					<svg class="icon" title="CSDN&#35748;&#35777;&#21407;&#21019;" aria-hidden="true" style="width:53px; height: 18px; vertical-align: -4px;">
							<use xlink:href="#CSDN_Cert"></use>
					</svg>
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/83628257				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<h2><a id="_0"></a>&#21709;&#24212;&#25968;&#25454;&#20013;&#25991;&#20081;&#30721;</h2>
<p><img src="https://img-blog.csdnimg.cn/20181101221404978.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h2><a id="_3"></a>&#35299;&#20915;&#21150;&#27861;</h2>
<ol>
<li>&#25171;&#24320;&#23433;&#35013;&#36335;&#24452;\bin\jmeter.properties&#25991;&#20214; &#25628;&#32034;&#8220;default.encoding&#8221;&#20851;&#38190;&#23383;&#65292;&#25214;&#21040;&#22914;&#19979;&#37197;&#32622;&#65306;</li>
</ol>
<p><img src="https://img-blog.csdnimg.cn/20181101222022275.png" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<ol start="2">
<li>&#23558;&#27880;&#37322;#&#21024;&#25481;&#65292;&#24182;&#25913;&#25104;utf-8&#32534;&#30721;&#65292;&#22914;&#19979;&#65306;   sampleresult.default.encoding=utf-8<br>
<img src="https://img-blog.csdnimg.cn/20181101222615842.png" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></li>
<li>&#37325;&#21551;JMeter&#21363;&#21487;</li>
</ol>
<h2><a id="_14"></a>&#35299;&#20915;&#21518;</h2>
<p><img src="https://img-blog.csdnimg.cn/20181101222847723.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>

            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
