<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p>python&#23448;&#32593;&#26377;&#20960;&#20010;&#19979;&#36733;&#25991;&#20214;&#65292;&#26377;&#20160;&#20040;&#21306;&#21035;&#65311;<br>
1&#12289;&#36827;&#20837;Python&#23448;&#32593;http://www.python.org&#65292;&#22312;&#8220;Downloads&#8221;&#19979;&#25289;&#33756;&#21333;&#20013;&#36873;&#25321;&#30456;&#24212;&#30340;&#25805;&#20316;&#31995;&#32479;&#65292;&#25105;&#20204;&#36873;&#25321;windows&#12290;</p>
<p>Python 3.7.1 - 2018-10-20<br>
Download Windows x86 web-based installer<br>
Download Windows x86 executable installer<br>
Download Windows x86 embeddable zip file<br>
Download Windows x86-64 web-based installer<br>
Download Windows x86-64 executable installer<br>
Download Windows x86-64 embeddable zip file</p>
<p>x86&#26159;32&#20301;&#65292;x86-64&#26159;64&#20301;&#12290;</p>
<p>&#21487;&#20197;&#36890;&#36807;&#19979;&#38754;3&#31181;&#36884;&#24452;&#33719;&#21462;python&#65306;</p>
<p>web-based installer &#26159;&#38656;&#35201;&#36890;&#36807;&#32852;&#32593;&#23436;&#25104;&#23433;&#35013;&#30340;<br>
executable installer &#26159;&#21487;&#25191;&#34892;&#25991;&#20214;(*.exe)&#26041;&#24335;&#23433;&#35013;<br>
embeddable zip file &#23884;&#20837;&#24335;&#29256;&#26412;&#65292;&#21487;&#20197;&#38598;&#25104;&#21040;&#20854;&#23427;&#24212;&#29992;&#20013;&#12290;</p>
<p>&#22914;&#26524;&#26159;linux&#31995;&#32479;&#65292;&#38656;&#35201;&#19979;&#36733;&#28304;&#20195;&#30721;&#65292;&#36827;&#34892;&#32534;&#35793;&#12290;</p>

            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
