<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/86388073				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<ul>
<li><a href="#0" rel="nofollow">&#30446;&#24405;</a>
<ul>
<li><a href="#1" rel="nofollow">1&#12289;ifconfig&#21629;&#20196;&#35814;&#35299;</a></li>
<li><a href="#2" rel="nofollow">2&#12289;etho&#34920;&#31034;&#31532;&#19968;&#22359;&#32593;&#21345;,&#20026;&#20160;&#20040;ifconfig&#26174;&#31034;&#30340;&#26159;eth1</a>
<ul>
<li><a href="#2.1" rel="nofollow">2.1&#12289;&#21407;&#22240;&#35299;&#26512;</a></li>
<li><a href="#2.2" rel="nofollow">2.2&#12289;&#37325;&#21551;&#31995;&#32479;</a></li>
</ul>
</li>
<li><a href="#3" rel="nofollow">3&#12289;&#26597;&#30475;&#23545;&#24212;&#32593;&#21345;&#30340;mac</a></li>
<li><a href="#4" rel="nofollow">4&#12289;&#37197;&#32622;IP&#22320;&#22336;</a>
<ul>
<li><a href="#4.1" rel="nofollow">4.1&#12289;&#37197;&#32622;&#25991;&#20214;&#36335;&#24452;</a></li>
<li><a href="#4.2" rel="nofollow">4.2&#12289;&#37197;&#32622;&#25991;&#20214;&#35814;&#35299;&#8211;&#21160;&#24577;&#20998;&#37197;IP</a></li>
<li><a href="#4.3" rel="nofollow">4.3&#12289;&#37197;&#32622;&#25991;&#20214;&#35814;&#35299;&#8211;&#38745;&#24577;&#20998;&#37197;IP</a></li>
<li><a href="#4.4" rel="nofollow">4.4&#12289;&#37325;&#21551;network&#26381;&#21153;</a></li>
<li><a href="#4.5" rel="nofollow">4.5&#12289;&#26597;&#30475;&#32593;&#20851;&#21644;DNS&#21629;&#20196;</a></li>
<li><a href="#4.6" rel="nofollow">4.6&#12289;&#37325;&#21551;network&#26381;&#21153;&#22833;&#36133;&#30340;&#35299;&#20915;&#21150;&#27861;</a></li>
</ul>
</li>
</ul>
</li>
</ul>
<hr>
<h1 id="0">Linux&#20043;IP&#22320;&#22336;&#37197;&#32622;</h1>
<h2 id="1"> ifconfig</h2>
![&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;](https://img-blog.csdnimg.cn/20190112221742540.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70)
<pre><code>eth1      Link encap:Ethernet  HWaddr 00:0C:29:C4:62:FF  
          inet addr:192.168.1.103  Bcast:192.168.1.255  Mask:255.255.255.0
          inet6 addr: fe80::20c:29ff:fec4:62ff/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  Metric:1
          RX packets:13023 errors:0 dropped:0 overruns:0 frame:0
          TX packets:3355 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:1000 
          RX bytes:964465 (941.8 KiB)  TX bytes:435919 (425.7 KiB)

lo        Link encap:Local Loopback  
          inet addr:127.0.0.1  Mask:255.0.0.0
          inet6 addr: ::1/128 Scope:Host
          UP LOOPBACK RUNNING  MTU:16436  Metric:1
          RX packets:8 errors:0 dropped:0 overruns:0 frame:0
          TX packets:8 errors:0 dropped:0 overruns:0 carrier:0
          collisions:0 txqueuelen:0 
          RX bytes:480 (480.0 b)  TX bytes:480 (480.0 b)

</code></pre>
<p><strong>&#35814;&#35299;&#22914;&#19979;&#65306;</strong></p>
<pre><code>    eth0  Link encap:&#20197;&#22826;&#32593;  &#30828;&#20214;&#22320;&#22336; 00:0b:db:4c:e4:b3  
          inet &#22320;&#22336;:172.16.55.25  &#24191;&#25773;:172.16.55.255  &#25513;&#30721;:255.255.255.0
          inet6 &#22320;&#22336;: fe80::20b:dbff:fe4c:e4b3/64 Scope:Link
          UP BROADCAST RUNNING MULTICAST  MTU:1500  &#36291;&#28857;&#25968;:1
          &#25509;&#25910;&#25968;&#25454;&#21253;:8735 &#38169;&#35823;:0 &#20002;&#24323;:0 &#36807;&#36733;:0 &#24103;&#25968;:0
          &#21457;&#36865;&#25968;&#25454;&#21253;:5234 &#38169;&#35823;:0 &#20002;&#24323;:0 &#36807;&#36733;:0 &#36733;&#27874;:0
          &#30896;&#25758;:0 &#21457;&#36865;&#38431;&#21015;&#38271;&#24230;:100 
          &#25509;&#25910;&#23383;&#33410;:3897818 (3.7 MB)  &#21457;&#36865;&#23383;&#33410;:1225779 (1.1 MB)
          &#22522;&#26412;&#22320;&#22336;:0xecc0 Memory:ff8e0000-ff900000 

    lo    Link encap:&#26412;&#22320;&#29615;&#22238;  
          inet &#22320;&#22336;:127.0.0.1  &#25513;&#30721;:255.0.0.0
          inet6 &#22320;&#22336;: ::1/128 Scope:Host
          UP LOOPBACK RUNNING  MTU:16436  &#36291;&#28857;&#25968;:1
          &#25509;&#25910;&#25968;&#25454;&#21253;:2063 &#38169;&#35823;:0 &#20002;&#24323;:0 &#36807;&#36733;:0 &#24103;&#25968;:0
          &#21457;&#36865;&#25968;&#25454;&#21253;:2063 &#38169;&#35823;:0 &#20002;&#24323;:0 &#36807;&#36733;:0 &#36733;&#27874;:0
          &#30896;&#25758;:0 &#21457;&#36865;&#38431;&#21015;&#38271;&#24230;:0 
          &#25509;&#25910;&#23383;&#33410;:105049 (102.5 KB)  &#21457;&#36865;&#23383;&#33410;:105049 (102.5 KB)
</code></pre>
<h2 id="2">etho&#34920;&#31034;&#31532;&#19968;&#22359;&#32593;&#21345;,&#20026;&#20160;&#20040;&#19978;&#22270;&#20013;&#26174;&#31034;&#30340;&#26159;eth1?</h2>
<h3 id="2.1">&#21407;&#22240;&#35299;&#26512;</h3>
<p>vi&#24037;&#20855;&#25171;&#24320; <strong>/etc/udev/rules.d/70-persistent-net.rules</strong><br>
<img src="https://img-blog.csdnimg.cn/20190112224308979.png" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"><br>
&#25171;&#24320;&#21518;&#20869;&#23481;&#22914;&#19979;<br>
<img src="https://img-blog.csdnimg.cn/20190112224448806.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"><br>
&#20462;&#25913;&#36825;&#20010;&#37197;&#32622;&#25991;&#20214;&#23601;&#21487;&#20197;&#20462;&#25913;&#25104;&#20219;&#24847;&#35201;&#26174;&#31034;&#30340;&#20540;&#65292;&#25913;&#23436;&#21518;&#37325;&#21551;&#19979;&#23601;&#21487;&#20197;&#29983;&#25928;&#20102;</p>
<h3 id="2.2">&#37325;&#21551;&#31995;&#32479;</h3><h3>
**shutdown -r now &#12288;&#12288;&#12288;&#12288;&#12288;&#12288;&#12288;&#12288; &#12288;          #&#37325;&#21551;&#31995;&#32479;**
</h3><h2 id="3">&#26597;&#30475;&#23545;&#24212;&#32593;&#21345;&#30340;mac</h2>
cat /sys/class/net/eth0/address 	&#12288;&#12288;			#&#26597;&#30475;&#23545;&#24212;&#32593;&#21345;&#30340;mac&#22320;&#22336;
<p>/etc/udev/rules.d/70-persistent-net.rules&#37197;&#32622;&#25991;&#20214;&#30340;&#20013;&#35774;&#32622;&#30340;mac&#22320;&#22336;&#23601;&#26159;&#26681;&#25454;&#21482;&#35835;&#25991;&#20214;&#37324;&#30340;mac&#35774;&#32622;&#30340;&#65292;&#22914;&#26524;70-persistent-net.rules&#20013;&#37197;&#32622;&#30340;mac&#21644;&#36825;&#20010;&#19981;&#19968;&#33268;&#65292;70-persistent-net.rules&#20250;&#33258;&#21160;&#29983;&#25104;&#19968;&#20010;&#26032;&#30340;eth&#65292;&#22914;&#26524;&#20043;&#21069;&#30340;&#26159;eth0&#30340;&#35805;&#65292;&#33258;&#21160;&#29983;&#25104;&#30340;&#23601;&#26159;eth1</p>
<h2 id="4">&#37197;&#32622;IP&#22320;&#22336;</h2>
<h3 id="4.1">&#37197;&#32622;&#25991;&#20214;&#36335;&#24452;</h3>
/etc/sysconfig/network-scripts&#25991;&#20214;&#19979;&#25214;&#21040;&#23545;&#24212;&#30340;&#37197;&#32622;&#22914;&#20214;
<p>&#22914;&#65306;<br>
eth0&#36335;&#24452;&#65306;ifcfg-eth0<br>
lo&#36335;&#24452;&#65306;ifcfg-lo<br>
&#27809;&#26377;&#30340;&#35805;&#23601;&#33258;&#24049;&#25163;&#21160;&#21019;&#24314;</p>
<h3 id="id=4.2">&#37197;&#32622;&#25991;&#20214;&#35814;&#35299;--&#21160;&#24577;&#20998;&#37197;IP</h3>
<pre><code>DEVICE="eth0"						//&#32593;&#21345;&#35774;&#22791;&#21517;		
BOOTPROTO="dhcp"					//&#20998;&#37197;IP&#22320;&#22336;&#30340;&#26041;&#27861;&#65292;dhcp-&#21160;&#24577;&#20998;&#37197;&#65292;static&#38745;&#24577;&#20998;&#37197;&#65292;none
HWADDR="00:0C:29:21:80:AB"			//MAC&#22320;&#22336;
IPV6INIT="yes"						//IP6&#26159;&#21542;&#21551;&#29992;
NM_CONTROLLED="yes"			//Network Manager&#26381;&#21153;&#30340;&#23432;&#25252;&#36827;&#31243;
ONBOOT="yes"						//&#26159;&#21542;&#38543;&#32593;&#32476;&#26381;&#21153;&#21551;&#21160;&#65292;eth0					
TYPE="Ethernet"						//&#21327;&#35758;&#31867;&#22411;&#20026;&#20197;&#22826;&#32593;
UUID="7186b1d6-d99f-4b87-948c-07fabb09f047"  //&#21807;&#19968;&#35782;&#21035;&#30721;

</code></pre>
<h3 id="id=4.3">&#37197;&#32622;&#25991;&#20214;&#35814;&#35299;--&#38745;&#24577;&#20998;&#37197;IP</h3>
<pre><code>DEVICE="eth0"						//&#32593;&#21345;&#35774;&#22791;&#21517;		
BOOTPROTO="static"					//&#20998;&#37197;IP&#22320;&#22336;&#30340;&#26041;&#27861;&#65292;dhcp-&#21160;&#24577;&#20998;&#37197;&#65292;static&#38745;&#24577;&#20998;&#37197;&#65292;none
HWADDR="00:0C:29:21:80:AB"			//MAC&#22320;&#22336;
IPV6INIT="yes"						//IP6&#26159;&#21542;&#21551;&#29992;
NM_CONTROLLED="yes"					//Network Manager&#26381;&#21153;&#30340;&#23432;&#25252;&#36827;&#31243;
ONBOOT="yes"						//&#26159;&#21542;&#38543;&#32593;&#32476;&#26381;&#21153;&#21551;&#21160;&#65292;eth0					
TYPE="Ethernet"						//&#21327;&#35758;&#31867;&#22411;&#20026;&#20197;&#22826;&#32593;
UUID="7186b1d6-d99f-4b87-948c-07fabb09f047"  //&#21807;&#19968;&#35782;&#21035;&#30721;

IPADDR=192.168.1.66				//&#20998;&#37197;&#30340;&#38745;&#24577;IP&#22320;&#22336;
NETMASK=255.255.255.0			//&#23376;&#32593;&#25513;&#30721;
GATEWAY=192.168.1.1				//&#32593;&#20851;
DNS1=101.198.198.198						//&#20027;DNS&#26381;&#21153;&#22120;
DNS2=101.198.198.198						//&#21103;DNS&#26381;&#21153;&#22120;
</code></pre>
<h3 id="id=4.4">&#37325;&#21551;network&#26381;&#21153;</h3>
&#37325;&#21551;&#32593;&#32476;:service network restart
&#26597;&#30475;&#32593;&#32476;&#26381;&#21153;&#29366;&#24577; :service network status
&#37325;&#26032;&#21551;&#21160;&#32593;&#32476;&#26381;&#21153;service network restart
<h3 id="4.5">&#26597;&#30475;&#32593;&#20851;&#21644;DNS&#21629;&#20196;</h3>
route -n  &#26597;&#30475;&#32593;&#20851;
cat /etc/esolv.conf	&#26597;DNS&#26381;&#21153;&#22120;
<h3 id="4.6">network&#26381;&#21153;&#26080;&#27861;&#37325;&#21551;&#30340;&#35299;&#20915;&#21150;&#27861;</h3>
&#22914;&#26524;&#21508;&#39033;&#37197;&#32622;&#37117;&#27491;&#30830;&#65292;&#20173;&#28982;&#26080;&#27861;&#37325;&#21551;network&#26381;&#21153;&#65292;&#21487;&#33021;&#35813;&#26381;&#21153;&#19982;
NetworkManager &#26381;&#21153;&#26377;&#20914;&#31361;&#65292;&#30452;&#25509;&#20851;&#38381; NetworkManger &#26381;&#21153;&#65292;
 service NetworkManager stop&#65292;
 &#28982;&#21518;&#20877;&#37325;&#21551;&#32593;&#32476;&#26381;&#21153;
 service network restart
<p><br></p>
<p>&#38468;&#20960;&#20010;NetworkManager&#30456;&#20851;&#30340;&#20960;&#20010;&#21629; &#20196;&#65306;<br>
&#26597;&#30475;NetworkManager&#26381;&#21153;&#29366;&#24577;:service NetworkManager status<br>
&#20572;&#27490;NetworkManager&#26381;&#21153;&#65306;service NetworkManager stop<br>
&#21551;&#21160;NetworkManager&#26381;&#21153;&#65306;service NetworkManager start<br>
&#26816;&#26597;&#36825;&#20010;&#26381;&#21153;&#26159;&#21542;&#22312;&#24403;&#21069;&#36816;&#34892;&#32423;&#21551;&#21160;chkconfig --list|grep NetworkManager</p>

            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
