<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/86548269				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p></p><div class="toc"><h3>&#30446;&#24405;</h3><ul><li><a href="#1Python_3" rel="nofollow">1&#12289;Python&#31616;&#20171;</a></li><ul><li><a href="#11Python_4" rel="nofollow">1.1&#12289;Python&#30340;&#20316;&#32773;</a></li><li><a href="#12Python_9" rel="nofollow">1.2&#12289;Python&#30340;&#24212;&#29992;&#39046;&#22495;</a></li><li><a href="#13Python_13" rel="nofollow">1.3&#12289;Python&#30340;&#20998;&#31867;</a></li><ul><li><a href="#131Cpython_15" rel="nofollow">1.3.1&#12289;Cpython</a></li><li><a href="#132Jyhton_19" rel="nofollow">1.3.2&#12289;Jyhton</a></li><li><a href="#133IronPython_23" rel="nofollow">1.3.3&#12289;IronPython</a></li><li><a href="#134_PyPy_27" rel="nofollow">1.3.4&#12289; PyPy&#65288;&#29305;&#27530;&#65289;</a></li><li><a href="#134_31" rel="nofollow">1.3.4&#12289;&#20854;&#23427;</a></li></ul><li><a href="#14Python2Python3_35" rel="nofollow">1.4&#12289;Python2&#21644;Python3</a></li></ul><li><a href="#2_41" rel="nofollow">2&#12289;&#32534;&#30721;</a></li><ul><li><a href="#21ASCII_43" rel="nofollow">2.1&#12289;ASCII</a></li><li><a href="#22Unicode_47" rel="nofollow">2.2&#12289;Unicode</a></li><li><a href="#23utf8_55" rel="nofollow">2.3&#12289;utf-8</a></li><li><a href="#24GBKGB2312_64" rel="nofollow">2.4&#12289;GBK&#21644;GB2312</a></li><li><a href="#25UTF8GBK_69" rel="nofollow">2.5&#12289;UTF-8&#21644;GBK&#30340;&#36716;&#25442;</a></li><li><a href="#25encodedecode_79" rel="nofollow">2.5&#12289;encode&#21644;decode</a></li><li><a href="#26Python_88" rel="nofollow">2.6&#12289;Python&#20351;&#29992;&#30340;&#32534;&#30721;</a></li><li><a href="#27Python_103" rel="nofollow">2.7&#12289;Python&#28304;&#25991;&#20214;&#24320;&#22836;</a></li></ul><li><a href="#3_112" rel="nofollow">3&#12289;&#27880;&#37322;</a></li></ul></div><p></p>
<hr>
<h1><a id="1Python_3"></a>1&#12289;Python&#31616;&#20171;</h1>
<h2><a id="11Python_4"></a>1.1&#12289;Python&#30340;&#20316;&#32773;</h2>
<p>
&#12288;&#12288;python&#30340;&#21019;&#22987;&#20154;&#20026;&#21513;&#22810;&#183;&#33539;&#32599;&#33487;&#22982;&#65288;Guido van Rossum&#65289;&#12290;1989&#24180;&#30340;&#22307;&#35806;&#33410;&#26399;&#38388;&#65292;&#21513;&#22810;&#183;&#33539;&#32599;&#33487;&#22982;&#20026;&#20102;&#22312;&#38463;&#22982;&#26031;&#29305;&#20025;&#25171;&#21457;&#26102;&#38388;&#65292;&#20915;&#24515;&#24320;&#21457;&#19968;&#20010;&#26032;&#30340;&#33050;&#26412;&#35299;&#37322;&#31243;&#24207;&#65292;&#20316;&#20026;ABC&#35821;&#35328;&#30340;&#19968;&#31181;&#32487;&#25215;&#12290;
</p><p></p>
<h2><a id="12Python_9"></a>1.2&#12289;Python&#30340;&#24212;&#29992;&#39046;&#22495;</h2>
<p>
&#12288;&#12288;Python&#21487;&#20197;&#24212;&#29992;&#20110;&#20247;&#22810;&#39046;&#22495;&#65292;&#22914;&#65306;&#25968;&#25454;&#20998;&#26512;&#12289;&#32452;&#20214;&#38598;&#25104;&#12289;&#32593;&#32476;&#26381;&#21153;&#12289;&#22270;&#20687;&#22788;&#29702;&#12289;&#25968;&#20540;&#35745;&#31639;&#21644;&#31185;&#23398;&#35745;&#31639;&#31561;&#20247;&#22810;&#39046;&#22495;&#12290;&#30446;&#21069;&#19994;&#20869;&#20960;&#20046;&#25152;&#26377;&#22823;&#20013;&#22411;&#20114;&#32852;&#32593;&#20225;&#19994;&#37117;&#22312;&#20351;&#29992;Python&#65292;&#22914;&#65306;Youtube&#12289;Dropbox&#12289;BT&#12289;Quora&#65288;&#20013;&#22269;&#30693;&#20046;&#65289;&#12289;&#35910;&#29923;&#12289;&#30693;&#20046;&#12289;Google&#12289;Yahoo!&#12289;Facebook&#12289;NASA&#12289;&#30334;&#24230;&#12289;&#33150;&#35759;&#12289;&#27773;&#36710;&#20043;&#23478;&#12289;&#32654;&#22242;&#31561;&#12290;&#20114;&#32852;&#32593;&#20844;&#21496;&#24191;&#27867;&#20351;&#29992;Python&#26469;&#20570;&#30340;&#20107;&#19968;&#33324;&#26377;&#65306;&#33258;&#21160;&#21270;&#36816;&#32500;&#12289;&#33258;&#21160;&#21270;&#27979;&#35797;&#12289;&#22823;&#25968;&#25454;&#20998;&#26512;&#12289;&#29228;&#34411;&#12289;Web &#31561;&#12290;
</p><h2><a id="13Python_13"></a>1.3&#12289;Python&#30340;&#20998;&#31867;</h2>
<h3><a id="131Cpython_15"></a>1.3.1&#12289;Cpython</h3>
<p>
   &#12288;&#12288; Python&#30340;&#23448;&#26041;&#29256;&#26412;&#65292;&#20351;&#29992;C&#35821;&#35328;&#23454;&#29616;&#65292;&#20351;&#29992;&#26368;&#20026;&#24191;&#27867;&#65292;CPython&#23454;&#29616;&#20250;&#23558;&#28304;&#25991;&#20214;&#65288;py&#25991;&#20214;&#65289;&#36716;&#25442;&#25104;&#23383;&#33410;&#30721;&#25991;&#20214;&#65288;pyc&#25991;&#20214;&#65289;&#65292;&#28982;&#21518;&#36816;&#34892;&#22312;Python&#34394;&#25311;&#26426;&#19978;&#12290;
</p><h3><a id="132Jyhton_19"></a>1.3.2&#12289;Jyhton</h3>
<p>
   &#12288;&#12288; Python&#30340;Java&#23454;&#29616;&#65292;Jython&#20250;&#23558;Python&#20195;&#30721;&#21160;&#24577;&#32534;&#35793;&#25104;Java&#23383;&#33410;&#30721;&#65292;&#28982;&#21518;&#22312;JVM&#19978;&#36816;&#34892;&#12290;
</p><h3><a id="133IronPython_23"></a>1.3.3&#12289;IronPython</h3>
<p>
    &#12288;&#12288;Python&#30340;C#&#23454;&#29616;&#65292;IronPython&#23558;Python&#20195;&#30721;&#32534;&#35793;&#25104;C#&#23383;&#33410;&#30721;&#65292;&#28982;&#21518;&#22312;CLR&#19978;&#36816;&#34892;&#12290;&#65288;&#19982;Jython&#31867;&#20284;&#65289;
</p><h3><a id="134_PyPy_27"></a>1.3.4&#12289; PyPy&#65288;&#29305;&#27530;&#65289;</h3>
<p>
    &#12288;&#12288;Python&#23454;&#29616;&#30340;Python&#65292;&#23558;Python&#30340;&#23383;&#33410;&#30721;&#23383;&#33410;&#30721;&#20877;&#32534;&#35793;&#25104;&#26426;&#22120;&#30721;&#12290;
</p><h3><a id="134_31"></a>1.3.4&#12289;&#20854;&#23427;</h3>
<p>
&#12288;&#12288;Python&#36824;&#26377;RubyPython&#12289;Brython ...&#31561;&#22810;&#20010;&#29256;&#26412;
</p><h2><a id="14Python2Python3_35"></a>1.4&#12289;Python2&#21644;Python3</h2>
<p>
&#12288;&#12288;&#35821;&#27861;&#19978;Python3&#24182;&#19981;&#23436;&#20840;&#20860;&#23481;Python2&#65292;Python 2&#37324;&#38754;&#30340;&#30456;&#24403;&#37096;&#20998;&#35821;&#27861;&#22312;Python 3&#20013;&#24050;&#32463;&#34987;&#24323;&#29992;&#65292;&#20063;&#23601;&#26159;&#35828;Python3&#24182;&#19981;&#33021;&#20445;&#35777;&#23436;&#20840;&#36816;&#34892;Python2&#30340;&#35821;&#27861;&#20889;&#20986;&#26469;&#30340;&#31243;&#24207;&#65292;&#36825;&#28857;&#21644;&#20854;&#20182;&#35821;&#35328;&#30456;&#27604;&#24046;&#24322;&#27604;&#36739;&#22823;&#12290;
&#12288;&#12288;</p><p>
&#12288;&#12288;&#26377;&#31181;&#35828;&#27861;&#26159;Python2&#27491;&#22312;&#36880;&#27493;&#30340;&#21521;Python3&#25913;&#21464;&#65292;&#24930;&#24930;&#30340;&#26368;&#32456;&#21521;Python3&#30340;&#35821;&#27861;&#26080;&#38480;&#25509;&#36817;&#65292;&#26377;&#20010;&#25925;&#20107;&#21483;&#28201;&#27700;&#29038;&#38738;&#34521;&#65292;&#22823;&#27010;&#21487;&#20197;&#22312;&#36825;&#37324;&#24418;&#23481;&#19979;&#36825;&#20214;&#20107;&#12290;
</p><h1><a id="2_41"></a>2&#12289;&#32534;&#30721;</h1>
<h2><a id="21ASCII_43"></a>2.1&#12289;ASCII</h2>
<p>
&#12288;&#12288;ASCII&#65288;American Standard Code for Information Interchange&#65292;&#32654;&#22269;&#26631;&#20934;&#20449;&#24687;&#20132;&#25442;&#20195;&#30721;&#65289;&#26159;&#22522;&#20110;&#25289;&#19969;&#23383;&#27597;&#30340;&#19968;&#22871;&#30005;&#33041;&#32534;&#30721;&#31995;&#32479;&#65292;&#20027;&#35201;&#29992;&#20110;&#26174;&#31034;&#29616;&#20195;&#33521;&#35821;&#21644;&#20854;&#20182;&#35199;&#27431;&#35821;&#35328;&#65292;&#20854;&#26368;&#22810;&#21482;&#33021;&#29992; 8 &#20301;&#26469;&#34920;&#31034;&#65288;&#19968;&#20010;&#23383;&#33410;&#65289;&#65292;&#21363;&#65306;2**8 = 256&#65292;&#25152;&#20197;&#65292;ASCII&#30721;&#26368;&#22810;&#21482;&#33021;&#34920;&#31034; 256 &#20010;&#31526;&#21495;&#12290;
</p><h2><a id="22Unicode_47"></a>2.2&#12289;Unicode</h2>
<p>
</p><p>Unicode&#65288;&#32479;&#19968;&#30721;&#12289;&#19975;&#22269;&#30721;&#12289;&#21333;&#19968;&#30721;&#65289;&#26159;&#19968;&#31181;&#22312;&#35745;&#31639;&#26426;&#19978;&#20351;&#29992;&#30340;&#23383;&#31526;&#32534;&#30721;&#12290;Unicode &#26159;&#20026;&#20102;&#35299;&#20915;&#20256;&#32479;&#30340;&#23383;&#31526;&#32534;&#30721;&#26041;&#26696;&#30340;&#23616;&#38480;&#32780;&#20135;&#29983;&#30340;&#65292;&#23427;&#20026;&#27599;&#31181;&#35821;&#35328;&#20013;&#30340;&#27599;&#20010;&#23383;&#31526;&#35774;&#23450;&#20102;&#32479;&#19968;&#24182;&#19988;&#21807;&#19968;&#30340;&#20108;&#36827;&#21046;&#32534;&#30721;&#65292;&#35268;&#23450;&#34429;&#26377;&#30340;&#23383;&#31526;&#21644;&#31526;&#21495;&#26368;&#23569;&#30001; 16 &#20301;&#26469;&#34920;&#31034;&#65288;2&#20010;&#23383;&#33410;&#65289;&#65292;&#21363;&#65306;2 **16 = 65536&#65292;<br>
&#27880;&#65306;&#27492;&#22788;&#35828;&#30340;&#30340;&#26159;&#26368;&#23569;2&#20010;&#23383;&#33410;&#65292;&#21487;&#33021;&#26356;&#22810;</p>
<p>
Unicode&#26159;&#19968;&#20010;&#20197;&#8217;U+&#8217;&#23383;&#31526;&#24320;&#22836;&#65292;&#21518;&#38754;&#36319;&#30528;4&#20301;&#25110;&#32773;5&#20301;&#25110;&#32773;6&#20301;&#21313;&#20845;&#36827;&#21046;&#25968;&#23383;
</p><h2><a id="23utf8_55"></a>2.3&#12289;utf-8</h2>
<p>
&#12288;&#12288;UTF-8&#65292;&#26159;&#23545;Unicode&#32534;&#30721;&#30340;&#21387;&#32553;&#21644;&#20248;&#21270;&#65292;&#20182;&#19981;&#20877;&#20351;&#29992;&#26368;&#23569;&#20351;&#29992;2&#20010;&#23383;&#33410;&#65292;&#32780;&#26159;&#23558;&#25152;&#26377;&#30340;&#23383;&#31526;&#21644;&#31526;&#21495;&#36827;&#34892;&#20998;&#31867;&#65306;ascii&#30721;&#20013;&#30340;&#20869;&#23481;&#29992;1&#20010;&#23383;&#33410;&#20445;&#23384;&#12289;&#27431;&#27954;&#30340;&#23383;&#31526;&#29992;2&#20010;&#23383;&#33410;&#20445;&#23384;&#65292;&#19996;&#20122;&#30340;&#23383;&#31526;&#29992;3&#20010;&#23383;&#33410;&#20445;&#23384;...
&#12288;&#12288;</p><p>
&#12288;&#12288;UTF-8&#29992;&#19977;&#20010;&#23383;&#33410;&#34920;&#31034;&#20013;&#25991;&#12290;
&#12288;&#12288;</p><p>
&#12288;&#12288;&#21333;&#23383;&#33410;&#30340;ASCII&#30721;&#23383;&#31526;&#20173;&#28982;&#26144;&#23556;&#30340;&#26159;&#21333;&#23383;&#33410;&#65292;&#32780;&#19988;ASCII&#32534;&#30721;&#26041;&#24335;&#26159;UTF-8&#30340;&#23376;&#38598;
&#12288;
</p><h2><a id="24GBKGB2312_64"></a>2.4&#12289;GBK&#21644;GB2312</h2>
<p>
&#12288;&#12288;GBK&#21644;GB2312&#26159;&#19987;&#38376;&#20026;&#20013;&#22269;&#20154;&#35774;&#35745;&#30340;&#32534;&#30721;&#65292;&#36825;&#20004;&#31181;&#32534;&#30721;&#20013;&#27721;&#23383;&#21344;&#20004;&#20010;&#23383;&#33410;&#12290;
</p><p></p>
<h2><a id="25UTF8GBK_69"></a>2.5&#12289;UTF-8&#21644;GBK&#30340;&#36716;&#25442;</h2>
<p>
&#12288;&#12288;&#19968;&#20010;&#27721;&#23383;&#65292;utf-8&#35201;&#29992;&#19977;&#20010;&#23383;&#33410;&#34920;&#31034;&#65292;gbk&#29992;2&#20010;&#23383;&#33410;&#34920;&#31034;&#12290;
</p><p>
&#12288;&#12288;	utf-8&#21644;gbk&#20043;&#38388;&#19981;&#33021;&#30452;&#25509;&#36716;&#25442;&#65292;&#21482;&#33021;&#36890;&#36807;Unicode&#36716;&#25442;&#65292;&#22914;&#19979;&#22270;&#25152;&#31034;&#65306;&#12288;
</p><p><img src="https://img-blog.csdnimg.cn/20190119002549955.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h2><a id="25encodedecode_79"></a>2.5&#12289;encode&#21644;decode</h2>
<p>
 &#12288;&#12288;UTF-8&#25110;&#32773;ASCII&#30721;&#19981;&#36807;&#26159;&#23545;&#24212;&#20174;Unicode&#21040;&#23383;&#33410;&#30340;&#26144;&#23556;&#26041;&#24335;&#65292;&#26082;&#28982;&#26377;&#26144;&#23556;&#26041;&#24335;&#65292;&#37027;&#20040;&#23601;&#26377;&#26144;&#23556;&#26041;&#21521;&#12290;&#25105;&#20204;&#25226;&#20174;Unicode&#21040;&#23383;&#33410;&#30721;(byte string)&#31216;&#20043;&#20026;encode&#65292;&#25226;&#20174;&#23383;&#33410;&#30721;(byte string)&#21040;Unicode&#30721;&#31216;&#20043;&#20026;decode &#12290;
</p><p><img src="https://img-blog.csdnimg.cn/20190119011727873.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h2><a id="26Python_88"></a>2.6&#12289;Python&#20351;&#29992;&#30340;&#32534;&#30721;</h2>
<p>
&#12288;&#12288;Python2&#35299;&#37322;&#22120;&#40664;&#35748;&#20197;ASCII&#32534;&#30721;&#21435;&#35299;&#37322;py&#31243;&#24207;,&#22914;&#26524;py&#31243;&#24207;&#20013;&#21482;&#21547;&#33521;&#25991;&#65292;&#31243;&#24207;&#25191;&#34892;&#19981;&#21463;&#24433;&#21709;&#65292;&#22914;&#26524;&#21547;&#26377;&#20013;&#25991;&#65292;Python2&#23558;&#26080;&#27861;&#25191;&#34892;&#12290;</p><p>
&#12288;&#12288;&#25152;&#20197;&#29992;Python2&#35299;&#37322;&#22120;&#26102;&#65292;&#31243;&#24207;&#37324;&#38656;&#21152;&#19978;&#19979;&#38754;&#19968;&#21477;&#20195;&#30721;&#65292;&#21578;&#35785;Python2&#35299;&#37322;&#26102;&#35201;&#25353;&#29031;UTF-8&#30340;&#32534;&#30721;&#21435;&#35299;&#37322;&#12290;
</p><pre><code class="prism language-python"><span class="token comment"># -*- coding:utf8 -*-</span>
</code></pre>
<p><strong>Python3&#26080;&#27492;&#38480;&#21046;&#65292;Python3&#40664;&#35748;&#29992;utf-8&#12290;</strong></p>
<h2><a id="27Python_103"></a>2.7&#12289;Python&#28304;&#25991;&#20214;&#24320;&#22836;</h2>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment">#-*- coding: utf-8 -*-</span>
</code></pre>
<p>&#31532;&#19968;&#34892;&#27880;&#37322;&#20107;&#20026;&#20102;&#21578;&#35785;Linux/OS X&#31995;&#32479;&#65292;&#36825;&#26159;&#19968;&#20010;Python&#21487;&#25191;&#34892;&#31243;&#24207;&#65292;Windows&#31995;&#32479;&#20250;&#24573;&#30053;&#36825;&#20010;&#27880;&#37322;&#65307;</p>
<p>&#31532;&#20108;&#34892;&#27880;&#37322;&#24066;&#20026;&#20102;&#21578;&#35785;Python&#35299;&#37322;&#22120;&#65292;&#25353;&#29031;UTF-8&#32534;&#30721;&#35835;&#21462;&#28304;&#20195;&#30721;&#65292;&#21542;&#21017;&#65292;&#22312;&#28304;&#20195;&#30721;&#20013;&#20889;&#30340;&#20013;&#25991;&#36755;&#20986;&#21487;&#33021;&#20250;&#26377;&#20081;&#30721;</p>
<h1><a id="3_112"></a>3&#12289;&#27880;&#37322;</h1>
<p>&#21333;&#34892;&#27880;&#35270;&#65306;# &#34987;&#27880;&#37322;&#20869;&#23481;</p>
<p>&#22810;&#34892;&#27880;&#37322;&#65306;""" &#34987;&#27880;&#37322;&#20869;&#23481; &#8220;&#8221;"</p>

            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
