<article class="baidu_pl">
		<div id="article_content" class="article_content clearfix csdn-tracking-statistics" data-pid="blog" data-mod="popu_307" data-dsm="post">
								<div class="article-copyright">
                  					
					&#29256;&#26435;&#22768;&#26126;&#65306;&#26412;&#25991;&#20026;&#21338;&#20027;&#21407;&#21019;&#25991;&#31456;&#65292;&#26410;&#32463;&#21338;&#20027;&#20801;&#35768;&#19981;&#24471;&#36716;&#36733;&#12290;					https://blog.csdn.net/chuhe163/article/details/86547665				</div>
								            <div id="content_views" class="markdown_views prism-atom-one-dark">
							<!-- flowchart &#31661;&#22836;&#22270;&#26631; &#21247;&#21024; -->
							<svg xmlns="http://www.w3.org/2000/svg" style="display: none;"><path stroke-linecap="round" d="M5,0 0,2.5 5,5z" id="raphael-marker-block" style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0);"></path></svg>
							<p></p><div class="toc"><h3>&#30446;&#24405;</h3><ul><li><a href="#1_3" rel="nofollow">1&#12289;&#36816;&#31639;&#31526;</a></li><ul><li><a href="#11_5" rel="nofollow">1.1&#12289;&#31639;&#25968;&#36816;&#31639;</a></li><li><a href="#12_8" rel="nofollow">1.2&#12289;&#27604;&#36739;&#36816;&#31639;</a></li><li><a href="#13_11" rel="nofollow">1.3&#12289;&#36171;&#20540;&#36816;&#31639;</a></li><li><a href="#14_17" rel="nofollow">1.4&#12289;&#36923;&#36753;&#36816;&#31639;</a></li><li><a href="#15_21" rel="nofollow">1.5&#12289;&#25104;&#21592;&#36816;&#31639;</a></li><ul><li><a href="#151in_24" rel="nofollow">1.5.1&#12289;in</a></li><li><a href="#152not_in_34" rel="nofollow">1.5.2&#12289;not in</a></li></ul></ul><li><a href="#2_46" rel="nofollow">2&#12289;&#22522;&#26412;&#25968;&#25454;&#31867;&#22411;</a></li><ul><li><a href="#21_47" rel="nofollow">2.1&#12289;&#25968;&#23383;</a></li><ul><li><a href="#211_int_51" rel="nofollow">2.1.1 int&#30340;&#20351;&#29992;</a></li><ul><li><a href="#2111_52" rel="nofollow">2.1.1.1&#12289;&#23558;&#23383;&#31526;&#20018;&#36716;&#25442;&#20026;&#25968;&#23383;</a></li><li><a href="#2112bit_lenght_76" rel="nofollow">2.1.1.2&#12289;bit_lenght</a></li></ul></ul><li><a href="#22_87" rel="nofollow">2.2&#12289;&#24067;&#23572;&#20540;</a></li><li><a href="#23str_102" rel="nofollow">2.3&#12289;&#23383;&#31526;&#20018;(str)</a></li><ul><li><a href="#231_105" rel="nofollow">2.3.1&#12289;&#23383;&#31526;&#20018;&#30340;&#20056;&#27861;</a></li><li><a href="#232_114" rel="nofollow">2.3.2&#12289;&#23383;&#31526;&#20018;&#30340;&#29992;&#27861;</a></li><ul><li><a href="#2321capitalize_115" rel="nofollow">2.3.2.1&#12289;capitalize</a></li><li><a href="#2322lower_125" rel="nofollow">2.3.2.2&#12289;lower</a></li><li><a href="#2323casefold_135" rel="nofollow">2.3.2.3&#12289;casefold</a></li><li><a href="#2324center_137" rel="nofollow">2.3.2.4&#12289;center</a></li><li><a href="#2325count_148" rel="nofollow">2.3.2.5&#12289;count</a></li><li><a href="#2325startwithendswith_183" rel="nofollow">2.3.2.5&#12289;startwith&#21644;endswith</a></li><li><a href="#2326find_208" rel="nofollow">2.3.2.6&#12289;find</a></li><li><a href="#2327format_223" rel="nofollow">2.3.2.7&#12289;format</a></li><li><a href="#2327format_map_246" rel="nofollow">2.3.2.7&#12289;format_map</a></li><li><a href="#2328index_259" rel="nofollow">2.3.2.8&#12289;index</a></li><li><a href="#2329isalnum_269" rel="nofollow">2.3.2.9&#12289;isalnum</a></li><li><a href="#23210isalpha_284" rel="nofollow">2.3.2.10&#12289;isalpha</a></li><li><a href="#23211expandtabs_303" rel="nofollow">2.3.2.11&#12289;expandtabs</a></li><li><a href="#23212isdecimalisdigit_318" rel="nofollow">2.3.2.12&#12289;isdecimal&#21644;isdigit</a></li><li><a href="#23213swapcase_357" rel="nofollow">2.3.2.13&#12289;swapcase</a></li><li><a href="#23214isidentifier_368" rel="nofollow">2.3.2.14&#12289;isidentifier</a></li></ul></ul><li><a href="#24list_373" rel="nofollow">2.4&#12289;&#21015;&#34920;(list)</a></li><li><a href="#25tuble_374" rel="nofollow">2.5&#12289;&#20803;&#31062;(tuble)</a></li><li><a href="#26dict_375" rel="nofollow">2.6&#12289;&#23383;&#20856;&#65288;dict&#65289;</a></li></ul></ul></div><p></p>
<hr>
<h1><a id="1_3"></a>1&#12289;&#36816;&#31639;&#31526;</h1>
<h2><a id="11_5"></a>1.1&#12289;&#31639;&#25968;&#36816;&#31639;</h2>
<p><img src="https://img-blog.csdnimg.cn/20190118222715111.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h2><a id="12_8"></a>1.2&#12289;&#27604;&#36739;&#36816;&#31639;</h2>
<p><img src="https://img-blog.csdnimg.cn/20190118222851614.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h2><a id="13_11"></a>1.3&#12289;&#36171;&#20540;&#36816;&#31639;</h2>
<p><img src="https://img-blog.csdnimg.cn/20190118223011824.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h2><a id="14_17"></a>1.4&#12289;&#36923;&#36753;&#36816;&#31639;</h2>
<p><img src="https://img-blog.csdnimg.cn/20190118223328923.png?x-oss-process=image/watermark,type_ZmFuZ3poZW5naGVpdGk,shadow_10,text_aHR0cHM6Ly9ibG9nLmNzZG4ubmV0L2NodWhlMTYz,size_16,color_FFFFFF,t_70" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h2><a id="15_21"></a>1.5&#12289;&#25104;&#21592;&#36816;&#31639;</h2>
<p><img src="https://img-blog.csdnimg.cn/20190118223600530.png" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h3><a id="151in_24"></a>1.5.1&#12289;in</h3>
<pre><code class="prism language-python">name<span class="token operator">=</span><span class="token string">"&#20013;&#21326;&#20154;&#27665;&#20849;&#21644;&#22269;"</span>
<span class="token keyword">if</span> <span class="token string">"&#20013;&#21326;"</span> <span class="token keyword">in</span> name<span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"OK"</span><span class="token punctuation">)</span>
<span class="token keyword">else</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Error"</span><span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;OK</p>
<h3><a id="152not_in_34"></a>1.5.2&#12289;not in</h3>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
name<span class="token operator">=</span><span class="token string">"&#20013;&#21326;&#20154;&#27665;&#20849;&#21644;&#22269;"</span>
<span class="token keyword">if</span> <span class="token string">"&#22269;&#23478;"</span> <span class="token operator">not</span> <span class="token keyword">in</span> name<span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"OK"</span><span class="token punctuation">)</span>
<span class="token keyword">else</span><span class="token punctuation">:</span>
    <span class="token keyword">print</span><span class="token punctuation">(</span><span class="token string">"Error"</span><span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;OK</p>
<h1><a id="2_46"></a>2&#12289;&#22522;&#26412;&#25968;&#25454;&#31867;&#22411;</h1>
<h2><a id="21_47"></a>2.1&#12289;&#25968;&#23383;</h2>
<p>python3:&#26080;&#35770;&#25972;&#25968;&#26377;&#22810;&#38271;&#37117;&#21483;int<br>
python2&#65306;&#36319;&#25454;&#25972;&#25968;&#30340;&#21462;&#20540;&#33539;&#22260;&#21448;&#20998;int&#12289;long&#31561;</p>
<h3><a id="211_int_51"></a>2.1.1 int&#30340;&#20351;&#29992;</h3>
<h4><a id="2111_52"></a>2.1.1.1&#12289;&#23558;&#23383;&#31526;&#20018;&#36716;&#25442;&#20026;&#25968;&#23383;</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
a<span class="token operator">=</span><span class="token string">"123"</span>
b<span class="token operator">=</span><span class="token builtin">int</span><span class="token punctuation">(</span>a<span class="token punctuation">)</span>			<span class="token comment">#&#23558;&#23383;&#31526;&#20018;&#36716;&#25442;&#25104;&#25968;&#23383;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token builtin">type</span><span class="token punctuation">(</span>a<span class="token punctuation">)</span><span class="token punctuation">,</span>a<span class="token punctuation">)</span>	<span class="token comment">#&#36755;&#20986;a&#30340;&#25968;&#25454;&#31867;&#22411;&#21644;a&#30340;&#20540;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token builtin">type</span><span class="token punctuation">(</span>b<span class="token punctuation">)</span><span class="token punctuation">,</span>b<span class="token punctuation">)</span>	<span class="token comment">#&#36755;&#20986;b&#30340;&#25968;&#25454;&#31867;&#22411;&#21644;b&#30340;&#20540;</span>
</code></pre>
<p>&#36755;&#20986;&#65306;<br>
&#12288;	&lt;class &#8216;str&#8217;&gt; 123<br>
&#12288; &lt;class &#8216;int&#8217;&gt; 123</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
num<span class="token operator">=</span><span class="token string">"0010"</span>
v<span class="token operator">=</span><span class="token builtin">int</span><span class="token punctuation">(</span>num<span class="token punctuation">,</span>base<span class="token operator">=</span><span class="token number">16</span><span class="token punctuation">)</span> <span class="token comment">#&#23558;num&#25353;16&#36827;&#21046;&#65292;&#36716;&#25442;&#25104;10&#36827;&#21046;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;16</p>
<h4><a id="2112bit_lenght_76"></a>2.1.1.2&#12289;bit_lenght</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
age<span class="token operator">=</span><span class="token number">8</span>
v<span class="token operator">=</span>age<span class="token punctuation">.</span>bit_length<span class="token punctuation">(</span><span class="token punctuation">)</span>	<span class="token comment">#age&#29992;&#22810;&#23569;&#20301;&#30340;&#20108;&#36827;&#21046;&#25968;&#34920;&#31034;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;4</p>
<h2><a id="22_87"></a>2.2&#12289;&#24067;&#23572;&#20540;</h2>
<ul>
<li>True</li>
<li>False</li>
<li>not True</li>
<li>not False</li>
</ul>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token operator">not</span> <span class="token boolean">False</span><span class="token punctuation">)</span> 
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token operator">not</span> <span class="token boolean">True</span><span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;<br>
&#12288;&#12288;True<br>
&#12288;&#12288;False</p>
<h2><a id="23str_102"></a>2.3&#12289;&#23383;&#31526;&#20018;(str)</h2>
<h3><a id="231_105"></a>2.3.1&#12289;&#23383;&#31526;&#20018;&#30340;&#20056;&#27861;</h3>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
<span class="token builtin">str</span><span class="token operator">=</span><span class="token string">"abc"</span>
<span class="token keyword">print</span><span class="token punctuation">(</span><span class="token builtin">str</span><span class="token operator">*</span><span class="token number">3</span><span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;abcabcabc</p>
<h3><a id="232_114"></a>2.3.2&#12289;&#23383;&#31526;&#20018;&#30340;&#29992;&#27861;</h3>
<h4><a id="2321capitalize_115"></a>2.3.2.1&#12289;capitalize</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
test<span class="token operator">=</span><span class="token string">"alex"</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>capitalize<span class="token punctuation">(</span><span class="token punctuation">)</span>		<span class="token operator">//</span>&#39318;&#23383;&#27597;&#22823;&#20889;
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;Alex</p>
<h4><a id="2322lower_125"></a>2.3.2.2&#12289;lower</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
test<span class="token operator">=</span><span class="token string">"ABC"</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>lower<span class="token punctuation">(</span><span class="token punctuation">)</span>	<span class="token operator">//</span>&#23383;&#27597;&#20840;&#37096;&#36716;&#25442;&#25104;&#23567;&#20889;
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;abc</p>
<h4><a id="2323casefold_135"></a>2.3.2.3&#12289;casefold</h4>
<p>&#19982;lower&#21151;&#33021;&#30456;&#21516;&#65292;&#20294;casefold&#21151;&#33021;&#26356;&#24378;&#22823;&#65292;&#38500;&#20102;&#24120;&#35265;&#30340;&#33521;&#25991;&#22823;&#23567;&#20889;&#65292;&#20854;&#23427;&#35821;&#35328;&#30340;&#22823;&#23567;&#20889;&#20063;&#21487;&#20197;&#36716;&#25442;</p>
<h4><a id="2324center_137"></a>2.3.2.4&#12289;center</h4>
<p>&#35774;&#32622;&#23485;&#24230;&#65292;&#24182;&#23558;&#20869;&#23481;&#23621;&#20013;</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
test<span class="token operator">=</span><span class="token string">"abc"</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>center<span class="token punctuation">(</span><span class="token number">10</span><span class="token punctuation">,</span><span class="token string">"*"</span><span class="token punctuation">)</span>	<span class="token operator">//</span>&#31532;&#20108;&#20010;&#21442;&#25968;&#65292;&#21482;&#33021;&#22635;&#19968;&#20010;&#23383;&#31526;&#65292;&#19981;&#22635;&#40664;&#35748;&#20026;&#31354;
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#65306;<em><strong>abc</strong></em>*</p>
<h4><a id="2325count_148"></a>2.3.2.5&#12289;count</h4>
<p>count&#30340;&#35821;&#27861;</p>
<pre><code>str.count(sub, start= 0,end=len(string))
</code></pre>
<p><strong>&#21442;&#25968;&#65306;</strong></p>
<ul>
<li>
<p>sub &#8211; &#25628;&#32034;&#30340;&#23376;&#23383;&#31526;&#20018;</p>
</li>
<li>
<p>start &#8211; &#23383;&#31526;&#20018;&#24320;&#22987;&#25628;&#32034;&#30340;&#20301;&#32622;&#12290;&#40664;&#35748;&#20026;&#31532;&#19968;&#20010;&#23383;&#31526;,&#31532;&#19968;&#20010;&#23383;&#31526;&#32034;&#24341;&#20540;&#20026;0&#12290;&#65288;&#21253;&#25324;start&#65289;</p>
</li>
<li>
<p>end &#8211; &#23383;&#31526;&#20018;&#20013;&#32467;&#26463;&#25628;&#32034;&#30340;&#20301;&#32622;&#12290;&#23383;&#31526;&#20013;&#31532;&#19968;&#20010;&#23383;&#31526;&#30340;&#32034;&#24341;&#20026; 0&#12290;&#40664;&#35748;&#20026;&#23383;&#31526;&#20018;&#30340;&#26368;&#21518;&#19968;&#20010;&#20301;&#32622;&#12290;(&#19981;&#21253;&#25324;end)</p>
</li>
</ul>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"aaaaaaaaaa"</span>           <span class="token comment">#10&#20010;a</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>count<span class="token punctuation">(</span><span class="token string">'a'</span><span class="token punctuation">)</span>           <span class="token comment">#&#32479;&#35745;&#26377;&#22810;&#23569;&#20010;&#23383;&#31526;a&#65292;&#36755;&#20986;10</span>
v1<span class="token operator">=</span>test<span class="token punctuation">.</span>count<span class="token punctuation">(</span><span class="token string">'a'</span><span class="token punctuation">,</span><span class="token number">0</span><span class="token punctuation">)</span>        <span class="token comment">#&#20174;&#31532;0&#20010;&#23383;&#31526;&#31639;&#36215;&#65292;&#36755;&#20986;10</span>
v2<span class="token operator">=</span>test<span class="token punctuation">.</span>count<span class="token punctuation">(</span><span class="token string">'a'</span><span class="token punctuation">,</span><span class="token number">1</span><span class="token punctuation">)</span>        <span class="token comment">#&#20174;&#31532;&#19968;&#20010;&#23383;&#31526;&#31639;&#36215;&#65292;&#36755;&#20986;9</span>
v3<span class="token operator">=</span>test<span class="token punctuation">.</span>count<span class="token punctuation">(</span><span class="token string">'a'</span><span class="token punctuation">,</span><span class="token number">0</span><span class="token punctuation">,</span><span class="token number">9</span><span class="token punctuation">)</span>      <span class="token comment">#&#20174;&#31532;0&#20010;&#23383;&#31526;&#31639;&#21040;&#31532;9&#20010;&#23383;&#31526;&#21069;&#65292;&#36755;&#20986;9</span>
v4<span class="token operator">=</span>test<span class="token punctuation">.</span>count<span class="token punctuation">(</span><span class="token string">'a'</span><span class="token punctuation">,</span><span class="token number">0</span><span class="token punctuation">,</span><span class="token number">10</span><span class="token punctuation">)</span>     <span class="token comment">#&#20174;&#31532;0&#20010;&#23383;&#31526;&#31639;&#21040;&#31532;10&#20010;&#23383;&#31526;&#21069;&#65292;&#36755;&#20986;10</span>
v5<span class="token operator">=</span>test<span class="token punctuation">.</span>count<span class="token punctuation">(</span><span class="token string">'a'</span><span class="token punctuation">,</span><span class="token number">1</span><span class="token punctuation">,</span><span class="token number">6</span><span class="token punctuation">)</span>      <span class="token comment">#&#20174;&#31532;1&#20010;&#23383;&#31526;&#31639;&#21040;&#31532;6&#20010;&#23383;&#31526;&#21069;&#65292;&#36755;&#20986;5</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v1<span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v2<span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v3<span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v4<span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v5<span class="token punctuation">)</span>
</code></pre>
<p>&#36755;&#20986;&#32467;&#26524;&#65306;<br>
3<br>
2<br>
3<br>
1</p>
<h4><a id="2325startwithendswith_183"></a>2.3.2.5&#12289;startwith&#21644;endswith</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"abc"</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>startswith<span class="token punctuation">(</span><span class="token string">"ab"</span><span class="token punctuation">)</span> <span class="token comment">#&#26159;&#21542;&#20197;ab&#23383;&#31526;&#24320;&#22836;</span>
v1<span class="token operator">=</span>test<span class="token punctuation">.</span>endswith<span class="token punctuation">(</span><span class="token string">"bc"</span><span class="token punctuation">)</span>  <span class="token comment">#&#26159;&#21542;&#20197;bc&#23383;&#31526;&#32467;&#23614;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>	<span class="token comment">#&#36755;&#20986;True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v1<span class="token punctuation">)</span>	<span class="token comment">#&#36755;&#20986;True</span>
</code></pre>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"012345abc9"</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>startswith<span class="token punctuation">(</span><span class="token string">"ab"</span><span class="token punctuation">,</span><span class="token number">6</span><span class="token punctuation">)</span>   <span class="token comment">#&#20174;&#31532;6&#20010;&#23383;&#31526;&#24320;&#22987;&#31639;&#26159;&#21542;&#20197;ab&#23383;&#31526;&#24320;&#22836;</span>
v1<span class="token operator">=</span>test<span class="token punctuation">.</span>endswith<span class="token punctuation">(</span><span class="token string">"bc"</span><span class="token punctuation">,</span><span class="token number">6</span><span class="token punctuation">,</span><span class="token number">8</span><span class="token punctuation">)</span>  <span class="token comment">#&#20174;&#31532;6&#20010;&#23383;&#31526;&#24320;&#22987;&#31639;&#21040;&#31532;8&#20010;&#23383;&#31526;&#21069;&#25130;&#27490;&#65292;&#26159;&#21542;&#26159;bc&#32467;&#23614;</span>
v2<span class="token operator">=</span>test<span class="token punctuation">.</span>endswith<span class="token punctuation">(</span><span class="token string">"bc"</span><span class="token punctuation">,</span><span class="token number">6</span><span class="token punctuation">,</span><span class="token number">9</span><span class="token punctuation">)</span>  <span class="token comment">#&#20174;&#31532;6&#20010;&#23383;&#31526;&#24320;&#22987;&#31639;&#21040;&#31532;9&#20010;&#23383;&#31526;&#21069;&#25130;&#27490;&#65292;&#26159;&#21542;&#26159;bc&#32467;&#23614;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>        <span class="token comment">#True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v1<span class="token punctuation">)</span>       <span class="token comment">#False</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v2<span class="token punctuation">)</span>       <span class="token comment">#True</span>
</code></pre>
<h4><a id="2326find_208"></a>2.3.2.6&#12289;find</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"012345abc9"</span>

v<span class="token operator">=</span>test<span class="token punctuation">.</span>find<span class="token punctuation">(</span><span class="token string">"a"</span><span class="token punctuation">)</span>        <span class="token comment">#&#20174;&#21069;&#24448;&#21518;&#25214;a&#24182;&#33719;&#21462;&#20854;&#20301;&#32622;&#32034;&#24341;</span>
v1<span class="token operator">=</span>test<span class="token punctuation">.</span>find<span class="token punctuation">(</span><span class="token string">"c"</span><span class="token punctuation">,</span><span class="token number">6</span><span class="token punctuation">,</span><span class="token number">8</span><span class="token punctuation">)</span>   <span class="token comment">#&#20174;&#31532;6&#20010;&#23383;&#31526;&#24320;&#22987;&#21040;&#31532;8&#20010;&#23383;&#31526;&#25130;&#27490;&#65292;&#25214;c&#24182;&#33719;&#21462;&#20854;&#20301;&#32622;&#32034;&#24341;&#65292;&#25214;&#19981;&#21040;&#36820;-1</span>
v2<span class="token operator">=</span>test<span class="token punctuation">.</span>find<span class="token punctuation">(</span><span class="token string">"c"</span><span class="token punctuation">,</span><span class="token number">6</span><span class="token punctuation">,</span><span class="token number">9</span><span class="token punctuation">)</span>   <span class="token comment">#&#20174;&#31532;6&#20010;&#23383;&#31526;&#24320;&#22987;&#21040;&#31532;8&#20010;&#23383;&#31526;&#25130;&#27490;&#65292;&#25214;c&#24182;&#33719;&#21462;&#20854;&#20301;&#32622;&#32034;&#24341;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>    <span class="token comment">#&#36755;&#20986;6</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v1<span class="token punctuation">)</span>   <span class="token comment">#&#36755;&#20986;-1,&#34920;&#31034;&#27809;&#25214;&#21040;</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v2<span class="token punctuation">)</span>   <span class="token comment">#&#36755;&#20986;8</span>
</code></pre>
<h4><a id="2327format_223"></a>2.3.2.7&#12289;format</h4>
<p>&#31532;&#19968;&#31181;&#26041;&#27861;&#65306;</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"I am {name},age{n}"</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>test<span class="token punctuation">)</span>                         <span class="token comment">#&#36755;&#20986;&#65306;I am {name},age{n}</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>name<span class="token operator">=</span><span class="token string">"chuhe"</span><span class="token punctuation">,</span>n<span class="token operator">=</span><span class="token string">"25"</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>  							<span class="token comment">#&#36755;&#20986;&#65306;I am chuhe,age25</span>
</code></pre>
<p>&#31532;&#20108;&#31181;&#26041;&#27861;&#65306;&#29992;&#32034;&#24341;&#21344;&#20301;&#31526;</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"I am {0},age{1}"</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>test<span class="token punctuation">)</span>                         <span class="token comment">#&#36755;&#20986;&#65306;I am {name},age{n}</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span><span class="token string">"chuhe"</span><span class="token punctuation">,</span><span class="token number">25</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>                            <span class="token comment">#&#36755;&#20986;&#65306;I am chuhe,age25</span>
</code></pre>
<h4><a id="2327format_map_246"></a>2.3.2.7&#12289;format_map</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"I am {name},age{n}"</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>test<span class="token punctuation">)</span>                         <span class="token comment">#&#36755;&#20986;&#65306;I am {name},age{n}</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span><span class="token builtin">format</span><span class="token punctuation">(</span>name<span class="token operator">=</span><span class="token string">"chuhe"</span><span class="token punctuation">,</span>n<span class="token operator">=</span><span class="token string">"25"</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>                            <span class="token comment">#&#36755;&#20986;&#65306;I am chuhe,age25</span>
v1<span class="token operator">=</span>test<span class="token punctuation">.</span>format_map<span class="token punctuation">(</span><span class="token punctuation">{</span><span class="token string">"name"</span><span class="token punctuation">:</span><span class="token string">"chuhe"</span><span class="token punctuation">,</span><span class="token string">"n"</span><span class="token punctuation">:</span><span class="token string">"25"</span><span class="token punctuation">}</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v1<span class="token punctuation">)</span>                           <span class="token comment">#&#36755;&#20986;&#65306;I am chuhe,age25</span>
</code></pre>
<h4><a id="2328index_259"></a>2.3.2.8&#12289;index</h4>
<p>&#21151;&#33021;&#31867;&#20284;find,&#20294;&#26159;index&#22914;&#26524;&#25214;&#19981;&#21040;&#23383;&#31526;&#20250;&#25253;&#38169;&#65292;&#19981;&#20687;find&#19968;&#26679;&#20250;&#36820;-1</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

test<span class="token operator">=</span><span class="token string">"012345abc9"</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>index<span class="token punctuation">(</span><span class="token string">"a"</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>            <span class="token comment">#&#36755;&#20986;6</span>
</code></pre>
<h4><a id="2329isalnum_269"></a>2.3.2.9&#12289;isalnum</h4>
<p>&#23383;&#31526;&#20018;&#20013;&#26159;&#21542;&#21482;&#21253;&#21547;&#23383;&#27597;&#12289;&#25968;&#23383;&#21644;&#20013;&#25991;</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
test<span class="token operator">=</span><span class="token string">"012345abc9"</span>
test1<span class="token operator">=</span><span class="token string">"012345abc9_"</span>
test2<span class="token operator">=</span><span class="token string">"012345abc9+"</span>
v<span class="token operator">=</span>test<span class="token punctuation">.</span>isalnum<span class="token punctuation">(</span><span class="token punctuation">)</span>
v1<span class="token operator">=</span>test1<span class="token punctuation">.</span>isalnum<span class="token punctuation">(</span><span class="token punctuation">)</span>
v2<span class="token operator">=</span>test2<span class="token punctuation">.</span>isalnum<span class="token punctuation">(</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>	<span class="token comment">#True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v1<span class="token punctuation">)</span>	<span class="token comment">#False</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v2<span class="token punctuation">)</span>	<span class="token comment">#False</span>
</code></pre>
<h4><a id="23210isalpha_284"></a>2.3.2.10&#12289;isalpha</h4>
<p>&#23383;&#31526;&#20018;&#20013;&#26159;&#21542;&#21482;&#21253;&#21547;&#23383;&#27597;&#21644;&#20013;&#25991;</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

s<span class="token operator">=</span><span class="token string">"a1"</span>
s1<span class="token operator">=</span><span class="token string">"abc"</span>
s2<span class="token operator">=</span><span class="token string">"&#20013;ab"</span>
v<span class="token operator">=</span>s<span class="token punctuation">.</span>isalpha<span class="token punctuation">(</span><span class="token punctuation">)</span>
v1<span class="token operator">=</span>s1<span class="token punctuation">.</span>isalpha<span class="token punctuation">(</span><span class="token punctuation">)</span>
v2<span class="token operator">=</span>s2<span class="token punctuation">.</span>isalpha<span class="token punctuation">(</span><span class="token punctuation">)</span>

<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>					<span class="token comment">#False</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v1<span class="token punctuation">)</span>				<span class="token comment">#True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v2<span class="token punctuation">)</span>				<span class="token comment">#True</span>
</code></pre>
<h4><a id="23211expandtabs_303"></a>2.3.2.11&#12289;expandtabs</h4>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

s<span class="token operator">=</span><span class="token string">"&#22995;&#21517;\t&#24180;&#40836;\t&#25163;&#26426;&#21495;\t\n&#24352;&#19977;\t20\t13788888888\t\n&#26446;&#22235;\t20\t13788888888\t\n&#29579;&#20116;\t20\t13788888888"</span>
v<span class="token operator">=</span>s<span class="token punctuation">.</span>expandtabs<span class="token punctuation">(</span><span class="token number">20</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>
</code></pre>
<p>&#23558;&#23383;&#31526;&#20018;&#20998;&#32452;&#65292;&#20998;&#32452;&#20197;20&#20010;&#23383;&#31526;&#20026;&#19968;&#32452;&#65292;<br>
&#25110;&#36935;/t&#20026;&#19968;&#32452;&#65292;\t&#36127;&#36131;&#23558;&#35813;&#32452;&#20197;&#31354;&#26684;&#34917;&#33267;20&#20010;&#23383;&#31526;</p>
<p>&#36755;&#20986;&#22914;&#19979;&#22270;&#65306;<br>
<img src="https://img-blog.csdnimg.cn/2019012022463654.png" alt="&#22312;&#36825;&#37324;&#25554;&#20837;&#22270;&#29255;&#25551;&#36848;"></p>
<h4><a id="23212isdecimalisdigit_318"></a>2.3.2.12&#12289;isdecimal&#21644;isdigit</h4>
<p>&#21028;&#26029;&#26159;&#21542;&#26159;&#25968;&#23383;</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>

s<span class="token operator">=</span><span class="token string">"1"</span>
v<span class="token operator">=</span>s<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#True</span>
v1<span class="token operator">=</span>s<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>      <span class="token comment">#True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
s1<span class="token operator">=</span><span class="token string">"&#19968;"</span>
v<span class="token operator">=</span>s1<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>    <span class="token comment">#False </span>
v1<span class="token operator">=</span>s1<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#False </span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
s2<span class="token operator">=</span><span class="token string">"&#22777;"</span>              
v<span class="token operator">=</span>s2<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>    <span class="token comment">#False </span>
v1<span class="token operator">=</span>s2<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#False </span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
s3<span class="token operator">=</span><span class="token string">"&#9312;"</span>
v<span class="token operator">=</span>s3<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>    <span class="token comment">#False </span>
v1<span class="token operator">=</span>s3<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
s4<span class="token operator">=</span><span class="token string">"&#8544;&#8545;&#8546;"</span>
v<span class="token operator">=</span>s4<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>    <span class="token comment">#False </span>
v1<span class="token operator">=</span>s4<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#False </span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
s5<span class="token operator">=</span><span class="token string">"&#12832;"</span>
v<span class="token operator">=</span>s5<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>    <span class="token comment">#False </span>
v1<span class="token operator">=</span>s5<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#False </span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
s6<span class="token operator">=</span><span class="token string">"&#9352;"</span>
v<span class="token operator">=</span>s6<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>    <span class="token comment">#True</span>
v1<span class="token operator">=</span>s6<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
s7<span class="token operator">=</span><span class="token string">"&#9332;"</span>
v<span class="token operator">=</span>s7<span class="token punctuation">.</span>isdecimal<span class="token punctuation">(</span><span class="token punctuation">)</span>    <span class="token comment">#True</span>
v1<span class="token operator">=</span>s7<span class="token punctuation">.</span>isdigit<span class="token punctuation">(</span><span class="token punctuation">)</span>     <span class="token comment">#True</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">,</span>v1<span class="token punctuation">)</span>
</code></pre>
<h4><a id="23213swapcase_357"></a>2.3.2.13&#12289;swapcase</h4>
<p>&#22823;&#23567;&#20889;&#20114;&#25442;</p>
<pre><code class="prism language-python"><span class="token comment">#!/usr/bin/env python</span>
<span class="token comment"># -*- coding:utf-8 -*-</span>
s<span class="token operator">=</span><span class="token string">"abcD"</span>
v<span class="token operator">=</span>s<span class="token punctuation">.</span>swapcase<span class="token punctuation">(</span><span class="token punctuation">)</span>
<span class="token keyword">print</span><span class="token punctuation">(</span>v<span class="token punctuation">)</span>

</code></pre>
<p>&#36755;&#20986;&#65306;ABCd</p>
<h4><a id="23214isidentifier_368"></a>2.3.2.14&#12289;isidentifier</h4>
<p>&#26159;&#21542;&#26159;&#26631;&#35782;&#31526;<br>
&#26631;&#35782;&#31526;&#21253;&#21547;&#25968;&#23383;&#12289;&#23383;&#27597;&#12289;&#19979;&#21010;&#32447;&#65288;_&#65289;<br>
&#19988;&#21482;&#33021;&#20197;&#23383;&#27597;&#25110;&#19979;&#21010;&#32447;&#24320;&#22836;</p>
<h2><a id="24list_373"></a>2.4&#12289;&#21015;&#34920;(list)</h2>
<h2><a id="25tuble_374"></a>2.5&#12289;&#20803;&#31062;(tuble)</h2>
<h2><a id="26dict_375"></a>2.6&#12289;&#23383;&#20856;&#65288;dict&#65289;</h2>

            </div>
						<link href="https://csdnimg.cn/release/phoenix/mdeditor/markdown_views-7b4cdcb592.css" rel="stylesheet">
                </div>
	</article>
